﻿@using TRSImplementation
@model PROC_GET_ALL_BUSINESS_TOOL_LIST_FOR_VIEW_EDIT_Result
@{
    ViewBag.Title = "Business Tools Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listProductMst = (List<PROC_GET_ALL_BUSINESS_TOOL_LIST_FOR_VIEW_EDIT_Result>)ViewBag.listProductMst;
    var UploadPhotoInMB = System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] != null ? System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] : "1";
    var UploadPDFInMB = System.Configuration.ConfigurationManager.AppSettings["UploadPDFInMB"] != null ? System.Configuration.ConfigurationManager.AppSettings["UploadPDFInMB"] : "1";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
</style>
<div class="container">
    <div class="row section" id="dvProduct">
        <form class="row" id="frmPersonalDetails">
            @Html.HiddenFor(m => m.BusinessToolsId)
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.TextBoxFor(m => m.BusinessToolsName, new { @placeholder = "Name" })
                    <label for="BusinessToolsName" class="active">Name</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    <select id="ddlLanguage" name="ddlLanguage" class="form-control">
                        <option value="">Select Language</option>
                        <option value="E">English</option>
                        <option value="H">Hindi</option>
                    </select>
                    <label>Language</label>
                </div>               
            </div>           
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.DropDownList("ddlCategory", ((List<SelectListItem>)ViewBag.listProductCategory), "Select Category", new { @class = "form-control" })
                    <label>Category</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.TextBoxFor(m => m.VideoURL, new { @placeholder = "Video URL" })
                    <label for="VideoURL" class="active">Video URL</label>
                </div>
                <div class="file-field input-field col s12 col-xs-12 m6">
                    <div class="btn">
                        <span>Pdf File</span>
                        <input type="file" id="fupPdfFile">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="txtPdfFile" type="text" readonly>
                    </div>
                </div>       
                <div class="file-field input-field col s12 col-xs-12 m6">
                    <div class="btn">
                        <span>Image</span>
                        <input type="file" id="fupImage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="txtImage" type="text" readonly>
                    </div>
                    <img id="imgImage" src="" class="hide" style="width:100px; height:100px;" />
                </div>                
            </div>
            <div class="col s12">
                <div class="col s12 center-align" style="margin-bottom:10px;">
                    <a class="waves-effect waves-light btn" id="btnSave">
                        <i class="material-icons left">save</i> Save
                    </a>
                    <a class="waves-effect waves-light btn" id="btnAddNewCategory">
                        <i class="material-icons left">add</i> Add New Category
                    </a>
                    <a class="waves-effect waves-light btn" id="btnCancel">
                        <i class="material-icons left">clear</i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div id="floatThead" class="section">
        <div class="row">
            <div class="col s12 no-more-tables">
                <table class="striped demo1">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Video URL</th>
                            <th>Language</th>                               
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in listProductMst)
                            {
                                <tr>
                                    <td data-title="Business Tools Id" class="id hide">@item.BusinessToolsId</td>
                                    <td data-title="Name">@item.BusinessToolsName</td>
                                    <td data-title="Category">@item.CategoryName</td>
                                    <td data-title="Video URL" class="totalincome">@item.VideoURL</td>  
                                    @if (!string.IsNullOrEmpty(item.Language) && item.Language == "E")
                                    {
                                        <td data-title="Language">English</td>
                                    }
                                    else if (!string.IsNullOrEmpty(item.Language) && item.Language == "H")
                                    {
                                        <td data-title="Language">Hindi</td>
                                    }
                                    else
                                    {
                                        <td data-title="Language"></td>
                                    }
                                    <td data-title="Action">
                                        <a style="cursor:pointer" onclick="GetBusinessToolDetails(@item.BusinessToolsId)" class="waves-effect waves-cyan">
                                            <i class="material-icons">edit</i>
                                            <span class="nav-text">Edit</span>
                                        </a>
                                        @if (item.IsActive)
                                        {
                                            <a style="cursor:pointer" onclick="ActiveInActiveProduct(@item.BusinessToolsId,0)" class="waves-effect waves-cyan" title="InActive">
                                                <i class="material-icons">clear</i>
                                                <span class="nav-text">InActive</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a style="cursor:pointer" onclick="ActiveInActiveProduct(@item.BusinessToolsId,1)" class="waves-effect waves-cyan" title="Active">
                                                <i class="material-icons">done</i>
                                                <span class="nav-text">Active</span>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function WindowLoadComplete() {
        $(document).ready(function () {
            //GetProductDetails(0);
            $('#ddlLanguage').material_select();
            $("#btnCancel").click(function () {
                Clear()
            });
            $("#btnSave").click(function () {
                SaveBusinessTools()
            });
            
            $("#btnAddNewCategory").click(function () {
                swal({
                    title: "Add Category",
                    text: "Please enter category name:",
                    type: "input", showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Write something"
                },
                function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("You need to enter category name!");
                        return false
                    }
                    $.ajax({
                        url: "/Admin/Product/AddBusinessToolsCategory",
                        type: 'POST',
                        data: {
                            Name: inputValue
                        },
                        cache: false,
                        success: function (data) {
                            if (data.Key) {
                                $('#ddlCategory').append($("<option></option>")
                                              .attr("value", data.Id)
                                              .text(inputValue));
                                $('#ddlCategory').val(data.Id);
                                swal("Success!", data.Msg, "success");
                                $('#ddlCategory').material_select();
                            }
                            else {
                                if (data.IsInfo) {
                                    swal("Information!", data.Msg, "info");
                                    $('.sa-confirm-button-container .confirm').click(function () {
                                        window.setTimeout(function () {
                                            $("#btnAddNewCategory").click();
                                        }, 500);

                                    });
                                }
                                else {
                                    swal("Error!", data.Msg, "error");
                                }
                            }
                        }
                    });
                    //swal("Nice!", "You wrote: " + inputValue, "success");
                });
            });
        });
    }

    function Clear() {
        $("#BusinessToolsId").val("0");
        $("#BusinessToolsName").val("");
        $("#ddlCategory").val("0");
        $("#VideoURL").val("");
        $("#ddlCategory").material_select();
        $("#imgImage").addClass("hide");
        $("#txtImage").val("");
        $("#ddlLanguage").val("0");
        $("#ddlLanguage").material_select();
    }
    function GetBusinessToolDetails(id) {
        $.ajax({
            url: "/Admin/Product/GetBusinessToolDetails",
            type: 'POST',
            data: {
                BusinessToolsId: id
            },
            cache: false,
            success: function (data) {
                $("#BusinessToolsId").val(data.BusinessToolsId);
                $("#BusinessToolsName").val(data.BusinessToolsName);
                $("#ddlCategory").val(data.BusinessToolsCategoryId);
                $("#ddlLanguage").val(data.Language);
                $("#VideoURL").val(data.VideoURL);
                $("#ddlCategory").material_select();
                $("#ddlLanguage").material_select();
                $("#imgImage").attr("src","");
                $("#imgImage").addClass("hide");
                $("#txtImage").val("");

                if(data.ImageName!=null &&data.ImageName!=""){
                    $("#imgImage").attr("src",data.ImageName);
                    $("#imgImage").removeClass("hide");
                    var arrayname=data.ImageName.split("/");
                    var name=arrayname[arrayname.length-1];
                    $("#txtImage").val(name);
                }

                if(data.PdfName!=null &&data.PdfName!=""){
                    var arrayname=data.PdfName.split("/");
                    var name=arrayname[arrayname.length-1];
                    $("#txtPdfFile").val(name);
                }
            }
        });
    }

    function SaveBusinessTools() {
        var strFrontCover = "";
        var strPdfFile = "";
        var strBackCover = "";
        if (!ValidateForm()) {
            return false;
        }

        var profiledata = new FormData();
        var fupImage = $("#fupImage").get(0).files;
        if (fupImage.length > 0) {
            if(!checkfile("fupImage", true, @UploadPhotoInMB, "png,jpeg,jpg")){
                swal("Information!", "Please Select Only png,jpeg,jpg format file!", "error");
                return false;
            }
            profiledata.append("Image", fupImage[0]);
            var profileimg = getNameFromPath($("#fupImage").val());
            strFrontCover = (new Date().getTime()).toString() + "_" + profileimg;
        }
        else if ($("#txtImage").val() != "") {
            strFrontCover = $("#txtImage").val();
        }

        var fupPdfFile = $("#fupPdfFile").get(0).files;
        if (fupPdfFile.length > 0) {
            if(!checkfile("fupPdfFile", true, @UploadPDFInMB, "pdf")){
                swal("Information!", "Please Select Only pdf format file!", "error");
                return false;
            }
            profiledata.append("PdfFile", fupPdfFile[0]);
            var profileimg = getNameFromPath($("#fupPdfFile").val());
            strPdfFile = (new Date().getTime()).toString() + "_" + profileimg;
        }
        else if ($("#txtPdfFile").val() != "") {
            strPdfFile = $("#txtPdfFile").val();
        }

        if ($("#BusinessToolsName").val().trim() == "") {
            swal("Information!", "Please enter name!", "error");
            return false;
        }

        profiledata.append("BusinessToolsId", $("#BusinessToolsId").val().trim());
        profiledata.append("BusinessToolsName", $("#BusinessToolsName").val().trim());
        profiledata.append("BusinessToolsCategoryId", $("#ddlCategory").val().trim());
        profiledata.append("Language", $("#ddlLanguage").val().trim());
        profiledata.append("VideoURL", $("#VideoURL").val().trim());
        profiledata.append("ImageName", strFrontCover);
        profiledata.append("PdfFileName", strPdfFile);

        var newsUrl = "@Url.Content("~/Admin/Product/InsertUpdateBusinessTool")";
        $.ajax({
            url: newsUrl,
            type: "POST",
            processData: false,
            contentType: false,
            data: profiledata,
            success: function (data) {
                if (data.Key) {
                    if($("#ProductId").val()=="0"){
                        swal("Success!", "Product Inserted Successfully!", "success");
                    }
                    else{
                        swal("Success!", "Product Updated Successfully!", "success");
                    }
                    $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Admin/Product/BusinessTool"})
                }
                else {
                    swal("Error!",data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er);
            },
        });
    }

    function ActiveInActiveProduct(pid,status){
        swal({    title: status==0? "Are you sure want to inactive Business Tool Details?":"Are you sure want to active Business Tool Details?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/Product/ActiveInActiveBusinessTool",
                    type: 'POST',
                    data: {
                        BusinessToolsId: pid
                    },
                    cache: false,
                    success: function (data) {
                        if(data.Key){
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Admin/Product/BusinessTool"})
                        }
                        else{
                            if(data.IsInfo){
                                swal("Information!", data.Msg, "error");
                            }
                            else{
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function ValidateForm() {
        if ($("#BusinessToolsName").val().trim() == "") {
            swal("Information!", "Please Enter Name!", "error");
            return false;
        }
        else if ($("#ddlLanguage").val() == "" || $("#ddlLanguage").val() == "0") {
            swal("Information!", "Please Select Language!", "error");
            return false;
        }
        else if ($("#ddlCategory").val() == "" || $("#ddlCategory").val() == "0") {
            swal("Information!", "Please Select Category!", "error");
            return false;
        }
        else {
            return true;
        }
    }
    function checkfile(fuupload, checkSize, maxFileSizeInMB, AllowFileType) {
        filetype = AllowFileType.split(",");
        var file = getNameFromPath($("#" + fuupload).val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
            // alert(extension);

            for (var i = 0; i < filetype.length; i++) {
                if (extension == filetype[i].toLowerCase()) {
                    flag = true;
                    break;
                }
                else {
                    flag = false;
                }
            }
        }
        if (flag == false) {
            swal("Information!","You can upload only " + AllowFileType + " extension file", "error");
            $("#" + fuupload).val('');
            return false;
        }
        else {
            return CheckFileSize(checkSize, fuupload, maxFileSizeInMB);
        }
    }

    function CheckFileSize(checkSize, fuupload, maxFileSizeInMB) {
        if (checkSize) {
            var size = GetFileSize(fuupload);
            if (size > maxFileSizeInMB) {
                swal("Information!","You can upload file up to " + maxFileSizeInMB + " MB", "error");
                return false;
            }
            else {
                return true;
            }
        }
        else {
            return true;
        }
    }

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    //get file size
    function GetFileSize(fileid) {
        try {
            var fileSize = 0;
            //for IE
            if ($.browser.msie) {
                //before making an object of ActiveXObject,
                //please make sure ActiveX is enabled in your IE browser
                var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
                //for FF, Safari, Opeara and Others
            else {
                fileSize = $("#" + fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            return fileSize;
        }
        catch (e) {
            //alert("Error is :" + e);
        }
    }

</script>
