﻿@using TRSImplementation
@model PROC_GET_ALL_PRODUCT_LIST_FOR_VIEW_EDIT_Result
@{
    ViewBag.Title = "Product Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listProductMst = (List<PROC_GET_ALL_PRODUCT_LIST_FOR_VIEW_EDIT_Result>)ViewBag.listProductMst;
    var UploadPhotoInMB = System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] != null ? System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] : "1";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
</style>
<div class="container">
    <div class="row section" id="dvProduct">
        <form class="row" id="frmPersonalDetails">
            @Html.HiddenFor(m => m.ProductId)
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.TextBoxFor(m => m.ProductName, new { @placeholder = "Product Name" })
                    <label for="ProductName" class="active">Product Name</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.DropDownList("ddlCategory", ((List<SelectListItem>)ViewBag.listProductCategory), "All Category", new { @class = "form-control" })
                    <label>Product Category</label>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m6 hide">
                    @Html.TextAreaFor(m => m.ShortDesc, new { @placeholder = "Short Description", @class = "materialize-textarea" })
                    <label for="ShortDesc" class="active">Short Description</label>
                </div>
                <div class="input-field col s12 col-xs-12 m12">
                    @Html.TextAreaFor(m => m.LongDescription, new { @placeholder = "Description", @class = "materialize-textarea" })
                    <label for="LongDescription" class="active">Description</label>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.SalePrice, new { @placeholder = "Sale Price" })
                    <label for="SalePrice" class="active">SalePrice</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.RegularPrice, new { @placeholder = "Costing Price" })
                    <label for="RegularPrice">Costing Price</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.ProductVideoURL, new { @placeholder = "Product Video URL" })
                    <label for="ProductVideoURL" class="active">Product Video URL</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.Stock, new { @placeholder = "Current Stock" })
                    <label for="Stock">Current Stock</label>
                </div>
            </div>
            <div class="col s12 hide">
                <div class="input-field col s12 col-xs-12 m6 hide">
                    @*@Html.TextBoxFor(m => m.DirectMatchingAmt, new { @placeholder = "Direct Matching Volume" })*@
                    <input type="text" id="DirectMatchingAmt" readonly="readonly" />
                    <label for="DirectMatchingAmt">Direct Matching Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6 hide">
                    @*@Html.TextBoxFor(m => m.DirectMatchingPerc, new { @placeholder = "Direct Matching" })*@
                    <input type="text" id="DirectMatchingPerc" value="80" readonly="readonly" />
                    <label for="DirectMatchingPerc">Direct Matching</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6 hide">
                    @*@Html.TextBoxFor(m => m.RepurchaseMatchingPerc, new { @placeholder = "Repurchase Matching" })*@
                    <input type="text" id="RepurchaseMatchingPerc" value="80" readonly="readonly" />
                    <label for="RepurchaseMatchingPerc">Repurchase Matching</label>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m3">
                    @Html.TextBoxFor(m => m.WeightGM, new { @placeholder = "Weight GM" })
                    <label for="WeightGM">WeightGM</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    @Html.TextBoxFor(m => m.DirectPurchaseAmt, new { @placeholder = "Direct Purchase Volume" })
                    <label for="DirectPurchaseAmt">Direct Purchase Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6 hide">
                    @*@Html.TextBoxFor(m => m.DirectPurchasePerc, new { @placeholder = "Direct Purchase",@readonly= "readonly" })*@
                    <input type="text" id="DirectPurchasePerc" value="100" readonly="readonly" />
                    <label for="DirectPurchasePerc">Direct Purchase</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    @Html.TextBoxFor(m => m.RepurchaseMatchingAmt, new { @placeholder = "Repurchase Matching Volume" })
                    <label for="RepurchaseMatchingAmt">Repurchase Matching Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="DirectVolume" readonly="readonly" />
                    <label for="DirectVolume">Direct Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="MatchingVolume" readonly="readonly" />
                    <label for="MatchingVolume">Matching Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="LeaderCreateVolume" readonly="readonly" />
                    <label for="LeaderCreateVolume">Leader Create Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="UplineSupportVolume" readonly="readonly" />
                    <label for="UplineSupportVolume">Upline Support Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="VoltVolume" readonly="readonly" />
                    <label for="VoltVolume">Volt Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="CompanyTurnOverVolume" readonly="readonly" />
                    <label for="CompanyTurnOverVolume">Company Turn Over Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="TopRetailerVolume" readonly="readonly" />
                    <label for="TopRetailerVolume">Top Retailer Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="RewardsVolume" readonly="readonly" />
                    <label for="RewardsVolume">Rewards Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="BonanzaVolume" readonly="readonly" />
                    <label for="BonanzaVolume">Bonanza Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    <input type="text" id="ExpenseVolume" readonly="readonly" />
                    <label for="ExpenseVolume">Expense Volume</label>
                </div>
                <div class="input-field col s12 col-xs-12 m3">
                    @Html.DropDownList("ddlJoinningProductType", ((List<SelectListItem>)ViewBag.listJoinningProductTypes),"", new { @class = "form-control" })
                    <label for="JoinningProductType">Joinning Product Type</label>
                </div>
            </div>
            <div class="col s12">
                <div class="file-field input-field col s12 col-xs-12 m6">
                    <div class="btn">
                        <span>Front Cover</span>
                        <input type="file" id="fupProductFrontImage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="txtProductFrontImage" type="text" readonly>
                    </div>
                    <img id="imgProductFrontImage" src="" class="hide" style="width:100px; height:100px;" />
                </div>
                <div class="file-field input-field col s12 col-xs-12 m6">
                    <div class="btn">
                        <span>Back Cover</span>
                        <input type="file" id="fupProductBackImage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="txtProductBackImage" type="text" readonly>
                    </div>
                    <img id="imgProductBackImage" src="" class="hide" style="width:100px; height:100px;" />
                </div>
            </div>
            <div class="col s12">
                <div class="col s12 center-align" style="margin-bottom:10px;">
                    <a class="waves-effect waves-light btn" id="btnSave">
                        <i class="material-icons left">save</i> Save
                    </a>
                    <a class="waves-effect waves-light btn" id="btnCancel">
                        <i class="material-icons left">clear</i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div id="floatThead" class="section">
        <div class="row">
            <div class="col s12 no-more-tables">
                <table class="striped demo1">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th>Product Name</th>
                            <th>Short Desc</th>
                            <th>Long Desc</th>
                            <th>Category</th>
                            <th>Sales Price</th>
                            <th>Regular Price</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in listProductMst)
                            {
                                <tr>
                                    <td data-title="Product Id" class="id hide">@item.ProductId</td>
                                    <td data-title="Product Name">@item.ProductName</td>
                                    <td data-title="Short Desc">@item.ShortDesc</td>
                                    <td data-title="Long Desc" class="totalincome">@item.LongDescription</td>
                                    <td data-title="Category">@item.CategoryName</td>
                                    <td data-title="Sales Price" class="tds">@item.SalePrice</td>
                                    <td data-title="Regular Price" class="admincharge">@item.RegularPrice</td>
                                    <td data-title="Stock" class="stock">@item.Stock</td>
                                    <td data-title="Action">
                                        <a style="cursor:pointer" onclick="GetProductDetails(@item.ProductId)" class="waves-effect waves-cyan">
                                            <i class="material-icons">edit</i>
                                            <span class="nav-text">Edit</span>
                                        </a>
                                        @if (item.IsActive)
                                        {
                                            <a style="cursor:pointer" onclick="ActiveInActiveProduct(@item.ProductId,0)" class="waves-effect waves-cyan" title="InActive">
                                                <i class="material-icons">clear</i>
                                                <span class="nav-text">InActive</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a style="cursor:pointer" onclick="ActiveInActiveProduct(@item.ProductId,1)" class="waves-effect waves-cyan" title="Active">
                                                <i class="material-icons">done</i>
                                                <span class="nav-text">Active</span>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var UploadPhotoInMB=@UploadPhotoInMB;
    function WindowLoadComplete() {
        $(document).ready(function () {
            //GetProductDetails(0);
            $("#btnCancel").click(function () {
                Clear()
            });
            $("#btnSave").click(function () {
                SaveProduct()
            });

            $("#fupProductFrontImage").change(function () {
                checkfile("fupProductFrontImage", true, UploadPhotoInMB, "png,jpeg,jpg");
            });

            $("#fupProductBackImage").change(function () {
                checkfile("fupProductBackImage", true, UploadPhotoInMB, "png,jpeg,jpg");
            });

            $("#DirectPurchaseAmt").change(function(){
                CalculateVolumeDetails();
            })
        });
    }

    function Clear() {
        $("#ProductId").val("0");
        $("#ProductName").val("");
        $("#ddlCategory").val("0");
        $("#ShortDesc").val("");
        $("#LongDescription").val("");
        $("#SalePrice").val("");
        $("#RegularPrice").val("");
        $("#ddlCategory").material_select();
        $("#imgProductFrontImage").addClass("hide");
        $("#imgProductBackImage").addClass("hide");
        $("#txtProductBackImage").val("");
        $("#txtProductFrontImage").val("");
        $("#ProductVideoURL").val("");
        $("#ddlJoinningProductType").val("");
    }
    function GetProductDetails(id) {
        $.ajax({
            url: "/Admin/Product/GetProductDetails",
            type: 'POST',
            data: {
                ProductId: id
            },
            cache: false,
            success: function (data) {
                $("#ProductId").val(data.ProductId);
                $("#ProductName").val(data.ProductName);
                $("#ddlCategory").val(data.ProductCategoryId);
                $("#ShortDesc").val(data.ShortDesc);
                $("#LongDescription").val(data.LongDescription);
                $("#SalePrice").val(data.SalePrice);
                $("#RegularPrice").val(data.RegularPrice);
                $("#ProductVideoURL").val(data.ProductVideoURL)
                $("#DirectPurchaseAmt").val(data.DirectPurchaseAmt);
                //$("#DirectPurchasePerc").val(data.DirectPurchasePerc);
                $("#DirectMatchingAmt").val(data.DirectPurchaseAmt);
                //$("#DirectMatchingPerc").val(data.DirectMatchingPerc);
                $("#RepurchaseMatchingAmt").val(data.RepurchaseMatchingAmt);
                //$("#RepurchaseMatchingPerc").val(data.RepurchaseMatchingPerc);
                $("#Stock").val(data.Stock);
                $("#ddlCategory").material_select();
                $("#imgProductFrontImage").attr("src","");
                $("#imgProductFrontImage").addClass("hide");
                $("#txtProductFrontImage").val("");
                $("#imgProductBackImage").attr("src","");
                $("#imgProductBackImage").addClass("hide");
                $("#txtProductBackImage").val("");
                $("#WeightGM").val(data.WeightGM);
                $("#ddlJoinningProductType").val(data.JoinningProductType);
                $("#ddlJoinningProductType").material_select();

                if(data.ImagePath!=null &&data.ImagePath!=""){
                    $("#imgProductFrontImage").attr("src",data.ImagePath);
                    $("#imgProductFrontImage").removeClass("hide");
                    var arrayname=data.ImagePath.split("/");
                    var name=arrayname[arrayname.length-1];
                    $("#txtProductFrontImage").val(name);
                }
                if(data.BackCoverImagePath!=null && data.BackCoverImagePath!=""){
                    $("#imgProductBackImage").attr("src",data.BackCoverImagePath);
                    $("#imgProductBackImage").removeClass("hide");
                    var arrayname=data.BackCoverImagePath.split("/");
                    var name=arrayname[arrayname.length-1];
                    $("#txtProductBackImage").val(name);
                }
                CalculateVolumeDetails();
            }
        });
    }

    function SaveProduct() {
        var strFrontCover = "";
        var strBackCover = "";
        if (!ValidateForm()) {
            return false;
        }

        var profiledata = new FormData();
        var fupProductFrontImage = $("#fupProductFrontImage").get(0).files;
        var fupProductBackImage = $("#fupProductBackImage").get(0).files;
        if($("#ProductId").val().trim()=="0" || $("#ProductId").val().trim()==""){
            if (fupProductFrontImage.length == 0) {
                swal("Information!", "Please Select Front Cover Image File!", "error");
                return false;
            }
            if (fupProductBackImage.length == 0) {
                swal("Information!", "Please Select Front Cover Image File!", "error");
                return false;
            }
        }
        if (fupProductFrontImage.length > 0) {
            if(!checkfile("fupProductFrontImage", true, UploadPhotoInMB, "png,jpeg,jpg")){
                swal("Information!", "Please Select Only png,jpeg,jpg format file!", "error");
                return false;
            }
            profiledata.append("FrontCover", fupProductFrontImage[0]);
            var profileimg = getNameFromPath($("#fupProductFrontImage").val());
            strFrontCover = (new Date().getTime()).toString() + "_" + profileimg;
        }
        else if ($("#txtProductFrontImage").val() != "") {
            strFrontCover = $("#txtProductFrontImage").val();
        }

        if (fupProductBackImage.length > 0) {
            if(!checkfile("fupProductBackImage", true,UploadPhotoInMB, "png,jpeg,jpg")){
                swal("Information!", "Please Select Only png,jpeg,jpg format file!", "error");
                return false;
            }
            profiledata.append("BackCover", fupProductBackImage[0]);
            var profileimg = getNameFromPath($("#fupProductBackImage").val());
            strBackCover = (new Date().getTime()).toString() + "_" + profileimg;
        }
        else if ($("#txtProductBackImage").val() != "") {
            strBackCover = $("#txtProductBackImage").val();
        }

        if ($("#DirectPurchaseAmt").val().trim() == "") {
            swal("Information!", "Please enter direct purchase amount!", "error");
            return false;
        }
        //if ($("#DirectPurchasePerc").val().trim() == "") {
        //    swal("Information!", "Please enter direct purchase amount percentage!", "error");
        //    return false;
        //}
        //if ($("#DirectMatchingAmt").val().trim() == "") {
        //    swal("Information!", "Please enter direct matching amount!", "error");
        //    return false;
        //}
        //if ($("#DirectMatchingPerc").val().trim() == "") {
        //    swal("Information!", "Please enter direct matching amount percentage!", "error");
        //    return false;
        //}
        if ($("#RepurchaseMatchingAmt").val().trim() == "") {
            swal("Information!", "Please enter re-purchase matching amount!", "error");
            return false;
        }
        //if ($("#RepurchaseMatchingPerc").val().trim() == "") {
        //    swal("Information!", "Please enter re-purchase matching amount percentage!", "error");
        //    return false;
        //}

        profiledata.append("ProductId", $("#ProductId").val().trim());
        profiledata.append("ProductName", $("#ProductName").val().trim());
        profiledata.append("ProductCategoryId", $("#ddlCategory").val().trim());
        profiledata.append("ShortDesc", $("#ShortDesc").val().trim());
        profiledata.append("LongDescription", $("#LongDescription").val().trim());
        profiledata.append("SalePrice", $("#SalePrice").val().trim());
        profiledata.append("RegularPrice", $("#RegularPrice").val().trim());
        profiledata.append("ProductVideoURL", $("#ProductVideoURL").val().trim());
        profiledata.append("FrontCover", strFrontCover);
        profiledata.append("BackCover", strBackCover);
        profiledata.append("Stock", $("#Stock").val());
        profiledata.append("DirectPurchaseAmt", $("#DirectPurchaseAmt").val());
        profiledata.append("DirectPurchasePerc", $("#DirectPurchasePerc").val());
        profiledata.append("DirectMatchingAmt", $("#DirectPurchaseAmt").val());
        profiledata.append("DirectMatchingPerc", $("#DirectMatchingPerc").val());
        profiledata.append("RepurchaseMatchingAmt", $("#RepurchaseMatchingAmt").val());
        profiledata.append("RepurchaseMatchingPerc", $("#RepurchaseMatchingPerc").val());
        profiledata.append("WeightGM", $("#WeightGM").val());
        profiledata.append("JoinningProductType", $("#ddlJoinningProductType").val().trim());
        // profiledata.append("AboutUs", $("#txtAboutUs").val().trim());

        $.ajax({
            url: "/Admin/Product/InsertUpdateProduct",
            type: "POST",
            processData: false,
            contentType: false,
            data: profiledata,
            success: function (data) {
                if (data.Key) {
                    if($("#ProductId").val()=="0"){
                        swal("Success!", "Product Inserted Successfully!", "success");
                    }
                    else{
                        swal("Success!", "Product Updated Successfully!", "success");
                    }
                    $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Admin/Product/Index"})
                }
                else {
                    swal("Error!",data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er);
            },
        });
    }

    function ActiveInActiveProduct(pid,status){
        swal({    title: status==0? "Are you sure want to inactive product?":"Are you sure want to active product?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/Product/ActiveInActiveProduct",
                    type: 'POST',
                    data: {
                        ProductId: pid
                    },
                    cache: false,
                    success: function (data) {
                        if(data.Key){
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Admin/Product/Index"})
                        }
                        else{
                            if(data.IsInfo){
                                swal("Information!", data.Msg, "error");
                            }
                            else{
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function ValidateForm() {
        if ($("#ProductName").val().trim() == "") {
            swal("Information!", "Please Enter Product Name!", "error");
            return false;
        }
        else if ($("#ddlCategory").val() == "" || $("#ddlCategory").val() == "0") {
            swal("Information!", "Please Enter Product Category!", "error");
            return false;
        }
        else if ($("#SalePrice").val().trim() == "") {
            swal("Information!", "Please Enter Sales Price!", "error");
            return false;
        }
        else if ($("#RegularPrice").val().trim() == "") {
            swal("Information!", "Please Enter Regular Price!", "error");
            return false;
        }
        else {
            return true;
        }
    }
    function checkfile(fuupload, checkSize, maxFileSizeInMB, AllowFileType) {
        filetype = AllowFileType.split(",");
        var file = getNameFromPath($("#" + fuupload).val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
            // alert(extension);

            for (var i = 0; i < filetype.length; i++) {
                if (extension == filetype[i].toLowerCase()) {
                    flag = true;
                    break;
                }
                else {
                    flag = false;
                }
            }
        }
        if (flag == false) {
            swal("Information!","You can upload only " + AllowFileType + " extension file", "error");
            $("#" + fuupload).val('');
            return false;
        }
        else {
            return CheckFileSize(checkSize, fuupload, maxFileSizeInMB);
        }
    }

    function CheckFileSize(checkSize, fuupload, maxFileSizeInMB) {
        if (checkSize) {
            var size = GetFileSize(fuupload);
            if (size > maxFileSizeInMB) {
                swal("Information!","You can upload file up to " + maxFileSizeInMB + " MB", "error");
                return false;
            }
            else {
                return true;
            }
        }
        else {
            return true;
        }
    }

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    //get file size
    function GetFileSize(fileid) {
        try {
            var fileSize = 0;
            //for IE
            if ($.browser.msie) {
                //before making an object of ActiveXObject,
                //please make sure ActiveX is enabled in your IE browser
                var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
                //for FF, Safari, Opeara and Others
            else {
                fileSize = $("#" + fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            return fileSize;
        }
        catch (e) {
            //alert("Error is :" + e);
        }
    }

    function CalculateVolumeDetails(){
        var DirectPurchaseAmt=$("#DirectPurchaseAmt").val();
        if(DirectPurchaseAmt!=""){
            var fDirectPurchaseAmt=parseFloat(DirectPurchaseAmt).toFixed(2);
            var DirectVolume=parseFloat(fDirectPurchaseAmt * 10 / 100).toFixed(2);
            var MatchingVolume=parseFloat(fDirectPurchaseAmt * 32 / 100).toFixed(2);
            var LeaderCreateVolume=parseFloat(fDirectPurchaseAmt * 8 / 100).toFixed(2);
            var UplineSupportVolume=parseFloat(fDirectPurchaseAmt * 0.8 / 100).toFixed(2);
            var VoltVolume=parseFloat(fDirectPurchaseAmt * 2 / 100).toFixed(2);
            var CompanyTurnOverVolume=parseFloat(fDirectPurchaseAmt * 2 / 100).toFixed(2);
            var TopRetailerVolume=parseFloat(fDirectPurchaseAmt * 2 / 100).toFixed(2);
            var RewardsVolume=parseFloat(fDirectPurchaseAmt * 2 / 100).toFixed(2);
            var BonanzaVolume=parseFloat(fDirectPurchaseAmt * 2 / 100).toFixed(2);
            var ExpenseVolume=parseFloat(fDirectPurchaseAmt * 20 / 100).toFixed(2);

            $("#DirectVolume").val(DirectVolume);
            $("#MatchingVolume").val(MatchingVolume);
            $("#LeaderCreateVolume").val(LeaderCreateVolume);
            $("#UplineSupportVolume").val(UplineSupportVolume);
            $("#VoltVolume").val(VoltVolume);
            $("#CompanyTurnOverVolume").val(CompanyTurnOverVolume);
            $("#TopRetailerVolume").val(TopRetailerVolume);
            $("#RewardsVolume").val(RewardsVolume);
            $("#BonanzaVolume").val(BonanzaVolume);
            $("#ExpenseVolume").val(ExpenseVolume);
            Materialize.updateTextFields();
        }
        else{
            $("#DirectVolume").val("");
            $("#MatchingVolume").val("");
            $("#LeaderCreateVolume").val("");
            $("#UplineSupportVolume").val("");
            $("#VoltVolume").val("");
            $("#CompanyTurnOverVolume").val("");
            $("#TopRetailerVolume").val("");
            $("#RewardsVolume").val("");
            $("#BonanzaVolume").val("");
            $("#ExpenseVolume").val("");
            Materialize.updateTextFields();
        }
    }
</script>
