﻿@using TRSImplementation
@model ProductVariantMst
@{
    ViewBag.Title = "Product Variant Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row section" id="dvProduct">
        <form class="row" id="frmPersonalDetails">
            @Html.HiddenFor(m => m.ProductVariantId)
            @Html.HiddenFor(m => m.ProductId)
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.DropDownList("ddlProduct", ((List<SelectListItem>)ViewBag.listProduct), "Select Product", new { @class = "form-control" })
                    <label>Product</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.TextBoxFor(m => m.VariantName, new { @placeholder = "Variant Name" })
                    <label for="VariantName" class="active">Variant Name</label>
                </div>

            </div>
            <div class="col s12">
                <div class="col s12 center-align" style="margin-bottom:10px;">
                    <a class="waves-effect waves-light btn" id="btnSave">
                        <i class="material-icons left">save</i> Save
                    </a>
                    <a class="waves-effect waves-light btn" id="btnCancel">
                        <i class="material-icons left">clear</i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 s12 m12 l12" id="dvVarint">

    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        $(document).ready(function () {
            //GetProductDetails(0);
            $("#btnCancel").click(function () {
                Clear()
            });
            $("#btnSave").click(function () {
                SaveProductVariant()
            });
            $("#ddlProduct").change(function () {
                $("#ProductId").val($(this).val());
            });
        });

        var listVariant = @Html.Raw(Json.Encode(ViewBag.listVariant));
        GetVariantList(listVariant);
    }
    function Clear() {
        $("#ProductVariantId").val("0");
        $("#ProductId").val("");
        $("#ddlProduct").val("0");
        $("#VariantName").val("");
        $("#ddlProduct").material_select();
    }
    function SaveProductVariant() {
        var profiledata = new FormData();

        if ($("#ProductId").val().trim() == "" || $("#ProductId").val().trim() == "0") {
            swal("Information!", "Please select product!", "error");
            return false;
        }
        if ($("#VariantName").val().trim() == "") {
            swal("Information!", "Please enter product variant name!", "error");
            return false;
        }

        profiledata.append("ProductId", $("#ProductId").val().trim());
        profiledata.append("ProductVariantId", $("#ProductVariantId").val().trim());
        profiledata.append("VariantName", $("#VariantName").val().trim());

        $.ajax({
            url: "/Admin/Product/InsertUpdateProductVariant",
            type: "POST",
            processData: false,
            contentType: false,
            data: profiledata,
            success: function (data) {
                if (data.Key) {
                    if ($("#ProductId").val() == "0") {
                        swal("Success!", "Product Inserted Successfully!", "success");
                    }
                    else {
                        swal("Success!", "Product Updated Successfully!", "success");
                    }
                    BindProductVariantList();
                }
                else {
                    swal("Error!", data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er);
            },
        });
    }

    function GetVariantList(listVariant) {
        var db = {
            loadData: function(filter) {
                return $.grep(this.listVariant, function(user) {
                    return (!filter.ProductName || (user.ProductName!=null && user.ProductName.toLowerCase().indexOf(filter.ProductName.toLowerCase()) > -1))
                        && (!filter.VariantName || (user.VariantName!=null && user.VariantName.toLowerCase().indexOf(filter.VariantName.toLowerCase()) > -1))
                });
            },
            insertItem: function(insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function(updatingClient) { },
        };
        db.listVariant=listVariant;
        window.db = db;
        $("#dvVarint").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            pageSize: 50,
            pageButtonCount: 10,
            fields: [
                { name: "ProductName", type: "text", width:600,title:"Product Name"},
                { name: "VariantName",css:"variantname",  type: "text", width:300,title:"Variant Name"}  ,
                { name: "IsActive",css:"variantname",  type: "text", width:100,title:"Is Active",
                    itemTemplate:function(value,item){
                        if(item.IsActive){
                            return "Yes"
                        }
                        else{
                            return "No"
                        }
                    }
                }  ,
                { name: "Action",  width:100,css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td="<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"EditVariant(this,"+item.ProductVariantId+","+item.ProductId+")\" class=\"waves-effect waves-cyan\" title=\"Edit\">"+
                                    "<i class=\"material-icons\">edit</i>"+
                                    "<span class=\"nav-text\"></span>"+
                               "</a>";
                        if(item.IsActive){
                            td+="<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"DeleteProductVariant("+item.ProductVariantId+","+item.IsActive+")\" class=\"waves-effect waves-cyan\" title=\"InActivate Variant\">"+
                                       "<i class=\"material-icons\">clear</i>"+
                                       "<span class=\"nav-text\"></span>"+
                                  "</a>";
                        }
                        else{
                            td+="<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"DeleteProductVariant("+item.ProductVariantId+","+item.IsActive+")\" class=\"waves-effect waves-cyan\" title=\"Activate Variant\">"+
                                      "<i class=\"material-icons\">done</i>"+
                                      "<span class=\"nav-text\"></span>"+
                                 "</a>";
                        }
                        return td;
                    }
                }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function EditVariant(btn,ProductVariantId,ProductId){
        $tr=$(btn).closest('tr');
        $("#ddlProduct").val(ProductId);
        $("#ProductId").val(ProductId);
        $("#ProductVariantId").val(ProductVariantId);
        $("#VariantName").val($tr.find(".variantname").html());
        $("#ddlProduct").material_select();
    }

    function BindProductVariantList(){
        $.ajax({
            url: "/Admin/Product/GetProductVariantList",
            type: 'POST',
            data: {
            },
            cache: false,
            success: function (data) {
                GetVariantList(data);
            }
        });
    }

    function DeleteProductVariant(ProductVariantId,IsActive){
        swal({    title: IsActive==true? "Are you sure want to inactive product variant?":"Are you sure want to active product variant?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                $.ajax({
                    url: "/Admin/Product/DeleteProductVariant",
                    type: 'POST',
                    data: {ProductVariantId : ProductVariantId},
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            BindProductVariantList();
                        }
                        else {
                            swal("Error!", data.Msg, "error");
                        }
                    }
                });
            }
        );
    }
</script>
