﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_RPT_GET_BONANZA_REPORT_BY_BV_Result>
<input type="hidden" id="hdnBonanzaMemberCnt" value="@ViewBag.BonanzaOfferCnt" />
<input type="hidden" id="hdnMemberCnt" value="@ViewBag.MemberCnt" />
<input type="hidden" id="hdnMemberLeftBV" value="@Model.Sum(x=>x.LeftBV)" />
<input type="hidden" id="hdnMemberRightBV" value="@Model.Sum(x=>x.RightBV)" />
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Name</th>
            <th>Refferal Code</th>
            <th>Left BV</th>
            <th>Right BV</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@item.SrNo</td>
                    <td data-title="Date">@item.CreditDate.Value.ToString("dd/MM/yyyy")</td>
                    <td data-title="Name">@item.FullName</td>
                    <td data-title="Refferal Code">@item.RefferalCode</td>
                    <td data-title="Left BV">@item.LeftBV</td>
                    <td data-title="Right BV">@item.RightBV</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>

</script>