﻿@using TRSImplementation
@using TRS.Models
@model List<WalletDebitDtl>
<table class="striped" id="tblMonthWisePayoutDtl">
    <thead>
        <tr>
            <th>Date</th>
            <th>Direct Income</th>
            <th>Matching Income</th>
            <th>Volt Income</th>
            <th>Leader Income</th>
            <th>UplineSupport Income</th>
            <th>Diamond Income</th>
            <th>UplineSupport Income</th>
            <th>Silver Income</th>
            <th>Upline Monthly</th>
            <th>RetailReward Monthly</th>
            <th>Total Payment</th>
            <th>Admin Charge%</th>
            <th>Admin Charge</th>
            <th>TDS%</th>
            <th>TDS</th>
            <th>Net Payment</th>
            <th>UTR Ref No</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Date">@item.DebitDate.ToString("dd/MM/yyyy")</td>
                    <td data-title="Direct Income">@item.DirectIncomePay</td>
                    <td data-title="Matching Income">@item.PointsIncomePay</td>
                    <td data-title="Volt Income">@item.VoltIncomePay</td>
                    <td data-title="LeaderIncome">@item.LeaderIncomePay</td>
                    <td data-title="UplineSupportIncome">@item.UplineSupportIncomePay</td>
                    <td data-title="DiamondIncome">@item.DiamondIncomePay</td>
                    <td data-title="UplineSupportIncomePay">@item.UplineSupportIncomePay</td>
                    <td data-title="SilverIncomePay">@item.SilverIncomePay</td>
                    <td data-title="UplineMonthlyPay">@item.UplineMonthlyPay</td>
                    <td data-title="RetailRewardMonthlyPay">@item.RetailRewardMonthlyPay</td>
                    <td data-title="Total Payment">@item.DebitAmount</td>
                    <td data-title="Admin Charge%">@item.AdminPerc</td>
                    <td data-title="Admin Charge">@item.AdminCharge</td>
                    <td data-title="TDS%">@item.TDSPerc</td>
                    <td data-title="TDS">@item.TDSAmount</td>
                    <td data-title="Net Payment">@item.NetPayable</td>
                    <td data-title="UTR Ref No">@item.UTRRefNo</td>
                </tr>
            }
        }
    </tbody>
</table>

