﻿@using TRSImplementation
@using TRS.Models
@model List<FN_GET_USER_DIAMOND_SILVER_POINTS_ALL_DETAILS_Result>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Diamond Amount</th>
            <th>Refferal Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@item.SrNo</td>
                    <td data-title="Date">@item.CreditDate.Value.ToString("dd/MM/yyyy")</td>
                    <td data-title="Diamond Amount">@item.CreditPoints</td>
                    <td data-title="Refferal Code">@item.FromCreditRefferalCode</td>
                    <td data-title="Name">@item.FromCreditUserName</td>
                </tr>
            }
        }
    </tbody>
</table>

