﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_RPT_GET_LEFT_SIDE_EARNING_Result>
@{
    int i = 1;
}
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>OrderNo</th>
            <th>Order Amount</th>
            <th>Name</th>
            <th>Business Volume</th>
            <th>Income %</th>
            <th>Point Value</th>
            <th>Point</th>
            <th>Income</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@(i++)</td>
                    <td data-title="Date">@item.CreditDate.Value.ToString("dd/MM/yyyy")</td>
                    <td data-title="OrderNo"><a style="cursor:pointer" onclick="LoadProductDetails(@item.UserPurchaseHdrId)">@item.OrderNo</a></td>
                    <td data-title="Order Amount">@item.OrderAmount</td>
                    <td data-title="Name">@item.FullName</td>
                    <td data-title="Business Volume">@item.LeftBV</td>
                    <td data-title="Income %">8</td>
                    <td data-title="Point Value">10</td>
                    <td data-title="Point">@(Convert.ToInt64(item.CreditPoints/10))</td>
                    <td data-title="Income">@(Convert.ToInt64(item.CreditPoints))</td>
                </tr>                
            }
        }
    </tbody>
</table>