﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_RPT_GET_COMPANY_SHARE_AMOUNT_Result>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Volt Miles</th>
            <th>Refferal Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@item.SrNo</td>
                    <td data-title="Date">@(Convert.ToDateTime(item.VoltIncomeDate).ToString("dd/MM/yyyy"))</td>
                    <td data-title="Volt Amount">@item.VoltMiles</td>
                    <td data-title="Refferal Code">@item.RefferalCode</td>
                    <td data-title="Name">@item.FullName</td>
                </tr>
            }
        }
    </tbody>
</table>
