﻿@using TRSImplementation
@using TRS.Models
@model List<BonanzaQualifiersEnt>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Refferal Code</th>
            <th>Full Name</th>
            <th>Current Month Left BV</th>
            <th>Current Month Right BV</th>
            <th>Current Month Matching BV</th>
            <th>Paid Amount</th>
            <th>UTR Ref. No</th>
            <th>Paid Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Refferal Code">@item.RefferalCode</td>
                    <td data-title="Full Name">@item.FullName</td>
                    <td data-title="Current Month Left BV">@item.CurrentMonthLeftBV</td>
                    <td data-title="Current Month Right BV">@item.CurrentMonthRightBV</td>
                    <td data-title="Current Month Matching BV">@item.CurrentMonthBV </td>
                    <td data-title="Paid Amount">@item.PaidAmount</td>
                    <td data-title="UTR Ref. No">@item.UTRRefNo</td>
                    <td data-title="Paid Date">@item.PaidDate</td>
                </tr>
            }
        }
    </tbody>
</table>

