﻿@using TRSImplementation
@using TRS.Models
@model List<IncomeUserEnt>
<div class="row">
    <div class="col s12 no-more-tables">
        <table class="striped" id="tblIncomeDetails">
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Refferal Code</th>
                    <th>Full Name</th>
                    <th>BV</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Sr.No.">@item.SrNo</td>
                            <td data-title="Refferal Code">@item.RefferalCode</td>
                            <td data-title="Full Name">@item.FullName</td>
                            <td data-title="Income">@item.BV</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
