﻿@using TRSImplementation
@using TRS.Models
@{
    int i = 1;
}
@model List<PROC_RPT_GET_USER_MILES_LEDGER_Result>
<div class="row">
    <div class="col s12 m12 l12" style="margin-bottom:10px;font-size: 18px;border-bottom: 1px solid;">
        <div class="input-field col col-xs-12 s12 m4 l4">
            <span> Total Miles Credit : <b>@Math.Round(ViewBag.TotalCreditAmount, 2)</b></span>
        </div>
        <div class="input-field col col-xs-12 s12 m4 l4">
            <span> Total Miles Debit : <b>@Math.Round(ViewBag.TotalDebitAmount, 2)</b></span>
        </div>
        <div class="input-field col col-xs-12 s12 m4 l4">
            <span> Final Miles Balance :<b> @Math.Round(ViewBag.FinalBalance, 2)</b></span>
        </div>
    </div>
</div>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Credit Amount</th>
            <th>Credit From</th>
            <th>Debit Amount</th>
            <th>Used In OrderNo</th>
            <th>Status</th>
            <th>Balance Amount</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
        <tr>
            <td data-title="Sr.No.">@i</td>
            <td data-title="Date">@item.TransactionDate.ToString("dd/MM/yyyy")</td>
            <td data-title="Credit Amount">@(Math.Round(item.CreditAmount, 2))</td>
            <td data-title="Credit From">@(item.FullName)</td>
            <td data-title="Debit Amount">@item.DebitAmount</td>
            <td data-title="Used In OrderNo">@item.OrderNo</td>
            <td data-title="Status">@item.MilesStatus</td>
            <td data-title="Balance">@(Math.Round((item.BalanceAmount.HasValue ? item.BalanceAmount.Value : 0), 2).ToString() + (item.BalanceAmount >= 0 ? " Cr" : " Dr"))</td>
        </tr>
                i = i + 1;
            }
        }
    </tbody>
</table>
