﻿@using TRSImplementation
@using TRS.Models
@model List<MatchingIncomeDtl>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Week</th>
            <th>Left BV</th>
            <th>Right BV</th>
            <th>Matching BV</th>
            <th>BV %</th>
            <th>Point</th>
            <th>Point Value</th>
            <th>Income</th>
            <th>Carry Forward BV</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Week">@item.WeekName</td>
                    <td data-title="Left BV"><span style="cursor:pointer;color:#3949ab;" onclick="GetIncomeByUser('@item.MonthYear',@item.WeekNo,'L')">@item.LeftBV</span> </td>
                    <td data-title="Right BV"><span style="cursor:pointer;color:#3949ab;" onclick="GetIncomeByUser('@item.MonthYear',@item.WeekNo,'R')">@item.RightBV</span></td>
                    <td data-title="Matching BV">@item.MatchingBV</td>
                    <td data-title="BV %">8</td>
                    <td data-title="Point">@(Convert.ToInt64((item.MatchingIncome / 10)))</td>
                    <td data-title="Point Value">10</td>
                    <td data-title="Income">@(Convert.ToInt64(item.MatchingIncome))</td>
                    <td data-title="Carry Forward BV">@(item.CarryForwardBV+(item.CarryForwardBV>0?item.CarryForwardBVSide:"")) </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#spnTotalLeftIncomeDisplay").html('@(Convert.ToInt64((ViewBag.TotalLeftBV)))');
        $("#spnTotalRightIncomeDisplay").html('@(Convert.ToInt64((ViewBag.TotalRightBV)))');
        $("#spnTotalMatchingIncomeDisplay").html('@(Convert.ToInt64((ViewBag.TotalMatchingBV)))');
        $("#spnTotalCarryForwarDisplay").html('@(Convert.ToInt64((ViewBag.CarryForwardBV)))' +' '+'@ViewBag.CarryForwardBVSide');
    });
    function GetIncomeByUser(month, weekno, position) {
        $.ajax({
            type: "POST",
            url: "/Member/Reports/GetIncomeByUser",
            datatype: 'html',
            data: { MonthYear: month, WeekNo: weekno, Position: position },
            success: function (result) {
                $("#dvIncomeDetails").html(result);
                $("#mdlIncomeDetails").modal('open');
            },
            error: function () {
            }
        });
    }
</script>
