﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_RPT_GET_DIRECT_REFFERAL_AMOUNT_Result>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Date</th>            
            <th>Refferal Code</th>
            <th>Name</th>
            <th>Purchase Amount</th>
            <th>Point</th>
            <th>Commision</th>
            <th>Commision Amount</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@item.SrNo</td>
                    <td data-title="Date">@item.CreditDate.ToString("dd/MM/yyyy")</td>                    
                    <td data-title="Refferal Code">@item.RefferalCode</td>
                    <td data-title="Name">@item.FullName</td>
                    <td data-title="Purchase Amount">@item.TotalOrderAmount</td>
                    <td data-title="Point">@(item.CreditAmount/10)</td>
                    <td data-title="Commision">10%</td>
                    <td data-title="Commision Amount">@(item.CreditAmount)</td>
                </tr>
            }
        }
    </tbody>
</table>

