﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Current Month BV Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Today Orders</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12 center" id="dvBonanzaDtl">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="MonthName"></select>
                            <label for="MonthName" class="center-align">Month</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWiseBonanzaDtl()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                    <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function () {
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWiseBonanzaDtl();
        })
        function GetMonthWiseBonanzaDtl() {
            $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Current BV");
            $.ajax({
                type: "POST",
                url: "/Member/Reports/GetMonthWiseBonanzaDtl",
                datatype: 'html',
                data: { MonthYear: $('#MonthName').val()},
                success: function (result) {
                    $("#dvDateRangeOrder").html(result);
                    //$("#dataRangeTitle").html($("#dataRangeTitle").html()+" ("+$("#hdnMemberCnt").val()+"/"+$("#hdnBonanzaMemberCnt").val()+")");
                    $("#dataRangeTitle").html($("#dataRangeTitle").html() + " (LEFT : " + $("#hdnMemberLeftBV").val() + ") (RIGHT : " + $("#hdnMemberRightBV").val() + ")");
                    $("#dvBonanzaDtl").html();
                    if(parseInt($("#hdnMemberCnt").val())>=parseInt($("#hdnBonanzaMemberCnt").val())){
                        //$("#dvBonanzaDtl").html("<h4>You are eligible for Bonanza offer</h4>")
                    }
                },
                error: function () {
                }
            });
        }

    </script>
}
