﻿@using TRSImplementation
@using TRS.Models
@model IEnumerable<RewardClaimedMst>

@{
    ViewBag.Title = "Claim Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .rewards {
        color: #fff !important;
        background-color: #ff4081 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Rewards Statement</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Current Reward BV</th>
                                    <th>Rewards</th>
                                    <th>Secondary Rewards</th>
                                    <th>Claimed Date</th>
                                    <th>Response Date</th>
                                    <th>Claimed Reward BV</th>
                                    <th>Pending Reward BV</th>
                                    <th>Reference No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr data-level="1">
                                            <td>@item.MatchingBV</td>
                                            <td>@item.PrimaryReward</td>
                                            <td>@item.SecondaryReward</td>
                                            <td>@item.ClaimedDate.ToString("dd/MM/yyyy")</td>
                                            <td>@(string.IsNullOrEmpty(Convert.ToString(item.ApprovalDate)) ? "" : Convert.ToDateTime(item.ApprovalDate).ToString("dd/MM/yyyy"))</td>
                                            <td>@item.ClaimedRewardBV</td>
                                            <td>@(Math.Round((item.MatchingBV - item.ClaimedRewardBV), 0))</td>
                                            <td>@(string.IsNullOrEmpty(Convert.ToString(item.ReferenceNo)) ? "" : item.ReferenceNo)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
