﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "LCB Pool Monthly Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">LCB Pool Monthly Income Report</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="MonthName"></select>
                            <label for="MonthName" class="center-align">Month</label>
                            <input type="hidden" id="UplineIncomeSummaryId" name="UplineIncomeSummaryId" value="">
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeUplineMonthly()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>

    <script type="text/javascript">

    var Months = @Html.Raw(Json.Encode(Model));

    $(document).ready(function(){
        var str = "";
        for (var i = 0; i < Months.length; i++) {
            str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
        }
        $("#MonthName").html(str);
        $('#MonthName').material_select();
        GetDateRangeUplineMonthly();
    });

    function GetDateRangeUplineMonthly() {
        $("#dataRangeTitle").html("LCB Pool Monthly Income");
        $.ajax({
            type: "POST",
            url: "/Member/Reports/GetLCBPoolMonthlyIncome",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val() },
            success: function (result) {
                BindData(result);
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.LCBPoolUser || (user.LCBPoolUser != null && user.LCBPoolUser.toLowerCase().indexOf(filter.LCBPoolUser.toLowerCase()) > -1))
                        && (!filter.LcbPoolIncomeAmt || (user.LcbPoolIncomeAmt != null && user.LcbPoolIncomeAmt.toLowerCase().indexOf(filter.LcbPoolIncomeAmt.toLowerCase()) > -1));
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            fields: [
                //{ name: "DirectRefferalUser", type: "text", width: 100, title: "User" },
                //{ name: "MMYY", type: "text", width: 100, title: "Month-Year" },
                { name: "LCBPoolUser", type: "text", width: 200, title: "User" },
                { name: "MatchingBV", type: "number", width: 100, title: "Self Matching BV" },
                { name: "LCBBonus", type: "number", width: 100, title: "LCB Bonus" },
                { name: "LcbPoolIncomeAmt", type: "number", width: 100, title: "LCB Pool Income" },
                { name: "LevelDetail", type: "text", width: 100, title: "Level Detail" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function DownloadExcel() {
        var url = '/Member/Reports/GetLCBPoolMonthlyIncomeExport?MonthYear=' + encodeURIComponent($('#MonthName').val());
        window.location = url;
    }
    </script>
}