﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Matching Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }

    .matchingdtl {
        font-weight: bold;
    }

    .marginleft10 {
        margin-left: 10px;
    }

    .margin10 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>
<div class="container">
    <div class="row" style="font-size: 16px;">
        <div class="col s12 m4 l3 margin10">
            <span id="spnTotalLeftIncome">Total Left BV : </span><span id="spnTotalLeftIncomeDisplay" class="matchingdtl"></span>
        </div>
        <div class="col s12 m4 l3 margin10">
            <span id="spnTotalRightIncome">Total Right BV : </span><span id="spnTotalRightIncomeDisplay" class="matchingdtl"></span>
        </div>
        <div class="col s12 m4 l3 margin10">
            <span id="spnTotalMatchingIncome">Total Matching BV : </span><span id="spnTotalMatchingIncomeDisplay" class="matchingdtl"></span>
        </div>
        <div class="col s12 m4 l3 margin10">
            <span id="spnTotalCarryForwar">Total Carry Forward BV : </span><span id="spnTotalCarryForwarDisplay" class="matchingdtl"></span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Today Orders</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="MonthName"></select>
                            <label for="MonthName" class="center-align">Month</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="WeekNo"></select>
                            <label for="WeekNo" class="center-align">Week</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWiseMatchingIncome()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                    <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div id="mdlIncomeDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">Income Details</h5>
            <hr />
            <div id="dvIncomeDetails">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script>
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function () {
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWeekDtl();
        });
        $('#MonthName').change(function(){
            GetMonthWeekDtl();
        });
        function GetMonthWeekDtl() {
            $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching BV");
            $.ajax({
                type: "POST",
                url: "/Member/Reports/GetMonthWeekDtl",
                datatype: 'html',
                data: { MonthYear: $('#MonthName').val()},
                success: function (result) {
                    //console.log(result);
                    var str="<option value='0'>Select</option>";
                    for (var i = 0; i < result.length; i++) {
                        str=str+"<option value=\""+result[i].WeekNo+"\">"+result[i].WeekName+"</option>";
                    }
                    $("#WeekNo").html(str);
                    $('#WeekNo').material_select();
                    GetMonthWiseMatchingIncome();
                },
                error: function () {
                }
            });
        }

        function GetMonthWiseMatchingIncome() {
            $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching BV");
            $.ajax({
                type: "POST",
                url: "/Member/Reports/GetMonthWiseMatchingIncome",
                datatype: 'html',
                data: { MonthYear: $('#MonthName').val(),WeekNo: $('#WeekNo').val()},
                success: function (result) {
                    $("#dvDateRangeOrder").html(result);
                },
                error: function () {
                }
            });
        }
    </script>
}
