﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Bonanza Offer Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }

    .matchingdtl {
        font-weight: bold;
    }

    .margin10 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>
<div class="container">
    <div class="row" style="font-size: 16px;">
        <div class="col s12 m4 l3 margin10">
            <span id="spnTotalLeftIncome">Total Payout : </span><span id="spnTotalLeftIncomeDisplay" class="matchingdtl">@ViewBag.TotalPayout</span>
        </div>
        <div class="col s12 m4 15 margin10">
            <span id="spnTotalRightIncome">Payout Pending  : </span><span id="spnTotalRightIncomeDisplay" class="matchingdtl">@ViewBag.PendingPayout (up to @ViewBag.PreviousDate)</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Payout Details</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:15%">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:15%">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWiseBonanzaDtl()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnExportPayoutDtl" onclick="ExportPayoutDtl()" title="Download Excel">
                                <i class="material-icons left">view_comfy</i> Export
                            </a>
                        </div>
                    </div>
                    <div class="col s12  no-more-tables" style="overflow: scroll;" id="dvMonthWisePayoutDtl">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        $(document).ready(function () {
            GetMonthWiseBonanzaDtl();
        })
        function GetMonthWiseBonanzaDtl() {
            $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Payout More Details");

            $.ajax({
                type: "POST",
                url: "/Member/Reports/GetMonthWisePayoutMoreDtl",
                datatype: 'html',
                data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
                success: function (result) {
                    $("#dvMonthWisePayoutDtl").html(result);
                    $("#dataRangeTitle").html($("#dataRangeTitle").html());
                },
                error: function () {
                }
            });
        }
        function ExportPayoutDtl() {
            var url = '/Member/Reports/ExportGetMonthWisePayoutMoreDtl?FromDate=' + encodeURIComponent($("#txtFromDate").val()) + '&ToDate=' + encodeURIComponent($("#txtToDate").val());
            window.location = url;
        }

    </script>
}
