﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Retail Reward Monthly Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Retail Reward Monthly Income Report</h5>
                </li>
            </ul>
            <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="MonthName"></select>
                            <label for="MonthName" class="center-align">Month</label>
                            <input type="hidden" id="RetailRewardIncomeSummaryId" name="RetailRewardIncomeSummaryId" value="">
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeUplineMonthly()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col s12  no-more-tables" id="dvData">
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>

    <script type="text/javascript">

    var Months = @Html.Raw(Json.Encode(Model));
    $(document).ready(function () {
        var str = "";
        for (var i = 0; i < Months.length; i++) {
            str = str + "<option value=\"" + Months[i].MonthYear + "\">" + Months[i].MonthName + "</option>";
        }
        $("#MonthName").html(str);
        $('#MonthName').material_select();
        GetDateRangeUplineMonthly();
    });
    
    function GetDateRangeUplineMonthly() {
        $("#dataRangeTitle").html("Retail Reward Monthly Income");
        $.ajax({
            type: "POST",
            url: "/Member/Reports/GetRetailRewardMonthly",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val() },
            success: function (result) {
                BindData(result);
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        //&& (!filter.MMYY || ((user.MMYY != null && user.MMYY === filter.MMYY)))
                        && (!filter.SelfPurchaseBV || ((user.SelfPurchaseBV != null && user.SelfPurchaseBV === filter.SelfPurchaseBV)))
                        && (!filter.DirectTeamPurchaseBV || ((user.DirectTeamPurchaseBV != null && user.DirectTeamPurchaseBV === filter.DirectTeamPurchaseBV)))
                        && (!filter.TotalBV || ((user.TotalBV != null && user.TotalBV === filter.TotalBV)))
                        && (!filter.RetailRewardIncome || ((user.RetailRewardIncome != null && user.RetailRewardIncome === filter.RetailRewardIncome)));
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            fields: [
                {
                    name: "FullName", type: "text", width: 120, title: "RefferalCode - UserName",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += item.RefferalCode + " - " + item.FullName
                        return td;
                    }
                },
                //{ name: "MMYY", type: "text", width: 35, title: "Month-Year" },
                { name: "SelfPurchaseBV", type: "number", width: 50, title: "Self BV [Monthly]" },
                { name: "DirectTeamPurchaseBV", type: "number", width: 50, title: "Direct BV [Monthly]" },
                { name: "TotalBV", type: "number", width: 50, title: "Self+Direct BV [Monthly]" },
                { name: "BVMultiplier", type: "number", width: 50, title: "BV Multiplier" },
                { name: "RetailRewardIncome", type: "number", width: 50, title: "RetailReward Income [Monthly]" },
                { name: "UTRRefNo", type: "text", width: 50, title: "UTRRefNo" }
            ],
            //data: listUserListEnt
            controller: db
        });
        }

        function DownloadExcel() {
            var url = '/Member/Reports/GetRetailRewardMonthlyExport?MonthYear=' + encodeURIComponent($('#MonthName').val());
            window.location = url;
        }

    </script>
}