﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Rewards Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .rewards {
        color: #fff !important;
        background-color: #ff4081 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Rewards (Matching BV - @ViewBag.TotalBV)</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Total Matching BV</th>
                                    <th>Rewards</th>
                                    <th>Secondary Rewards</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-level="1">
                                    <td>10000 B.V.</td>
                                    <td id="PrimaryReward1">LEADERSHIP PROGRAM (LDP)</td>
                                    <td id="SecondaryReward1">CERTIFICATE</td>
                                    <td>
                                        <a id="btnClaimRewards1" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="2">
                                    <td>25000 B.V.</td>
                                    <td id="PrimaryReward2">DOMESTIC TRIP (10,000 Rs.)</td>
                                    <td id="SecondaryReward2">GOLD PIN</td>
                                    <td>
                                        <a id="btnClaimRewards2" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="3">
                                    <td>75000 B.V.</td>
                                    <td id="PrimaryReward3">FOREIGN TRIP (30,000 Rs.)</td>
                                    <td id="SecondaryReward3">SUPER GOLD PIN</td>
                                    <td>
                                        <a id="btnClaimRewards3" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="4">
                                    <td>250000 B.V.</td>
                                    <td id="PrimaryReward4">FOREIGN TRIP (50,000 Rs.)</td>
                                    <td id="SecondaryReward4">BIKE DP OR LAPTOP (25,000 Rs.)</td>
                                    <td>
                                        <a id="btnClaimRewards4" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="5">
                                    <td>500000 B.V.</td>
                                    <td id="PrimaryReward5">FOREIGN TRIP (50,000 Rs.)</td>
                                    <td id="SecondaryReward5">CAR (DP - 1,00,000 Rs.)</td>
                                    <td>
                                        <a id="btnClaimRewards5" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="6">
                                    <td>1000000 B.V.</td>
                                    <td id="PrimaryReward6">FOREIGN TRIP (1,00,000 Rs.)</td>
                                    <td id="SecondaryReward6">3,00,000 Rs. CASH</td>
                                    <td>
                                        <a id="btnClaimRewards6" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="7">
                                    <td>2500000 B.V.</td>
                                    <td id="PrimaryReward7">FOREIGN TRIPS - 2, 2 PERSON (3,00,000 Rs.)</td>
                                    <td id="SecondaryReward7">6,00,000 Rs. CASH</td>
                                    <td>
                                        <a id="btnClaimRewards7" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="8">
                                    <td>5000000 B.V.</td>
                                    <td id="PrimaryReward8">FOREIGN TRIPS - 2, 2 PERSON (3,00,000 Rs.)</td>
                                    <td id="SecondaryReward8">12,00,000 Rs. CASH</td>
                                    <td>
                                        <a id="btnClaimRewards8" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="9">
                                    <td>10000000 B.V.</td>
                                    <td id="PrimaryReward9">FOREIGN TRIP 4 PERSON 1 TRIP OR 2 PERSON 2 TRIP (4,00,000 Rs.)</td>
                                    <td id="SecondaryReward9">BMW X1 - 35,20,000 Rs. (EX SHOWROOM PRICE)</td>
                                    <td>
                                        <a id="btnClaimRewards9" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr data-level="10">
                                    <td>25000000 B.V.</td>
                                    <td id="PrimaryReward10">FOREIGN TRIP 4 PERSON 1 TRIP OR 2 PERSON 2 TRIP (4,00,000 Rs.)</td>
                                    <td id="SecondaryReward10">HOUSE (80,00,000 Rs.)</td>
                                    <td>
                                        <a id="btnClaimRewards10" class="btnClaim" style="cursor:pointer;margin-left:10px;">
                                            <img src="~/Content/images/favicon/Claim_Reward.png" />
                                            <span style="vertical-align:super">Claim Rewards</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

<div id="viewClaimReward" class="modal">
    <div class="modal-content center">
        <table class="striped">
            <thead>
                <tr class="teal white-text">
                    <th class="task-card-title">Sr No.</th>
                    <th class="task-card-title">Date</th>
                    <th class="task-card-title">Current Reward BV</th>
                    <th class="task-card-title">Claim Reward BV</th>
                    <th class="task-card-title">Pending Reward BV</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>@DateTime.Now.ToString("dd-MM-yyyy")</td>
                    <td>@ViewBag.TotalBV</td>
                    <td id="lblQualifyBV"></td>
                    <td id="lblRemainMatchingBV"></td>
                </tr>
            </tbody>
        </table>
        <br />
        <h6 class="flow-text">Are you sure you claim Reward</h6>
        <br /><br />
        <a class="waves-effect waves-light btn" id="btnYes">
            <i class="material-icons left">done</i> Yes
        </a>
        <a class="waves-effect waves-light btn" id="btnNo">
            <i class="material-icons left">clear</i> No
        </a>
        <label id="lblPrimaryReward"></label>
        <label id="lblSecondaryReward"></label>
    </div>
</div>
<style>
    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 70%;
        width: 70%;
        will-change: top, opacity;
    }

    .ClaimEnabled {
        cursor: pointer;
        font-weight: bold;
        color: black;
        margin-left: 10px;
    }

    .ClaimDisabled {
        cursor: not-allowed !important;
        font-weight: bold;
        color: darkgrey;
        margin-left: 10px;
    }
</style>
@section scripts
{
    <!-- jquery-validation -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>

    <script>
        var Rank = '@ViewBag.Rank';
        $(document).ready(function () {
            $("[data-level=" + Rank + "]").addClass("rewards");

            for (var i = 1; i <= 10; i++) {
                if (i > Rank) {
                    $("#btnClaimRewards" + i).removeAttr("href");
                    $("#btnClaimRewards" + i).addClass("ClaimDisabled");
                    $("#btnClaimRewards" + i).removeClass("ClaimEnabled");
                }
                else {
                    $("#btnClaimRewards" + i).addClass("ClaimEnabled");
                    $("#btnClaimRewards" + i).removeClass("ClaimDisabled");
                }
            }
        })

        $('.btnClaim').click(function () {
            var ClickedId = $(this).attr('id');
            var IdOfTd = ClickedId.replace('btnClaimRewards', '');
            var lblSelQualifyBV = 0;

            if (parseInt(IdOfTd) <= parseInt(Rank)) {
                if (IdOfTd == 1) {
                    lblSelQualifyBV = 10000;
                }
                else if (IdOfTd == 2) {
                    lblSelQualifyBV = 25000;
                }
                else if (IdOfTd == 3) {
                    lblSelQualifyBV = 75000;
                }
                else if (IdOfTd == 4) {
                    lblSelQualifyBV = 250000;
                }
                else if (IdOfTd == 5) {
                    lblSelQualifyBV = 500000;
                }
                else if (IdOfTd == 6) {
                    lblSelQualifyBV = 1000000;
                }
                else if (IdOfTd == 7) {
                    lblSelQualifyBV = 2500000;
                }
                else if (IdOfTd == 8) {
                    lblSelQualifyBV = 5000000;
                }
                else if (IdOfTd == 9) {
                    lblSelQualifyBV = 10000000;
                }
                else if (IdOfTd == 10) {
                    lblSelQualifyBV = 25000000;
                }

                $("#lblPrimaryReward").val($("#PrimaryReward" + IdOfTd).html());
                $("#lblSecondaryReward").val($("#SecondaryReward" + IdOfTd).html());

                $("#lblQualifyBV").html(lblSelQualifyBV);
                $("#lblRemainMatchingBV").html(('@ViewBag.TotalBV' - parseInt(lblSelQualifyBV)));
                $("#viewClaimReward").modal('open');
            }
        });

        $("#btnNo").click(function () {
            $("#viewClaimReward").modal('close');
        });

        $("#btnYes").click(function () {

            $("#viewClaimReward").modal('close');

            $.ajax({
                url: "/Member/Reports/InsertRewardClaim",
                type: 'POST',
                data: {
                    UserId : '@ViewBag.UserId',
                    ClaimedBV: $("#lblQualifyBV").html(),
                    PrimaryReward: $("#lblPrimaryReward").val(),
                    SecondaryReward: $("#lblSecondaryReward").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        swal("Success!", "Reward claim successfully!", "success");
                        window.location.href = "/Member/Reports/Rewards";
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                        window.location.href = "/Member/Reports/Rewards";
                    }
                }
            })
        })

    </script>
}
