﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Right Side Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Right Side Income</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeRightIncome()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                </div>

            </ul>
        </div>
    </div>

</div>
<div id="mdlProductDetails" class="modal">
    <div class="modal-content">
        <h5 class="center">Order Details</h5>
        <hr />
        <div id="dvOrderDetails">
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script>

        $(document).ready(function () {
            GetDateRangeRightIncome();
        })

        function GetDateRangeRightIncome() {
            $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Right Income");
            $.ajax({
                type: "POST",
                url: "/Member/Reports/GetDateRangeRightIncome",
                datatype: 'html',
                data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
                success: function (result) {
                    $("#dvDateRangeOrder").html(result);
                },
                error: function () {
                }
            });
        }
    </script>
}
