﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Sales Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Top Retailer</h5>
                </li>
            </ul>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="input-field col col-xs-12 s12 m4 l4">
                        <select id="MonthName"></select>
                        <label for="MonthName" class="center-align">Month</label>
                    </div>
                    <div class="input-field col col-xs-12 s12 m4 l4">
                        <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeOrderDetails()">
                            <i class="material-icons left">search</i> Search
                        </a>
                        <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                            <i class="material-icons left" title="Download Excel">file_download</i>
                        </a>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                </div>
            </div>
            <div id="mdlProductDetails" class="modal">
                <div class="modal-content">
                    <h5 class="center">Order Details</h5>
                    <hr />
                    <div id="dvOrderDetails">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
@section scripts
{
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/Content/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
<script type="text/javascript">

    var Months = @Html.Raw(Json.Encode(Model));

    $(document).ready(function () {
        var str = "";
        for (var i = 0; i < Months.length; i++) {
            str = str + "<option value=\"" + Months[i].MonthYear + "\">" + Months[i].MonthName + "</option>";
        }
        $("#MonthName").html(str);
        $('#MonthName').material_select();
        GetDateRangeOrderDetails();
    });
    function GetDateRangeOrderDetails() {
        $("#dataRangeTitle").html($('#MonthName option:selected').text() + " Top Retailer");
        $.ajax({
            type: "POST",
            url: "/Member/Reports/GetMonthWiseTopRetailerDetails",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val() },
            success: function (result) {
                $("#dvDateRangeOrder").html(result);
            },
            error: function () {
            }
        });
    }
    function DownloadExcel() {
        var url = '/Member/Reports/GetMonthWiseTopRetailerDetailsExport?MonthYear=' + encodeURIComponent($('#MonthName').val());
        window.location = url;
    }
</script>

}
