﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Upline Monthly Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Upline Monthly Income Report</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
                            <input class="editable datetextbox" id="txtStartDate" required name="txtStartDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.StartDate">
                            <label for="txtStartDate" data-error="wrong" data-success="right" class="active">Start Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m3 l3" style="width:15%">
                            <input class="editable datetextbox" id="txtEndDate" required name="txtEndDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.EndDate">
                            <label for="txtEndDate" data-error="wrong" data-success="right" class="active">End Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeUplineMonthly()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col s12  no-more-tables" id="dvData">
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>

    <script type="text/javascript">

    function WindowLoadComplete() {

        var Months = @Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            GetDateRangeUplineMonthly();
        });
    }

    function GetDateRangeUplineMonthly() {
        $("#dataRangeTitle").html("Upline Monthly Income");
        $.ajax({
            type: "POST",
            url: "/Member/Reports/GetDateRangeUplineMonthly",
            datatype: 'html',
            data: { StartDate: $("#txtStartDate").val(), EndDate: $("#txtEndDate").val() },
            success: function (result) {
                BindData(result);
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.MMYY || ((user.MMYY != null && user.MMYY === filter.MMYY)))
                        && (!filter.MatchingBVInMonth || ((user.MatchingBVInMonth != null && user.MatchingBVInMonth === filter.MatchingBVInMonth)))
                        && (!filter.UplineIncome || ((user.UplineIncome != null && user.UplineIncome === filter.UplineIncome)))
                        //&& (!filter.BVMultiplier || ((user.BVMultiplier != null && user.BVMultiplier === filter.BVMultiplier)))
                    ;
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            fields: [
                {
                    name: "FullName", type: "text", width: 120, title: "MPA list all",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += item.RefferalCode + " - " + item.FullName
                        return td;
                    }
                },
                { name: "MMYY", type: "text", width: 35, title: "Month-Year" },
                { name: "MatchingBVInMonth", type: "number", width: 50, title: "Matching BV [This Monthly]" },
                { name: "BVMultiplier", type: "number", width: 50, title: "BV Multiplier" },
                { name: "UplineIncome", type: "number", width: 50, title: "Upline Income [This Monthly]" },
                { name: "UTRRefNo", type: "text", width: 50, title: "UTRRefNo" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }
    </script>
}