﻿@using TRSImplementation
@using TRS.Models
@model UserWalletEnt
<div class="col s12 m12 l12">
    <ul id="task-card" class="collection with-header">
        <li class="collection-header teal accent-4">
            <h5 class="task-card-title">Cash Details</h5>
        </li>
        <li>
            <div class="col s12 no-more-tables">
                <table class="striped demo1">
                    <thead>
                        <tr>
                            <th>Credit Date</th>
                            <th>Credit Type</th>
                            <th>Credit From</th>
                            @*<th data-field="price">OrderNo.</th>*@
                            <th>Order Amount</th>
                            <th>Credit Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.listCashWallet)
                            {
                                <tr>
                                    <td data-title="Credit Date">@item.CreditDate.ToString("dd/MM/yyyy")</td>

                                    @if (item.CreditType == 1)
                                    {
                                        <td data-title="Credit Type">Direct</td>
                                    }
                                    else
                                    {
                                        <td data-title="Credit Type">Repurchase</td>
                                    }
                                    <td data-title="Credit From">@item.FullName</td>
                                    @*<td>@item.OrderNo</td>*@
                                    <td data-title="Order Amount">@item.TotalOrderAmount</td>
                                    <td data-title="Credit Amount">@item.CreditAmount</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>
