﻿<div class="col s12 no-more-tables">
    <table class="striped demo1">
        <thead>
            <tr>
                <th>Credit Date</th>
                <th>Credit Type</th>
                <th>Credit From</th>
                <th>Order Amount</th>
                <th>Credit Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.listCashWallet)
                {
                    <tr>
                        <td data-title="Credit Date">@item.CreditDate.ToString("dd/MM/yyyy")</td>

                        @if (item.CreditType == 1)
                        {
                            <td data-title="Credit Type">Direct</td>
                        }
                        else
                        {
                            <td data-title="Credit Type">Repurchase</td>
                        }
                        <td data-title="Credit From">@item.FullName</td>
                        <td data-title="Order Amount">@item.TotalOrderAmount</td>
                        <td data-title="Credit Amount">@item.CreditAmount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>