﻿@using TRSImplementation
@using TRS.Models
@model IEnumerable<PROC_GET_USER_PRODUCT_WALLET_DETAILS_Result>
    <div class="col s12 no-more-tables">
        <table class="striped demo1">
            <thead>
                <tr>
                    <th data-field="id">Date</th>
                    <th data-field="price">Credit</th>
                    <th data-field="price">Debit</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td data-title="Date">@item.CreditDebitDate.ToString("dd/MM/yyyy")</td>
                    <td data-title="Credit">@item.CreditAmount</td>
                    @*
                    <td>@item.OrderNo</td>*@
                    <td data-title="Debit">@item.DebitAmount</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
