﻿@using TRSImplementation
@using TRS.Models
@model UserWalletEnt
@{
    ViewBag.Title = "Wallet Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
</style>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s6 m3 l3">
                <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s6 m6">
                            <i class="material-icons background-round mt-5">payment</i>
                            <p style="width: 100px;">Total Earning</p>
                        </div>
                        <div class="col s6 m6 right-align">
                            <h5 class="mb-0">@ViewBag.TotalWallet</h5>
                            <p class="no-margin">Rs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 m3 l3">
                <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s6 m6">
                            <i class="material-icons background-round mt-5">payment</i>
                            <p style="width: 100px;">Direct</p>
                        </div>
                        <div class="col s6 m6 right-align">
                            <h5 class="mb-0">@ViewBag.Direct</h5>
                            <p class="no-margin">Rs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 m3 l3">
                <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s6 m6">
                            <i class="material-icons background-round mt-5">payment</i>
                            <p style="width: 100px;">Repurchase</p>
                        </div>
                        <div class="col s6 m6 right-align">
                            <h5 class="mb-0">@ViewBag.Repurchase</h5>
                            <p class="no-margin">Rs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 m3 l3">
                <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s6 m6">
                            <i class="material-icons background-round mt-5">payment</i>
                            <p style="width: 100px;">Product Wallet</p>
                        </div>
                        <div class="col s6 m6 right-align">
                            <h5 class="mb-0">@ViewBag.ProductWallet</h5>
                            <p class="no-margin">Rs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12" style="margin-top:10px;">
                <div class="input-field col col-xs-12 s6 m4 l4">
                    <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                    <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                </div>
                <div class="input-field col col-xs-12 s6 m4 l4">
                    <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                    <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                </div>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeDirechCreditDetails()">
                        <i class="material-icons left">search</i> View
                    </a>
                </div>
            </div>
        </div>
        <div class="row  no-more-tables" id="dvDateRangeOrder">

        </div>
    </div>
</div>

@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>

    <script>
        $(document).ready(function () {
            GetDateRangeDirechCreditDetails();
        });
        function GetDateRangeDirechCreditDetails() {
            //$("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Orders");
            $.ajax({
                type: "POST",
                url: "/Member/UserWallet/GetDateRangeDirechCreditDetails",
                datatype: 'html',
                data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
                success: function (result) {
                    $("#dvDateRangeOrder").html(result);
                },
                error: function () {
                }
            });
        }
    </script>
}
