﻿@using TRSImplementation
@model IEnumerable<PROC_GET_USER_ORDER_HDR_Result>
@{
    ViewBag.Title = "Orders Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CourierNo = "";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
</style>
<div class="container">
    <div id="floatThead" class="section">
        <div class="row">
            <div class="col s12">
                <table class="striped demo1">
                    <thead>
                        <tr>
                            <th>OrderNo</th>
                            <th>Order Date</th>
                            <th>Order Amount</th>
                            <th>BV</th>
                            <th>Track Order</th>
                            <th>BVs Status</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><a style="cursor:pointer" onclick="LoadProductDetails(@item.UserPurchaseHdrId)">@item.OrderNo</a></td>
                                    <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.TotalOrderAmount</td>
                                    <td>@item.BusinessVolume</td>
                                    @if (!string.IsNullOrEmpty(item.CourierTrackingNo))
                                    {
                                        //CourierNo = "http://www.marutiair.com/Doc_Tracking.aspx?No=" + item.CourierTrackingNo;
                                        <td><a href="@item.CourierTrackingNo" target="_blank">@item.CourierTrackingNo</a> </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@item.CreditPointStatus</td>
                                    <td>@item.StatusName</td>
                                    <td><a href="/Utility/General/OrderReceipt/@item.UserPurchaseHdrId" target="_blank"><i class="material-icons">receipt</i>Receipt</a> </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="mdlProductDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">Order Details</h5>
            <hr />
            <div id="dvOrderDetails">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>    
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
}