﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculateAllIncomes</title>
</head>
<body>
    <div id="dvInfo">
    </div>

    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/Authentication/Authenticate/GetAllUsers",
                type: 'POST',
                data: {},
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#dvInfo").append("<br\>");
                            $("#dvInfo").append("<br\>");
                            $("#dvInfo").append("<span>User No : " + (i + 1) + "</span><br\>")
                            $("#dvInfo").append("<span>Start Matching Income Calculation For User Id : " + data[i] + "</span>")
                            $("#dvInfo").append("<br\>");

                            $.ajax({
                                url: "/Authentication/Authenticate/CalculateMatchingIncome",
                                type: 'POST',
                                data: { UserId: data[i] },
                                async:false,
                                cache: false,
                                success: function (response) {
                                    $("#dvInfo").append(response.Msg);
                                    $("#dvInfo").append("<br\>");
                                    $("#dvInfo").append("<span>End Matching Income Calculation For User Id : " + data[i] + "</span>")
                                    $("#dvInfo").append("<br\>");
                                }
                            });
                        }

                        $("#dvInfo").append("<br\>");
                        $("#dvInfo").append("<br\>");
                        $("#dvInfo").append("Gold Income Calculation Start");
                        $.ajax({
                            url: "/Authentication/Authenticate/CalculateGoldIncome",
                            type: 'POST',
                            data: { UserId: 0 },
                            async: false,
                            cache: false,
                            success: function (response) {
                                $("#dvInfo").append(response.Msg);
                                $("#dvInfo").append("<br\>");
                                $("#dvInfo").append("<span>Gold Income Calculation End</span>")
                                $("#dvInfo").append("<br\>");
                            }
                        });

                        $("#dvInfo").append("<br\>");
                        $("#dvInfo").append("<br\>");
                        $("#dvInfo").append("Silver Income Calculation Start");
                        $.ajax({
                            url: "/Authentication/Authenticate/CalculateSilverIncome",
                            type: 'POST',
                            data: { UserId: 0 },
                            async: false,
                            cache: false,
                            success: function (response) {
                                $("#dvInfo").append(response.Msg);
                                $("#dvInfo").append("<br\>");
                                $("#dvInfo").append("<span>Silver Income Calculation End</span>")
                                $("#dvInfo").append("<br\>");
                            }
                        });

                        $("#dvInfo").append("<br\>");
                        $("#dvInfo").append("<br\>");
                        $("#dvInfo").append("Prime Associate Income Calculation Start");
                        $.ajax({
                            url: "/Authentication/Authenticate/CalculatePrimeAssociateIncome",
                            type: 'POST',
                            data: { UserId: 0 },
                            async: false,
                            cache: false,
                            success: function (response) {
                                $("#dvInfo").append(response.Msg);
                                $("#dvInfo").append("<br\>");
                                $("#dvInfo").append("<span>Prime Associate Income Calculation End</span>")
                                $("#dvInfo").append("<br\>");
                            }
                        });
                    }
                }
            });

            //CalculateIncome(0);
        });

        //var Cnt = 1;
        //function CalculateIncome(UserId) {
        //    $.ajax({
        //        url: "/Authentication/Authenticate/GetNextUserForCalculation",
        //        type: 'POST',
        //        data: { UserId: UserId },
        //        async: false,
        //        cache: false,
        //        success: function (data) {
        //            $("#dvInfo").append("<br\>");
        //            $("#dvInfo").append("<br\>");
        //            $("#dvInfo").append("<span>User No : " + (Cnt) + "</span><br\>")
        //            $("#dvInfo").append("<span>Start Matching Income Calculation For User Id : " + data + "</span>")
        //            $("#dvInfo").append("<br\>");

        //            $.ajax({
        //                url: "/Authentication/Authenticate/CalculateMatchingIncome",
        //                type: 'POST',
        //                data: { UserId: data },
        //                async: false,
        //                cache: false,
        //                success: function (response) {
        //                    $("#dvInfo").append(response.Msg);
        //                    $("#dvInfo").append("<br\>");
        //                    $("#dvInfo").append("<span>End Matching Income Calculation For User Id : " + data + "</span>")
        //                    $("#dvInfo").append("<br\>");

        //                    if (data > 0) {
        //                        CalculateIncome(data);
        //                    }
        //                }
        //            });

        //            Cnt = Cnt + 1;
        //        }
        //    });
        //}
    </script>
</body>
</html>
