﻿@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>Forgot Password Of Maxener Wellness | Whey Protein Supplement Powder </title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <link href="/Content/css/layouts/page-center.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
</head>
<body class="cyan">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Forgot Password</h4>
                        @*<p class="center">You can reset your password</p>*@
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        <input id="username" type="text">
                        <label for="username" class="center-align">Username Or EmailId</label>
                    </div>
                </div>                
                <div class="row">
                    <div class="input-field col s12">
                        <a id="btnSendForgotPassword" class="btn waves-effect waves-light col s12">Send Password</a>
                    </div>
                    <div class="input-field col s12">
                        <p class="margin sign-up"><a href="/Authentication/Authenticate/Index">Login</a> <a href="/Authentication/Authenticate/Signup" class="right">Register</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        $(document).ready(function () {
            $("#btnSendForgotPassword").click(function () {
                $.ajax({
                    url: "/Authentication/Authenticate/SendForgotPassword",
                    type: 'POST',
                    data: {
                        UserName: $("#username").val()
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                        }
                        else {
                            swal("Information!", data.Msg, "error");
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>