﻿@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>Login Of Maxener Wellness | Whey Protein Supplement Powder </title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/faviconlogo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <link href="/Content/css/layouts/page-center.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <style>
        .logo {
            width: 100% !important;
            height: 100% !important;
            border-radius: 0% !important;
        }

        .displaynone {
            display: none !important;
        }

        .autocomplete-content {
            position: relative !important;
        }
    </style>
</head>
<body class="cyan">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="/Content/images/logo/maxiner_logo.png" alt="" class="circle responsive-img valign profile-image-login logo">
                        <p class="center login-form-text"></p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        <input id="username" type="text">
                        <label for="username" class="center-align">Username</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">lock_outline</i>
                        <input id="password" type="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 ml-2 mt-3">
                        <input type="checkbox" id="remember-me" />
                        <label for="remember-me">Remember me</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light col s12" id="btnLogin">Login</a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small"><a id="btnRegisterNow" style="cursor:pointer;">Register Now!</a></p>
                        @*href="/Authentication/Authenticate/Signup"*@
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small"><a href="/Authentication/Authenticate/ForgotPassword">Forgot password ?</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script type="text/javascript">
        var ReferralCodes =@Html.Raw(Json.Encode(ViewBag.ReferralCodes));
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                $.ajax({
                    url: "/Authentication/Authenticate/Login",
                    type: 'POST',
                    data: {
                        UserName: $("#username").val(),
                        Password: $("#password").val(),
                        RememberMe:$("#remember-me").prop("checked")
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {

                            var OTPMsg = "OTP sent successfully on a registered mobile number for the next authentication process. [Note]: previous generated OTP valid up to next 60 mins.";

                            if (data.Msg == '@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Member)') {

                                if(data.IsProfileCompleted){
                                    window.location.href = "/Member/Purchase";
                                }
                                else{
                                    window.location.href = "/Member/UserProfile";
                                }
                            }
                            else if(data.Msg=='@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Franchisee)'){
                                window.location.href = "/Franchisee/Dashboard/Index";
                            }
                            else if (data.Msg == '@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Admin)') {

                                swal({
                                    title: "Success!",
                                    text: OTPMsg,
                                    icon: "success",
                                    button: "Ok",
                                }, function () {
                                    window.location = "/Authentication/Authenticate/OTPAuthenticate";
                                });
                                //window.location.href = "/Admin/User/Index";
                                //window.location.href = "/Admin/Dashboard/Index";
                            }
                            else if (data.Msg == '@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Office)') {

                                swal({
                                    title: "Success!",
                                    text: OTPMsg,
                                    icon: "success",
                                    button: "Ok",
                                }, function () {
                                    window.location = "/Authentication/Authenticate/OTPAuthenticate";
                                });
                                //window.location.href = "/Admin/Orders/Index";
                            }
                        }
                        else {

                            sweetAlert({
                                title: 'Warning!',
                                text: data.Msg,
                                type: 'warning'
                            }, function (isConfirm) {
                            });
                            //alert();
                        }
                    }
                });
            });
            $("#btnRegisterNow").click(function () {
                swal({
                    title: "Referral Code!",
                    text: "Please enter the referal code of person who referred you to maxener wellness:",
                    type: "input", showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Write something"
                },
                function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("You need to enter refferal code!");
                        return false
                    }
                    var refcodes=inputValue.split("_");
                    var code =refcodes[refcodes.length-1];
                    $.ajax({
                        url: "/Authentication/Authenticate/CheckRefferalCodeExist",
                        type: 'POST',
                        data: {
                            refcode: code
                        },
                        cache: false,
                        success: function (data) {
                            if (data.Key) {
                                window.location.href = "/Authentication/Authenticate/Signup?rc=" + code;
                            }
                            else {
                                swal("Information!", "Invalid Refferal Code!", "error");
                            }
                        }
                    });
                    //swal("Nice!", "You wrote: " + inputValue, "success");
                });

                window.setTimeout(function () {
                    //console.log($('.sweet-alert'))
                    $('.sweet-alert').find('fieldset').append("<div id='dvName' style='text-align:left;font-weight:bold;font-size:18px;'></div>")
                    //$('.sweet-alert').find('.sa-confirm-button-container').find('button.confirm').addClass("displaynone");
                    $('.sweet-alert').find('fieldset').find('input').change(function () {
                        if($(this).val()==""){
                            $("#dvName").html("");
                        }
                        else{
                            var refcodes=$(this).val().split("_");
                            var code =refcodes[refcodes.length-1];
                            $.ajax({
                                url: "/Authentication/Authenticate/CheckRefferalCodeExist",
                                type: 'POST',
                                data: {
                                    refcode: code
                                },
                                cache: false,
                                success: function (data) {
                                    if (data.Key) {
                                        $("#dvName").html(code + " - " + data.Msg);
                                        //$('.sweet-alert').find('.sa-confirm-button-container').find('button.confirm').removeClass("displaynone");
                                    }
                                    else {
                                        //swal("Information!", "Invalid Refferal Code!", "error");
                                        //$('.sweet-alert').find('.sa-confirm-button-container').find('button.confirm').addClass("displaynone");
                                        $("#dvName").html("");
                                        alert("Invalid Refferal Code!");
                                        //$("#btnRegisterNow").click();
                                    }
                                }
                            });
                        }
                    });

                    var autoCompleteData;
                    var str = "";
                    //for (var i = 0; i < ReferralCodes.length; i++) {
                    //    str += ReferralCodes[i].val + ":" + ReferralCodes[i].key + ",";
                    //}
                    autoCompleteData = eval('({' + str + '})');
                    $('.sweet-alert').find('fieldset').find('input').autocomplete({
                        data: autoCompleteData,
                        limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                        onAutocomplete: function (val) {

                        },
                        minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                    });

                },1000)
            });
        });

        $('.login-form').keypress(function (e) {
            if (e.keyCode == '13') {
                $("#btnLogin").click();
            }
        });
    </script>
</body>
</html>