﻿@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>OTP Security - Authentication</title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/faviconlogo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <link href="/Content/css/layouts/page-center.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <style>
        .logo {
            width: 100% !important;
            height: 100% !important;
            border-radius: 0% !important;
        }

        .displaynone {
            display: none !important;
        }

        .autocomplete-content {
            position: relative !important;
        }
    </style>
</head>
<body class="cyan">
    <!-- Start Page Loading
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->
    <!-- End Page Loading -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="/Content/images/logo/maxiner_logo.png" alt="" class="circle responsive-img valign profile-image-login logo">
                        <p class="center login-form-text"></p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        <input id="txtOTP" type="password" maxlength="6" autocomplete="off" onkeypress="return isNumber(event)">
                        <label for="txtOTP" class="center-align">ENTER OTP Code</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a class="btn waves-effect waves-light col s6" id="btnSubmitOTP">Submit OTP</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a class="btn waves-effect waves-light col s7" id="btnGetOTP">Re-Generate OTP</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="margin left-align medium-small">Note: Last generated OTP is valid upto next 60 mins</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- ================================================
        Scripts
        ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script type="text/javascript">
        var ReferralCodes =@Html.Raw(Json.Encode(ViewBag.ReferralCodes));

        $(document).bind('keydown', function (e) {
            if (e.which === 13) { // return
                $('#btnSubmitOTP').trigger('click');
            }
        });
    
        $(document).ready(function () {

            $("#btnGetOTP").click(function () {

                $.ajax({
                    url: "/Authentication/Authenticate/ReGenerateOTP",
                    type: 'POST',
                    cache: false,
                    success: function (data) {
                        if (data.Key) {

                            sweetAlert({
                                title: 'Success!',
                                text: data.Msg,
                                type: 'success'
                            }, function (isConfirm) {
                            });
                            //alert(data.Msg);

                        }
                        else {

                            sweetAlert({
                                title: 'Warning!',
                                text: data.Msg,
                                type: 'warning'
                            }, function (isConfirm) {
                            });
                            //alert(data.Msg);
                        }
                    }
                });

            });

            $("#btnSubmitOTP").click(function () {
                $.ajax({
                    url: "/Authentication/Authenticate/CheckOTPAuthenticate",
                    type: 'POST',
                    data: {
                        UserOTP: $("#txtOTP").val()
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {

                            if(data.Msg == '@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Member)'){
                                
                                if(data.IsProfileCompleted){
                                    window.location.href = "/Member/Dashboard/Index";
                                }
                                else{
                                    window.location.href = "/Member/UserProfile";
                                }
                            }
                            else if(data.Msg=='@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Franchisee)'){
                                window.location.href = "/Franchisee/Dashboard/Index";
                            }
                            else if(data.Msg=='@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Admin)'){
                                window.location.href = "/Admin/Dashboard/Index";
                            }
                            else if(data.Msg=='@Convert.ToInt32(TRSImplementation.clsImplementationEnum.UserType.Office)'){
                                window.location.href = "/Admin/Support/Index";
                            }
                        }
                        else {

                            sweetAlert({
                                title: 'Warning!',
                                text: data.Msg,
                                type: 'warning'
                            }, function (isConfirm) {
                            });
                            //alert(data.Msg);
                        }
                    }
                });
            });

        });

        $('.login-form').keypress(function (e) {
            if (e.keyCode == '13') {
                $("#btnLogin").click();
            }
        });

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
</body>
</html>