﻿@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>Plans Of Maxener Wellness | Whey Protein Supplement Powder </title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <link href="/Content/css/layouts/page-center.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <style>
        .selected {
            border: 4px solid #4673cf;
        }

        html {
            width: 100%;
        }

        .descriptionlabel {
            text-decoration: none;
            position: relative;
            padding-left: 10px;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            font-size: 1rem;
        }

        #task-card .collection-header {
            padding: 10px;
        }
    </style>
</head>
<body class="cyan">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <div id="ecommerce-product">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12 center">
                            <img src="/Content/images/logo/maxiner_logo.png" alt="" class="responsive-img valign logo" style="height:100px;" id="imglogo">
                            <p class="center login-form-text"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">                       
                        <div id="features" class="scrollspy">
                            <div class="row mb-0">
                                <div class="col s12 m3 s3 padding-1">
                                </div>
                                <div class="col s12 m6 s3 padding-1">
                                    <div class="card border-radius-10">
                                        <div class="card-panel">
                                            <div class="video-container">
                                                <iframe width="640" height="360" src="https://www.youtube.com/embed/f0tM7l4oYM0" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m3 s3 padding-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div id="features" class="scrollspy">
                            <div class="row mb-0">
                                <div class="col s12 center pb-7 grey lighten-3">
                                    <h4 class="mt-5 font-weight-900">Discription</h4>
                                    <div class="col s12 m3 s3 padding-1">
                                        <div class="card gradient-shadow gradient-45deg-amber-amber border-radius-10 min-height-300">
                                            <div>
                                                <div class="card-content center vertical-align-center">
                                                    <h3 class="white-text lighten-4">Direct Income</h3>
                                                    <p class="white-text lighten-4">INCOME YOU RECIEVE WHEN YOU ADD AN ASSOCIATE IN YOUR TEAM</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m3 s3 padding-1">
                                        <div class="card gradient-shadow gradient-45deg-amber-amber border-radius-10 min-height-300">
                                            <div>
                                                <div class="card-content center vertical-align-center">
                                                    <h3 class="white-text lighten-4">Repurchase Income</h3>
                                                    <p class="white-text lighten-4">INCOME YOU RECIEVE WHEN YOUR TEAM ASSOCIATE PURCHASE FROM COMPANY</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m3 s3 padding-1">
                                        <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-10 min-height-300">
                                            <div class="card-content center vertical-align-center">
                                                <h3 class="white-text lighten-4">Product Wallet</h3>
                                                <p class="white-text lighten-4">INCOME THAT GOES IN YOUR WALLET FROM WHICH YOU CAN PURCHASE PRODUCT</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m3 s3 padding-1">
                                        <div class="card gradient-shadow gradient-45deg-light-blue-cyan border-radius-10 min-height-300">
                                            <div class="card-content center vertical-align-center">
                                                <h3 class="white-text lighten-4">Income Slab</h3>
                                                <p class="white-text lighten-4">MAXIMUM INCOME YOU CAN RECIEVE FROM COMPANY IN A MONTH</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="col s12 m12">
                        <section class="plans-container" id="plans">
                            <article class="col s12 m6 l4">
                                <div class="card hoverable" data-id="1">
                                    <div class="card-image gradient-45deg-light-blue-cyan waves-effect">
                                        <div class="card-title">₹3000 - ₹4999</div>
                                        <div class="price">
                                            SILVER
                                            @*<sub>/mo</sub>*@
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <ul class="collection">
                                            <li class="collection-item">DIRECT INCOME - 8%</li>
                                            <li class="collection-item">REPURCHASE INCOME - 4%</li>
                                            <li class="collection-item">PRODUCT WALLET - 10%</li>
                                            <li class="collection-item">INCOME SLAB - 25000/-</li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </article>
                            <article class="col s12 m6 l4">
                                <div class="card z-depth-1 hoverable" data-id="2">
                                    <div class="card-image gradient-45deg-amber-amber accent-2 waves-effect">
                                        <div class="card-title">₹5000 - ₹9999</div>
                                        <div class="price">
                                            GOLD
                                            @*<sub>/mo</sub>*@
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <ul class="collection">
                                            <li class="collection-item">DIRECT INCOME - 9%</li>
                                            <li class="collection-item">REPURCHASE INCOME - 4.5%</li>
                                            <li class="collection-item">PRODUCT WALLET - 5%</li>
                                            <li class="collection-item">INCOME SLAB - 50000/-</li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </article>
                            <article class="col s12 m6 l4">
                                <div class="card hoverable" data-id="3">
                                    <div class="card-image gradient-45deg-red-pink waves-effect">
                                        <div class="card-title">₹10000 - Unlimited</div>
                                        <div class="price">
                                            PLATINIUM
                                            @*<sub>/mo</sub>*@
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <ul class="collection">
                                            <li class="collection-item">DIRECT INCOME - 10%</li>
                                            <li class="collection-item">REPURCHASE INCOME - 5%</li>
                                            <li class="collection-item">PRODUCT WALLET - 2.5%</li>
                                            <li class="collection-item">INCOME SLAB - UNLIMITED</li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card-action border-non center">
                            <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow" id="btnBack" href="/Authentication/Authenticate/Products?rc=@ViewBag.rc">Back</a>
                            @*<a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow" id="btnNext">Next</a>*@
                        </div>
                    </div>
                </div>
                <!-- ecommerce product end-->
                <!-- //////////////////////////////////////////////////////////////////////////// -->
            </div>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        $(document).ready(function () {                       
            $('#imglogo').click(function () {
                window.location.href = "/Authentication/Authenticate/Index";
            });
        })
    </script>
</body>
</html>