﻿@using TRSImplementation
@using TRS.Models
@model IEnumerable<PROC_GET_PRODUCT_LIST_Result>
@{
    var listCategory = Model.OrderBy(i => i.ProductCategoryId).Select(i => new { i.CategoryName, i.ProductCategoryId }).Distinct().Select(i => new SelectListItem { Text = i.CategoryName, Value = i.ProductCategoryId.ToString() }).ToList();
    //listCategory.Insert(0, new SelectListItem { Text = "ALL", Value = "" });
    string BOLT_URL = HttpContext.Current.Application[clsImplementationMessage.BOLT_URL].ToString();
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var listProductVariant = (List<ProductVariantListEnt>)ViewBag.ProductVariants;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- this meta viewport is required for BOLT //-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>Products Of Maxener Wellness | Whey Protein Supplement Powder </title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">

    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <!-- this meta viewport is required for BOLT //-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- BOLT Sandbox/test //-->
    <script id="bolt" src="@BOLT_URL" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script>
    <!-- BOLT Production/Live //-->
    @*<script id="bolt" src="https://checkout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script>*@
    <!--// script id="bolt" src="https://checkout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script //-->
    <style>
        .line-breaks {
            white-space: pre-line;
        }

        .variant .select-dropdown {
            position: relative !important;
        }

        .variant input.select-dropdown {
            margin: 0 0 0px 0 !important;
        }

        .carousel {
            height: 280px;
        }

            .carousel.carousel-slider .carousel-item {
                min-height: 280px;
            }

            .carousel .indicators .indicator-item {
                margin: 4px 4px;
            }

        img.lazy {
            /* optional way, set loading as background */
            background-image: url('../../../../Content/images/misch/loading.gif');
            background-repeat: no-repeat;
            background-position: 50% 30%;
        }
    </style>
</head>
<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field col s12 center">
                                    <img src="/Content/images/logo/maxiner_logo.png" alt="" class="responsive-img valign logo" style="height:100px;" id="imglogo">
                                    <p class="center login-form-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- statr items list -->
                        <div class="row">
                            <ul id="task-card" class="collection with-header">
                                <li id="liplanname" class="collection-header gradient-45deg-light-blue-cyan">
                                    <h5 class="task-card-title center"><span id="spnPlanName"></span></h5>
                                </li>
                                <li class="collection-item bold">
                                    <div class="row">
                                        <div class="col col-xs-12 s12 m6 l6 " style="font-weight:bold;font-size:20px;">Total Amount : <span id="spnTotalAmount" style="cursor:pointer;text-decoration:underline;color:blue;">0</span></div>
                                        <div class="col col-xs-12 s12 m6 l6 ">
                                            <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow right" id="btnNext">Next</a>
                                            <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow right" style="margin-right:10px;" target="_blank" id="btnMoreDetails" href="/Authentication/Authenticate/Plans?rc=@ViewBag.rc">More Info</a>
                                            @*<a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow right" style="margin-right:10px;" id="btnViewProducts">View Products</a>*@
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="input-field col col-xs-12 s12 m12 l12 ">
                            @*<select id="ddlCategory">
                                    <option value="" disabled selected>Choose your Category</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>*@
                            @Html.DropDownList("ddlCategory", listCategory, "All Category", new { @class = "form-control" })
                            <label style="left:0;">Choose your Category</label>
                        </div>
                        <div id="item-posts" class="row">
                            <div class="item-sizer"></div>
                            @foreach (var item in Model)
                            {
                                <div class="item product" data-cid="@item.ProductCategoryId">
                                    <div class="card" data-proid="@item.ProductId">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">₹<span class="itemprice">@item.SalePrice</span></a>
                                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4" style="right:0px;">Qty:<span class="itemqty">0</span></a>
                                            @*<a href="#">
                                                    <img src="@item.ImagePath" alt="item-img">
                                                </a>*@
                                            <div class="carousel carousel-slider center" data-indicators="true">
                                                <div class="carousel-item light-blue white-text" href="">
                                                    <img data-src="@item.ImagePath" alt="item-img" class="lazy">
                                                </div>
                                                @if (!string.IsNullOrEmpty(item.BackCoverImagePath) && !string.IsNullOrWhiteSpace(item.BackCoverImagePath))
                                                {
                                                    <div class="carousel-item amber white-text" href="">
                                                        <img data-src="@item.BackCoverImagePath" alt="item-img" class="lazy">
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(item.ProductVideoURL) && !string.IsNullOrWhiteSpace(item.ProductVideoURL))
                                                {
                                                    <div class="carousel-item amber white-text" href="">
                                                        <iframe src="@item.ProductVideoURL" allowfullscreen="" width="100%" height="360" frameborder="0"></iframe>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <ul class="card-action-buttons">
                                            <li>
                                                <a class="btn-floating waves-effect waves-light cyan plusitem">
                                                    <i class="material-icons">exposure_plus_1</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn-floating waves-effect waves-light red accent-2 minusitem">
                                                    <i class="material-icons">exposure_neg_1</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                                    <i class="material-icons activator">info_outline</i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col s12">
                                                    <p class="card-title grey-text text-darken-4">
                                                        <a href="#" class="grey-text text-darken-4">@item.ProductName</a>
                                                    </p>
                                                </div>
                                                @if (listProductVariant.Any(i => i.ProductId == item.ProductId.ToString()))
                                                {
                                                    <div class="input-field col col-xs-12 s12 m12 l12 ">
                                                        <select id="ddlVariant@(item.ProductId)" class="form-control variant"></select>
                                                        <label>Choose your Flavour</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">
                                                <i class="material-icons right">close</i> @item.ProductName
                                            </span>
                                            <p class="line-breaks">@item.LongDescription</p>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <!--/ end items list -->
                    </div>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>
                    Copyright ©
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script> <a class="grey-text text-lighten-4">Maxener</a> All rights reserved.
                </span>
                <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-4">Maxener</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <div id="mdlProductDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">Products Details</h5>
            <hr />
            <div id="dvOrderDetails">
            </div>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- masonry -->
    <script src="/Content/vendors/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="/Content/vendors/imagesloaded.pkgd.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--page-item.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/page-item.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <script src="~/Content/js/jquery.lazy.min.js"></script>
    <script src="~/Content/js/jquery.lazy.plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script>
        var PlanId = 1;
        var IntitialPlan = 1;
        var rc = '@ViewBag.rc';
        var cartItems = "";
        var listProductVariant =@Html.Raw(Json.Encode(listProductVariant));
        $(document).ready(function () {
            $('.lazy').Lazy({
                scrollDirection: 'vertical',
                effect: 'fadeIn',
                visibleOnly: true,
                onError: function (element) {
                    console.log('error loading ' + element.attr("src"));
                },
                afterLoad: function (element) {
                    //console.log(element.attr("src"))
                },
                visibleOnly:true
            });
            $('.carousel').carousel({duration:200});
            IntitialPlan = '@ViewBag.PId';
            $("#liplanname").removeClass('gradient-45deg-light-blue-cyan gradient-45deg-amber-amber gradient-45deg-red-pink');
            if ('@ViewBag.PId' == 1) {
                $("#spnPlanName").html("SILVER");
                $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
            }
            else if ('@ViewBag.PId' == 2) {
                $("#spnPlanName").html("GOLD");
                $('#liplanname').addClass('gradient-45deg-amber-amber')
            }
            else if ('@ViewBag.PId' == 3) {
                $("#spnPlanName").html("PLATINIUM");
                $('#liplanname').addClass('gradient-45deg-red-pink')
            }

            $('.plusitem').click(function () {
                var curentqty = $(this).closest('.card').find(".itemqty").html();
                curentqty = parseInt(curentqty) + 1;
                $(this).closest('.card').find(".itemqty").html(curentqty);
                TotalAmounts();
            });

            $('.minusitem').click(function () {
                var curentqty = $(this).closest('.card').find(".itemqty").html();
                if (curentqty != "0") {
                    curentqty = parseInt(curentqty) - 1;
                    $(this).closest('.card').find(".itemqty").html(curentqty);
                }
                TotalAmounts();
            });

            function TotalAmounts() {
                var Total = 0
                $('.card').each(function () {
                    var qty = $(this).find(".itemqty").html();
                    var price = $(this).find(".itemprice").html();
                    if (parseInt(qty) > 0) {
                        Total += parseInt(qty) * parseInt(price);
                    }
                });
                $("#liplanname").removeClass('gradient-45deg-light-blue-cyan gradient-45deg-amber-amber gradient-45deg-red-pink');
                if (Total >= 0 && Total <= 2999) {
                    PlanId = 1;
                    $("#spnPlanName").html("SILVER");
                    if (PlanId <= IntitialPlan) {
                        if (IntitialPlan == 1) {
                            $("#spnPlanName").html("SILVER");
                            $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
                        }
                        else if (IntitialPlan == 2) {
                            $("#spnPlanName").html("GOLD");
                            $('#liplanname').addClass('gradient-45deg-amber-amber')
                        }
                        else if (IntitialPlan == 3) {
                            $("#spnPlanName").html("PLATINIUM");
                            $('#liplanname').addClass('gradient-45deg-red-pink')
                        }
                    }
                    else {
                        $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
                    }
                }
                else if (Total >= 3000 && Total <= 4999) {
                    PlanId = 1;
                    $("#spnPlanName").html("SILVER");
                    if (PlanId <= IntitialPlan) {
                        if (IntitialPlan == 1) {
                            $("#spnPlanName").html("SILVER");
                            $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
                        }
                        else if (IntitialPlan == 2) {
                            $("#spnPlanName").html("GOLD");
                            $('#liplanname').addClass('gradient-45deg-amber-amber')
                        }
                        else if (IntitialPlan == 3) {
                            $("#spnPlanName").html("PLATINIUM");
                            $('#liplanname').addClass('gradient-45deg-red-pink')
                        }
                    }
                    else {
                        $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
                    }
                }
                else if (Total >= 5000 && Total <= 9999) {
                    PlanId = 2;
                    $("#spnPlanName").html("GOLD");
                    if (PlanId <= IntitialPlan) {
                        if (IntitialPlan == 1) {
                            $("#spnPlanName").html("SILVER");
                            $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
                        }
                        else if (IntitialPlan == 2) {
                            $("#spnPlanName").html("GOLD");
                            $('#liplanname').addClass('gradient-45deg-amber-amber')
                        }
                        else if (IntitialPlan == 3) {
                            $("#spnPlanName").html("PLATINIUM");
                            $('#liplanname').addClass('gradient-45deg-red-pink')
                        }
                    }
                    else {
                        $('#liplanname').addClass('gradient-45deg-amber-amber')
                    }
                }
                else if (Total >= 10000) {
                    PlanId = 3;
                    $("#spnPlanName").html("PLATINIUM");
                    if (PlanId <= IntitialPlan) {
                        if (IntitialPlan == 1) {
                            $("#spnPlanName").html("SILVER");
                            $('#liplanname').addClass('gradient-45deg-light-blue-cyan')
                        }
                        else if (IntitialPlan == 2) {
                            $("#spnPlanName").html("GOLD");
                            $('#liplanname').addClass('gradient-45deg-amber-amber')
                        }
                        else if (IntitialPlan == 3) {
                            $("#spnPlanName").html("PLATINIUM");
                            $('#liplanname').addClass('gradient-45deg-red-pink')
                        }

                    }
                    else {
                        $('#liplanname').addClass('gradient-45deg-red-pink')
                    }
                }
                $("#spnTotalAmount").html(Total);

                $.ajax({
                    url: "/Member/Purchase/AddProductToCart",
                    type: 'POST',
                    data: {
                        productinfo: GetProducts()
                    },
                    success: function (data) {
                        if (data.Key) {
                            if (data.Msg != "") {
                                cartItems = data.Msg;
                            }
                            else {
                                cartItems = "";
                            }
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            }

            $('#btnPayment').click(function (e) {
                launchBOLT(e);
            });
            $('#btnNext').click(function (e) {
                $.ajax({
                    url: "/Authentication/Authenticate/AddProductToCart",
                    type: 'POST',
                    data: {
                        productinfo: GetProducts(),
                        pid: PlanId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            window.location.href = "/Authentication/Authenticate/Signup?p=" + data.Msg + "&rc=" + rc;
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            });

        });


        function GetProducts() {
            var selectedProducts = []
            $('.card').each(function () {
                var vid=0;
                var pid = $(this).attr("data-proid");
                var qty = $(this).find(".itemqty").html();
                var price = $(this).find(".itemprice").html();
                var variant = $(this).find("#ddlVariant"+pid);
                if(variant!=undefined && variant!=null){
                    vid=variant.val();
                }
                if (parseInt(qty) > 0) {
                    selectedProducts.push({ ProductId: pid, Qty: parseInt(qty), Price: parseFloat(price),ProductVariantId: vid});
                }
            });
            console.log(selectedProducts);
            return selectedProducts;
        }
        $('.card').each(function () {
            var pid=$(this).attr("data-proid");
            var variant = $(this).find("#ddlVariant"+pid);
            var options="";
            for (var i = 0; i < listProductVariant.length; i++) {
                if(listProductVariant[i].ProductId==pid){
                    options+="<option value=\""+listProductVariant[i].ProductVariantId+"\">"+listProductVariant[i].VariantName+"</option>"
                }
            }
            if(options.length>0){
                variant.html(options);
                variant.material_select();
            }
        });
        $('#imglogo').click(function () {
            window.location.href = "/Authentication/Authenticate/Index";
        });
        $("#ddlCategory").change(function () {
            $('.product').removeClass("hide");
            var Category = $(this).val();
            if (Category != "") {
                $('.product').not("[data-cid=" + Category + "]").addClass("hide");
            }
            ReInitializePageItem();
        })

        function ReInitializePageItem() {
            var $containerBlog = $("#item-posts");
            $containerBlog.imagesLoaded(function () {
                $containerBlog.masonry({
                    itemSelector: ".item",
                    columnWidth: ".item-sizer",
                });
            });
        }
        $("#spnTotalAmount").click(function () {
            if (cartItems != "") {
                GetSelectedProductsListList(cartItems);
            }
            else {
                swal("Information!", "No Products Selected!", "error");
            }
        });
    </script>
</body>
</html>