﻿@model  TRSImplementation.TempUserMst
@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    string BOLT_URL = HttpContext.Current.Application[clsImplementationMessage.BOLT_URL].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>Registration Of Maxener Wellness | Whey Protein Supplement Powder </title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <link href="/Content/css/layouts/page-center.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">

    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <script id="bolt" src="@BOLT_URL" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script>
    <style>
        .autocomplete-content {
            position: absolute !important;
        }
    </style>
</head>
<body class="cyan">
    @Html.HiddenFor(m => m.TempUserId)
    <input type="hidden" id="hdnOTP" />
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form" id="loginform">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Register</h4>
                        <p class="center">Join to our community now !</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col s12">
                        <b>Refferal:</b> <span id="lblRefferalDetails"></span>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        @Html.TextBoxFor(m => m.FullName)
                        <label for="FullName" class="center-align">First Last Name</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        @Html.TextBoxFor(m => m.UserName)
                        <label for="UserName" class="center-align">User Name</label>
                    </div>
                </div>
                <div class="row margin hidden hide">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        <input id="RefferalCode" type="text" required>
                        <label for="RefferalCode" class="center-align">Referal Code</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        @*<input type="text" id="Position" palceholder="Position" />*@
                        <select id="Position"></select>
                        <label for="Position" class="center-align">Position</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">email</i>
                        @Html.TextBoxFor(m => m.EmailId)
                        <label for="EmailId" class="center-align">Email</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">smartphone</i>
                        @Html.TextBoxFor(m => m.MobileNo, new { @maxlength = "10" })
                        <label for="MobileNo" class="center-align">Mobile</label>
                    </div>
                </div>

                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">lock_outline</i>
                        @Html.TextBoxFor(m => m.Password, new { @type = "password" })
                        <label for="Password">Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">lock_outline</i>
                        <input id="passwordagain" type="password">
                        <label for="passwordagain">Confirm Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col s12">
                        <input type="checkbox" id="chkAgreeWith" />
                        <label for="chkAgreeWith">Agree with all <a onclick="OpenTerms()">terms &amp; condition</a> of maxener wellness</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light col s12" id="btnRegister">Register Now</a>
                    </div>
                    <div class="input-field col s12 hide">
                        <a class="btn waves-effect waves-light col s12" id="btnActivateFree">Activate Free</a>
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">Already have an account? <a href="/Authentication/Authenticate/Index">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal modalTerms">
        <div class="admin-kyc-popup-header terms-header-container">
            <div class="admin-kyc-popup-header-content terms-header">
                <h5>TERMS & CONDITIONS, GUIDELINES FOR MBA</h5>
            </div>
            <div class="admin-kyc-popup-header-close terms-header-close">
                <a onclick="CloseTermsWindow();" title="Close"><i class="material-icons activator">close</i></a>
            </div>
        </div>
        <div class="row z-depth-1">
            <div class="row">
                <div class="main-column-terms">
                    <section class="page_entry post_content copy">
                        <h5 class="center"><b>Terms & Conditions</b></h5>
                        <ol class="terms-content-container">
                            <li><span>I have read/read-over and understood the terms and conditions of MAXENER WELLNESS PVT LTD (MWPL) . online agreement and accepted the same without any reservation.</span></li>
                            <li><span>I submitted my application to register as an MBA on my own will and consent, voluntarily without any coercion. I know that, as I am becoming a MAXENER WELLNESS Maxener Business Associate (MBA), I will not have any right of a consumer.</span></li>
                            <li><span>I agree that while purchasing selling company products, I shall act as an independent vendor, acting on my own responsibility for all the transactions. I understand that I will not have any employment or an agency relationship with MAXENER WELLNESS or any of its affiliated companies.</span></li>
                            <li><span>I will be responsible for complying with all statutory and legal requirements, likes sales taxes and under all the other respective local laws, as may be applicable to me from time and obtaining all the license and registration which may be required to run my business as an MBA/ dealer.</span></li>
                            <li><span>I have gone through the Sales and Marketing Plan * Provided on the company website and have understood the contents. I have understood and accepted that the company has the right to change the sales and marketing plan * from time depending on circumstances which will be displayed on the company’s website without sending a notice to me and that if I continue as an Associate after the changes are made, it is deemed that the changes are acceptable to me.</span></li>
                            <li><span>I am aware that the bonus payable under Sales and Marketing plan* is not fixed and may vary from time to time at the discretion of MAXENER WELLNESS. My bonus will be determined by the company from time to time which will be entirely based on my efforts in selling company products and performance assessed by MAXENER WELLNESS in terms of my active role* towards business development, If not done actively company hold the rights to block or terminate the id.</span></li>
                            <li><span>I declare that at all times my acts and deeds shall be to keep up and enhance the reputation of MAXENER WELLNESS. I will not be engaged in high-pressure selling and will be courteous to the customers and must at all times make a fair representation of the sales and marketing plan and its products faithfully and without any inducement.</span></li>
                            <li><span>I know that while explaining the business plan to me, the person who has recommended me or my indemnifier may have used some examples and figures of earnings. I understand that such figures are only examples and should not be considered as a commitment or representation or guarantees or projections of gross or net earnings.</span></li>
                            <li><span>I know that MAXENER WELLNESS MBA ship is not an employment or job or quick rich scheme and does not guarantee any monthly or fixed income.</span></li>
                            <li><span>I accept the right of MAXENER WELLNESS to reject this application as an MBA at its absolute discretion and without being required to give any reason thereof.</span></li>
                            <li><span>I undertake to read and familiarize myself /with the company‘s code of conduct*before engaging in any business activity as an MBA and to abide by the same.</span></li>
                            <li><span>I accept that in case of breach of code of conduct by me MAXENER WELLNESS products and services LLP. is the liberty to immediately and unilaterally terminate my registration as an MBA without issuing notice to me.</span></li>
                            <li><span>If I made any payment through credit card for any transaction with the company. I/we hereby indemnify the company any dispute/claim arising out of the used credit card payment.</span></li>
                            <li><span>I know that the associate-ship is valid for only one year from the date of registration*and I will not have surviving rights as an MBA after the said validity period unless I apply for renewal in writing in the prescribed format and the same is accepted by the company. I understand that renewal of associateship is at the sole discretion of the company which depends on my performance on business development and my efforts along with compliance with the code of conduct.</span></li>
                            <li><span>I am fully aware of the company’s product return policy*, that if any customer finds the purchased products defective or is entirely not satisfied with the product, can either exchange the product with other equal value company’s product or can apply for a refund of the product cost by returning the product within 45 days by informing the company within 30 days from the date of purchase and product should not have been used more than 20%.</span></li>
                            <li><span>In the future under any circumstances, If I am prohibited from doing the business in view of a new act coming into force, change /amendment of the present acts, I am ready to forfeit all my rights as MBA without any claim what-so-ever in nature.</span></li>
                            <li><span>I know that I am not entitled to get any bonus on recommending other MBAs either by me or my team /group and I also know that bonus will be paid only on product sales as per the Sales and Marketing Plan*.</span></li>
                            <li><span>All disputes shall be subject to the jurisdiction of competent courts in Ahmedabad irrespective of whether courts in other areas have concurrent or similar jurisdiction.</span></li>
                        </ol>
                        <h5 class="center"><b>Guideline for the MBA’s</b></h5>
                        <p><span>MAXENER WELLNESS PVT LTD (MWPL) provides such guideline (Do’s and Don’ts &amp; becomes a part and parcel of the bye-laws) which binds the acts, deeds of a Maxener business associate (MBA) in the market place. The MBA is under obligation to follow these guidelines and anything is found contrary; MBA shall be immediately terminated.</span></p>
                        <h5><b>DO’S</b></h5>
                        <ol>
                            <li><span>The MBA shall work ethically and in accordance with the local laws;</span></li>
                            <li><span>The MBA shall provide complete details of MWPL’s Sales and Marketing Plan, including Code of Conduct and bye-laws of the MWPL to the participant including cooling-off period, refund &amp; return policy, and consumer grievances redressal forum;</span></li>
                            <li><span>The MBA shall provide accurate and complete information to prospective and related rights and obligations;</span></li>
                            <li><span>The MBA shall carry his/her identity card and shall not visit the customer’s premises without prior appointment/approval;</span></li>
                            <li><span>The MBA shall at the time of initiation of a sales representation, without request, truthfully shall clearly identify the identity of the direct selling entity, the nature of the goods or services sold, and the purpose of the solicitation to the prospective consumer;</span></li>
                            <li><span>The MBA  shall offer to the prospective consumer accurate and complete explanations and demonstrations of goods and services, prices, credit terms, terms of payment, return policies, terms of the guarantee, after-sales service.</span></li>
                            <li>
                                <span>The MBA shall provide the following information to the prospect/consumers at the time of sale only:</span>
                                <ol>
                                    <li><span>Name, address, registration number or enrollment number, identity proof and telephone number of the direct seller and details of direct selling entity;</span></li>
                                    <li><span>A description of the Products to be supplied;</span></li>
                                    <li><span>Explain to the consumer about the goods return policy of the MWPL in the details before the transaction;</span></li>
                                    <li><span>The Order date, the total amount to be paid by the consumer along with the bill and receipt;</span></li>
                                    <li><span>Time and place for inspection of the sample and delivery of good;</span></li>
                                    <li><span>Information of his/her rights to cancel the order and/or to return the product in saleable condition and avail refund as per MWPL policy;</span></li>
                                    <li><span>Details regarding the complaint redressal mechanism;</span></li>
                                    <li><span>The MBA shall keep a proper book of accounts stating the details of the products, price, tax, and the quantity and such other details in respect of the goods sold by him/her, in such form as per applicable law.</span></li>
                                </ol>
                            </li>
                        </ol>
                        <h5><b>DON’T’S</b></h5>
                        <ol>
                            <li><span>The MBA shall not mislead any participant to pay any entry/registration fee, cost of sales demonstration equipment and materials, or other fees relating to participation;</span></li>
                            <li><span>The MBA shall not use misleading, deceptive, or unfair recruiting practices, including misrepresentation of actual or potential sales or earnings in their interaction with prospective or existing direct sellers;</span></li>
                            <li><span>The MBA shall not make any factual representation to a prospective direct seller that cannot be verified or make any promise that cannot be fulfilled;</span></li>
                            <li><span>The MBA shall not present any advantages of direct selling to any prospective direct seller in a false or deceptive manner;</span></li>
                            <li><span>The MBA shall not make or cause, or permit to be made any representation relating to its direct selling business including remuneration system and MBA agreement or to the goods or services being sold by himself which is false or misleading;</span></li>
                            <li><span>The MBA shall not engage in or cause or permit any conduct that is misleading or likely to mislead with regard to any material particulars relating to its direct selling business including remuneration system or to the goods or services being sold by himself;</span></li>
                            <li><span>The MBA  shall  not  use  or  cause  or  permit  to  be  used,  fraud,  coercion, harassment, or unconscionable or unlawful means in promoting its direct selling practice including remuneration system and MBA agreement and others;</span></li>
                            <li><span>The MBA shall not provide any benefit to any person for the introduction or recruitment of one or more persons as direct sellers;</span></li>
                            <li><span>The MBA shall not require the direct sellers to pay any money by way of minimum monthly subscription or renewal charges;</span></li>
                            <li>
                                <span>The MBA shall not:</span>
                                <ol>
                                    <li><span>Use misleading, deceptive, and/or unfair trade practices;</span></li>
                                    <li><span>Use  misleading,  false,  deceptive,  and/or  unfair  recruiting  practices, including misrepresentation of actual or potential sales or earnings and advantages of Direct Selling to any prospective direct seller, in their interaction with prospective direct sellers;</span></li>
                                    <li><span>Make any factual representation to a prospective direct seller that cannot be verified or make any promise that cannot be fulfilled;</span></li>
                                    <li><span>Present any advantages of Direct Selling to any prospective direct seller in a false and/or in a deceptive manner;</span></li>
                                    <li><span>Knowingly make,  omit,  engage or cause  or  permit  to be  made  any representation</span> <span style="font-weight: 400;">relating</span> <span style="font-weight: 400;">to</span> <span style="font-weight: 400;">the</span> <span style="font-weight: 400;">Direct</span> <span style="font-weight: 400;">Selling</span> <span style="font-weight: 400;">operation,</span> <span style="font-weight: 400;">including remuneration system and agreement between the Direct Selling entity and the direct seller or the goods and/or services being sold by such direct seller which is false and/or misleading;</span></li>
                                    <li><span>Require or encourage direct sellers recruited by the first-mentioned direct seller to purchase goods and/or services in unreasonably large amounts;</span></li>
                                </ol>
                            </li>
                            <li><span>MBA shall not be selling any product at a huge discount of more than 10 to 15 % directly to the customer, doing so can lead to a breach of this contract, and the account may be suspended or terminated as per the decision of management.</span></li>
                            <li><span>MBA shall also not do any selling on online platforms like Amazon or Flipkart . coming to notice of doing so can lead to suspension or termination of account as per the decision of management.</span></li>
                        </ol>
                        <p><span>Provide any literature and/or training material not restricted to collateral issued by the Direct Selling Entity to a prospective and/or existing direct sellers both within and outside the parent Direct Selling entity, which has not been approved by the parent Direct Selling entity;</span></p>
                        <h5 class="center"><b>Code of conduct</b></h5>
                        <p><span>MAXENER WELLNESS PVT LTD (MWPL) is a Company incorporated under the Companies Act 1956, having its registered office at 569/2, near vahanvati rice mill , dholka road , bavla , Ahmedabad , Gujarat 382220. Its wide range of products which use in the fields of Health &amp; Wellness, under the brand name ‘MAXENER WELLNESS’.</span></p>
                        <h5 class="center"><b>Objectives</b></h5>
                        <ol>
                            <li><span>The objective of MWPL, Code of Conduct shall be to foster a spirit of co-operation and discipline among the MBAs of MWPL.</span></li>
                            <li><span>To organize and to unite all MBAs of MWPL and to regulate their relation with the MWPL and prospective MBAs.</span></li>
                            <li><span>To secure fair trade practice and professionalism by the MBAs.</span></li>
                            <li><span>To address the grievances of customers and MBAs of MWPL.</span></li>
                            <li><span>To prevent false promises,  miss-commitments,  false assurances, and unlawful activities.</span></li>
                            <li><span>To maintain professionalism, decency, dignity, and discipline during the course of business activities.</span></li>
                            <li><span>To provide effective and proper communication.</span></li>
                            <li><span>To create awareness about the Do’s &amp; Don’ts.</span></li>
                        </ol>
                        <p><span>MAXENER WELLNESS PVT LTD (MWPL) Code of Conduct is a set of rules, regulations and guidelines that all Independent Business Associates (MBAs) of MWPL shall abide. The rules and regulations along with the guidelines detailed in the Code of Conduct by the MWPL shall bind all MBAs of MWPL. This Code of Conduct provides, complaint redressal mechanism, procedures to be followed by all MBAs during the sale of MWPL products and business promotion of the MWPL, Do’s &amp; Don’ts for MBAs and about disciplinary action against of suspension which may be extended to the termination from MBA partnership with or without notice.</span></p>
                        <p><span>&nbsp;</span></p>
                        <p><span>This code of conduct or bye laws of the MWPL is divided into two parts viz. first part declares definitions of business terminology and other business details while the second  part  establishes  binding  principles  which  regulates  and  or  binds  the behavior/ethics/acts, etc. of an MBA as per MWPL’s policy at market place &amp; breach of any principles (or whatsoever name is called) attracts disciplinary actions.</span></p>
                        <p><span>&nbsp;</span></p>
                        <p><b><i>Part-A (First-Part)</i></b></p>
                        <ol>
                            <li>
                                <span>Definition-  “MAXENER WELLNESS”  is  the  brand  name  of  “MAXENER WELLNESS PVT. LTD.” Company.</span>
                                <ol>
                                    <li><span>Company means ‘MAXENER WELLNESS Private Limited’ (MWPL).</span></li>
                                    <li><span>MWPL  Business  means  the  business  as  an  Independent Business Associate (MBA) with MWPL Products.</span></li>
                                    <li><span>MWPL Products means all products of Health &amp; Wellness, including literature and other business support materials made available by the MWPL to MBAs.</span></li>
                                    <li><span>MWPL  Sales  and  Marketing  Plan  means  the  business associate program on  products,  guidelines,  requirements,  systems, procedures and policies regarding the presentation of MWPL products, the MWPL business as amended from time to time.</span></li>
                                    <li><span>Independent Maxener Business Associate (MBA) (in short called as an “Associate” or “Business associate”) is a MWPL authorized person on submission of application either an individual or group of individuals or a valid legal entity, as per the law of the land, who is interested to purchase the MWPL products and/or promote the business of the MWPL. The person or entity  which  was  registered  by  submitting  filled-in  and signed MBA application form, which is free of cost, is eligible to become an Independent Business Associate subject to terms and conditions.</span></li>
                                    <li><span>MBAs are independent business persons/entity operating on their  own  responsibility  and  have  no  employment,  no guaranteed financial commitments, no master and servant relation or similar relationship with MWPL or any of its affiliated companies.</span></li>
                                    <li><span>User/Preferred Customer are a person, who purchases MWPL products exclusively for their own use purpose and they have no interest in the Sales and Marketing plan.</span></li>
                                </ol>
                            </li>
                        </ol>
                        <p><b><i>Return policy</i></b></p>
                        <p><span>&nbsp;</span></p>
                        <p><b>Product Refund Policy &amp; Conditions</b></p>
                        <p><span>&nbsp;</span></p>
                        <ol>
                            <li><span>We stand behind the worth of our products and services also guarantee your happiness. For any reason you as a Customer/Direct Seller/ Distributor to follow the Customer Products.</span></li>
                            <li><span>The return policy is only application to products in the marketable condition.</span></li>
                            <li><span>The return policy does not apply to products that been intentionally damaged or misused upon Direct Seller.</span></li>
                        </ol>
                        <p><span>&nbsp;</span></p>
                        <p><b>Return Policy For Distributor/ Direct Seller/ Customer</b></p>
                        <ol>
                            <li><span>Marketable Products Within 30 Days 100% refund less GST.</span></li>
                            <li><span>Partially used (20%) consumable Items Only within 30Days 100% refund less GST.</span></li>
                            <li><span>No refund is permitted after 30 Days of cooling off period in any circumstances.</span></li>
                        </ol>
                        <p><span>&nbsp;</span></p>
                        <p><b>Termination of contract –</b></p>
                        <ol>
                            <li><span>A new direct Seller/ Distributor Chooses to terminate the Contract and exit Maxener wellness</span></li>
                        </ol>
                        <p><b>&nbsp;</b></p>
                        <p><span>He/she will be able to return all the products and material (purchased from Maxener Wellness) and  get a complete refund ( as per refund policy for marketable &amp; non-marketable products).</span></p>
                        <p><span>&nbsp;</span></p>
                        <p><span>Maxener wellness distributor will be terminated by this contract with reasonable notice , in such instance and on such terms where a maxener wellness distributor is found to have made no sales of goods or service for a period of time of up to 2 years since the contract was entered into or since the last date of sales made by distributor.&nbsp;</span></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--angularjs-->
    <script type="text/javascript" src="/Content/vendors/angular.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        var Cities =@Html.Raw(Json.Encode(ViewBag.Cities));
        var p='@ViewBag.p';
        $(document).ready(function () {
            var options="<option value=\"L\" "+('@ViewBag.DefaultPosition'=="L"?" selected":"")+" >Left</option><option value=\"R\" "+('@ViewBag.DefaultPosition'=="L"?" selected":"")+">Right</option>"
            $("#Position").html(options);
            $('#Position').val('@ViewBag.DefaultPosition');
            $('#Position').material_select();

            if('@ViewBag.IsPositionEnabled.ToString().ToLower()'=='false'){
                $('#Position').attr("disabled","disabled");
                $('#Position').material_select();
            }

            if ('@Model.TempUserId' > 0) {
                $("#passwordagain").attr("type", "text").val('@Model.Password').attr("type", "password");
            }
            if('@ViewBag.RefferalCode'!=""){
                $("#RefferalCode").val('@ViewBag.RefferalCode')
            }
            $("#btnRegister,#btnActivateFree").click(function (e) {
                if ($("#loginform").valid()) {
                    if($("#passwordagain").val()!=$("#Password").val()){
                        alert("Password and Confirm Password must be same");
                        return false;
                    }
                    if(!$("#chkAgreeWith").is(":checked")){
                        alert("Please Agree with terms & condition");
                        return false;
                    }
                    RegisterUser();
                   // $.ajax({
                   //     url: "/Authentication/Authenticate/GetOTP",
                   //     type: 'POST',
                   //     data: {
                   //         MobileNo: $("#MobileNo").val()
                   //     },
                   //     cache: false,
                   //     success: function (data) {
                   //         if(data.Key){
                   //             $("#hdnOTP").val(data.Msg);
                   //             //RegisterUser();
                   //             swal({
                   //                 title: "OTP!",
                   //                 text: "Please enter OTP",
                   //                 type: "input", showCancelButton: true,
                   //                 closeOnConfirm: false,
                   //                 animation: "slide-from-top",
                   //                 inputPlaceholder: "OTP",
                   //                 showLoaderOnConfirm: true,
                   //             },
                   //function (inputValue) {
                   //    if (inputValue === false) return false;
                   //    if (inputValue === "") {
                   //        swal.showInputError("You need to enter otp!");
                   //        return false
                   //    }
                   //    if(inputValue==$("#hdnOTP").val()){
                   //        RegisterUser();
                   //    }
                   //    else{
                   //        swal.showInputError("Invalid OTP");
                   //        return false
                   //    }
                   //});
                   //         }
                   //         else{
                   //             swal("Information!", data.Msg, "info");
                   //         }
                   //     }
                   // });
                }
            });

            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim().length != 0;
            }, "No space please and don't leave it empty");

            $("#loginform").validate({
                rules: {
                    FullName: {
                        required: true,
                        noSpace: true
                    },
                    UserName: {
                        required: true
                    },
                    EmailId: {
                        required: true,
                        email: true
                    },
                    MobileNo: {
                        required: true
                    },
                    RefferalCode: {
                        required: true
                    },
                    Password: {
                        required: true,
                        minlength: 8
                    },
                    passwordagain: {
                        required: true,
                        minlength: 8,
                        compare: function(){
                            if($("#passwordagain").val()!=$("#Password").val()){
                                return false;
                            }

                        }
                    },
                },
                //For custom messages
                messages: {
                    FullName: {
                        required: "Enter a Full Name"
                    },
                    UserName: {
                        required: "Enter a User Name"
                    },
                    EmailId: {
                        required: "Enter a EmailId"
                    },
                    MobileNo: {
                        required: "Enter a MobileNo"
                    },
                    RefferalCode: {
                        required: "Enter a Refferal Code"
                    },
                    Password: {
                        required: "Enter a Password"
                    },
                    passwordagain: {
                        required: "Enter a Confirm Password",
                        compare:"Password and Confirm Password must be same"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            GetRefferalDetails();
        });

        function OpenTerms() {
            $('.modalTerms').modal();
            $('.modalTerms').modal('open');
        }

        function CloseTermsWindow() {
            $('.modalTerms').modal('close');
        }

        function GetRefferalDetails() {
            $.ajax({
                url: "/Authentication/Authenticate/CheckRefferalCodeExist",
                type: 'POST',
                data: {
                    refcode: $("#RefferalCode").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        $('#lblRefferalDetails').text($("#RefferalCode").val() + ' - ' + data.Msg);
                    }
                }
            });
        }

        function RegisterUser(){
            var IsFreeActiate=false;
            if($(this).attr("id")=="btnRegister"){
                IsFreeActiate=false;
            }
            else if($(this).attr("id")=="btnActivateFree"){
                IsFreeActiate=true;
            }
            $.ajax({
                url: "/Authentication/Authenticate/RegisterUser",
                type: 'POST',
                data: {
                    FullName: $("#FullName").val(),
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val(),
                    EmailId: $("#EmailId").val(),
                    MobileNo: $("#MobileNo").val(),
                    RefferalCode: $("#RefferalCode").val(),
                    TempUserId: $("#TempUserId").val(),
                    Position: $("#Position").val(),
                    IsFreeAccount:IsFreeActiate
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        //launchBOLT(e, data.Id,productinfo,"1");
                        if(IsFreeActiate){
                            swal("Information!", "Free Account Created Successfully!", "success");
                        }
                        else{
                            window.location.href="/Member/Purchase";
                        }
                    }
                    else {
                        swal("Information!", data.Msg, "info");
                    }
                }
            });
        }

        $('#FullName').keydown(function (e) {
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });

        $("#MobileNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    </script>
</body>
</html>