﻿@model TRS.Areas.Member.Controllers.TeamsController.OrganizationUserDtl
<div class="row">
    <div class="col s12 m6 l6 margin5">
        <span>Total Left BV : </span><span class="fontbold">@Model.TotalLeftBV</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Total Right BV : </span><span class="fontbold">@Model.TotalRightBV</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>This Month Left BV : </span><span class="fontbold">@Model.TotalMonthLeftBV</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>This Month Right BV : </span><span class="fontbold">@Model.TotalMonthRightBV</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Direct Active : </span><span class="fontbold">@Model.TotalDirectActive</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Direct InActive : </span><span class="fontbold">@Model.TotalDirectInActive</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Left Active Team : </span><span class="fontbold">@Model.TotalLeftActiveTeams</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Right Active Team : </span><span class="fontbold">@Model.TotalRightActiveTeams</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Left InActive Team : </span><span class="fontbold">@Model.TotalLeftInActiveTeams</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Right InActive Team : </span><span class="fontbold">@Model.TotalRightInActiveTeams</span>
    </div>
</div>
