﻿@using TRSImplementation
@model List<PROC_GET_ALL_USER_HIERARCHY_Result>
@{
    @GetBinaryTree(Model, ViewBag.UserId)
}
@helper GetBinaryTree(List<PROC_GET_ALL_USER_HIERARCHY_Result> lst, int UserId)
{
    var objUser = lst.FirstOrDefault(i => i.UserId == UserId);
    <div class="hv-item" id="dv@(objUser.UserId)">
        <div class="hv-item-parent @(objUser.HasChilds?"haschilds":"nochilds")">
            <p id="p@(objUser.UserId)" class="simple-card @(objUser.IsActive?"activemember":"inactivemember") @(ViewBag.MaxLevel==objUser.UserLevel?"maxlevel":"")" onclick="LoadChildGenealogy(this,'@objUser.UserId','p@(objUser.UserId)','@ViewBag.MaxLevel','@objUser.UserLevel')">
                <span class="name">@objUser.FullName</span>
                <br />
                UserId : @objUser.RefferalCode <br />
                Reff. By : @objUser.RefferedByUser <br />
                @*IsActive : @(objUser.IsActive ? "Yes" : "No")<br />*@
                BV : @(objUser.BV)<br />
                <span class="viewuser" data-uid="@objUser.UserId" style="color: #3949ab;cursor: pointer;">View Details</span>
            </p>
        </div>
        @if (objUser.HasChilds)
        {
            <div class="hv-item-children">

                @if (lst.Any(i => i.ParentUserId == objUser.UserId && i.Position == "L"))
                {
                    var objLeftChild = lst.FirstOrDefault(i => i.ParentUserId == objUser.UserId && i.Position == "L");
                    <div class="hv-item-child">
                        @GetBinaryTree(lst, objLeftChild.UserId)
                    </div>
                }
                else if (objUser.UserLevel != ViewBag.MaxLevel)
                {
                    <div class="hv-item-child">
                        <p class="simple-card"> Vacant Member </p>
                    </div>
                }
                @if (lst.Any(i => i.ParentUserId == objUser.UserId && i.Position == "R"))
                {
                    var objLeftChild = lst.FirstOrDefault(i => i.ParentUserId == objUser.UserId && i.Position == "R");
                    <div class="hv-item-child">
                        @GetBinaryTree(lst, objLeftChild.UserId)
                    </div>
                }
                else if (objUser.UserLevel != ViewBag.MaxLevel)
                {
                    <div class="hv-item-child">
                        <p class="simple-card"> Vacant Member </p>
                    </div>
                }
            </div>
        }
        else
        { <div class="hv-item-children">
                <div class="hv-item-child">
                    <p class="simple-card"> Vacant Member </p>
                </div>
                <div class="hv-item-child">
                    <p class="simple-card"> Vacant Member </p>
                </div>
            </div>
        }
    </div>
}
<script type="text/javascript">
    $('.viewuser').click(function (e) {
        console.log($(this).attr("data-uid"));
        UserId = $(this).attr("data-uid");
        //
        $.ajax({
            type: "POST",
            url: "/Member/Teams/GeneologyUserDetails",
            datatype: 'html',
            data: { UserId: UserId },
            success: function (result) {
                //HideLoading();
                $("#dvGeneologyUserDetails").html(result);
                $("#mdlGeneologyUserDetails").modal('open');
            },
            error: function () {
                HideLoading();
            }
        });
        e.stopPropagation();
    });
</script>