﻿@using TRS.Models
@model List<TRSImplementation.PROC_GET_ALL_TEAM_MEMBER_LIST_Result>
<div id="dvExpense">
    <label>@ViewBag.ParentUserDetail</label>
</div>
<script>
    var listExpenseListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listExpenseListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.DirectTeamTotal || (user.DirectTeamTotal != null && user.DirectTeamTotal.toLowerCase().indexOf(filter.DirectTeamTotal.toLowerCase()) > -1))
                    && (!filter.DirectTeamInActiveTotal || (user.DirectTeamInActiveTotal != null && user.DirectTeamInActiveTotal.toLowerCase().indexOf(filter.DirectTeamInActiveTotal.toLowerCase()) > -1))
                    && (!filter.TotalBV || (user.TotalBV != null && user.TotalBV.toLowerCase().indexOf(filter.TotalBV.toLowerCase()) > -1))
                    && (!filter.RegistrationDate || (user.RegistrationDate != null && user.RegistrationDate.toLowerCase().indexOf(filter.RegistrationDate.toLowerCase()) > -1))
                    && (!filter.ActivateDate || (user.ActivateDate != null && user.ActivateDate.toLowerCase().indexOf(filter.ActivateDate.toLowerCase()) > -1));
            });
        },
        insertItem: function(insertingClient) {
            this.clients.push(insertingClient);
        },
        updateItem: function(updatingClient) { },
    };
    db.listExpenseListEnt=listExpenseListEnt;
    window.db = db;
    $("#dvExpense").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        pageSize: 25,
        pageButtonCount: 10,
        fields: [
            { name: "RefferalCode", type: "text", width: 200, title: "Refferal Code", css: "RefferalCode" },
            { name: "FullName", type: "text", width: 250, title: "Name", css: "FullName" },
            { name: "DirectTeamTotal", type: "text", width: 200, title: "Direct Team Total", css: "DirectTeamTotal" },
            { name: "DirectTeamInActiveTotal", type: "text", width: 200, title: "Direct Team Inactive Total", css: "DirectTeamInActiveTotal" },
            { name: "TotalBV", type: "text", width: 200, title: "Total BV", css: "TotalBV" },
            { name: "RegistrationDate", type: "text", width: 200, title: "Registration Date", itemTemplate: function (value, item) { var td = "" + convertDate(item.RegistrationDate) + ""; return td; } },
            { name: "ActivateDate", type: "text", width: 200, title: "Activate Date", itemTemplate: function (value, item) { var td = "" + convertDate(item.ActivateDate) + ""; return td; } },
        ],
        controller: db
    });

    function convertDate(data) {

        if (data === undefined || data == null || data.length <= 0)
            return "";

        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var ConvDate = new Date(getdate);
        var dd = ConvDate.getDate();
        var mm = ConvDate.getMonth() + 1;
        var yy = ConvDate.getFullYear();

        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }

        return dd + "/" + mm + "/" + yy;
    }
</script>
