﻿@using TRSImplementation
@using TRS.Models
@model List<MemberListEnt>
@{
    int i = 1;
}
<table class="striped" id="tblMemberList">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Refferal Code</th>
            <th>Reffered By</th>
            <th>Left BV</th>
            <th>Right BV</th>
            <th>Is Active</th>
            @*<th>Position</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@(i++)</td>
                    <td data-title="Name">@item.Name</td>
                    <td data-title="Refferal Code">@item.RefferalCode</td>
                    <td data-title="Reffered By">@item.RefferalName</td>
                    <td data-title="Reffered By">@(item.LeftBV.HasValue?Convert.ToInt64(item.LeftBV.Value):0)</td>
                    <td data-title="Reffered By">@(item.RightBV.HasValue ? Convert.ToInt64(item.RightBV.Value) : 0)</td>
                    <td data-title="Is Active">@(item.IsRegistered.HasValue && item.IsRegistered.Value ? "Yes" : "No")</td>
                    @*<td data-title="Position">@(item.Position)</td>*@
                </tr>
            }
        }
    </tbody>
</table>