﻿@using TRSImplementation
@model IEnumerable<PROC_GET_ALL_TEAM_MEMBER_LIST_Result>
@{
    ViewBag.Title = "Team Members Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }

    .usertypes {
        height: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Direct Refferal</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:500px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
                            <input class="editable datetextbox" id="txtStartDate" required name="txtStartDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.StartDate">
                            <label for="txtStartDate" data-error="wrong" data-success="right" class="active">Start Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m3 l3" style="width:15%">
                            <input class="editable datetextbox" id="txtEndDate" required name="txtEndDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.EndDate">
                            <label for="txtEndDate" data-error="wrong" data-success="right" class="active">End Date</label>
                        </div>
                        <div class="input-field col s12 m4 l2" style="width:20%;">
                            <input type="text" id="txtUserCode" name="txtUserCode" />
                            <label for="txtUserCode" class="center-align">User Code</label>
                        </div>
                        <div class="input-field col s12 m4 l2" style="width:20%;">
                            <select id="UserStatus">
                                <option value="-1">ALL</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                            <label for="User Status" class="center-align">User Status</label>
                        </div>
                            @*<div class="input-field col col-xs-12 s12 m4 l2" style="width:10%;">
                                <select id="ddlBV">
                                    <option value="1">Above</option>
                                    <option value="2">Below</option>
                                </select>
                                <label for="ddlMonth" class="center-align">BV</label>
                            </div>
                            <div class="input-field col s12 m4 l2" style="width:10%;">
                                <input type="text" id="txtBV" name="txtBV" onkeypress="return isNumber(event)" maxlength="8" autocomplete="off" />
                                <label for="txtBV" class="center-align">Enter BV</label>
                            </div>*@
                            <div class="input-field col col-xs-12 s12 m4 l4" style="width:10%;">
                                <a class="waves-effect waves-light btn" id="btnSearch" onclick="GetMemberList()">
                                    <i class="material-icons left">search</i> Search
                                </a>
                            </div>
                            <div class="input-field col col-xs-12 s12 m4 l4" style="width:15%;">
                                <a class="waves-effect waves-light btn" id="btnExportDirectRefferal" onclick="ExportDirectRefferal()" title="Download Excel">
                                    <i class="material-icons left">view_comfy</i> Export
                                </a>
                            </div>
                        </div>
                        <div class="col s12 " id="dvMemberList">
                        </div>
                        <div class="col s12 " id="dvGetChildDirectRefferalList">
                        </div>
                    </div>
            </ul>
        </div>
    </div>
    <div id="mdlExpenseCategory" class="modal" style="width:90%;height:90%;">
        <div class="modal-content">
            <h5 class="center">Direct Refferal</h5>
            <hr />
            <div id="dvExpenseCategory">
            </div>
        </div>
    </div>
    <div id="mdlViewBV" class="modal" style="width:50%;height:45%;">
        <div class="modal-content" style="font-size:medium;">
            <h5 class="center">BV Details</h5>
            <hr />
            <div class="row">
                <div class="col s12 m6 l6 margin5">
                    <span>Total Left BV : </span><span class="fontbold" id="TotalLeftBV"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Total Right BV : </span><span class="fontbold" id="TotalRightBV"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>This Month Left BV : </span><span class="fontbold" id="TotalMonthLeftBV"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>This Month Right BV : </span><span class="fontbold" id="TotalMonthRightBV"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Direct Active : </span><span class="fontbold" id="TotalDirectActive"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Direct InActive : </span><span class="fontbold" id="TotalDirectInActive"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Left Active Team : </span><span class="fontbold" id="TotalLeftActiveTeams"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Right Active Team : </span><span class="fontbold" id="TotalRightActiveTeams"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Left InActive Team : </span><span class="fontbold" id="TotalLeftInActiveTeams"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Right InActive Team : </span><span class="fontbold" id="TotalRightInActiveTeams"></span>
                </div>
                <hr>
                <div class="col s12 m6 l6 margin5">
                    <span>BV Data For: <span id="DtStartDate"></span> To <span id="DtEndDate"></span></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <br />
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Left BV : </span><span class="fontbold" id="TotalLeftBVByDateRange"></span>
                </div>
                <div class="col s12 m6 l6 margin5">
                    <span>Right BV : </span><span class="fontbold" id="TotalRightBVByDateRange"></span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        var listYears = @Html.Raw(Json.Encode(ViewBag.listYears));
        $(document).ready(function () {

            $('.modal').modal();
            GetMemberList();

            $("#txtStartDate").datepicker({
                dateFormat: "dd/mm/yy",
                maxDate: new Date(),
                onSelect: function (selected) {
                    $("#txtEndDate").datepicker("option", "minDate", selected)
                }
            });

            $("#txtEndDate").datepicker({
                dateFormat: "dd/mm/yy",
                maxDate: new Date(),
                onSelect: function (selected) {
                    $("#txtStartDate").datepicker("option", "maxDate", selected)
                }
            });
        })
        function GetMemberList() {
            $.ajax({
                type: "POST",
                url: "/Member/Teams/GetDirectRefferal",
                datatype: 'html',
                data: { StartDate: $('#txtStartDate').val(), EndDate: $('#txtEndDate').val(), UserCode: $("#txtUserCode").val(), BVCondition: 0, BVValue: 0, UserStatus: $('#UserStatus').val()},
                success: function (result) {
                    console.log(result);
                    BindDirectRefferal(result)
                },
                error: function () {
                    alert('Error');
                }
            });
        }

        function ViewTotalBV(userId) {
            $.ajax({
                type: "POST",
                url: "/Member/Teams/GetBVDetail",
                datatype: 'html',
                data: { userId: userId, StartDate: $('#txtStartDate').val(), EndDate: $('#txtEndDate').val() },
                success: function (result) {
                    $('#TotalLeftBV').text(result.TotalLeftBV)
                    $('#TotalRightBV').text(result.TotalRightBV)
                    $('#TotalMonthLeftBV').text(result.TotalMonthLeftBV)
                    $('#TotalMonthRightBV').text(result.TotalMonthRightBV)
                    $('#TotalDirectActive').text(result.TotalDirectActive)
                    $('#TotalDirectInActive').text(result.TotalDirectInActive)
                    $('#TotalLeftActiveTeams').text(result.TotalLeftActiveTeams)
                    $('#TotalRightActiveTeams').text(result.TotalRightActiveTeams)
                    $('#TotalLeftInActiveTeams').text(result.TotalLeftInActiveTeams)
                    $('#TotalRightInActiveTeams').text(result.TotalRightInActiveTeams)
                    $('#TotalLeftBVByDateRange').text(result.TotalLeftBVByDateRange)
                    $('#TotalRightBVByDateRange').text(result.TotalRightBVByDateRange)
                    $('#DtStartDate').text(result.DtStartDate)
                    $('#DtEndDate').text(result.DtEndDate)
                    $("#mdlViewBV").modal('open');
                },
                error: function () {
                }
            });
        }

        function GetChildDirectRefferal(userId) {
            $.ajax({
                type: "POST",
                url: "/Member/Teams/GetChildDirectRefferal",
                datatype: 'html',
                data: { userId: userId },
                success: function (result) {
                    $("#dvExpenseCategory").html(result);
                    $("#mdlExpenseCategory").modal('open');
                },
                error: function () {
                }
            });
        }

        function BindDirectRefferal(listUserListEnt){
            var db = {
                loadData: function(filter) {
                    return $.grep(this.listUserListEnt, function(user) {
                        return (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                            && (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                            && (!filter.DirectTeamTotal || (user.DirectTeamTotal != null && user.DirectTeamTotal.toLowerCase().indexOf(filter.DirectTeamTotal.toLowerCase()) > -1))
                            && (!filter.DirectTeamInActiveTotal || (user.DirectTeamInActiveTotal != null && user.DirectTeamInActiveTotal.toLowerCase().indexOf(filter.DirectTeamInActiveTotal.toLowerCase()) > -1))                            
                            //&& (!filter.TotalBV || (user.TotalBV != null && user.TotalBV.toLowerCase().indexOf(filter.TotalBV.toLowerCase()) > -1))
                            //&& (!filter.TotalLeftBV || (user.TotalLeftBV != null && user.TotalLeftBV.toLowerCase().indexOf(filter.TotalLeftBV.toLowerCase()) > -1))
                            //&& (!filter.TotalRightBV || (user.TotalRightBV != null && user.TotalRightBV.toLowerCase().indexOf(filter.TotalRightBV.toLowerCase()) > -1))
                            && (!filter.RegistrationDate || (user.RegistrationDate != null && user.RegistrationDate.toLowerCase().indexOf(filter.RegistrationDate.toLowerCase()) > -1))
                            && (!filter.ActivateDate || (user.ActivateDate != null && user.ActivateDate.toLowerCase().indexOf(filter.ActivateDate.toLowerCase()) > -1));
                    });
                },
            };
            db.listUserListEnt=listUserListEnt;
            window.db = db;
            $("#dvMemberList").jsGrid({
                height: "70%",
                width: "100%",
                sorting: true,
                paging: true,
                filtering: true,
                autoload: true,
                fields: [
                    //{ name: "RefferalCode", type: "text", width: 200, title: "Refferal Code", css: "RefferalCode" },
                    {
                        name: "RefferalCode", type: "text", width: 200, title: "Refferal Code",
                        itemTemplate: function (value, item) {
                            var td = "";
                            td += "<span style=\"color: #3949ab;\" onclick=\"GetChildDirectRefferal(" + item.UserId + ")\">" + item.RefferalCode + "</span>"
                            return td;
                        }
                    },
                    { name: "FullName", type: "text", width: 250, title: "Name", css: "FullName" },
                    { name: "DirectTeamTotal", type: "text", width: 200, title: "Direct Team Total", css: "DirectTeamTotal" },
                    { name: "DirectTeamInActiveTotal", type: "text", width: 200, title: "Direct Team Inactive Total", css: "DirectTeamInActiveTotal" },
                    {
                        name: "TotalBV", type: "text", width: 200, title: "BV",
                        itemTemplate: function (value, item) {
                            var td = "";
                            td += "<span style=\"color: #3949ab;\" onclick=\"ViewTotalBV(" + item.UserId + ")\">View BV</span>"
                            return td;
                        }
                    },
                    //{ name: "TotalBV", type: "text", width: 200, title: "Total BV", css: "TotalBV" },
                    //{ name: "TotalLeftBV", type: "text", width: 200, title: "LeftBV", css: "TotalLeftBV" },
                    //{ name: "TotalRightBV", type: "text", width: 200, title: "RightBV", css: "TotalRightBV" },
                    { name: "RegistrationDate", type: "text", width: 200, title: "Registration Date",itemTemplate: function (value, item) { var td = "" + convertDate(item.RegistrationDate) + ""; return td;} },
                    { name: "ActivateDate", type: "text", width: 200, title: "Activate Date",itemTemplate: function (value, item) { var td = "" + convertDate(item.ActivateDate) + ""; return td; } },
                    { name: "MobileNo", type: "text", width: 200, title: "MobileNo", css: "MobileNo" },
                ],
                controller: db
            });
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function convertDate(data) {

            if (data === undefined || data == null || data.length <= 0)
                return "";

            var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
            var ConvDate = new Date(getdate);
            var dd = ConvDate.getDate();
            var mm = ConvDate.getMonth() + 1;
            var yy = ConvDate.getFullYear();
            
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }

            return dd + "/" + mm + "/" + yy;
        }

        function ExportDirectRefferal() {
            var StartDate = $('#txtFromDate').val();
            var EndDate = $('#txtToDate').val();
            var url = '/Member/Teams/ExportDirectRefferal?StartDate=' + $('#txtStartDate').val() + '&EndDate=' + $('#txtEndDate').val() + '&UserCode=' + $("#txtUserCode").val() + '&BVCondition=0&BVValue=0&UserStatus=' + $("#UserStatus").val();
            window.location = url;
        }

    </script>
}