﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Member list Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }

    .usertypes {
        height: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Member List</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:500px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s12 m4 l2" style="width:10%">
                            <select id="ddlYear"></select>
                            <label for="ddlYear" class="center-align">Year</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l2">
                            <select id="ddlMonth">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="1">November</option>
                                <option value="12">December</option>
                            </select>
                            <label for="ddlMonth" class="center-align">Month</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l2" style="width:10%">
                            <select id="DisplayType"></select>
                            <label for="DisplayType" class="center-align">Display Type</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l2" style="width:10%">
                            <select id="UserActiveType"></select>
                            <label for="UserActiveType" class="center-align">Active Type</label>
                        </div>
                        <div class="input-field col s12 m4 l2">
                            <input type="text" id="txtUserCode" name="txtUserCode" />
                            <label for="txtUserCode" class="center-align">User Code</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnSearch" onclick="GetMemberList()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                    <div class="col s12 " id="dvMemberList">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        var listYears = @Html.Raw(Json.Encode(ViewBag.listYears));
        $(document).ready(function () {
            var str="";
            str=str+"<option value=\"A\">ALL</option>";
            str=str+"<option value=\"L\">LEFT</option>";
            str=str+"<option value=\"R\">RIGHT</option>";
            $("#DisplayType").html(str);
            $('#DisplayType').material_select();

            var strActiveType = "";
            strActiveType = strActiveType + "<option value=\"-1\">ALL</option>";
            strActiveType = strActiveType + "<option value=\"1\">Active</option>";
            strActiveType = strActiveType + "<option value=\"0\">InActive</option>";
            $("#UserActiveType").html(strActiveType);
            $('#UserActiveType').material_select();

            for (var i = 0; i < listYears.length; i++) {
                $("#ddlYear").append($('<option>').val(listYears[i].Value).text(listYears[i].Text))
            }
            //$('#ddlYear').material_select();
            $("#ddlYear").val('@ViewBag.CurrentYear');
            $("#ddlMonth").val('@ViewBag.CurrentMonth');
            $('#ddlYear').material_select();
            $('#ddlMonth').material_select();
            GetMemberList();
        })
        function GetMemberList() {
            $.ajax({
                type: "POST",
                url: "/Member/Teams/GetMemberList",
                datatype: 'html',
                data: { UserActiveType: $('#UserActiveType').val() ,DisplayType: $('#DisplayType').val(),Month: $("#ddlMonth").val(), Year: $("#ddlYear").val(),UserCode:$("#txtUserCode").val()},
                success: function (result) {
                    //$("#dvMemberList").html(result);
                    console.log(result);
                    BindMemberList(result)
                },
                error: function () {
                }
            });
        }

        function BindMemberList(listUserListEnt){
            var db = {
                loadData: function(filter) {
                    return $.grep(this.listUserListEnt, function(user) {
                        return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                            && (!filter.Name || (user.Name!=null &&  user.Name.toLowerCase().indexOf(filter.Name.toLowerCase()) > -1))
                            && (!filter.RefferalName || (user.RefferalName!=null &&  user.RefferalName.toLowerCase().indexOf(filter.RefferalName.toLowerCase()) > -1))
                            && (!filter.LeftBV || ((user.LeftBV!=null && user.LeftBV === filter.LeftBV)))
                            && (!filter.RightBV || ((user.RightBV!=null && user.RightBV === filter.RightBV)));
                    });
                },
            };
            db.listUserListEnt=listUserListEnt;
            window.db = db;
            $("#dvMemberList").jsGrid({
                height: "70%",
                width: "100%",
                sorting: true,
                paging: true,
                filtering: true,
                autoload: true,
                //pageSize: 25,
                //pageButtonCount: 10,
                fields: [
                    { name: "RefferalCode", type: "text",width:270,
                        itemTemplate: function(value,item) {
                            var td="<img src=\"/Content/images/misch/"+(item.IsRegistered==true?"Active.png":"Inactive.png")+"\" alt=\"\" class=\"usertypes\">"+item.RefferalCode;
                            return td;
                        },title: "Refferal Code",css:"refcode"
                    },
                    { name: "Name", type: "text", width:250,title: "Name",css:"fullname"},
                    { name: "RefferalName", type: "text",width:270,css:"refferalbycode",title: "Reffered By" },
                    { name: "LeftBV", width:150,css:"leftbv",title: "Left BV",
                        itemTemplate: function(value,item) {
                            var td="<span onclick=\"GetCalculatedBV(this,'"+item.UserId+"','L')\" style=\"color: #3949ab;\">View</span>";
                            return td;
                        }
                    },
                    { name: "RightBV", width:150,css:"rightbv",title: "Right BV",
                        itemTemplate: function(value,item) {
                            var td="<span onclick=\"GetCalculatedBV(this,'"+item.UserId+"','R')\" style=\"color: #3949ab;\">View</span>";
                            return td;
                        }
                    },
                    { name: "IsRegistered", width:100,
                        itemTemplate: function(value,item) {
                            var td=(item.IsRegistered==true?"Yes":"No");
                            return td;
                        },title: "IsActive",css:"refcode"
                    },
                ],
                //data: listUserListEnt
                controller: db
            });

        }

        function GetCalculatedBV(btn, UserId, Position) {
            $.ajax({
                url: "/Admin/User/GetCalculatedBV",
                type: 'POST',
                data: {
                    UserId: UserId,
                    Position: Position
                },
                cache: false,
                success: function (data) {
                    $(btn).closest('td').html(data);
                }
            });
        }
    </script>
}