﻿@using TRSImplementation
@{
    ViewBag.Title = "Team Members Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<link href="~/Content/css/hierarchy-view.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<style>
    section {
        padding: 0px !important;
    }

    .activemember {
        background-color: skyblue !important;
    }

    .inactivemember {
        background-color: #ffc4c4 !important;
    }

    .hv-item-parent p {
        color: black !important;
        font-weight: normal !important;
    }

    .hv-wrapper .hv-item .hv-item-parent::after {
        background-color: rgba(151, 131, 131, 0.7) !important;
    }

    .hv-wrapper .hv-item .hv-item-children .hv-item-child:before, .hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
        background-color: rgba(151, 131, 131, 0.7) !important;
    }

    .simple-card {
        text-align: left !important;
    }

    .name {
        text-align: center !important;
        font-size: 18px !important;
        font-weight: bold;
    }

    p.simple-card {
        padding: 10px !important;
        min-width: 200px !important;
    }

    /*.hv-wrapper .hv-item .nochilds::after {
        width: 0px !important;
        height: 0px !important;
    }*/

    .maxlevel {
        cursor: pointer;
    }

    .hv-container {
        overflow: scroll;
        /*height: 450px;*/
        border: 1px solid gray;
    }

    #dvMainGeneology {
        position: relative;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="input-field col col-xs-12 s12 m12 l12">
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    <input type="text" id="txtSearchUser" name="txtSearchUser" placeholder="Search User" onkeypress="if (event.keyCode === 13) searchUsers()" />
                    <label for="txtSearchUser" class="active">Search User</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    <a class="waves-effect waves-light btn" id="btnSearchUser" onclick="searchUsers()">
                        <i class="material-icons left">search</i> Search
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hv-container" style="position: relative;">
        <div class="hv-wrapper" id="dvMainGeneology">
            <!-- Key component -->
            @*@Html.Partial("_Geneology")*@
        </div>
    </div>

    <div id="mdlGeneologyUserDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">User Details</h5>
            <hr />
            <div id="dvGeneologyUserDetails">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--page-item.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
<script src="/Content/js/bootbox.min.js"></script>

    <script id="code">
        var DefaultLevelLoadInGeneology=@ViewBag.DefaultLevelLoadInGeneology ;
        var ChildLevelLoadInGeneology=@ViewBag.ChildLevelLoadInGeneology ;
        $(document).ready(function () {
            LoadGenealogy('@ViewBag.UserId', "dvMainGeneology",DefaultLevelLoadInGeneology);

            const slider = document.querySelector('#dvMainGeneology');
            let isDown = false;
            let startX;
            let scrollLeft;

            slider.addEventListener('mousedown', (e) => {
                isDown = true;
                slider.classList.add('active');
                startX = e.pageX - slider.offsetLeft;
                scrollLeft = slider.scrollLeft;
            });
            slider.addEventListener('mouseleave', () => {
                isDown = false;
                slider.classList.remove('active');
            });
            slider.addEventListener('mouseup', () => {
                isDown = false;
                slider.classList.remove('active');
            });
            slider.addEventListener('mousemove', (e) => {
                if(!isDown) return;
                e.preventDefault();
                const x = e.pageX - slider.offsetLeft;
                const walk = (x - startX) * 3; //scroll-fast
                slider.scrollLeft = scrollLeft - walk;
            });
        });

        function LoadGenealogy(UserId, dv, UserLevel) {
            //ShowLoading();
            $("#"+dv).html("Loading Data");
            $.ajax({
                type: "POST",
                url: "/Member/Teams/GetHierarchyTeamList",
                datatype: 'html',
                data: { UserId: UserId, UserLevel: UserLevel },
                success: function (result) {
                    //HideLoading();
                    $("#" + dv).html(result);
                },
                error: function () {
                    HideLoading();
                }
            });
        }

        function LoadChildGenealogy(btn, UserId, dv, MaxLevel, UserLevel) {
            if (MaxLevel == UserLevel) {
                var newdv = $(btn).closest('.hv-item');
                LoadGenealogy(UserId, newdv.attr("id"),ChildLevelLoadInGeneology);
            }
        }
        function searchUsers() {
            if ($("#txtSearchUser").val().trim() != "") {
                $.ajax({
                    type: "POST",
                    url: "/Member/Teams/CheckSearchUserIsExistInHierarchy",
                    data: { UserCode: $("#txtSearchUser").val() },
                    success: function (result) {
                        if (result.IsExist) {
                            LoadGenealogy(result.UserId, "dvMainGeneology",DefaultLevelLoadInGeneology);
                        }
                        else {
                            swal("Information!", $("#txtSearchUser").val() +" UserId does not found!", "info");
                        }
                    },
                    error: function () {
                        HideLoading();
                    }
                });
            }
            else {
                swal("Information!", "Please Enter User Id", "info");
            }
        }
    </script>
}
