﻿@using TRS.Models
@model List<ExpenseDtlEnt>
<div id="dvExpense">
</div>
<script>
    var listExpenseListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listExpenseListEnt, function(user) {
                return (!filter.ExpenseTypeName || (user.ExpenseTypeName!=null && user.ExpenseTypeName.toLowerCase().indexOf(filter.ExpenseTypeName.toLowerCase()) > -1))
                    && (!filter.Amount  || user.Amount === filter.Amount)
                    && (!filter.Description || (user.Description!=null && user.Description.toLowerCase().indexOf(filter.Description.toLowerCase()) > -1))
                    && (!filter.ExpensePaidTo || (user.ExpensePaidTo!=null && user.ExpensePaidTo.toLowerCase().indexOf(filter.ExpensePaidTo.toLowerCase()) > -1))
                    && (!filter.ExpensePaidBy || (user.ExpensePaidBy!=null && user.ExpensePaidBy.toLowerCase().indexOf(filter.ExpensePaidBy.toLowerCase()) > -1))
                    && (!filter.RefferenceNo || (user.RefferenceNo!=null && user.RefferenceNo.toLowerCase().indexOf(filter.RefferenceNo.toLowerCase()) > -1));
            });
        },
        insertItem: function(insertingClient) {
            this.clients.push(insertingClient);
        },
        updateItem: function(updatingClient) { },
    };
    db.listExpenseListEnt=listExpenseListEnt;
    window.db = db;
    $("#dvExpense").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        pageSize: 25,
        pageButtonCount: 10,
        fields: [
            { name: "sExpenseDate", width:80,title: "Expense Date"},
            { name: "ExpenseTypeName", type: "text", width:100,title: "Expense Type"},
            { name: "Amount", type: "number",width:80 },
            { name: "Description", type: "text",width:150 },
            { name: "ExpensePaidTo",  type: "text",width:150,title: "Paid To"},
            { name: "ExpensePaidBy",  type: "text", width:100,title: "Paid By"},
            { name: "RefferenceNo",  type: "text", width:100,title: "Ref. No."},
            { name: "Action",  width:100,css:"action",
                type: "control",
                itemTemplate: function(value,item) {
                    var td="<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"GetExpenseDetails("+item.ExpenseId+")\" class=\"waves-effect waves-cyan\">"+
                                "<i class=\"material-icons\">edit</i>"+
                                "<span class=\"nav-text\">Edit</span>"+
                           "</a>";
                    td+="<a style=\"cursor:pointer\" onclick=\"DeleteExpenseDetails("+item.ExpenseId+")\" class=\"waves-effect waves-cyan\">"+
                                "<i class=\"material-icons\">clear</i>"+
                                "<span class=\"nav-text\">Delete</span>"+
                           "</a>";
                    return td;
                }
            }
        ],
        //data: listExpenseListEnt
        controller: db
    });
</script>
