﻿@using TRSImplementation
@model ExpenseTypeMst
<div class="row section">
    <form class="row" id="frmExpenseCategory">
        @Html.HiddenFor(m => m.ExpenseTypeId)
        <div class="col s12">
            <div class="input-field col s12 col-xs-12 m6">
                @Html.TextBoxFor(m => m.ExpenseTypeName, new { @placeholder = "Expense Category", @required = "required" })
                <label for="ExpenseTypeName" class="active">Expense Category</label>
            </div>
            <div class="col s12 col-xs-12 m6">
                <a class="waves-effect waves-light btn" id="btnSaveExpenseCategory">
                    <i class="material-icons left">save</i> Save
                </a>
            </div>
        </div>
    </form>
</div>
<div id="dvExpenseCategoryList">
</div>
<script>
    var listExpenseTypeMst = @Html.Raw(Json.Encode(ViewBag.listExpenseTypeMst));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listExpenseTypeMst, function(user) {
                return (!filter.ExpenseTypeName || (user.ExpenseTypeName!=null && user.ExpenseTypeName.toLowerCase().indexOf(filter.ExpenseTypeName.toLowerCase()) > -1));
            });
        },
        insertItem: function(insertingClient) {
            this.clients.push(insertingClient);
        },
        updateItem: function(updatingClient) { },
    };
    db.listExpenseTypeMst=listExpenseTypeMst;
    window.db = db;
    window.setTimeout(function(){
        LoadExpenseCategoryData();

    },500);

    $("#btnSaveExpenseCategory").click(function(){
        if($("#frmExpenseCategory").valid()){
            $.ajax({
                url: "/Admin/Expense/AddExpenseCategory",
                type: 'POST',
                data: {
                    Name: $("#ExpenseTypeName").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        $('#ddlExpenseType').append($("<option></option>")
                                      .attr("value", data.Id)
                                      .text($("#ExpenseTypeName").val()));
                        $('#ddlExpenseType').val(data.Id);
                        swal("Success!", data.Msg, "success");
                        $('#ddlExpenseType').material_select();
                        $("#mdlExpenseCategory").modal('close');
                    }
                    else {
                        if (data.IsInfo) {
                            swal("Information!", data.Msg, "info");
                        }
                        else {
                            swal("Error!", data.Msg, "error");
                        }
                    }
                }
            });
        }
        else{
            swal("Information!", "Please enter expense category name", "info");
        }
    });

    function LoadExpenseCategoryData(){
        $("#dvExpenseCategoryList").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            pageSize: 10,
            pageButtonCount: 10,
            fields: [
                { name: "ExpenseTypeName", type: "text",width:300, title: "Expense Category"},
                { name: "Action",  css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td="<a style=\"cursor:pointer\" onclick=\"DeleteExpenseCategory("+item.ExpenseTypeId+")\" class=\"waves-effect waves-cyan\">"+
                                    "<i class=\"material-icons\">clear</i>"+
                                    "<span class=\"nav-text\">Delete</span>"+
                               "</a>";
                        return td;
                    }
                }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function DeleteExpenseCategory(ExpenseTypeId){
        swal({
            title: "Are you sure want to delete expense category?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               $.ajax({
                   url: "/Admin/Expense/DeleteExpenseCategory",
                   type: 'POST',
                   data: {
                       ExpenseTypeId: ExpenseTypeId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           $('#ddlExpenseType').find("option[value="+ExpenseTypeId+"]").remove();
                           $('#ddlExpenseType').material_select();
                           LoadExpenseCategory();
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "info");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }
</script>
