﻿@using TRSImplementation
@model ExpensePaidToMst
<div class="row section">
    <form class="row" id="frmExpensePaidTo">
        @Html.HiddenFor(m => m.ExpensePaidToId)
        <div class="col s12">
            <div class="input-field col s12 col-xs-12 m6">
                @Html.TextBoxFor(m => m.ExpensePaidTo, new { @placeholder = "Expense Paid To", @required = "required" })
                <label for="ExpensePaidTo" class="active">Expense Paid To</label>
            </div>
            <div class="col s12 col-xs-12 m6">
                <a class="waves-effect waves-light btn" id="btnSaveExpensePaidTo">
                    <i class="material-icons left">save</i> Save
                </a>
            </div>
        </div>
    </form>
</div>
<div id="dvExpensePaidToList">
</div>
<script>
    var listExpensePaidToMst = @Html.Raw(Json.Encode(ViewBag.listExpensePaidToMst));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listExpensePaidToMst, function(user) {
                return (!filter.ExpensePaidTo || (user.ExpensePaidTo!=null && user.ExpensePaidTo.toLowerCase().indexOf(filter.ExpensePaidTo.toLowerCase()) > -1));
            });
        },
        insertItem: function(insertingClient) {
            this.clients.push(insertingClient);
        },
        updateItem: function(updatingClient) { },
    };
    db.listExpensePaidToMst=listExpensePaidToMst;
    window.db = db;
    window.setTimeout(function(){
        LoadExpensePaidToData();
    },500);

    $("#btnSaveExpensePaidTo").click(function(){
        if($("#frmExpensePaidTo").valid()){
            $.ajax({
                url: "/Admin/Expense/AddExpensePaidTo",
                type: 'POST',
                data: {
                    Name: $("#ExpensePaidTo").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        $('#ddlPaidTo').append($("<option></option>")
                                             .attr("value", data.Id)
                                             .text($("#ExpensePaidTo").val()));
                        $('#ddlPaidTo').val(data.Id);
                        swal("Success!", data.Msg, "success");
                        $('#ddlPaidTo').material_select();
                        $("#mdlExpensePaidTo").modal('close');
                    }
                    else {
                        if (data.IsInfo) {
                            swal("Information!", data.Msg, "info");
                        }
                        else {
                            swal("Error!", data.Msg, "error");
                        }
                    }
                }
            });
        }
        else{
            swal("Information!", "Please enter expense paid to name", "info");
        }
    });

    function LoadExpensePaidToData(){
        $("#dvExpensePaidToList").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            pageSize: 10,
            pageButtonCount: 10,
            fields: [
                { name: "ExpensePaidTo", type: "text",width:300, title: "Expense Paid To"},
                { name: "Action",  css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td="<a style=\"cursor:pointer\" onclick=\"DeleteExpensePaidTo("+item.ExpensePaidToId+")\" class=\"waves-effect waves-cyan\">"+
                                    "<i class=\"material-icons\">clear</i>"+
                                    "<span class=\"nav-text\">Delete</span>"+
                               "</a>";
                        return td;
                    }
                }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function DeleteExpensePaidTo(ExpensePaidToId){
        swal({
            title: "Are you sure want to delete expense category?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               $.ajax({
                   url: "/Admin/Expense/DeleteExpensePaidTo",
                   type: 'POST',
                   data: {
                       ExpensePaidToId: ExpensePaidToId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           $('#ddlPaidTo').find("option[value="+ExpensePaidToId+"]").remove();
                           $('#ddlPaidTo').material_select();
                           LoadExpensePaidTo();
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "info");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }
</script>
