﻿@using TRSImplementation
@model PROC_GET_ALL_EXPENSE_DETAILS_Result
@{
    ViewBag.Title = "Expense Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listExpenseMst = (List<PROC_GET_ALL_EXPENSE_DETAILS_Result>)ViewBag.listExpenseMst;
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
    #task-card .collection-header {
    padding: 12px;
}
    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
        height: 2.5rem;
    }
    .select-wrapper input.select-dropdown{
        height: 2.5rem;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row section" id="dvProduct">
        <form class="row" id="frmPersonalDetails">
            @Html.HiddenFor(m => m.ExpenseId)
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    <input class="editable datetextbox" id="txtExpenseDate" name="txtExpenseDate" placeholder="Expense Date" type="text" readonly>
                    <label for="txtExpenseDate" data-error="wrong" data-success="right">Expense Date</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.DropDownList("ddlExpenseType", ((List<SelectListItem>)ViewBag.listExpenseType), "Select Expense Category", new { @class = "form-control" })
                    <label>Expense Category</label>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.Amount, new { @placeholder = "Expense Amount" })
                    <label for="Amount" class="active">Expense Amount</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.TextBoxFor(m => m.RefferenceNo, new { @placeholder = "Refference No" })
                    <label for="RefferenceNo" class="active">Refference No</label>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.DropDownList("ddlPaidTo", ((List<SelectListItem>)ViewBag.listExpensePaidTo), "Select Paid To", new { @class = "form-control" })
                    <label>Paid To</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.DropDownList("ddlPaidBy", ((List<SelectListItem>)ViewBag.listExpensePaidBy), "Select Paid By", new { @class = "form-control" })
                    <label>Paid By</label>
                </div>
                <div class="input-field col s12 col-xs-12 m12">
                    @Html.TextAreaFor(m => m.Description, new { @placeholder = "Description", @class = "materialize-textarea" })
                    <label for="Description" class="active">Description</label>
                </div>
            </div>
            <div class="col s12">
                <div class="col s12 center-align" style="margin-bottom:10px;">
                    <a class="waves-effect waves-light btn" id="btnSave">
                        <i class="material-icons left">save</i> Save
                    </a>
                    <a class="waves-effect waves-light btn" id="btnAddNewCategory">
                        <i class="material-icons left">add</i> Add New Category
                    </a>
                    <a class="waves-effect waves-light btn" id="btnAddNewPaidTo">
                        <i class="material-icons left">add</i> Add New Paid To
                    </a>
                    <a class="waves-effect waves-light btn hide" id="btnAddNewPaidBy">
                        <i class="material-icons left">add</i> Add New Paid By
                    </a>
                    <a class="waves-effect waves-light btn hide" id="btnCancel">
                        <i class="material-icons left">clear</i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="ExpenseListTitle">Expense Lists</h5>
                </li>
                <li>
                    <div class="input-field col col-xs-12 s6 m4 l4">
                        <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                        <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                    </div>
                    <div class="input-field col col-xs-12 s6 m4 l4">
                        <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                        <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                    </div>
                    <div class="input-field col col-xs-12 s12 m4 l4">
                        <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetExpenseDetailsList()">
                            <i class="material-icons left">search</i> Search
                        </a>
                    </div>
                    <div class="col-xs-12 s12 m12 l12" id="dvExpenseList">

                    </div>
                </li>
            </ul>
        </div>
    </div>    
    <div id="mdlExpenseCategory" class="modal">
        <div class="modal-content">
            <h5 class="center">Expense Category</h5>
            <hr />
            <div id="dvExpenseCategory">
            </div>
        </div>
    </div>
    <div id="mdlExpensePaidTo" class="modal">
        <div class="modal-content">
            <h5 class="center">Expense Paid To</h5>
            <hr />
            <div id="dvExpensePaidTo">
            </div>
        </div>
    </div>
</div>
<script>
    function WindowLoadComplete() {
        $(document).ready(function () {
            $("#btnCancel").click(function () {
                Clear()
            });
            $("#btnSave").click(function () {
                SaveExpense()
            });
            $("#btnAddNewCategory").click(function () {
                LoadExpenseCategory();
                //swal({
                //    title: "Add Expense Category!",
                //    text: "Please enter expense category name:",
                //    type: "input", showCancelButton: true,
                //    closeOnConfirm: false,
                //    animation: "slide-from-top",
                //    inputPlaceholder: "Write something"
                //},
                //function (inputValue) {
                //    if (inputValue === false) return false;
                //    if (inputValue === "") {
                //        swal.showInputError("You need to enter expense category name!");
                //        return false
                //    }
                //    $.ajax({
                //        url: "/Admin/Expense/AddExpenseCategory",
                //        type: 'POST',
                //        data: {
                //            Name: inputValue
                //        },
                //        cache: false,
                //        success: function (data) {
                //            if (data.Key) {
                //                $('#ddlExpenseType').append($("<option></option>")
                //                              .attr("value", data.Id)
                //                              .text(inputValue));
                //                $('#ddlExpenseType').val(data.Id);
                //                swal("Success!", data.Msg, "success");
                //                $('#ddlExpenseType').material_select();
                //            }
                //            else {
                //                if (data.IsInfo) {
                //                    swal("Information!", data.Msg, "info");
                //                    $('.sa-confirm-button-container .confirm').click(function () {
                //                        window.setTimeout(function () {
                //                            $("#btnAddNewCategory").click();
                //                        }, 500);
                //                    });
                //                }
                //                else {
                //                    swal("Error!", data.Msg, "error");
                //                }
                //            }
                //        }
                //    });
                //    //swal("Nice!", "You wrote: " + inputValue, "success");
                //});
            });
            $("#btnAddNewPaidBy").click(function () {
                swal({
                    title: "Add Paid By!",
                    text: "Please enter paid by name:",
                    type: "input", showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Write something"
                },
                function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("You need to enter paid by name!");
                        return false
                    }
                    $.ajax({
                        url: "/Admin/Expense/AddExpensePaidBy",
                        type: 'POST',
                        data: {
                            Name: inputValue
                        },
                        cache: false,
                        success: function (data) {
                            if (data.Key) {
                                $('#ddlPaidBy').append($("<option></option>")
                                              .attr("value", data.Id)
                                              .text(inputValue));
                                $('#ddlPaidBy').val(data.Id);
                                swal("Success!", data.Msg, "success");
                                $('#ddlPaidBy').material_select();
                            }
                            else {
                                if (data.IsInfo) {
                                    swal("Information!", data.Msg, "info");
                                    $('.sa-confirm-button-container .confirm').click(function () {
                                        window.setTimeout(function () {
                                            $("#btnAddNewPaidBy").click();
                                        }, 500);

                                    });
                                }
                                else {
                                    swal("Error!", data.Msg, "error");
                                }
                            }
                        }
                    });
                    //swal("Nice!", "You wrote: " + inputValue, "success");
                });
            });
            $("#btnAddNewPaidTo").click(function () {
                LoadExpensePaidTo();
                //swal({
                //    title: "Add Paid To!",
                //    text: "Please enter paid to name:",
                //    type: "input", showCancelButton: true,
                //    closeOnConfirm: false,
                //    animation: "slide-from-top",
                //    inputPlaceholder: "Write something"
                //},
                //function (inputValue) {
                //    if (inputValue === false) return false;
                //    if (inputValue === "") {
                //        swal.showInputError("You need to enter paid to name!");
                //        return false
                //    }
                //    $.ajax({
                //        url: "/Admin/Expense/AddExpensePaidTo",
                //        type: 'POST',
                //        data: {
                //            Name: inputValue
                //        },
                //        cache: false,
                //        success: function (data) {
                //            if (data.Key) {
                //                $('#ddlPaidTo').append($("<option></option>")
                //                              .attr("value", data.Id)
                //                              .text(inputValue));
                //                $('#ddlPaidTo').val(data.Id);
                //                swal("Success!", data.Msg, "success");
                //                $('#ddlPaidTo').material_select();
                //            }
                //            else {
                //                if (data.IsInfo) {
                //                    swal("Information!", data.Msg, "info");
                //                    $('.sa-confirm-button-container .confirm').click(function () {
                //                        window.setTimeout(function () {
                //                            $("#btnAddNewPaidTo").click();
                //                        }, 500);
                //                    });
                //                }
                //                else {
                //                    swal("Error!", data.Msg, "error");
                //                }
                //            }
                //        }
                //    });
                //    //swal("Nice!", "You wrote: " + inputValue, "success");
                //});
            });
            $("#txtFromDate").val('@ViewBag.FromDate');
            $("#txtToDate").val('@ViewBag.ToDate');
            GetExpenseDetailsList();
        });
    }

    function LoadExpenseCategory() {
        $.ajax({
            type: "POST",
            url: "/Admin/Expense/GetExpenseCategory",
            datatype: 'html',
            data: { },
            success: function (result) {
                $("#dvExpenseCategory").html(result);
                $("#mdlExpenseCategory").modal('open');
            },
            error: function () {
            }
        });
    }

    function LoadExpensePaidTo() {
        $.ajax({
            type: "POST",
            url: "/Admin/Expense/GetExpensePaidTo",
            datatype: 'html',
            data: {},
            success: function (result) {
                $("#dvExpensePaidTo").html(result);
                $("#mdlExpensePaidTo").modal('open');
            },
            error: function () {
            }
        });
    }
    function GetExpenseDetailsList() {
        $.ajax({
            type: "POST",
            url: "/Admin/Expense/GetExpenseDetailsList",
            datatype: 'html',
            data: { fromdate: $("#txtFromDate").val(), todate: $("#txtToDate").val() },
            success: function (result) {
                $("#dvExpenseList").html(result);
                $("#ExpenseListTitle").html("Expense List (" + $("#txtFromDate").val() + " To " + $("#txtToDate").val() + ")")
            },
            error: function () {
            }
        });
    }
    function Clear() {
        $("#ExpenseId").val("0");
        $("#txtExpenseDate").val("");
        $("#ddlExpenseType").val("");
        $("#Amount").val("");
        $("#ddlPaidBy").val("");
        $("#ddlPaidTo").val("");
        $("#Description").val("");
        $("#RefferenceNo").val("");
        $("#btnCancel").addClass("hide");
        $('#ddlExpenseType').material_select();
        $('#ddlPaidBy').material_select();
        $('#ddlPaidTo').material_select();
    }
    function GetExpenseDetails(id) {
        $.ajax({
            url: "/Admin/Expense/GetExpenseDetails",
            type: 'POST',
            data: {
                ExpenseId: id
            },
            success: function (data) {
                $("#Amount").val(data.Amount);
                $("#Description").val(data.Description);
                $("#RefferenceNo").val(data.RefferenceNo);
                $("#ExpenseId").val(data.ExpenseId);
                $("#ddlExpenseType").val(data.ExpenseTypeId);
                $("#ddlPaidBy").val(data.PaidBy);
                $("#ddlPaidTo").val(data.ExpensePaidToId);
                $("#txtExpenseDate").val(data.sExpenseDate);
                $('#ddlExpenseType').material_select();
                $('#ddlPaidBy').material_select();
                $('#ddlPaidTo').material_select();
                $("#btnCancel").removeClass("hide");
            }
        });
    }

    function SaveExpense() {
        var profiledata = new FormData();
        if ($("#txtExpenseDate").val().trim() == "") {
            swal("Information!", "Please enter expense date!", "error");
            return false;
        }
        else if ($("#Amount").val().trim() == "") {
            swal("Information!", "Please enter expense amount!", "error");
            return false;
        }
        else if ($("#ddlExpenseType").val().trim() == "") {
            swal("Information!", "Please select expense category!", "error");
            return false;
        }
        else if ($("#ddlPaidBy").val().trim() == "") {
            swal("Information!", "Please select paid by!", "error");
            return false;
        }

        profiledata.append("ExpenseId", $("#ExpenseId").val().trim());
        profiledata.append("ExpenseDate", $("#txtExpenseDate").val().trim());
        profiledata.append("ExpenseType", $("#ddlExpenseType").val().trim());
        profiledata.append("Amount", $("#Amount").val().trim());
        profiledata.append("PaidBy", $("#ddlPaidBy").val().trim());
        profiledata.append("ExpensePaidToId", $("#ddlPaidTo").val().trim());
        profiledata.append("Description", $("#Description").val().trim());
        profiledata.append("RefferenceNo", $("#RefferenceNo").val().trim());

        var newsUrl = "@Url.Content("~/Admin/Expense/InsertUpdateExpense")";
        $.ajax({
            url: newsUrl,
            type: "POST",
            processData: false,
            contentType: false,
            data: profiledata,
            success: function (data) {
                if (data.Key) {
                    if ($("#ProductId").val() == "0") {
                        swal("Success!", "Expense Inserted Successfully!", "success");
                    }
                    else {
                        swal("Success!", "Expense Updated Successfully!", "success");
                    }
                    $('.sa-confirm-button-container .confirm').click(function () {
                        //window.location.href = "/Admin/Expense/Index"
                        Clear();
                        GetExpenseDetailsList();
                    })
                }
                else {
                    swal("Error!", data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er);
            },
        });
    }

    function ActiveInActiveProduct(pid, status) {
        swal({
            title: status == 0 ? "Are you sure want to inactive product?" : "Are you sure want to active product?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/Product/ActiveInActiveProduct",
                    type: 'POST',
                    data: {
                        ProductId: pid
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Product/Index" })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }
    function DeleteExpenseDetails(ExpenseId) {
        swal({
            title: "Are you sure want to delete expense details?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Expense/DeleteExpense",
                   type: 'POST',
                   data: {
                       ExpenseId: ExpenseId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           GetExpenseDetailsList();
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }
</script>
