﻿@using TRSImplementation
@using TRS.Models
@model IEnumerable<PROC_GET_ALL_BUSINESS_TOOL_LIST_FOR_VIEW_EDIT_Result>
@{
    var listCategory = Model.OrderBy(i => i.BusinessToolsCategoryId).Select(i => new { i.CategoryName, i.BusinessToolsCategoryId }).Distinct().Select(i => new SelectListItem { Text = i.CategoryName, Value = i.BusinessToolsCategoryId.ToString() }).ToList();
    ViewBag.Title = "English Product Details Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .variant .select-dropdown {
        position: relative !important;
    }

    .variant input.select-dropdown {
        margin: 0 0 0px 0 !important;
    }

    .carousel {
        height: 280px;
    }

        .carousel.carousel-slider .carousel-item {
            min-height: 280px;
        }

        .carousel .indicators .indicator-item {
            margin: 4px 4px;
        }

    .line-breaks {
        white-space: pre-line;
    }

    img.lazy {
        /* optional way, set loading as background */
        background-image: url('../../../../Content/images/misch/loading.gif');
        background-repeat: no-repeat;
        background-position: 50% 30%;
    }
    #player{
        margin-top:-115px !important;
    }
</style>
<div class="container">
    <div class="section">        
        <div class="col s12">           
            <div class="input-field col col-xs-12 s12 m6 l6">
                @Html.DropDownList("ddlCategory", listCategory, "All Category", new { @class = "form-control" })
                <label style="left:0;">Choose your Category</label>
            </div>
        </div>
        <div id="item-posts" class="row">
            <div class="item-sizer"></div>
            @foreach (var item in Model)
            {
                <div class="item product" data-cid="@item.BusinessToolsCategoryId">
                    <div class="card" data-proid="@item.BusinessToolsId">
                        <div class="card-image waves-effect waves-block waves-light">                            
                            <div class="carousel carousel-slider center" data-indicators="true">
                                
                                @if (!string.IsNullOrEmpty(item.ImageName) && !string.IsNullOrWhiteSpace(item.ImageName))
                                {
                                    <div class="carousel-item amber white-text" href="">
                                        <img data-src="@item.ImageName" alt="item-img" class="lazy">
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.VideoURL) && !string.IsNullOrWhiteSpace(item.VideoURL))
                                {
                                    <div class="carousel-item amber white-text" href="">
                                        <iframe src="@item.VideoURL" allowfullscreen="" width="420" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                                        
                                    </div>
                                }
                            </div>
                        </div>
                        <ul class="card-action-buttons">
                            @if (!string.IsNullOrEmpty(item.PdfName) && !string.IsNullOrWhiteSpace(item.PdfName))
                            {
                                <li>
                                    <a class="btn-floating waves-effect waves-light cyan plusitem" href="@item.PdfName" target="_blank">
                                        <i class="material-icons">file_download</i>
                                    </a>
                                </li>
                            }                                                  
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">@item.BusinessToolsName</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--/ end items list -->
    </div>
</div>
<div id="mdlProductDetails" class="modal">
    <div class="modal-content">
        <h5 class="center">Products Details</h5>
        <hr />
        <div id="dvOrderDetails">
        </div>
    </div>
</div>

@section scripts
{
    <!-- masonry -->
    <script src="/Content/vendors/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="/Content/vendors/imagesloaded.pkgd.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--page-item.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/page-item.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <script src="~/Content/js/jquery.lazy.min.js"></script>
    <script src="~/Content/js/jquery.lazy.plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script>
        var PlanId = 1;
        //function WindowLoadComplete() {
        $(document).ready(function () {
            $('.lazy').Lazy({
                scrollDirection: 'vertical',
                effect: 'fadeIn',
                visibleOnly: true,
                onError: function (element) {
                    console.log('error loading ' + element.attr("src"));
                },
                afterLoad: function (element) {
                    //console.log(element.attr("src"))
                },
                visibleOnly:true
            });
            $('.carousel').carousel({duration:200});          
        });


        $("#ddlCategory").change(function () {
            $('.product').removeClass("hide");
            var Category = $(this).val();
            if (Category != "") {
                $('.product').not("[data-cid=" + Category + "]").addClass("hide");
            }
            ReInitializePageItem();
        })

        function ReInitializePageItem() {
            var $containerBlog = $("#item-posts");
            $containerBlog.imagesLoaded(function () {
                $containerBlog.masonry({
                    itemSelector: ".item",
                    columnWidth: ".item-sizer",
                });
            });
        }
       
    </script>
}