﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_GET_USER_ORDER_HDR_Result>
<style>
    .margin5 {
        margin: 5px 0px;
    }

    #ui-datepicker-div {
        z-index: 100006 !important;
    }
</style>
<div class="col s12" id="dvOrderList">

</div>
<script type="text/javascript">
    var listUserListEnt = @Html.Raw(Json.Encode(Model));
    var listFranchisee = @Html.Raw(Json.Encode(ViewBag.listFranchisee));

    LoadOrderData(listUserListEnt);

    function LoadOrderData(listUserListEnt){
        var db = {
            loadData: function(filter) {
                return $.grep(this.listUserListEnt, function(user) {
                    return (!filter.CustomerName || (user.CustomerName!=null &&  user.CustomerName.toLowerCase().indexOf(filter.CustomerName.toLowerCase()) > -1))
                        && (!filter.OrderNo || ((user.OrderNo!=null && user.OrderNo === filter.OrderNo)))
                        && (!filter.OdrDate ||  (user.OdrDate!=null && user.OdrDate.toLowerCase().indexOf(filter.OdrDate.toLowerCase()) > -1))
                        && (!filter.TotalOrderAmount || ((user.TotalOrderAmount!=null && user.TotalOrderAmount === filter.TotalOrderAmount)))
                        //&& (!filter.BusinessVolume || ((user.BusinessVolume!=null && user.BusinessVolume === filter.BusinessVolume)))
                        && (!filter.MobileNo || ((user.MobileNo!=null && user.MobileNo === filter.MobileNo)))
                        && (!filter.Address ||  (user.Address!=null && user.Address.toLowerCase().indexOf(filter.Address.toLowerCase()) > -1))
                        && (!filter.StatusName ||  (user.StatusName!=null && user.StatusName.toLowerCase().indexOf(filter.StatusName.toLowerCase()) > -1))
                        && (!filter.OrderType ||  (user.OrderType!=null && user.OrderType.toLowerCase().indexOf(filter.OrderType.toLowerCase()) > -1));
                });
            },
        };
        db.listUserListEnt=listUserListEnt;
        window.db = db;
        $("#dvOrderList").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "CustomerName", type: "text", width:250,title: "Name"},
                { name: "OrderNo", type: "number",width:100 ,title: "OrderNo"},
                { name: "OdrDate", type: "text",width:120,css:"Order Date" },
                { name: "TotalOrderAmount", type: "number",width:100,title: "Order Amount" },
                //{ name: "BusinessVolume", type: "number",width:100,title: "BV" },
                { name: "Address",  type: "text",width:250,title: "Address"},
                { name: "OrderType",  type: "text", width:120,title: "Order Type"},
                { name: "CustomerMobileNo",  width:100,css:"mobileno",  type: "number",title: "MobileNo"},
                { name: "StatusName",  type: "text", width:150, type: "text",title: "Status"},
                { name: "Action",  width:100,css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td=""
                        if (item.OrderStatusId!=null && item.OrderStatusId!="" &&
                            (item.OrderStatusId == @(clsImplementationEnum.OrderStatus.OrderConfirm.GetHashCode()) ||
                            item.OrderStatusId == @(clsImplementationEnum.OrderStatus.OrderCompleted.GetHashCode())))
                        {
                            td="<a style=\"cursor:pointer\" onclick=\"TrakingOrder("+item.UserPurchaseHdrId+",'"+item.CourierTrackingNo+"')\" title=\"Tracking\"><i class=\"material-icons\">flight_takeoff</i></a>"+
                                "<a style=\"cursor:pointer\" onclick=\"CompleteOrder("+item.UserPurchaseHdrId+")\" title=\"Complete Order\"><i class=\"material-icons\">done</i></a>"+
                                "<a href=\"/Utility/General/OrderReceipt/"+item.UserPurchaseHdrId+"\" target=\"_blank\" title=\"Receipt\"><i class=\"material-icons\">receipt</i></a>";
                        }
                        else if (!item.OrderStatusId.HasValue || (item.OrderStatusId.Value == @(clsImplementationEnum.OrderStatus.OrderGenerate.GetHashCode())))
                        {
                            td="<a style=\"cursor:pointer\" onclick=\"TrakingOrder("+item.UserPurchaseHdrId+",'"+item.CourierTrackingNo+"')\" title=\"Tracking\"><i class=\"material-icons\">flight_takeoff</i></a>"+
                        "<a style=\"cursor:pointer\" onclick=\"ConfirmOrder("+item.UserPurchaseHdrId+")\" title=\"Confirm Order\"><i class=\"material-icons\">done</i></a>"+
                        "<a style=\"cursor:pointer\" onclick=\"DeleteOrder("+item.UserPurchaseHdrId+")\" title=\"Cancel Order\"><i class=\"material-icons\">close</i></a>"+
                        "<a href=\"/Utility/General/OrderReceipt/"+item.UserPurchaseHdrId+"\" target=\"_blank\" title=\"Receipt\"><i class=\"material-icons\">receipt</i></a>";
                        }
                        return td;
                    }
                }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function CompleteOrder(OrderId) {
        swal({    title: "Are you sure want to complete order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                $.ajax({
                    url: "/Admin/Orders/CompleteOrderDetails",
                    type: 'POST',
                    data: {
                        UserPurchaseHdrId: OrderId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Franchisee/Orders/Index" })
                        }
                        else {
                            swal("Error!", data.Msg, "error");
                        }
                    }
                });
            });
    }

    function TrakingOrder(OrderId,CourierTrackingNo) {
        swal({
            title: "Courier Tracking Number!",
            text: "Please enter the Courier Tracking Number:",
            type: "input", showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Write something"
        },
                function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("You need to enter Courier Tracking Number!");
                        return false
                    }
                    $.ajax({
                        url: "/Admin/Orders/TrackingOrderDetails",
                        type: 'POST',
                        data: {
                            UserPurchaseHdrId: OrderId,
                            CourierTrackingNo: inputValue
                        },
                        cache: false,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", data.Msg, "success");
                                $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Franchisee/Orders/Index" })
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    });
                });

        window.setTimeout(function(){
            if(CourierTrackingNo!=null && CourierTrackingNo!=undefined && CourierTrackingNo!="null" && CourierTrackingNo!="undefined"){
                $('.sweet-alert').find('input').val(CourierTrackingNo);
            }
        },500);
    }

    function ConfirmOrder(OrderId) {
        swal({
            title: "Are you sure want to confirm order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Orders/ConfirmOrder",
                   type: 'POST',
                   data: {
                       UserPurchaseHdrId: OrderId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Franchisee/Orders/Index" })
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }

    function DeleteOrder(OrderId) {
        swal({
            title: "Are you sure want to delete order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Orders/DeleteOrder",
                   type: 'POST',
                   data: {
                       UserPurchaseHdrId: OrderId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Franchisee/Orders/Index" })
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }
</script>