﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Orders Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .franchiseename {
        height: 2rem !important;
        margin: 0 0 2px 0 !important;
    }

    .orders {
        padding: 8px 5px !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="input-field col col-xs-12 s12 m2 l2">
                <select id="StatusName"></select>
                <label for="StatusName" class="center-align">Status</label>
            </div>
            <div class="input-field col col-xs-12 s12 m2 l2">
                <select id="MonthName"></select>
                <label for="MonthName" class="center-align">Month</label>
            </div>
            <div class="input-field col col-xs-12 s12 m3 l3">
                <select id="WeekNo"></select>
                <label for="WeekNo" class="center-align">Week</label>
            </div>
            <div class="input-field col col-xs-12 s12 m2 l2">
                <select id="OrderType">
                    <option value="-1">ALL</option>
                    <option value="0">Direct</option>
                    <option value="1">Repurchase</option>
                </select>
                <label for="OrderType" class="center-align">Order Type</label>
            </div>
            <div class="input-field col col-xs-12 s12 m3 l3">
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeOrderDetails()">
                    <i class="material-icons left">search</i> Search
                </a>
            </div>
        </div>
        <div class="col s12  no-more-tables" id="dvDateRangeOrder">
        </div>
    </div>
    <div id="mdlProductDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">Order Details</h5>
            <hr />
            <div id="dvOrderDetails">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWeekDtl();
            GetStatusName();
        });

        function GetStatusName(){
            var str="";
            str=str+"<option value=\"0\">ALL</option>";
            str=str+"<option value=\""+@clsImplementationEnum.OrderStatus.OrderGenerate.GetHashCode()+"\">@clsImplementationEnum.OrderStatus.OrderGenerate.ToString()</option>";
            str=str+"<option value=\""+@clsImplementationEnum.OrderStatus.OrderConfirm.GetHashCode()+"\">@clsImplementationEnum.OrderStatus.OrderConfirm.ToString()</option>";
            str=str+"<option value=\""+@clsImplementationEnum.OrderStatus.OrderCompleted.GetHashCode()+"\">@clsImplementationEnum.OrderStatus.OrderCompleted.ToString()</option>";
            $("#StatusName").html(str);
            $('#StatusName').material_select();
        }

        $('#MonthName').change(function(){
            GetMonthWeekDtl();
        });
        function GetMonthWeekDtl() {
            $.ajax({
                type: "POST",
                url: "/Member/Reports/GetMonthWeekDtl",
                datatype: 'html',
                data: { MonthYear: $('#MonthName').val()},
                success: function (result) {
                    //console.log(result);
                    var str="<option value='0'>ALL</option>";
                    for (var i = 0; i < result.length; i++) {
                        str=str+"<option value=\""+result[i].WeekNo+"\">"+result[i].WeekName+"</option>";
                    }
                    $("#WeekNo").html(str);
                    $('#WeekNo').material_select();
                    GetDateRangeOrderDetails();
                },
                error: function () {
                }
            });
        }
    }
    function GetDateRangeOrderDetails() {
        $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching Income");
        $.ajax({
            type: "POST",
            url: "/Franchisee/Orders/GetDateRangeOrderDetails",
            datatype: 'html',
            data: { OrderStatusId: $('#StatusName').val(),MonthYear: $('#MonthName').val(),WeekNo: $('#WeekNo').val(),OrderType: $('#OrderType').val()},
            success: function (result) {
                $("#dvDateRangeOrder").html(result);
            },
            error: function () {
            }
        });
    }
</script>