﻿@using TRSImplementation
@model IEnumerable<TDSPercHistory>

<div id="floatThead" class="section">
    <div class="row">
        <div class="col s12 no-more-tables">
            <table class="striped productdetails">
                <thead>
                    <tr>
                        <th>Effective Date</th>
                        <th>TDS Perc With PAN</th>
                        <th>TDS Perc Without PAN</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Effective Date">@Convert.ToDateTime(item.EffectiveDate).ToString("dd MMM yyyy")</td>
                            <td data-title="TDS Perc With PAN">@item.PercWithPAN</td>
                            <td data-title="TDS Perc Without PAN">@item.PercWithoutPAN</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
