﻿@using TRSImplementation
@model List<PROC_GET_TOP_RETAILER_DETAILS_Result>
<div class="col-xs-12 s12 m12 l12" id="dvQuerySupport">

</div>
<script>

    var listQuerySupport = @Html.Raw(Json.Encode(Model));
    $("#spnWeekBudget").html(@ViewBag.WeekBudget)
    $("#spnWeekTopRetailer").html(@ViewBag.TotalWeeklyTopRetailer)
    var Difference = parseFloat('@ViewBag.WeekBudget') - parseFloat('@ViewBag.TotalWeeklyTopRetailer')
    $("#spnWeekDifference").html(Difference)

    GetTopRetailer(listQuerySupport);

    function GetTopRetailer(listQuerySupport) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listQuerySupport, function (user) {
                    return (!filter.UserCode || (user.UserCode != null && user.UserCode.toLowerCase().indexOf(filter.UserCode.toLowerCase()) > -1))
                        && (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.SelfBV || (user.SelfBV != null && user.SelfBV.toLowerCase().indexOf(filter.SelfBV.toLowerCase()) > -1))
                        && (!filter.RefferalBV || (user.RefferalBV != null && user.RefferalBV.toLowerCase().indexOf(filter.RefferalBV.toLowerCase()) > -1))
                        && (!filter.BusinessVolume || (user.BusinessVolume != null && user.BusinessVolume.toLowerCase().indexOf(filter.BusinessVolume.toLowerCase()) > -1))
                        && (!filter.Amount || (user.Amount != null && user.Amount.toLowerCase().indexOf(filter.Amount.toLowerCase()) > -1))
                });
            },
            insertItem: function (insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function (updatingClient) { },
        };
        db.listQuerySupport = listQuerySupport;
        window.db = db;
        $("#dvQuerySupport").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: false,
            autoload: true,
            pageSize: 50,
            pageButtonCount: 10,
            fields: [
                { name: "RefferalCode", type: "text", width: 100, title: "User Code" },
                { name: "FullName", type: "text", width: 250, title: "Name" },
                { name: "SelfBV", type: "text", width: 100, title: "Self BV" },
                { name: "RefferalBV", type: "text", width: 100, title: "Refferal BV" },
                { name: "BusinessVolume", type: "text", width: 100, title: "BV" },
                { name: "Amount", type: "text", width: 100, title: "Sales Amount" },
                {
                    name: "PaidAmount", width: 100, title: "Paid Amount",
                    itemTemplate: function (value, item) {
                        if(!item.IsPaid){
                            var td = "<input type=\"text\" id=\"txtvalue" + item.UserId + "\" class=\"value\" name=\"txtvalue" + item.UserId + "\" value=\"" + item.PaidAmount + "\" style=\"margin:0;\"/> ";
                        }
                        else{
                            var td = item.PaidAmount ;
                        }
                        return td;
                    }
                },
                { name: "PaidDate", width: 100, title: "Paid Date" },
            {
                name: "Action", width: 100, css: "action", title: "Action",
                //type: "control",
                itemTemplate: function (value, item) {
                    if(!item.IsPaid){
                        var td = "<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"UpdateTopRetailerPaidAmount(this," + item.TopRetailerDtlId + ")\" class=\"waves-effect waves-cyan\" title=\"Update\">" +
                                    "<i class=\"material-icons\">save</i>" +
                                    "<span class=\"nav-text\"></span>" +
                               "</a>";
                        td += "<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"UpdateIsPaidToTopRetailer(this," + item.TopRetailerDtlId + ")\" class=\"waves-effect waves-cyan\" title=\"Pay Amount\">" +
                                   "<i class=\"material-icons\">payment</i>" +
                                   "<span class=\"nav-text\"></span>" +
                              "</a>";
                    }
                    return td;
                }
            }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function UpdateTopRetailerPaidAmount(btn,TopRetailerDtlId){
        $tr=$(btn).closest("tr");
        value=$tr.find('.value').val()
        $.ajax({
            url: "/Admin/Support/UpdateTopRetailerPaidAmount",
            type: 'POST',
            data: {
                value: value,
                TopRetailerDtlId:TopRetailerDtlId
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    //GetMonthWiseTopRetailer();
                    swal("Success!", data.Msg, "success");
                }
                else {
                    if (data.IsInfo) {
                        swal("Information!", data.Msg, "info");
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                    }
                }
            }
        });
    }

    function UpdateIsPaidToTopRetailer(btn,TopRetailerDtlId){
        $tr=$(btn).closest("tr");
        value=$tr.find('.value').val()
        swal({    title: "Are you sure want to paid "+value+" amount?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                
                $.ajax({
                    url: "/Admin/Support/UpdateIsPaidToTopRetailer",
                    type: 'POST',
                    data: {
                        value: value,
                        TopRetailerDtlId:TopRetailerDtlId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            GetMonthWiseTopRetailer();
                            swal("Success!", data.Msg, "success");
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "info");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            }
        );
    }



</script>

