﻿@using TRSImplementation
@model List<BonanzaQualifiersEnt>
<div class="col-xs-12 s12 m12 l12" id="dvQuerySupport">

</div>
<script>

    var listQuerySupport = @Html.Raw(Json.Encode(Model));
    GetTopRetailer(listQuerySupport);
    if(listQuerySupport.length>0){
        $("#spnBonanzaVolume").html(listQuerySupport[0].ActualBonanzaVolume);
        $("#spnBVMultiplier").html(listQuerySupport[0].BVMultiplier);
        $("#spnAllUsersTotalMonthBV").html(listQuerySupport[0].AllUsersTotalMonthBV);
    }
    function GetTopRetailer(listQuerySupport) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listQuerySupport, function (user) {
                    return (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.UTRRefNo || (user.UTRRefNo != null && user.UTRRefNo.toLowerCase().indexOf(filter.UTRRefNo.toLowerCase()) > -1))
                         && (!filter.CurrentMonthLeftBV || ((user.CurrentMonthLeftBV!=null && user.CurrentMonthLeftBV === filter.CurrentMonthLeftBV)))
                         && (!filter.CurrentMonthRightBV || ((user.CurrentMonthRightBV!=null && user.CurrentMonthRightBV === filter.CurrentMonthRightBV)))
                         && (!filter.CurrentMonthBV || ((user.CurrentMonthBV!=null && user.CurrentMonthBV === filter.CurrentMonthBV)))
                });
            },
            insertItem: function (insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function (updatingClient) { },
        };
        db.listQuerySupport = listQuerySupport;
        window.db = db;
        $("#dvQuerySupport").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: false,
            autoload: true,
            pageSize: 50,
            pageButtonCount: 10,
            fields: [
                { name: "RefferalCode", type: "text", width: 100, title: "User Code" },
                { name: "FullName", type: "text", width: 200, title: "Name" },
                //{ name: "CurrentMonthLeftBV", type: "text", width: 100, title: "Left BV" },
                //{ name: "CurrentMonthRightBV", type: "text", width: 100, title: "Right BV" },
                { name: "Previous3rdMonthBV", type: "text", width: 100, title: "Previous 3rd Month BV" },
                { name: "Previous2rdMonthBV", type: "text", width: 100, title: "Previous 2rd Month BV" },
                { name: "PreviousMonthBV", type: "text", width: 100, title: "Previous Month BV" },
                { name: "CurrentMonthBV", type: "text", width: 100, title: "Current Month BV" },
                {
                    name: "PaidAmount", width: 100, title: "Paid Amount",
                    itemTemplate: function (value, item) {
                        if(!item.IsPaid){
                            var td = "<input type=\"text\" id=\"txtvalue" + item.UserId + "\" class=\"value\" name=\"txtvalue" + item.UserId + "\" value=\"" + item.PaidAmount + "\" style=\"margin:0;\"/> ";
                        }
                        else{
                            var td = item.PaidAmount ;
                        }
                        return td;
                    }
                },
                {
                    name: "UTRRefNo", width: 150, title: "UTR Ref No.",
                    itemTemplate: function (value, item) {
                        if(!item.IsPaid){
                            var td = "<input type=\"text\" id=\"txtUTRRefNo" + item.UserId + "\" class=\"utrrefno\" name=\"txtUTRRefNo" + item.UserId + "\" value=\"" + item.UTRRefNo + "\" style=\"margin:0;\"/> ";
                        }
                        else{
                            var td = item.UTRRefNo ;
                        }
                        return td;
                    }
                },
                { name: "PaidDate", width: 100, title: "Paid Date" },
            {
                name: "Action", width: 100, css: "action", title: "Action",

                itemTemplate: function (value, item) {
                    if(!item.IsPaid){
                        var td = "<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"UpdateBonanzaPaidAmount(this," + item.BonanzaRewardDtlId + ")\" class=\"waves-effect waves-cyan\" title=\"Update\">" +
                                    "<i class=\"material-icons\">save</i>" +
                                    "<span class=\"nav-text\"></span>" +
                               "</a>";
                        td += "<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"UpdateIsPaidToBonanza(this," + item.BonanzaRewardDtlId + ")\" class=\"waves-effect waves-cyan\" title=\"Pay Amount\">" +
                                   "<i class=\"material-icons\">payment</i>" +
                                   "<span class=\"nav-text\"></span>" +
                              "</a>";
                    }
                    return td;
                }
            }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function UpdateBonanzaPaidAmount(btn,BonanzaRewardDtlId){
        $tr=$(btn).closest("tr");
        value=$tr.find('.value').val()
        utrrefno=$tr.find('.utrrefno').val()
        $.ajax({
            url: "/Admin/Support/UpdateBonanzaPaidAmount",
            type: 'POST',
            data: {
                value: value,
                utrrefno: utrrefno,
                BonanzaRewardDtlId:BonanzaRewardDtlId
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    //GetMonthWiseBonanza();
                    swal("Success!", data.Msg, "success");
                }
                else {
                    if (data.IsInfo) {
                        swal("Information!", data.Msg, "info");
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                    }
                }
            }
        });
    }

    function UpdateIsPaidToBonanza(btn,BonanzaRewardDtlId){
        $tr=$(btn).closest("tr");
        value=$tr.find('.value').val()
        swal({    title: "Are you sure want to paid "+value+" amount?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){

                $.ajax({
                    url: "/Admin/Support/UpdateIsPaidToBonanza",
                    type: 'POST',
                    data: {
                        value: value,
                        BonanzaRewardDtlId:BonanzaRewardDtlId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            GetMonthWiseBonanza();
                            swal("Success!", data.Msg, "success");
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "info");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            }
        );
    }
</script>

