﻿@{
    ViewBag.Title = "Bonanza Rewards Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    #task-card .collection-header {
        padding: 12px;
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
        height: 2.5rem;
    }

    .select-wrapper input.select-dropdown {
        height: 2.5rem;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="input-field col col-xs-12 s12 m4 l4">
                <select id="MonthName"></select>
                <label for="MonthName" class="center-align">Month</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWiseBonanza()">
                    <i class="material-icons left">search</i> Search
                </a>
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetCalculateBonanza()">
                    @*<i class="material-icons left">search</i>*@ Calculate
                </a>
            </div>
        </div>
        <div class="col s12 m12 l12" style="margin-bottom:10px;">
            <div class="input-field col col-xs-12 s12 m4 l4">
                <span>Bonanza Volume : </span><b> <span id="spnBonanzaVolume"></span></b>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <span>All User BV : </span><b> <span id="spnAllUsersTotalMonthBV"></span></b>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <span>BV Multiplier : </span><b> <span id="spnBVMultiplier"></span></b>
            </div>
        </div>
        <div class="col s12  no-more-tables" id="dvDateRangeOrder">
        </div>
    </div>
    <div id="mdlProductDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">Order Details</h5>
            <hr />
            <div id="dvOrderDetails">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWiseBonanza();
            $("#spnBonanzaVolume").html("0");
            $("#spnBVMultiplier").html("0");
            $("#spnAllUsersTotalMonthBV").html("0");
        });
    }
    function GetMonthWiseBonanza() {
        $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching Income");
        $('body').removeClass("loaded");
        $('.section-left').addClass("loader-section-ajax");
        $('.section-right').addClass("loader-section-ajax");
        $.ajax({
            type: "POST",
            url: "/Admin/Support/GetMonthWiseBonanzaDetails",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val()},
            success: function (result) {
                $('body').addClass("loaded");
                $('.section-left').removeClass("loader-section-ajax");
                $('.section-right').removeClass("loader-section-ajax");
                $("#dvDateRangeOrder").html(result);
            },
            error: function () {
            }
        });
    }

    function GetCalculateBonanza(){
        $('body').removeClass("loaded");
        $('.section-left').addClass("loader-section-ajax");
        $('.section-right').addClass("loader-section-ajax");
        $.ajax({
            type: "POST",
            url: "/Admin/Support/GetCalculateBonanza",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val()},
            success: function (result) {
                $('body').addClass("loaded");
                $('.section-left').removeClass("loader-section-ajax");
                $('.section-right').removeClass("loader-section-ajax");
                console.log(result);
                $("#spnBonanzaVolume").html(result.ActualBonanzaVolume);
                $("#spnBVMultiplier").html(result.BVMultiplier);
                $("#spnAllUsersTotalMonthBV").html(result.AllUsersTotalMonthBV);
            },
            error: function () {
            }
        });
    }
</script>