﻿@using TRSImplementation
@model List<ConfigMst>
@{
    ViewBag.Title = "Configuration Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    #task-card .collection-header {
        padding: 12px;
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
        height: 2.5rem;
    }

    .select-wrapper input.select-dropdown {
        height: 2.5rem;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="ExpenseListTitle">Configuration List</h5>
                </li>
                <li>
                    <div class="col-xs-12 s12 m12 l12" id="dvQuerySupport">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="mdlTDSHistory" class="modal">
    <div class="modal-content">
        <div id="dvTDSHistory">
        </div>
    </div>
</div>

<script>
    function WindowLoadComplete() {
        $(document).ready(function () {
            var listQuerySupport = @Html.Raw(Json.Encode(Model));
            GetQuerySupportList(listQuerySupport);

            $("#txtStartDate").datepicker({
                dateFormat: "dd/mm/yy",
                onSelect: function (selected) {
                }
            });

        });
    }

    function GetQuerySupportList(listQuerySupport) {
        var db = {
            loadData: function(filter) {
                return $.grep(this.listQuerySupport, function(user) {
                    return (!filter.Description || (user.Description!=null && user.Description.toLowerCase().indexOf(filter.Description.toLowerCase()) > -1))
                        && (!filter.Value || (user.Value!=null && user.Value.toLowerCase().indexOf(filter.Value.toLowerCase()) > -1))
                });
            },
            insertItem: function(insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function(updatingClient) { },
        };
        db.listQuerySupport=listQuerySupport;
        window.db = db;
        $("#dvQuerySupport").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            pageSize: 50,
            pageButtonCount: 10,
            fields: [
                { name: "Description", type: "text", width:600,title:"Description"},
                { name: "Value",  type: "text", width:500,
                    itemTemplate: function(value,item) {
                        if (item.Key == "TDSEffectiveDate") {
                            //var td = "<input type=\"text\" id=\"txtvalue" + item.ConfigId + "\" class=\"value\" name=\"txtvalue" + item.ConfigId + "\" value=\"" + item.Value + "\" style=\"margin:0;\"/> ";
                            var td = "<input class=\"value editable datetextbox\" id=\"txtStartDate\" required name=\"txtStartDate\" placeholder=\"TDS Effective Date\" type=\"text\" readonly value=\"" + item.Value + "\">";
                            return td;
                        }
                        else {
                            var td = "<input type=\"text\" id=\"txtvalue" + item.ConfigId + "\" class=\"value\" name=\"txtvalue" + item.ConfigId + "\" value=\"" + item.Value + "\" style=\"margin:0;\"/> ";
                            return td;
                        }

                    }
                }  ,
            { name: "Action",  width:100,css:"action",
                type: "control",
                itemTemplate: function(value,item) {
                    var td="<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"UpdateConfigValue(this,"+item.ConfigId+")\" class=\"waves-effect waves-cyan\" title=\"Update\">"+
                                "<i class=\"material-icons\">save</i>"+
                                "<span class=\"nav-text\"></span>"+
                        "</a>";

                    if (item.Key == "TDSEffectiveDate" || item.Key == "TDSPercWithPAN" || item.Key == "TDSPercWithoutPAN") {
                        td += "<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"ShowTDSHistoryCard()\" class=\"waves-effect waves-cyan\" title=\"TDS History\">" +
                            "<i class=\"material-icons\">history</i>" +
                            "<span class=\"nav-text\"></span>" +
                            "</a>";
                    }
                    return td;
                }
            }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function UpdateConfigValue(btn,ConfigId){
        $tr=$(btn).closest("tr");
        value=$tr.find('.value').val()
        $.ajax({
            url: "/Admin/Support/UpdateConfigValue",
            type: 'POST',
            data: {
                value: value,
                ConfigId:ConfigId
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    swal("Success!", data.Msg, "success");
                }
                else {
                    if (data.IsInfo) {
                        swal("Information!", data.Msg, "info");
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                    }
                }
            }
        });
    }

    function ResolveQuery(QuerySupportId){
        swal({
            title: "Are you sure want to resolve query?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               $.ajax({
                   url: "/Admin/Support/ResolveQuery",
                   type: 'POST',
                   data: {
                       QuerySupportId:QuerySupportId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           BindQuerySupportList();
                           swal("Success!", data.Msg, "success");
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "info");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }

    function BindQuerySupportList(){
        $.ajax({
            url: "/Admin/Support/GetQuerySupportList",
            type: 'POST',
            data: {
                QueryStatus: $("#StatusName").val(),
                FromDate: $('#txtFromDate').val(),
                ToDate: $('#txtToDate').val()
            },
            cache: false,
            success: function (data) {
                GetQuerySupportList(data);
            }
        });
    }

    function ShowTDSHistoryCard() {
        $.ajax({
            type: "POST",
            url: "/Admin/Support/GetTDSHistoryDetails",
            datatype: 'html',
            data: {  },
            success: function (result) {
                $("#dvTDSHistory").html(result);
                $("#mdlTDSHistory").modal('open');
            },
            error: function () {
            }
        });
    }

</script>