﻿@using TRSImplementation
@{
    ViewBag.Title = "Support Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    #task-card .collection-header {
        padding: 12px;
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
        height: 2.5rem;
    }

    .select-wrapper input.select-dropdown {
        height: 2.5rem;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="ExpenseListTitle">Queries List</h5>
                </li>
                <li>
                    <div class="input-field col col-xs-12 s12 m3 l3">
                        <select id="StatusName"></select>
                        <label for="StatusName" class="center-align">Status</label>
                    </div>
                    <div class="input-field col col-xs-12 s12 m3 l3">
                        <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                        <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                    </div>
                    <div class="input-field col col-xs-12 s12 m3 l3">
                        <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                        <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                    </div>
                    <div class="input-field col col-xs-12 s12 m3 l3">
                        <a class="waves-effect waves-light btn" id="btnEdit" onclick="BindQuerySupportList()">
                            <i class="material-icons left">search</i> Search
                        </a>
                    </div>
                    <div class="col-xs-12 s12 m12 l12" id="dvQuerySupport">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function WindowLoadComplete() {
        $(document).ready(function () {
            var listQuerySupport = @Html.Raw(Json.Encode(ViewBag.listQuerySupport));
            GetStatusName();
            GetQuerySupportList(listQuerySupport);
        });
    }
    function GetStatusName(){
        var str="";
        str=str+"<option value=\"0\">ALL</option>";
        str=str+"<option value=\""+@clsImplementationEnum.QuerySupportStatus.Pending.GetHashCode()+"\">@clsImplementationEnum.QuerySupportStatus.Pending.ToString()</option>";
        str=str+"<option value=\""+@clsImplementationEnum.QuerySupportStatus.Resolve.GetHashCode()+"\">@clsImplementationEnum.QuerySupportStatus.Resolve.ToString()</option>";
        $("#StatusName").html(str);
        $('#StatusName').material_select();
    }

    function GetQuerySupportList(listQuerySupport) {
        var db = {
            loadData: function(filter) {
                return $.grep(this.listQuerySupport, function(user) {
                    return (!filter.Subject || (user.Subject!=null && user.Subject.toLowerCase().indexOf(filter.Subject.toLowerCase()) > -1))
                        && (!filter.Comment || (user.Comment!=null && user.Comment.toLowerCase().indexOf(filter.Comment.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode!=null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.FirstName || (user.FirstName!=null && user.FirstName.toLowerCase().indexOf(filter.FirstName.toLowerCase()) > -1))
                        && (!filter.Response || (user.Response!=null && user.Response.toLowerCase().indexOf(filter.Response.toLowerCase()) > -1))
                        && (!filter.QueryStatusName || (user.QueryStatusName!=null && user.QueryStatusName.toLowerCase().indexOf(filter.QueryStatusName.toLowerCase()) > -1));
                });
            },
            insertItem: function(insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function(updatingClient) { },
        };
        db.listQuerySupport=listQuerySupport;
        window.db = db;
        $("#dvQuerySupport").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            pageSize: 25,
            pageButtonCount: 10,
            fields: [
                { name: "RefferalCode", type: "text", width:100,title:"UserId"},
                { name: "FirstName", type: "text", width:100,title:"Name"},
                { name: "CreatedOn", type: "text", width:100,title:"Date"},
                { name: "Subject", type: "text", width:200},
                { name: "Comment", type: "text", width:350},
                { name: "Response", type: "text", width:350,css:"Response"},
                { name: "QueryStatusName", type: "text",width:100,title:"Status" },
                { name: "Action",  width:100,css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td="<a style=\"cursor:pointer;padding-right: 5px;\" onclick=\"UpdateResponse(this,"+item.QuerySupportId+")\" class=\"waves-effect waves-cyan\" title=\"Response\">"+
                                    "<i class=\"material-icons\">edit</i>"+
                                    "<span class=\"nav-text\"></span>"+
                               "</a>";
                        td+="<a style=\"cursor:pointer\" onclick=\"ResolveQuery("+item.QuerySupportId+")\" class=\"waves-effect waves-cyan\" title=\"Resolve Query\">"+
                                    "<i class=\"material-icons\">done</i>"+
                                    "<span class=\"nav-text\"></span>"+
                               "</a>";
                        return td;
                    }
                }
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function ResolveQuery(QuerySupportId){
        swal({
            title: "Are you sure want to resolve query?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               $.ajax({
                   url: "/Admin/Support/ResolveQuery",
                   type: 'POST',
                   data: {
                       QuerySupportId:QuerySupportId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           BindQuerySupportList();
                           swal("Success!", data.Msg, "success");
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "info");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });

    }

    function BindQuerySupportList(){
        $.ajax({
            url: "/Admin/Support/GetQuerySupportList",
            type: 'POST',
            data: {
                QueryStatus: $("#StatusName").val(),
                FromDate: $('#txtFromDate').val(),
                ToDate: $('#txtToDate').val()
            },
            cache: false,
            success: function (data) {
                GetQuerySupportList(data);
            }
        });
    }
</script>
