﻿@{
    ViewBag.Title = "Top Retailer Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    #task-card .collection-header {
        padding: 12px;
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
        height: 2.5rem;
    }

    .select-wrapper input.select-dropdown {
        height: 2.5rem;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="dataRangeTitle">Top Retailer</h5>
            </li>
        </ul>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <select id="MonthName"></select>
                    <label for="MonthName" class="center-align">Month</label>
                </div>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWiseTopRetailer()">
                        <i class="material-icons left">search</i> Search
                    </a>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <ul id="task-card" class="collection with-header">
                    <li class="collection-header teal accent-4">
                        <h5 class="task-card-title" id="ExpenseListTitle">
                            Top Retailer
                        </h5>
                    </li>
                    <li>
                        <div class="col-xs-12 s12 m4 l4">
                            <h5>
                                Weekly Budget : <span id="spnWeekBudget"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                Top Retailer Amount : <span id="spnWeekTopRetailer"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                Difference : <span id="spnWeekDifference"></span>
                            </h5>
                        </div>
                    </li>
                    <li>
                        <div class="col s12  no-more-tables" id="dvDateRangeOrder">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mdlProductDetails" class="modal">
            <div class="modal-content">
                <h5 class="center">Order Details</h5>
                <hr />
                <div id="dvOrderDetails">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWiseTopRetailer();
        });
    }
    function GetMonthWiseTopRetailer() {
        $("#dataRangeTitle").html($('#MonthName option:selected').text() +" Top Retailer");
        $.ajax({
            type: "POST",
            url: "/Admin/Support/GetMonthWiseTopRetailerDetails",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val()},
            success: function (result) {
                $("#dvDateRangeOrder").html(result);
            },
            error: function () {
            }
        });
    }
</script>