﻿@using TRSImplementation
@*@model List<PROC_RPT_GET_COMPANY_SHARE_AMOUNT_Result>*@
@{
    ViewBag.Title = "Charge Up Bonus Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    #task-card .collection-header {
        padding: 12px;
    }

    input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
        height: 2.5rem;
    }

    .select-wrapper input.select-dropdown {
        height: 2.5rem;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        @*<div class="input-field col col-xs-12 s12 m4 l4">
                <select id="WeekName">
                    <option value="0">Current Week</option>
                    <option value="-1">Previous Week</option>
                </select>
                <label for="WeekName" class="center-align">Week</label>
            </div>*@

        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="ExpenseListTitle">
                        Charge Up Bonus

                    </h5>
                </li>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <select id="MonthName"></select>
                    <label for="MonthName" class="center-align">Month</label>
                </div>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <select id="WeekNo"></select>
                    <label for="WeekNo" class="center-align">Week</label>
                </div>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetWeekRangeVoltDetails(0, 0)">
                        <i class="material-icons left">search</i> Search
                    </a>
                    <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                        <i class="material-icons left" title="Download Excel">file_download</i>
                    </a>
                </div>
                @*<div class="col-xs-12 s12 m4 l4">
                        <h5>
                            Weekly Budget : <span id="spnWeekBudget"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                            Charge Up Bonus : <span id="spnWeekVoltIncome"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                            Difference : <span id="spnWeekDifference"></span>
                        </h5>
                    </div>*@
                <div class="col s12 m12 l12">
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        @*<span>Total Matching Income: </span><span id="TotalMatchingIncome" class="fontbold"></span>*@
                        <span>Weekly Budget: </span>
                        <span id="spnWeekBudget" class="fontbold"></span>
                        @*<a style="cursor:pointer"> <span id="spnWeekBudget" onclick="GetUplineIncomeGoldUserDetails()" class="fontbold"></span> </a>*@
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        <span>Company weekly budget: </span>@*<span id="UplineBugetIncome" class="fontbold"></span>*@
                        <input class="editable" id="txtWeekVoltIncome" style="width:40%" name="txtWeekVoltIncome" placeholder="" type="text">
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:12%">
                        <a class="waves-effect waves-light btn" id="btnVoltIncomeCal" onclick="ReCalculateVoltsIncome()">
                            Re-Calculate
                        </a>
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        <span>BV Multiplier: </span><span id="spnBVMultiplier" class="fontbold"></span>
                    </div>
                </div>

                <div class="col-xs-12 s12 m12 l12" id="dvQuerySupport">

                </div>

                <div class="col s12 m12 l12" style="text-align:center;margin:5px 0px;">
                    <a class="waves-effect waves-light btn" id="btnSave" onclick="SaveMilesOfVolts()">
                        Save
                    </a>
                </div>
            </ul>
        </div>
    </div>
</div>
<script>
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));

        $(document).ready(function () {
            var str = "";
            for (var i = 0; i < Months.length; i++) {
                str = str + "<option value=\"" + Months[i].MonthYear + "\">" + Months[i].MonthName + "</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();

            GetMonthWeekDtl();
        });

        $('#MonthName').change(function () {
            GetMonthWeekDtl();
        });
        
        $('#WeekNo').change(function () {
            GetWeekRangeVoltDetails(0, 0);
        });

        function GetMonthWeekDtl() {
            $.ajax({
                type: "POST",
                url: "/Admin/Support/GetMonthWeekDtl",
                datatype: 'html',
                data: { MonthYear: $('#MonthName').val() },
                success: function (result) {
                    //console.log(result);
                    var str = "";//"<option value='0'>All</option>";
                    for (var i = 0; i < result.length; i++) {
                        str = str + "<option value=\"" + result[i].WeekNo + "\">" + result[i].WeekName + "</option>";
                    }
                    $("#WeekNo").html(str);
                    $('#WeekNo').material_select();
                    GetWeekRangeVoltDetails(0, 0);
                },
                error: function () {
                }
            });
        }

    }

    function GetVoltIncomeList(listQuerySupport) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listQuerySupport, function (user) {
                    return (!filter.UserCode || (user.UserCode != null && user.UserCode.toLowerCase().indexOf(filter.UserCode.toLowerCase()) > -1))
                        && (!filter.UserName || (user.UserName != null && user.UserName.toLowerCase().indexOf(filter.UserName.toLowerCase()) > -1))
                        && (!filter.VoltCount || ((user.VoltCount != null && user.VoltCount == filter.VoltCount)))
                        && (!filter.Miles || ((user.Miles != null && user.Miles == filter.Miles)))
                });
            },
            insertItem: function (insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function (updatingClient) { },
        };
        db.listQuerySupport = listQuerySupport;
        window.db = db;
        $("#dvQuerySupport").jsGrid({
            height: "70%",
            id: "tblQuerySupport",
            width: "100%",
            sorting: false,
            paging: false,
            filtering: false,
            autoload: true,
            pageSize: 50,
            pageButtonCount: 10,
            fields: [
                { name: "UserCode", type: "text", width: 100, title: "User Code" },
                { name: "UserName", type: "text", width: 250, title: "User Name" },
                { name: "VoltCount", type: "text", width: 100, title: "Volts" },
                { name: "BVMultiplier", type: "text", width: 100, title: "BV Multiplier" },
                { name: "Miles", type: "text", width: 100, title: "Miles" },
                
            ],
            //data: listExpenseListEnt
            controller: db
        });
    }

    function GetWeekRangeVoltDetails(CompanyWeekBudget, WeekBudget) {
        $.ajax({
            url: "/Admin/Support/GetWeekRangeVoltDetails",
            type: 'POST',
            data: {
                MonthYear: $('#MonthName').val(),
                WeekNo: $('#WeekNo').val(),
                CompanyWeekBudget: CompanyWeekBudget,
                WeekBudget: WeekBudget
            },
            cache: false,
            success: function (data) {
                GetVoltIncomeList(data.listVoltIncome);

                $("#spnWeekBudget").text(data.WeekBudget)
                $("#txtWeekVoltIncome").val(data.CompanyWeekBudget)
                $("#spnBVMultiplier").text(data.BVMultiplier)

                if (data.IsMilesInserted == 1) {
                    $("#btnVoltIncomeCal").attr("disabled", "disabled");
                    $("#btnSave").attr("disabled", "disabled");
                    $("#txtWeekVoltIncome").attr("disabled", "disabled");
                }
                else {
                    $("#btnVoltIncomeCal").removeAttr("disabled");
                    $("#btnSave").removeAttr("disabled");
                    $("#txtWeekVoltIncome").removeAttr("disabled");
                }
            }
        });
    }

    function ReCalculateVoltsIncome() {

        if ($("#txtWeekVoltIncome").val().trim() == "") {
            swal("Information!", "Please enter Company weekly budget!", "error");
            return false;
        }
        else if (isNaN(parseInt($("#txtWeekVoltIncome").val().trim())) || parseInt($("#txtWeekVoltIncome").val().trim()) <= 0) {
            swal("Information!", "Please enter Company weekly budget!", "error");
            $("#txtWeekVoltIncome").val('');
            return false;
        }

        var CompanyWeekVoltIncome = $("#txtWeekVoltIncome").val();
        var WeekBudget = $("#spnWeekBudget").text();

        GetWeekRangeVoltDetails(CompanyWeekVoltIncome, WeekBudget);
    }

    function SaveMilesOfVolts() {

        if ($("#txtWeekVoltIncome").val().trim() == "") {
            swal("Information!", "Please enter Company weekly budget!", "error");
            return false;
        }
        else if (isNaN(parseInt($("#txtWeekVoltIncome").val().trim())) || parseInt($("#txtWeekVoltIncome").val().trim()) <= 0) {
            swal("Information!", "Please enter Company weekly budget!", "error");
            $("#txtWeekVoltIncome").val('');
            return false;
        }

        var WeekVoltIncome = $("#spnWeekBudget").text();
        var CompanyWeekVoltIncome = $("#txtWeekVoltIncome").val();
        var BVMultiplier = $("#spnBVMultiplier").text();

        var membersDetails = new Array();
        $(".jsgrid-table TBODY TR").each(function () {
            var row = $(this);
            var memberDetails = {};
            memberDetails.UserCode = row.find("TD").eq(0).html();
            memberDetails.Miles = row.find("TD").eq(4).html();
            
            if (!(memberDetails.Miles == undefined || memberDetails.Miles == null)) {
                membersDetails.push(memberDetails);
            }
        });

        if (membersDetails.length <= 0) {
            swal("Information!", "No records found!", "error");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/Admin/Support/VoltIncomeReCalculate",
            datatype: 'html',
            data: {
                MonthYear: $('#MonthName').val(), WeekNo: $('#WeekNo').val(), WeekVoltIncome: WeekVoltIncome
                , CompanyWeekVoltIncome: CompanyWeekVoltIncome
                , BVMultiplier: BVMultiplier
                , UserMilesTbl: membersDetails
            },
            success: function (data) {
                if (data.Key) {
                    swal("Success!", data.Msg, "success");
                    window.location.href = "/Admin/Support/VoltIncome";
                }
                else {
                    swal("Error!", data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er.Msg);
            },
        });
    }

    function DownloadExcel() {
        var url = '/Admin/Support/GetWeekRangeVoltDetailsExport?MonthYear=' + encodeURIComponent($('#MonthName').val()) + '&WeekNo=' + encodeURIComponent($('#WeekNo').val());
        window.location = url;
    }

</script>