﻿@using TRSImplementation
@model PROC_GET_USER_PROFILE_DETAILS_FOR_FRANCHISEE_Result
@{
    ViewBag.Title = "Profile Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutFranchisee.cshtml";
}
<div class="container">
    <div id="profile-page" class="section">
        <!-- profile-page-content -->
        <div id="profile-page-content" class="row">
            <!-- profile-page-sidebar-->
            <div id="profile-page-sidebar" class="col s12 m4">
                <div class="item product" style="padding:0px;width:100%;">
                    <div class="card" data-proid="10" style="overflow: hidden;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#">
                                <img id="imgProfile" src="@Model.ProfileImage" alt="item-img" style="max-height:320px;">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2" id="btnChangeProfileImage">
                                    <i class="material-icons activator">photo_camera</i>
                                </a>
                                <input type="file" id="fuProfileImage" style="display:none;" />
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">@Model.FullName</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- profile-page-sidebar-->
            <!-- profile-page-wall -->
            <div id="profile-page-wall" class="col s12 m8">
                <!-- profile-page-wall-share -->
                <div id="profile-page-wall-share" class="row">
                    <div class="col s12">
                        <ul class="tabs tab-profile z-depth-1 deep-orange accent-2">
                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light active" href="#UpdateStatus">
                                    <i class="material-icons">border_color</i> Personal Details
                                </a>
                            </li>
                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light" href="#AddPhotos">
                                    <i class="material-icons">camera_alt</i> Bank Details
                                </a>
                            </li>
                            <li class="indicator" style="right: 648px; left: 0px;"></li>
                        </ul>
                        <!-- UpdateStatus-->
                        <div id="UpdateStatus" class="tab-content col s12 grey lighten-4 active" style="">
                            <form class="row" id="frmPersonalDetails">         
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.FranchiseeName, new { @placeholder = "Franchisee Name", @disabled = "disabled" })
                                        <label for="Franchisee Name" class="active">First Name</label>
                                    </div>                                   
                                </div>                       
                                <div class="col s12">
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @disabled = "disabled", @class = "editable" })
                                        <label for="FirstName" class="active">First Name</label>
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.MiddleName, new { @placeholder = "Middel Name", @disabled = "disabled", @class = "editable" })
                                        <label for="MiddleName" class="active">Middel Name</label>
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @disabled = "disabled", @class = "editable" })
                                        <label for="LastName">Last Name</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.EmailId, new { @placeholder = "EmailId", @disabled = "disabled" })
                                        <label for="EmailId" class="active">EmailId</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.MobileNo, new { @placeholder = "Mobile No", @disabled = "disabled", @class = "editable" })
                                        <label for="MobileNo">Mobile No</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address", @disabled = "disabled", @class = "editable" })
                                        <label for="Address" data-error="wrong">Address</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.CityName, new { @placeholder = "CityName", @disabled = "disabled", @class = "editable" })
                                        <label for="CityName" data-error="wrong">City</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.PANNo, new { @placeholder = "PAN No", @disabled = "disabled", @class = "editable" })
                                        <label for="PANNo" data-error="wrong">PAN No</label>
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.GSTNo, new { @placeholder = "GSTNo", @disabled = "disabled", @class = "editable" })
                                        <label for="GSTNo" data-error="wrong">GST No</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- AddPhotos -->
                        <div id="AddPhotos" class="tab-content col s12 grey lighten-4" style="display: none;">
                            <form class="row">
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.BankName, new { @placeholder = "Bank Name", @disabled = "disabled", @class = "editable" })
                                        <label for="BankName" class="active">Bank Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.BankAccNo, new { @placeholder = "Bank A/C No", @disabled = "disabled", @class = "editable" })
                                        <label for="BankAccNo" class="active">Bank A/C No</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.BranchName, new { @placeholder = "Branch", @disabled = "disabled", @class = "editable" })
                                        <label for="BranchName" class="active">Branch</label>
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.ISFCCode, new { @placeholder = "ISFC Code", @disabled = "disabled", @class = "editable" })
                                        <label for="ISFCCode" class="active">ISFC Code</label>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="col s12 center-align" style="margin-top:10px;">
                        <a class="waves-effect waves-light btn" id="btnEdit">
                            <i class="material-icons left">mode_edit</i> Edit
                        </a>
                        <a class="waves-effect waves-light btn hide" id="btnSave">
                            <i class="material-icons left">save</i> Save
                        </a>
                        <a class="waves-effect waves-light btn  hide" id="btnCancel">
                            <i class="material-icons left">clear</i> Cancel
                        </a>
                    </div>
                </div>
                <!--/ profile-page-wall-share -->
            </div>
            <!--/ profile-page-wall -->
        </div>
    </div>
</div>
<script>
    var Cities =@Html.Raw(Json.Encode(ViewBag.Cities));
    function WindowLoadComplete() {
        var fuProfileImage = $('#fuProfileImage');

        $(document).ready(function () {
            $("#btnEdit").click(function () {
                $(".editable").removeAttr("disabled");
                $("#btnSave,#btnCancel").removeClass("hide");
                $("#btnEdit").addClass("hide");
            });

            $("#btnSave").click(function () {
                if($("#frmPersonalDetails").valid()){
                    SaveUserProfile();
                }
            });

            $("#btnCancel").click(function () {
                $(".editable").prop('disabled', true);
                $("#btnSave,#btnCancel").addClass("hide");
                $("#btnEdit").removeClass("hide");
            });

            $("#btnChangeProfileImage").click(function () {
                fuProfileImage.click();
            });

            var autoCompleteData;
            var str="";
            for (var i = 0; i < Cities.length; i++) {
                str+=Cities[i].val+":"+Cities[i].key+",";
            }
            autoCompleteData= eval('({' + str + '})');
            $('#CityName').autocomplete({
                data: autoCompleteData,
                limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {

                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });

            fuProfileImage.change(function () {
                if (checkfile("fuProfileImage", true, 1, "png,jpeg,jpg")) {
                    var profiledata = new FormData();
                    var files = fuProfileImage.get(0).files;
                    if (files.length > 0) {
                        profiledata.append("fuProfileImage", files[0]);
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdateUserProfileImage",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {
                                alert("Profile Photo Updated Successfully!");
                                window.location.href="/Franchisee/Profile/Index";                                
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
            });


        });

        $("#frmPersonalDetails").validate({
            rules: {
                FirstName: {
                    required: true
                },
                LastName: {
                    required: true
                },
                EmailId: {
                    required: true,
                    email: true
                },
                MobileNo: {
                    required: true
                },
            },
            //For custom messages
            messages: {
                FirstName: {
                    required: "Enter a First Name"
                },
                LastName: {
                    required: "Enter a Last Name"
                },
                EmailId: {
                    required: "Enter a EmailId"
                },
                MobileNo: {
                    required: "Enter a MobileNo"
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
        function checkfile(fuupload, checkSize, maxFileSizeInMB, AllowFileType) {
            filetype = AllowFileType.split(",");
            var file = getNameFromPath($("#" + fuupload).val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
                // alert(extension);

                for (var i = 0; i < filetype.length; i++) {
                    if (extension == filetype[i].toLowerCase()) {
                        flag = true;
                        break;
                    }
                    else {
                        flag = false;
                    }
                }
            }
            if (flag == false) {
                alert("You can upload only " + AllowFileType + " extension file");
                $("#" + fuupload).val('');
                return false;
            }
            else {
                return CheckFileSize(checkSize, fuupload, maxFileSizeInMB);
            }
        }

        function CheckFileSize(checkSize, fuupload, maxFileSizeInMB) {
            if (checkSize) {
                var size = GetFileSize(fuupload);
                if (size > maxFileSizeInMB) {
                    alert("You can upload file up to " + maxFileSizeInMB + " MB");
                    return false;
                }
                else {
                    return true;
                }
            }
            else {
                return true;
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        //get file size
        function GetFileSize(fileid) {

            try {
                var fileSize = 0;
                //for IE
                if ($.browser.msie) {
                    //before making an object of ActiveXObject,
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                    //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                return fileSize;
            }
            catch (e) {
                //alert("Error is :" + e);
            }
        }

        function SaveUserProfile() {
            $.ajax({
                url: "/Franchisee/Profile/UpdateUserProfile",
                type: 'POST',
                data: {
                    FirstName: $("#FirstName").val(),
                    LastName: $("#LastName").val(),
                    MobileNo: $("#MobileNo").val(),
                    MiddleName: $("#MiddleName").val(),
                    Address: $("#Address").val(),
                    PANNo: $("#PANNo").val(),
                    CityName: $("#CityName").val(),
                    GSTNo: $("#GSTNo").val(),
                    BankName: $("#BankName").val(),
                    BankAccNo: $("#BankAccNo").val(),
                    BranchName: $("#BranchName").val(),
                    ISFCCode: $("#ISFCCode").val(),
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        alert("User profile Updated Successfully!");
                        window.location.href="/Franchisee/Profile/Index";
                    }
                    else {
                        alert(data.Msg);
                    }
                }
            });
        }
    }
</script>