﻿@using TRSImplementation
@{
    string BOLT_URL = HttpContext.Current.Application[clsImplementationMessage.BOLT_URL].ToString();
    string WebsiteURL = HttpContext.Current.Application[clsImplementationMessage.WebsiteURL].ToString();
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var IsProfileCompleted = ((clsLogin)Session[clsImplementationMessage.LoginInfo]).IsProfileCompleted;
    var IsRegistrationActivated = ((clsLogin)Session[clsImplementationMessage.LoginInfo]).IsRegistrationActivated;
    if (((clsLogin)Session[clsImplementationMessage.LoginInfo]).IsAnyOrderGenerated)
    {
        IsRegistrationActivated = ((clsLogin)Session[clsImplementationMessage.LoginInfo]).IsAnyOrderGenerated;
    }
    var BlockDayRemaining = ((clsLogin)Session[clsImplementationMessage.LoginInfo]).BlockDayRemaining.HasValue ? ((clsLogin)Session[clsImplementationMessage.LoginInfo]).BlockDayRemaining.Value : 0;
    clsBase clsBase = new clsBase();
    var listNotification = clsBase.db.PROC_GET_NOTIFICATION_DETAILS(clsBase.objclsLogin.UserId).Take(7).ToList();

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/datatables.min.css" type="text/css" rel="stylesheet" />

    <!-- this meta viewport is required for BOLT //-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- BOLT //-->
    <script id="bolt" src="@BOLT_URL"></script>

    <!-- JQuery UI CSS Start-->
    <link href="/Content/vendors/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <!-- JQuery UI CSS End-->
    <!--start container-->
    <style>
        header .brand-logo img {
            width: 150px;
        }

        header .brand-logo img {
            height: 45px;
        }

        header .brand-logo {
            margin: 1px 0px;
            padding: 9px 60px;
        }
        /*#loader-wrapper .loader-section {
            width: 50%;
            opacity: 0.8;
        }*/
        .fontbold {
            font-weight: bold;
        }

        #notifications-dropdown li {
            width: 350px;
        }

        @@media only screen and (max-width: 992px) {
            nav .brand-logo {
                left: 35%;
                transform: translateX(-50%);
            }

            nav ul a {
                padding: 0px 10px;
            }
        }
    </style>
    <script>
        var WebsiteURL = '@WebsiteURL';
    </script>
</head>
<body class="layout-dark loaded">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li>
                            <h1 class="logo-wrapper">
                                <a href="/Member/Dashboard" class="brand-logo darken-1">
                                    <img src="/Content/images/logo/maxiner_white_logo.png" />
                                </a>
                            </h1>
                        </li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
                        @*<i class="material-icons">search</i>
                            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize" />*@
                    </div>
                    <ul class="right">
                        @*<li>
                                <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                                    <span class="flag-icon flag-icon-gb"></span>
                                </a>
                            </li>*@
                        <li>
                            <a href="javascript:void(0);" onclick="GotoCart()" class="waves-effect waves-block waves-light notification-button">
                                <i class="material-icons">
                                    add_shopping_cart
                                    <small class="notification-badge pink accent-2" id="productcnt">0</small>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                                <i class="material-icons">
                                    notifications_none
                                    <small class="notification-badge pink accent-2">@listNotification.Count</small>
                                </i>
                            </a>
                            <ul id="notifications-dropdown" class="dropdown-content" style="white-space: nowrap; opacity: 1; left: 957.609px; position: absolute; top: 64px; display: none;">
                                <li>
                                    <h6>
                                        NOTIFICATIONS
                                        <span class="new badge">@listNotification.Count</span>
                                    </h6>
                                </li>
                                <li class="divider"></li>
                                @foreach (var item in listNotification)
                                {
                                    <li>
                                        @if (item.NotificationTypeId == clsImplementationEnum.NotificationType.Action.GetHashCode())
                                        {
                                            <a href="@item.URL" class="grey-text text-darken-2 @(!item.IsRead.HasValue ?" fontbold":"" )" onclick="ReadNotification(@item.NotificationId)">
                                                @*<span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span>*@
                                                @item.Notification
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#!" class="grey-text text-darken-2 @(!item.IsRead.HasValue ?" fontbold":"" )" onclick="ReadNotification(@item.NotificationId)">
                                                @*<span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span>*@
                                                @item.Notification
                                            </a>
                                        }
                                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">@item.CreatedDate.ToString("dd-MM-yyyy hh:mm tt")</time>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="hide-on-med-and-down">
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="material-icons">settings_overscan</i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                                <span class="avatar-status avatar-online">
                                    <img id="imgProfile" src="/Content/images/avatar/avatar-7.png" alt="avatar">
                                    <i></i>
                                </span>
                            </a>
                        </li>
                        @*<li>
                                <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
                                    <i class="material-icons">format_indent_increase</i>
                                </a>
                            </li>*@
                    </ul>
                    <!-- profile-dropdown -->
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <a href="/Member/UserProfile" class="grey-text text-darken-1">
                                <i class="material-icons">face</i> Profile
                            </a>
                        </li>
                        @*<li>
                                <a href="#" class="grey-text text-darken-1">
                                    <i class="material-icons">live_help</i> Help
                                </a>
                            </li>*@
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">lock_outline</i> Lock
                            </a>
                        </li>
                        <li>
                            <a id="btnLogout" class="grey-text text-darken-1">
                                <i class="material-icons">keyboard_tab</i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav leftside-navigation">
                    <li class="no-padding">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li class="bold">
                                <a href="/Member/Dashboard" class="waves-effect waves-cyan">
                                    <i class="material-icons">dashboard</i>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a href="/Member/UserProfile" class="waves-effect waves-cyan">
                                    <i class="material-icons">account_circle</i>
                                    <span class="nav-text">Profile</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a href="/Member/Orders" class="waves-effect waves-cyan">
                                    <i class="material-icons">shop</i>
                                    <span class="nav-text">My Order</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">insert_chart</i>
                                    <span class="nav-text">Reports</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Member/Reports/DirectIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Direct Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/UplineMonthlyIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Upline Monthly Income</span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="/Member/Reports/LCBPoolMonthlyIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>LCB Pool Monthly Income</span>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="/Member/Reports/RetailRewardMonthlyIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Retail Reward Monthly Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/VoltIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Charge up Bonus</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/BonanzaDtl">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Current Month BV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/LeftIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Left BV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/RightIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Right BV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/MatchingIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Matching BV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/UplineSupportIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Upline Support Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/LeaderIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Leader Income</span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="/Member/Reports/SilverIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Silver Income</span>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="/Member/Reports/DiamondIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Diamond Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/MilesDetails">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Miles Ledger</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/PayoutDtl">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Payout</span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="/Member/Reports/PayoutMoreDtl">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Payout Detail</span>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="/Member/Reports/CTOReward">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>CTO - House fund</span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="/Member/Reports/TopRetailer">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Top Retailer</span>
                                                </a>
                                            </li>*@
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a href="/Member/Purchase" class="waves-effect waves-cyan">
                                    <i class="material-icons">shopping_cart</i>
                                    <span class="nav-text">Shop Now</span>
                                </a>
                                @*<a href="https://maxenerwellness.com/shop/" target="_blank" class="waves-effect waves-cyan">
                                        <i class="material-icons">shopping_cart</i>
                                        <span class="nav-text">Shop Now</span>
                                    </a>*@
                            </li>
                            @*<li class="bold">
                                    <a href="/Member/Purchase/Points" class="waves-effect waves-cyan">
                                        <i class="material-icons">payment</i>
                                        <span class="nav-text">Points Purchase</span>
                                    </a>
                                </li>*@
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">supervisor_account</i>
                                    <span class="nav-text">Team Member</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Member/Teams/Index">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Direct Refferal</span>
                                            </a>
                                        </li>
                                        <li>
                                            @*<a href="/Member/Teams/Team">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>My Genealogy</span>
                                                </a>*@
                                            <a href="/Member/Teams/MyGeneology">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>My Genealogy</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Teams/MemberList">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Member List</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @*<li class="bold">
                                    <a href="/Member/Dashboard/Reports" class="waves-effect waves-cyan">
                                        <i class="material-icons">assessment</i>
                                        <span class="nav-text">Reports</span>
                                    </a>
                                </li>*@
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">build</i>
                                    <span class="nav-text">Business Tools</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Member/Tools/ProductVideo">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Tools/ProductVideoHindi">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Hindi</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">stars</i>
                                    <span class="nav-text">Rewards</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Member/Reports/Rewards">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Claim Rewards</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Member/Reports/ClaimStatement">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Reward Statement</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="waves-effect waves-cyan" href="/Member/Support/Index">
                                    <i class="material-icons">help_outline</i>
                                    <span class="nav-text">Support Center</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a class="waves-effect waves-cyan" id="btnLogoutFromMenu">
                                    <i class="material-icons">keyboard_tab</i>
                                    <span class="nav-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light pink accent-2">
                    <i class="material-icons">menu</i>
                </a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                @RenderBody()
            </section>
            <!-- END CONTENT -->
            <!-- Floating Action Button -->
            @*<div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
                    <a class="btn-floating btn-large">
                        <i class="material-icons">add</i>
                    </a>
                    <ul>
                        <li>
                            <a href="css-helpers.html" class="btn-floating blue">
                                <i class="material-icons">help_outline</i>
                            </a>
                        </li>
                        <li>
                            <a href="cards-extended.html" class="btn-floating green">
                                <i class="material-icons">widgets</i>
                            </a>
                        </li>
                        <li>
                            <a href="app-calendar.html" class="btn-floating amber">
                                <i class="material-icons">today</i>
                            </a>
                        </li>
                        <li>
                            <a href="app-email.html" class="btn-floating red">
                                <i class="material-icons">mail_outline</i>
                            </a>
                        </li>
                    </ul>
                </div>*@
            <!-- Floating Action Button -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>
                    Copyright ©
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                        @*</script> <a class="grey-text text-lighten-4" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">Maxener</a> All rights reserved.*@
                    </script> Maxener Wellness All rights reserved.
                </span>
                <span class="right hide-on-small-only"> Design and Developed by Maxener Wellness</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!-- JQuery UI JS Start-->
    @*<script src="/Content/js/jquery-1.12.4.js"></script>*@
    <script src="/Content/vendors/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- JQuery UI CSS End-->
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="/Content/vendors/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--floatThead -->
    <script type="text/javascript" src="/Content/vendors/floatThead/jquery.floatThead.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/floatThead/jquery.floatThead-slim.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>

    @RenderSection("scripts", false)
    <script type="text/javascript">
        $(document).ready(function () {
            SetProfileImage();
            var Cntrl = '@Html.Controller()';
            var actn = '@Html.Action()';
            //console.log('@IsRegistrationActivated.ToString().ToLower()')
            @*if ('@IsRegistrationActivated.ToString().ToLower()' == "false") {
                if ((Cntrl.toLowerCase() != "purchase" || actn.toLowerCase() != "index"))
                    window.location.href = "/Member/Purchase"
            }
            else*@
            if ('@IsRegistrationActivated.ToString().ToLower()' == "false"
                    && ((Cntrl.toLowerCase() == "purchase" && actn.toLowerCase() == "index") ||
                        (Cntrl.toLowerCase() == "userprofile" && actn.toLowerCase() == "index"))) {
            }
                @*else if ('@IsProfileCompleted.ToString().ToLower()' == "false"
                && (Cntrl.toLowerCase() != "userprofile" && actn.toLowerCase() != "index")) {
                window.location.href = "/Member/UserProfile"
            }*@
            else if ('@IsRegistrationActivated.ToString().ToLower()' == "false") {
                if ('@BlockDayRemaining' > 0) {
                    swal('@BlockDayRemaining Days Left', "Please Activate User Using Purchase First Order!", "info");
                }
                else {
                    swal('Information', "Please Activate your id by completing your purchase.To Avail lifetime Buy1 Get 1 Benifits.", "info");
                }
                //window.setTimeout(function () {
                //    $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Member/UserProfile/Index" })
                //},500);
            }
            else if ('@IsRegistrationActivated.ToString().ToLower()' == "false"
                && (Cntrl.toLowerCase() != "userprofile" && actn.toLowerCase() != "index")
                && (Cntrl.toLowerCase() != "purchase" && actn.toLowerCase() != "index")) {
                //window.location.href = "/Member/Purchase"
                if ('@BlockDayRemaining' > 0) {
                    swal('@BlockDayRemaining Days Left', "Please Activate User Using Purchase First Order!", "info");
                }
                else {
                    swal('Information', "Please Activate your id by completing your purchase.To Avail lifetime Buy1 Get 1 Benifits.", "info");
                }
            }

            if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                $.ajax({
                    url: "/Member/Purchase/GetCartCnt",
                    type: 'POST',
                    data: { cart: localStorage["cart"] },
                    success: function (data) {
                        if (data.Key) {
                            $("#productcnt").html(data.Msg);
                        }
                    }
                });
            }

            function SetProfileImage() {
                $.ajax({
                    url: "/Member/UserProfile/GetUserProfileImage",
                    type: 'POST',
                    data: {},
                    success: function (data) {
                        //window.location.href = "/Authentication/Authenticate/Index"
                        $("#imgProfile").attr("src", data.Msg);
                    }
                });
            }

            $("#btnLogout").click(function () {
                Logout();
            });

            $("#btnLogoutFromMenu").click(function () {
                Logout();
            });

            function Logout() {
                $.ajax({
                    url: "/Member/Dashboard/Logout",
                    type: 'POST',
                    data: {},
                    success: function (data) {
                        if (data.Key) {
                            window.location.href = "/Authentication/Authenticate/Index"
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            }

            $(function () {
                $(".datetextbox").datepicker({
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true
                });
            });
        });

        function GotoCart() {
            if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                //window.location.href = "/Member/Purchase/Cart?pinfo=" + localStorage["cart"];
                window.location.href = "/Member/Purchase";
            }
        }

        function ReadNotification(NotificationId) {
            $.ajax({
                url: "/Member/Dashboard/ReadNotification",
                type: 'POST',
                data: { NotificationId: NotificationId },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        alert(data.Msg);
                    }
                }
            });
        }
    </script>
</body>
</html>