﻿@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var IsAdminUser = true;
    if (((clsLogin)Session[clsImplementationMessage.LoginInfo]).UserType == clsImplementationEnum.UserType.Office)
    {
        IsAdminUser = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/datatables.min.css" type="text/css" rel="stylesheet" />
    <!-- this meta viewport is required for BOLT //-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- BOLT Sandbox/test //-->
    <script id="bolt" src="https://sboxcheckout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script>
    <!--start container-->
    <!-- JQuery UI CSS Start-->
    <link href="/Content/vendors/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <!-- JQuery UI CSS End-->
    <style>
        header .brand-logo img {
            width: 150px;
        }

        header .brand-logo img {
            height: 45px;
        }

        header .brand-logo {
            margin: 1px 0px;
            padding: 9px 60px;
        }

        .floatThead-container {
            z-index: 101 !important;
        }
    </style>
</head>
<body class="layout-dark loaded">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li>
                            <h1 class="logo-wrapper">
                                @if (IsAdminUser)
                                {
                                    <a href="/Admin/Dashboard" class="brand-logo darken-1">
                                        <img src="/Content/images/logo/maxiner_white_logo.png" />
                                    </a>
                                }
                                else
                                {
                                    <a href="/Admin/Orders" class="brand-logo darken-1">
                                        <img src="/Content/images/logo/maxiner_white_logo.png" />
                                    </a>
                                }
                            </h1>
                        </li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="material-icons">settings_overscan</i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                                <span class="avatar-status avatar-online">
                                    <img id="imgProfile" src="/Content/images/avatar/avatar-7.png" alt="avatar">
                                    <i></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!-- profile-dropdown -->
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <a href="#" class="grey-text text-darken-1">
                                <i class="material-icons">lock_outline</i> Lock
                            </a>
                        </li>
                        <li>
                            <a id="btnLogout" class="grey-text text-darken-1">
                                <i class="material-icons">keyboard_tab</i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav leftside-navigation">
                    <li class="no-padding">
                        <ul class="collapsible" data-collapsible="accordion">
                            @if (IsAdminUser)
                            {
                                <li class="bold">
                                    <a href="/Admin/Dashboard" class="waves-effect waves-cyan">
                                        <i class="material-icons">dashboard</i>
                                        <span class="nav-text">Dashboard</span>
                                    </a>
                                </li>
                            }
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">build</i>
                                    <span class="nav-text">Masters</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        @if (IsAdminUser)
                                        {
                                            <li>
                                                <a href="/Admin/Product/Index">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Product Master</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Product/Variant">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Product Variant</span>
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <a href="/Admin/User/Index">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>User Master</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/User/UserBV">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>User BV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/User/KYC">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>KYC</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Expense/Index">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Expenses</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Product/BusinessTool">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Business Tool</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/RefferalUserList">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Higest Refferal</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @if (IsAdminUser)
                            {
                                <li class="bold active">
                                    <a class="collapsible-header waves-effect waves-cyan">
                                        <i class="material-icons">build</i>
                                        <span class="nav-text">Configuration</span>
                                    </a>
                                    <div class="collapsible-body" style="display: block;">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <a href="/Admin/Support/Config">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Company Configuration</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/VoltIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Charge up Bonus</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/TopRetailer">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Top Retailer</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/BonanzaReward">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Bonanza - Car Fund</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/CTOReward">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>CTO - House fund</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="bold active">
                                    <a class="collapsible-header waves-effect waves-cyan">
                                        <i class="material-icons">build</i>
                                        <span class="nav-text">Configuration</span>
                                    </a>
                                    <div class="collapsible-body" style="display: block;">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <a href="/Admin/Support/VoltIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Charge up Bonus</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/TopRetailer">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Top Retailer</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/BonanzaReward">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Bonanza Rewards</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Support/CTOReward">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>CTO Rewards</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            <li class="bold">
                                <a href="/Admin/Orders" class="waves-effect waves-cyan">
                                    <i class="material-icons">shop</i>
                                    <span class="nav-text">Orders</span>
                                </a>
                            </li>
                            @if (IsAdminUser)
                            {
                                <li class="bold active">
                                    <a class="collapsible-header waves-effect waves-cyan">
                                        <i class="material-icons">insert_chart</i>
                                        <span class="nav-text">Products Report</span>
                                    </a>
                                    <div class="collapsible-body" style="display: block;">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <a href="/Admin/Reports/JoiningProducts">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Joining</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Reports/RepurchaseProducts">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Repurchase</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Reports/GymProducts">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Gym</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            <li class="bold">
                                <a href="/Admin/Reports/Sales" class="waves-effect waves-cyan">
                                    <i class="material-icons">shop</i>
                                    <span class="nav-text">Sales</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a href="/Admin/Payout" class="waves-effect waves-cyan">
                                    <i class="material-icons">payment</i>
                                    <span class="nav-text">Payout Amount</span>
                                </a>
                            </li>
                            <li class="bold">
                                <a href="/Admin/Reports/Genealogy" class="waves-effect waves-cyan">
                                    <i class="material-icons">supervisor_account</i>
                                    <span class="nav-text">Genealogy</span>
                                </a>
                            </li>
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">pan_tool</i>
                                    <span class="nav-text">Payout Report</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Admin/Reports/PayoutDtl" class="waves-effect waves-cyan">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span class="nav-text">Payout Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/AdminCharges" class="waves-effect waves-cyan">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span class="nav-text">Admin Charges</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/TDS" class="waves-effect waves-cyan">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span class="nav-text">TDS</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @if (IsAdminUser)
                            {
                                <li class="bold">
                                    <a href="/Admin/Reports/Profite" class="waves-effect waves-cyan">
                                        <i class="material-icons">local_atm</i>
                                        <span class="nav-text">Profit</span>
                                    </a>
                                </li>
                            }
                            <li class="bold">
                                <a href="/Admin/Reports/TopRetailer" class="waves-effect waves-cyan">
                                    <i class="material-icons">grade</i>
                                    <span class="nav-text">Top Retailer Award</span>
                                </a>
                            </li>
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">stars</i>
                                    <span class="nav-text">Rewards</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Admin/Reports/RewardsApproval">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Rewards Approval</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/ClaimedRewards">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Claimed Rewards</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/RewardFund">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Reward Fund</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan">
                                    <i class="material-icons">insert_chart</i>
                                    <span class="nav-text">Report</span>
                                </a>
                                <div class="collapsible-body" style="display: block;">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <a href="/Admin/Reports/DirectRefferalIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Direct Referral</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/MatchingIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Matching Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/VoltIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Volt Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/UplineMonthlyIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Upline Monthly Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/RetailRewardMonthlyIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Retail Reward Monthly Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/LCBPoolMonthlyIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>LCB Pool Monthly Income</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/TopRetailer">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Top 10 Retail </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/LeaderIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Leader Create</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/UplineSupportIncome">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Upline Support</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Admin/Reports/MilesDetails">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <span>Miles Details</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @*<li class="bold">
                                    <a class="collapsible-header waves-effect waves-cyan">
                                        <i class="material-icons">insert_chart</i>
                                        <span class="nav-text">Reports</span>
                                    </a>
                                    <div class="collapsible-body" style="display: block;">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <a href="/Admin/Reports/UplineSupportIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Upline Support Income</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Reports/LeaderIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Leader Income</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Reports/SilverIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Silver Income</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Reports/DiamondIncome">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                    <span>Diamond Income</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>*@
                            <li class="bold">
                                <a href="/Admin/Support/Index" class="waves-effect waves-cyan">
                                    <i class="material-icons">help_outline</i>
                                    <span class="nav-text">Support Center</span>
                                </a>
                            </li>

                            <li class="bold">
                                <a class="waves-effect waves-cyan" id="btnLogoutFromMenu">
                                    <i class="material-icons">keyboard_tab</i>
                                    <span class="nav-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light pink accent-2">
                    <i class="material-icons">menu</i>
                </a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                <!--start container-->
                @RenderBody()
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>
                    Copyright ©
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                        @*</script> <a class="grey-text text-lighten-4" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">Maxener</a> All rights reserved.*@
                    </script> Maxener Wellness All rights reserved.
                </span>
                <span class="right hide-on-small-only"> Design and Developed by Maxener Wellness</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!-- JQuery UI JS Start-->
    @*<script src="/Content/js/jquery-1.12.4.js"></script>*@
    <script src="/Content/vendors/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- JQuery UI CSS End-->
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="/Content/vendors/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartjs -->
    <script type="text/javascript" src="/Content/vendors/chartjs/chart.min.js"></script>
    <!-- masonry -->
    <script src="/Content/vendors/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="/Content/vendors/imagesloaded.pkgd.min.js"></script>
    <!--floatThead -->
    <script type="text/javascript" src="/Content/vendors/floatThead/jquery.floatThead.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/floatThead/jquery.floatThead-slim.min.js"></script>
    <!-- jquery-validation -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    @*<script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>*@
    <script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.1.5.3.js"></script>
    <!--charts-chartjs.js - Page Specific JS codes -->
    @*<script type="text/javascript" src="/Content/js/scripts/charts-chartjs.js"></script>*@
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--page-item.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/page-item.js"></script>
    <!--table-floatThead.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/table-floatThead.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <script src="/Content/js/datatables.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/go.js?v=@Version"></script>
    @*<script type="text/javascript" src="/Content/js/scripts/dashboard-ecommerce.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLogout").click(function () {
                Logout();
            });

            $("#btnLogoutFromMenu").click(function () {
                Logout();
            });

            function Logout() {
                $.ajax({
                    url: "/Member/Dashboard/Logout",
                    type: 'POST',
                    data: {},
                    success: function (data) {
                        if (data.Key) {
                            window.location.href = "/Authentication/Authenticate/Index"
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            }

            $(function () {
                $(".datetextbox").datepicker({
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true
                });
            });
        });
    </script>
</body>
</html>