﻿@using TRSImplementation
@model IEnumerable<PROC_GET_USER_POINT_PURCHASE_ORDER_DTL_Result>
<div id="floatThead" class="section">
    <div class="row">
        <div class="col s12 no-more-tables">
            <table class="striped productdetails">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        @*<th>Flavour</th>*@
                        <th>Qty</th>
                        <th>Price</th>                        
                        <th>Order Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td data-title="Product Name">@item.PackageName</td>
                                @*<td data-title="Flavour">@item.VariantName</td>*@
                                <td data-title="Qty">@item.Qty</td>
                                <td data-title="Price">@item.PackagePrice</td>                                
                                <td data-title="Order Amount">@item.Amount</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

