﻿@{
    var IsMobile = Request.Browser.IsMobileDevice;
    var ShareLink = IsMobile ? "whatsapp://send" : "https://web.whatsapp.com/send";
}
<div class="row center">
    @if (ViewBag.IsLeftShareVisible)
    {
        <div class="col s12">
            <a href="@ShareLink?text=@(ViewBag.ReferralCodeLeft)" data-action="share/whatsapp/share" data-code="@(ViewBag.ReferralCodeLeft)" onclick="ShareLeftPosition(this)">
                <spna style="font-size:30px;">Left Position</spna>
                <img src="~/Content/images/misch/whatsapp_share.png" style="height:40px;">
            </a>
            &nbsp;&nbsp;&nbsp;<i onclick="copyReferralCode('L')" style="cursor:pointer" class="material-icons" title="Copy Refferal Code">content_copy</i>
        </div>
    }
    @if (ViewBag.IsRightShareVisible)
    {
        <div class="col s12">

            <a href="@ShareLink?text=@(ViewBag.ReferralCodeRight)" data-action="share/whatsapp/share" data-code="@(ViewBag.ReferralCodeRight)" onclick="ShareRightPosition(this)">
                <spna style="font-size:30px;">Right Position</spna>
                <img src="~/Content/images/misch/whatsapp_share.png" style="height:40px;">
            </a>
            &nbsp;&nbsp;&nbsp;<i onclick="copyReferralCode('R')" style="cursor:pointer" class="material-icons" title="Copy Refferal Code">content_copy</i>
        </div>
    }
</div>
<script type="text/javascript">
    function ShareLeftPosition(a) {
        copyReferralCodeForShare(a);
    }
    function ShareRightPosition(a) {
        copyReferralCodeForShare(a);
    }

    function copyReferralCode(position) {
        //copyReferralCodeForShare($("#refferalcode"));
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(WebsiteURL + "/Authentication/Authenticate/Signup?rc=" + $("#refferalcode").text() + "&p=" + position).select();
        document.execCommand("copy");
        $temp.remove();
        Materialize.toast('Copied!', 2000)
    }
</script>