﻿@model IEnumerable<TRS.Models.SelectedProductsListEnt>
<div id="floatThead" class="section">
    <div class="row">
        <div class="col s12 no-more-tables">
            <table class="striped productdetails">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Flavour</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Order Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Product Name">@item.ProductName</td>
                            <td data-title="Flavour">@item.ProductVariantName</td>
                            <td data-title="Qty">@item.Qty</td>
                            <td data-title="Price">@item.ProductPrice</td>
                            <td data-title="Order Amount">@item.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
