﻿@model IEnumerable<TRS.Models.SelectedProductsListEnt>
<style>
    ul#ul-ProdConf > li {
        float: left;
        padding: 5px;
    }

    #DivImage {
        width: 100px;
        height: 100px;
        position: relative;
        margin: auto;
    }

    #ImgProd {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #mdlConfirmProductDetails {
        width: 65%;
    }

    .ancProdPlus, .ancProdMinus {
        line-height: 30px !important;
        width: 30px !important;
        height: 30px !important;
    }

        .ancProdPlus i, .ancProdMinus i {
            line-height: 30px !important;
        }

    #btnConfirm {
        cursor: pointer;
        font-weight: bold;
        width: 100%;
        display: inline-block;
        padding: 15px 5px;
    }

    #tdConfirm {
        text-align: center;
        padding: 0;
    }
</style>

<div id="floatThead" class="section">
    <span class="hide" id="UserAddressDtlId">@ViewBag.UserAddressDtlId</span>
    <span class="hide" id="spnIsCOD">@ViewBag.IsCOD</span>
    <div class="row">
        <div class="col s12 no-more-tables">
            <table class="striped productdetails">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Product Name</th>
                        <th>Flavour</th>
                        <th>Qty</th>
                        <th></th>
                        <th>Price</th>
                        <th>Order Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Product">
                                <div data-indicators="true">
                                    <div href="" id="DivImage">
                                        <img src="@item.ImagePath" id="ImgProd">
                                    </div>
                                </div>
                            </td>
                            <td data-title="Product Name">@item.ProductName</td>
                            <td data-title="Flavour">@item.ProductVariantName</td>
                            <td data-title="Qty" class="tdQty">@item.Qty</td>
                            <td data-title="AddRemove" style="text-align:center;">
                                <ul class="card-action-buttons" id="ul-ProdConf" style="display:inline-block;">
                                    <li>
                                        <a class="btn-floating waves-effect waves-light cyan plusitem ancProdPlus" data-level="@item.ProductId">
                                            <i class="material-icons">exposure_plus_1</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn-floating waves-effect waves-light red accent-2 minusitem ancProdMinus" data-level="@item.ProductId">
                                            <i class="material-icons">exposure_neg_1</i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td data-title="Price">@item.ProductPrice</td>
                            <td data-title="Order Amount" class="tdItemTotalAmt">@item.Amount</td>
                        </tr>
                    }
                    @if (!ViewBag.IsCOD && !ViewBag.RedirectFrmAdmin)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2" style="text-align:right;font-weight:bold;">Delivery Charges : </td>
                            <td style="font-weight:bold;">@ViewBag.DeliveryCharge</td>
                        </tr>
                    }
                    @if (Convert.ToDecimal(ViewBag.MilesAmount) > 0)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="2" style="text-align:right;font-weight:bold;">Miles Used : </td>
                            <td style="font-weight:bold;">@ViewBag.MilesAmount</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" style="text-align:right;font-weight:bold;">Total Amount : </td>
                        <td id="tdTotalAmount" style="font-weight:bold;">@ViewBag.ProdTotalAmount</td>
                    </tr>
                    @if (!ViewBag.IsCOD && Convert.ToDecimal(ViewBag.DeliveryCharge) > 0)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="5" style="font-weight:bold;">
                                Add more product worth @ViewBag.ReqAmountForFreeDelivery to make the delivery free
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4">Delivery Address : @ViewBag.UsrAddress</td>
                        <td>@ViewBag.UsrPinCode</td>
                        <td>@ViewBag.UsrCity</td>
                        <td>@ViewBag.UsrState</td>
                    </tr>
                    <tr style="background-color:red;text-align:center;">
                        <td colspan="7" id="tdConfirm">
                            <a id="btnConfirm" class="white-text">CONFIRM</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    $(".ancProdPlus").click(function () {
        var ProductId = $(this).data("level");

        var curentqty = $("#plusitem_" + ProductId).closest('.card').find(".itemqty").html();
        curentqty = parseInt(curentqty) + 1;
        $("#plusitem_" + ProductId).closest('.card').find(".itemqty").html(curentqty);

        ReCalculateAmount();
    });

    $(".ancProdMinus").click(function () {
        var ProductId = $(this).data("level");
        var curentqty = $("#plusitem_" + ProductId).closest('.card').find(".itemqty").html();

        if (curentqty != "0") {
            curentqty = parseInt(curentqty) - 1;
            $("#plusitem_" + ProductId).closest('.card').find(".itemqty").html(curentqty);
        }

        ReCalculateAmount();
    });

    function ReCalculateAmount() {

        var Total = 0
        $('.card').each(function () {
            var qty = $(this).find(".itemqty").html();
            var price = $(this).find(".itemprice").html();
            if (parseInt(qty) > 0) {
                Total += parseInt(qty) * parseInt(price);
            }
        });

        $("#spnTotalAmount").html(Total);

        $.ajax({
            url: "/Member/Purchase/AddProductToCart",
            type: 'POST',
            data: {
                productinfo: GetProducts()
            },
            success: function (data) {

                if (data.Key) {
                    if (data.Msg != "") {
                        localStorage.setItem('cart', data.Msg);
                    }
                    else {
                        localStorage.removeItem("cart");
                    }

                    $("#productcnt").html(data.Id)
                    $("#spnPoints").html("BV : " + data.RegistrationPoints);
                    $("#spnPoints").removeClass("hide");

                    if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                        GetConfirmProductsList(localStorage["cart"], '@ViewBag.UserAddressDtlId', '@ViewBag.IsCOD');

                        $("#tdTotalAmount").html(Total);
                    }
                    else {
                        swal("Information!", "No Products Selected!", "error");

                        $("#mdlConfirmProductDetails").modal('close');
                    }
                }
                else {
                    swal("Information!", data.Msg, "error");
                }
            }
        });
    }

    $("#btnConfirm").click(function (e) {

        $("#mdlConfirmProductDetails").modal('close');

        if ('@ViewBag.RedirectFrmAdmin'== 'True') {
            SaveFromAdminOrder();
        }
        else {
            if ($("#spnIsCOD").html() == 'True') {
                launchBOLT(e, true);
            }
            else {
                launchBOLT(e, false);
            }
        }
    });

</script>