﻿@using TRSImplementation
@{
    ViewBag.Title = "Dashboard Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutFranchisee.cshtml";
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<!--start container-->
<div class="container">
    <div class="row hide">
        <div class="col s12 m6 l4">
            <div id="profile-card" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/Content/images/gallary/3.png" alt="user bg">
                </div>
                <div class="card-content">
                    <img src="@ViewBag.ProfileImage" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2" style="padding:0.5% !important;">
                    <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right" href="/Franchisee/Profile">
                        <i class="material-icons">edit</i>
                    </a>
                    <span class="card-title activator grey-text text-darken-4" style="margin-top:10px;">@objclsLogin.FranchiseeName</span>
                    <p>
                        <i class="material-icons">perm_identity</i> @objclsLogin.FullName
                    </p>
                    <p>
                        <i class="material-icons">stay_primary_portrait</i> @objclsLogin.MobileNo
                    </p>
                    <p>
                        <i class="material-icons">email</i> @objclsLogin.EmailId
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l8">
            <div class="col s12 m6 l6">
                <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">payment</i>
                            <p>Total Order</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">account_balance</i>
                            <p>Total Order Amount</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">perm_identity</i>
                            <p>This Week Order</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                    <div class="padding-4">
                        <div class="col s7 m7">
                            <i class="material-icons background-round mt-5">perm_identity</i>
                            <p>This Week Order Amount</p>
                        </div>
                        <div class="col s5 m5 right-align">
                            <h5 class="mb-0">0</h5>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row">

    </div>
</div>

