﻿@using TRSImplementation
@using TRS.Models
@model PROC_RPT_ADMIN_PENDING_PAYOUT_DETAILS_Result
<style>
    .usertypes {
        height: 20px;
    }
</style>
<table class="striped">
    <thead>
        <tr>
            <td>Income</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Direct Income</td>
            <td>@Model.DirectIncome</td>
        </tr>
        <tr>
            <td>Points Income</td>
            <td>@Model.TotalPointsIncome</td>
        </tr>
        <tr>
            <td>Leader Income</td>
            <td>@Model.LeaderIncome</td>
        </tr>
        <tr>
            <td>Upline Support Income</td>
            <td>@Model.UplineSupportIncome</td>
        </tr>
        <tr>
            <td>Silver Income</td>
            <td>@Model.SilverIncome</td>
        </tr>
        <tr>
            <td>Volt Income</td>
            <td>@Model.VoltIncome</td>
        </tr>
    </tbody>
</table>