﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_GET_ALL_USER_DETAILS_Result>
@{
    ViewBag.Title = "Index";
    var IsMobile = Request.Browser.IsMobileDevice;
}
<style>
    .usertypes {
        height: 20px;
    }
</style>
@if (IsMobile)
{
    <div class="no-more-tables">
        <table class="striped" id="tblDateRangeOrders">
            <thead>
                <tr>
                    @*<th>Refferal Code</th>*@
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Refferal By</th>
                    <th>Left BV</th>
                    <th>Right BV</th>
                    <th>Total Income</th>
                    <th>Activate Date</th>
                    <th>Registration Date</th>
                    <th>MobileNo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in (List<UserListEnt>)ViewBag.listUserListEnt)
                    {
                        <tr>
                            <td data-title="Name">
                                @if (item.IsRegistrationActivated)
                                {
                                    <img src="/Content/images/misch/Active.png" alt="" class="usertypes">
                                }
                                else
                                {
                                    <img src="/Content/images/misch/Inactive.png" alt="" class="usertypes">
                                }
                                @item.RefferalCode
                            </td>
                            @*<td data-title="Full Name">@item.FullName</td>*@
                            <td data-title="User Name"><a href="#" onclick="RedirectUserAccount('@item.UserName','@item.Password')"> @item.UserName</a></td>
                            <td data-title="Password">@item.Password</td>
                            <td data-title="Refferal By">@item.RefferalByCode</td>
                            <td data-title="Left BV"><span onclick="GetCalculatedBV(this,@item.UserId,'L')" style="color: #3949ab;">View</span></td>
                            <td data-title="Right BV"><span onclick="GetCalculatedBV(this,@item.UserId,'R')" style="color: #3949ab;">View</span></td>
                            <td data-title="Total Income"><span onclick="GetTotalIncome(this,@item.UserId)" style="color: #3949ab;">View</span></td>
                            <td data-title="Activate Date">@item.ActivateDate</td>
                            <td data-title="Reg. Date">@item.RegistrationDate</td>
                            <td data-title="MobileNo"><a href="https://api.whatsapp.com/send?phone=91@(item.MobileNo)">@item.MobileNo</a></td>
                            <td data-title="Action">
                                @if (!item.IsBlocked)
                                {
                                    <a style="cursor:pointer" onclick="UserLoginBlock(@item.UserId,'false')" class="waves-effect waves-cyan" title="User Login Block">
                                        <i class="material-icons">do_not_disturb_on</i>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor:pointer" onclick="UserLoginBlock(@item.UserId,'true')" class="waves-effect waves-cyan" title="User Login Un-Block">
                                        <i class="material-icons">do_not_disturb_off</i>
                                    </a>
                                }
                                @if (item.IsRegistrationActivated)
                                {
                                    <a style="cursor:pointer" onclick="UserActiveInActiveRegistration(@item.UserId,'false')" class="waves-effect waves-cyan" title="Activate Registration">
                                        <i class="material-icons">done</i>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor:pointer" onclick="UserActiveInActiveRegistration(@item.UserId,'true')" class="waves-effect waves-cyan" title="Un-Registration User">
                                        <i class="material-icons">clear</i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
                    }
                    else
                    {
                        <div id="dvUsers">
                        </div>
                        <script>
                            var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.listUserListEnt));
                            var db = {
                                loadData: function(filter) {                                    
                                    return $.grep(this.listUserListEnt, function(user) {
                                        return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                                            && (!filter.RefferalByCode || (user.RefferalByCode!=null &&  user.RefferalByCode.toLowerCase().indexOf(filter.RefferalByCode.toLowerCase()) > -1))
                                            //&& (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                                            && (!filter.UserName ||  (user.UserName!=null && user.UserName.toLowerCase().indexOf(filter.UserName.toLowerCase()) > -1))
                                            && (!filter.Password ||  (user.Password!=null && user.Password.toLowerCase().indexOf(filter.Password.toLowerCase()) > -1))
                                            && (!filter.ActivateDate ||  (user.ActivateDate!=null && user.ActivateDate.toLowerCase().indexOf(filter.ActivateDate.toLowerCase()) > -1))
                                            && (!filter.RegistrationDate ||  (user.RegistrationDate!=null && user.RegistrationDate.toLowerCase().indexOf(filter.RegistrationDate.toLowerCase()) > -1))
                                            && (!filter.MobileNo ||  (user.MobileNo!=null && user.MobileNo.toLowerCase().indexOf(filter.MobileNo.toLowerCase()) > -1))
                                            && (!filter.LeftBV || ((user.LeftBV!=null && user.LeftBV === filter.LeftBV)))
                                            && (!filter.RightBV || ((user.RightBV!=null && user.RightBV === filter.RightBV)));
                                    });
                                },                                
                            };
                            db.listUserListEnt=listUserListEnt;
                            window.db = db;
                            $("#dvUsers").jsGrid({
                                height: "70%",
                                width: "100%",
                                sorting: true,
                                paging: true,
                                filtering: true,
                                autoload: true,
                                //pageSize: 25,
                                //pageButtonCount: 10,
                                fields: [
                                    { name: "RefferalCode", type: "text",width:270,
                                        itemTemplate: function(value,item) {
                                            var td="<img src=\"/Content/images/misch/"+(item.IsRegistrationActivated==true?"Active.png":"Inactive.png")+"\" alt=\"\" class=\"usertypes\">"+item.RefferalCode;
                                            return td;
                                        },title: "User Code",css:"refcode"
                                    },
                                    //{ name: "FullName", type: "text", width:250,title: "Full Name",css:"fullname"},
                                    { name: "UserName", type: "text",width:150,
                                        itemTemplate: function(value,item) {
                                            var td="<a href=\"#\" onclick=\"RedirectUserAccount('"+item.UserName+"','"+item.Password+"')\">"+item.UserName+"</a>";
                                            return td;
                                        },
                                        css:"username" },
                                    { name: "Password", type: "text",width:150,css:"password" },
                                    { name: "RefferalByCode", type: "text",width:270,css:"refferalbycode",title: "Refferal By" },
                                    { name: "LeftBV", width:100,css:"leftbv",title: "Left BV",
                                        itemTemplate: function(value,item) {
                                            var td="<span onclick=\"GetCalculatedBV(this,'"+item.UserId+"','L')\" style=\"color: #3949ab;\">View</span>";
                                            return td;
                                        }
                                    },
                                    { name: "RightBV", width:100,css:"rightbv",title: "Right BV",
                                        itemTemplate: function(value,item) {
                                            var td="<span onclick=\"GetCalculatedBV(this,'"+item.UserId+"','R')\" style=\"color: #3949ab;\">View</span>";
                                            return td;
                                        } },
                                    { name: "TotalIncome", width:100,css:"rightbv",title: "Total Income",
                                        itemTemplate: function(value,item) {
                                            var td="<span onclick=\"GetTotalIncome(this,'"+item.UserId+"')\" style=\"color: #3949ab;\">View</span>";
                                            return td;
                                        } },
                                    { name: "ActivateDate",  type: "text",width:100,title: "Activate Date",css:"refdate"},
                                    { name: "RegistrationDate",  type: "text",width:100,title: "Reg. Date",css:"refdate"},
                                    { name: "MobileNo",  type: "text", width:100,
                                        itemTemplate: function(value,item) {
                                            var td="<a target=\"_blank\" href=\"https://api.whatsapp.com/send?phone=91"+item.MobileNo+"\">"+item.MobileNo+"</a>";
                                            return td;
                                        },css:"mobileno"
                                    },
                                    { name: "Action",  width:80,css:"action",
                                        type: "control",
                                        itemTemplate: function(value,item) {
                                            var td=""
                                            if(!item.IsBlocked){
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserLoginBlock("+item.UserId+",'false')\" class=\"waves-effect waves-cyan\" title=\"User Login Block\">"+
                                                            "<i class=\"material-icons\">do_not_disturb_on</i>"+
                                                        "</a>";
                                                
                                            }
                                            else{
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserLoginBlock("+item.UserId+",'true')\" class=\"waves-effect waves-cyan\" title=\"User Login Block\">"+
                                                           "<i class=\"material-icons\">do_not_disturb_off</i>"+
                                                       "</a>";
                                            }
                                            if(item.IsRegistrationActivated){
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserActiveInActiveRegistration("+item.UserId+",'false')\" class=\"waves-effect waves-cyan\" title=\"Activate Registration\">"+
                                                            "<i class=\"material-icons\">done</i>"+
                                                        "</a>";
                                            }
                                            else{
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserActiveInActiveRegistration("+item.UserId+",'true')\" class=\"waves-effect waves-cyan\" title=\"Un-Registration User\">"+
                                                           "<i class=\"material-icons\">close</i>"+
                                                       "</a>";
                                            }
                                            return td;
                                        }
                                    }
                                ],
                                //data: listUserListEnt
                                controller: db
                            });

                        </script>
                    }
