﻿@using TRSImplementation
@using TRS.Models
@using Newtonsoft.Json;

@model List<PROC_GET_ALL_USER_DETAILS_Result>
@{
    ViewBag.Title = "Index";
    var IsMobile = Request.Browser.IsMobileDevice;
}
<style>
    .usertypes {
        height: 20px;
    }

    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 80%;
        width: 80%;
        will-change: top, opacity;
    }
</style>
@if (IsMobile)
{
    <div class="no-more-tables">
        <table class="striped" id="tblDateRangeOrders">
            <thead>
                <tr>
                    @*<th>Refferal Code</th>*@
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Refferal By</th>
                    @*<th>Left BV</th>
                        <th>Right BV</th>*@
                    <th>Activate Date</th>
                    <th>Registration Date</th>
                    <th>MobileNo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in (List<UserListEnt>)ViewBag.listUserListEnt)
                    {
                        <tr>
                            <td data-title="Name">
                                @if (item.IsRegistrationActivated)
                                {
                                    <img src="/Content/images/misch/Active.png" alt="" class="usertypes">
                                }
                                else
                                {
                                    <img src="/Content/images/misch/Inactive.png" alt="" class="usertypes">
                                }
                                @item.RefferalCode
                            </td>
                            @*<td data-title="Full Name">@item.FullName</td>*@
                            <td data-title="User Name"><a href="#" onclick="RedirectUserAccount('@item.UserName','@item.Password')"> @item.UserName</a></td>
                            <td data-title="Password">@item.Password</td>
                            <td data-title="Refferal By">@item.RefferalByCode</td>
                            @*<td data-title="Left BV">@item.LeftBV</td>
                                <td data-title="Right BV">@item.RightBV</td>*@
                            <td data-title="Activate Date">@item.ActivateDate</td>
                            <td data-title="Reg. Date">@item.RegistrationDate</td>
                            <td data-title="MobileNo"><a href="https://api.whatsapp.com/send?phone=91@(item.MobileNo)">@item.MobileNo</a></td>
                            <td data-title="Action">
                                @if (!item.IsBlocked)
                                {
                                    <a style="cursor:pointer" onclick="UserLoginBlock(@item.UserId,'false')" class="waves-effect waves-cyan" title="User Login Block">
                                        <i class="material-icons">do_not_disturb_on</i>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor:pointer" onclick="UserLoginBlock(@item.UserId,'true')" class="waves-effect waves-cyan" title="User Login Un-Block">
                                        <i class="material-icons">do_not_disturb_off</i>
                                    </a>
                                }
                                @if (item.IsRegistrationActivated)
                                {
                                    <a style="cursor:pointer" onclick="UserActiveInActiveRegistration(@item.UserId,'false')" class="waves-effect waves-cyan" title="Activate Registration">
                                        <i class="material-icons">done</i>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor:pointer" onclick="UserActiveInActiveRegistration(@item.UserId,'true')" class="waves-effect waves-cyan" title="Un-Registration User">
                                        <i class="material-icons">clear</i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="dvUsers">
    </div>

    <div class="modal docmodal">
        <div class="modal-content">
            <input type="hidden" id="docUserId">
            <h5 id="docRefferalCode">Header</h5>
            <div class="row  z-depth-1" id="KYCDoc">
                <div class="row center">
                    <span class="flow-text">IDENTITY DOCUMENT</span>
                    <i class="medium material-icons right" id="KYCDone" style="color:green">done</i>
                    <i class="medium material-icons right" id="KYCReject" style="color:red">close</i>
                </div>
                <div class="row" id="KYCForm">
                    <div class="input-field col s8">
                        <input id="KYCComment" type="text" class="validate">
                        <label for="KYCComment" id="klabel">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-effect waves-light btn" onclick="KYCApprove(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-effect waves-light btn" onclick="KYCApprove(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docKYC">
                    <div class="col s12 center"><img id="imgKYC" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCPdf" src="" width="800" height="500" /></div>
                    <div class="col s12 center"><img id="imgKYCBack" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCPdfBack" src="" width="800" height="500" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="PANDoc">
                <div class="row center">
                    <span class="flow-text">PAN CARD</span>
                    <i class="medium material-icons right" id="PANDone" style="color:green">done</i>
                    <i class="medium material-icons right" id="PANReject" style="color:red">close</i>
                </div>
                <div class="row" id="PANForm">
                    <div class="input-field col s8">
                        <input id="PANComment" type="text" class="validate">
                        <label for="PANComment" id="plabel">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-effect waves-light btn" onclick="PANApprove(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-effect waves-light btn" onclick="PANApprove(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docPAN">
                    <div class="col s12 center"><img id="imgPAN" src="" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="BankDoc">
                <div class="row center">
                    <span class="flow-text">BANK DOCUMENT</span>
                    <i class="medium material-icons right" id="BankDocumentDone" style="color:green">done</i>
                    <i class="medium material-icons right" id="BankDocumentReject" style="color:red">close</i>
                </div>
                <div class="row" id="BankDocumentForm">
                    <div class="input-field col s8">
                        <input id="BankDocumentComment" type="text" class="validate">
                        <label for="BankDocumentComment" id="blabel">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-effect waves-light btn" onclick="BankDocumentApprove(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-effect waves-light btn" onclick="BankDocumentApprove(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docBankDocument">
                    <div class="col s12 center"><img id="imgBankDoc" src="" /></div>
                </div>
            </div>

            <div class="row z-depth-1">
                <div class="col s12"><span class="flow-text">IDENTITY DETAIL</span></div>
                <div class="input-field col s6">
                    <input placeholder="Aadhar No" id="txtAdharNo" type="text">
                    <label class="active" for="txtAdharNo">Aadhar No</label>
                </div>
                <div class="input-field col s6">
                    <input id="txtFirstName" placeholder="First Name" type="text">
                    <label class="active" for="txtFirstName">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Middle Name" id="txtMiddleName" type="text">
                    <label class="active" for="txtMiddleName">Middle Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="txtLastName" type="text">
                    <label class="active" for="txtLastName">Last Name</label>
                </div>
            </div>
            <div class="row z-depth-1">
                <div class="col s12"><span class="flow-text">PAN CARD DETAIL</span></div>
                <div class="input-field col s6">
                    <input placeholder="PAN No" id="txtPANNo" type="text">
                    <label class="active" for="txtPANNo">PAN No</label>
                </div>
            </div>
            <div class="row z-depth-1">
                <div class="col s12"><span class="flow-text">BANK DETAIL</span></div>
                <div class="input-field col s6">
                    <input placeholder="Bank Name" id="txtBankName" type="text">
                    <label class="active" for="txtBankName">Bank Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Bank A/C No" id="txtBankAccNo" type="text">
                    <label class="active" for="txtBankAccNo">Bank A/C No</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Branch Name" id="txtBranchName" type="text">
                    <label class="active" for="txtBranchName">Branch Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="ISFC Code" id="txtISFCCode" type="text">
                    <label class="active" for="txtISFCCode">ISFC Code</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Name(In Bank)" id="txtBankingName" type="text">
                    <label class="active" for="txtBankingName">Name(In Bank)</label>
                </div>
            </div>
            <div class="row">
                <div class="col s9"></div>
                <div class="col s3">
                    <a class="waves-effect waves-light btn" onclick="UpdateUserDetail()"><i class="material-icons left">save</i>Update Detail</a>
                </div>
            </div>

        </div>
    </div>

    <script>
        @*var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.listUserListEnt));*@
        var listUserListEnt = @Html.Raw(JsonConvert.SerializeObject(ViewBag.listUserListEnt));
                            var db = {
                                loadData: function (filter) {
                                    var d = $.Deferred();
                                    var startIndex = filter.pageIndex;
                                    var pageSize = filter.pageSize;

                                    var activateDate = filter.ActivateDate != undefined && filter.ActivateDate.length > 0 ? filter.ActivateDate : null;
                                    var mobileNo = filter.MobileNo != undefined && filter.MobileNo.length > 0 ? filter.MobileNo : null;
                                    var password = filter.Password != undefined && filter.Password.length > 0 ? filter.Password : null;
                                    var refferalByCode = filter.RefferalByCode && filter.RefferalByCode.length > 0 != undefined ? filter.RefferalByCode : null;
                                    var refferalCode = filter.RefferalCode != undefined && filter.RefferalCode.length > 0 ? filter.RefferalCode : null;
                                    var registrationDate = filter.RegistrationDate != undefined && filter.RegistrationDate.length > 0 ? filter.RegistrationDate : null;
                                    var userName = filter.UserName != undefined && filter.UserName.length > 0 ? filter.UserName : null;

                                    $.ajax({
                                        type: "GET",
                                        url: IsBVEnable ? "/Admin/User/GetUserDetailsBV" : "/Admin/User/GetUserDetailsByPaging",
                                        datatype: 'json',
                                        data: { Type: $("#UserType").val(), Month: $("#ddlMonth").val(), Year: $("#ddlYear").val(), UserCode: $("#txtUserCode").val(), PageIndex: startIndex - 1, PageSize: pageSize, ActivateDate: activateDate, MobileNo: mobileNo, Password: password, RefferalByCode: refferalByCode, RefferalCode: refferalCode, RegistrationDate: registrationDate, UserName: userName },
                                        success: function (result) {
                                            d.resolve({
                                                data: result.Data,
                                                itemsCount: parseInt(result.Count)
                                            });
                                        }
                                    });
                                    return d.promise();
                                },
                            };
                            db.listUserListEnt=listUserListEnt;
                            window.db = db;
                            $("#dvUsers").jsGrid({
                                height: "70%",
                                width: "100%",
                                sorting: true,
                                paging: true,
                                filtering: true,
                                pageLoading: true,
                                autoload: true,
                                pageSize: 20,
                                loadIndicator: false,
                                //pageButtonCount: 10,
                                fields: [
                                    { name: "RefferalCode", type: "text",width:270,
                                        itemTemplate: function (value, item) {
                                            var td = "<img src=\"/Content/images/misch/"+(item.IsRegistrationActivated==true?"Active.png":"Inactive.png")+"\" alt=\"\" class=\"usertypes\">"+item.RefferalCode;
                                            return td;
                                        },title: "User Code",css:"refcode"
                                    },
                                    //{ name: "FullName", type: "text", width:250,title: "Full Name",css:"fullname"},
                                    { name: "UserName", type: "text",width:150,
                                        itemTemplate: function (value, item) {
                                            var td = "";
                                            td += "<a href=\"#\" onclick=\"RedirectUserAccount('"+item.UserName+"','"+item.Password+"')\">"+item.UserName+"</a>";
                                            return td;
                                        },
                                        css:"username" },
                                    { name: "Password", type: "text",width:150,css:"password" },
                                    { name: "RefferalByCode", type: "text",width:270,css:"refferalbycode",title: "Refferal By" },
                                    //{ name: "LeftBV", type: "number",width:100,css:"refferalbycode",title: "Left BV" },
                                    //{ name: "RightBV", type: "number",width:100,css:"refferalbycode",title: "Right BV" },
                                    { name: "ActivateDate",  type: "text",width:100,title: "Activate Date",css:"refdate"},
                                    { name: "RegistrationDate",  type: "text",width:100,title: "Reg. Date",css:"refdate"},
                                    { name: "MobileNo",  type: "text", width:100,
                                        itemTemplate: function(value,item) {
                                            var td="<a target=\"_blank\" href=\"https://api.whatsapp.com/send?phone=91"+item.MobileNo+"\">"+item.MobileNo+"</a>";
                                            return td;
                                        },css:"mobileno"
                                    },
                                    { name: "Action",  width:80,css:"action",
                                        type: "control",
                                        itemTemplate: function(value,item) {
                                            var td=""
                                            if(!item.IsBlocked){
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserLoginBlock("+item.UserId+",'false')\" class=\"waves-effect waves-cyan\" title=\"User Login Block\">"+
                                                            "<i class=\"material-icons\">do_not_disturb_on</i>"+
                                                        "</a>";

                                            }
                                            else{
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserLoginBlock("+item.UserId+",'true')\" class=\"waves-effect waves-cyan\" title=\"User Login Block\">"+
                                                           "<i class=\"material-icons\">do_not_disturb_off</i>"+
                                                       "</a>";
                                            }
                                            if(item.IsRegistrationActivated){
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserActiveInActiveRegistration("+item.UserId+",'false')\" class=\"waves-effect waves-cyan\" title=\"Activate Registration\">"+
                                                            "<i class=\"material-icons\">done</i>"+
                                                        "</a>";
                                            }
                                            else{
                                                td+="<a style=\"cursor:pointer\" onclick=\"UserActiveInActiveRegistration("+item.UserId+",'true')\" class=\"waves-effect waves-cyan\" title=\"Un-Registration User\">"+
                                                           "<i class=\"material-icons\">close</i>"+
                                                       "</a>";
                                            }



                                            return td;
                                        }
                                    }
                                ],
                                //data: listUserListEnt
                                controller: db
                            });

        function KYCApprove(isApproved) {

            if (!isApproved && $("#KYCComment").val() == '') {
                $("#klabel").addClass("active");
                $("#KYCComment").focus();
                return;
            }

            var userId = $("#docUserId").val()
            $.ajax({
                url: "/Admin/User/ApproveKYC",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#KYCComment").val()
                },
                success: function (data) {
                    $("#KYCForm").hide();
                    if (data.Key) {
                        for (var i = 0; i < listUserListEnt.length; i++) {
                            if (listUserListEnt[i].UserId == userId) {
                                listUserListEnt[i].IsKYCVerified = true;
                                if (listUserListEnt[i].IsKYCVerified && listUserListEnt[i].IsPANVerified && listUserListEnt[i].IsBankDocumentVerified) {
                                    $("#a" + userId).css("color", "#009f3c");
                                }
                            }
                        }
                        $("#KYCDone").show();
                        $("#KYCReject").hide();
                    }
                    else {
                        $("#KYCReject").show();
                        $("#KYCDone").hide();
                        $("#KYCReject").attr('title', $("#KYCComment").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function PANApprove(isApproved) {

            if (!isApproved && $("#PANComment").val() == '') {
                $("#plabel").addClass("active");
                $("#PANComment").focus();
                return;
            }

            var userId = $("#docUserId").val()
            $.ajax({
                url: "/Admin/User/ApprovePAN",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#PANComment").val()
                },
                success: function (data) {
                    $("#PANForm").hide();
                    if (data.Key) {
                        for (var i = 0; i < listUserListEnt.length; i++) {
                            if (listUserListEnt[i].UserId == userId) {
                                listUserListEnt[i].IsPANVerified = true;
                                if (listUserListEnt[i].IsKYCVerified && listUserListEnt[i].IsPANVerified && listUserListEnt[i].IsBankDocumentVerified) {
                                    $("#a" + userId).css("color", "#009f3c");
                                }
                            }
                        }
                        $("#PANDone").show();
                        $("#PANReject").hide();
                    }
                    else {
                        $("#PANDone").hide();
                        $("#PANReject").show();
                        $("#PANReject").attr('title', $("#PANComment").val());
                    }

                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function BankDocumentApprove(isApproved) {

            if (!isApproved && $("#BankDocumentComment").val() == '') {
                $("#blabel").addClass("active");
                $("#BankDocumentComment").focus();
                return;
            }
            var userId = $("#docUserId").val()
            $.ajax({
                url: "/Admin/User/ApproveBankDoc",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#BankDocumentComment").val()
                },
                success: function (data) {
                    $("#BankDocumentForm").hide();
                    if (data.Key) {
                        for (var i = 0; i < listUserListEnt.length; i++) {
                            if (listUserListEnt[i].UserId == userId) {
                                listUserListEnt[i].IsBankDocumentVerified = true;
                                if (listUserListEnt[i].IsKYCVerified && listUserListEnt[i].IsPANVerified && listUserListEnt[i].IsBankDocumentVerified) {
                                    $("#a" + userId).css("color", "#009f3c");
                                }
                            }
                        }
                        $("#BankDocumentDone").show();
                        $("#BankDocumentReject").hide();
                    }
                    else {
                        $("#BankDocumentDone").hide();
                        $("#BankDocumentReject").show();
                        $("#BankDocumentReject").attr('title', $("#BankDocumentComment").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function UpdateUserDetail() {
            var userId = $("#docUserId").val()
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/UpdateUserDetail",
                type: 'POST',
                data: {
                    UserId: userId,
                    AdharNo: $("#txtAdharNo").val(),
                    FirstName:   $("#txtFirstName").val(),
                    MiddleName: $("#txtMiddleName").val(),
                    LastName: $("#txtLastName").val(),
                    PanNo: $("#txtPANNo").val(),
                    BankName: $("#txtBankName").val(),
                    BankAccNo: $("#txtBankAccNo").val(),
                    BranchName: $("#txtBranchName").val(),
                    ISFCCode: $("#txtISFCCode").val(),
                    BankingName: $("#txtBankingName").val()
                },
                success: function (data) {
                    $('#loader').hide();
                    if (data.Key) {

                    }
                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                },
            });
        }

    </script>
}
