﻿@using TRSImplementation
@using TRS.Models
@using Newtonsoft.Json;

@model List<PROC_GET_ALL_USER_DETAILS_Result>
@{
    ViewBag.Title = "Index";
    var IsMobile = Request.Browser.IsMobileDevice;
}
<style>
    .usertypes {
        height: 20px;
    }

    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 80%;
        width: 80%;
        will-change: top, opacity;
    }
</style>
@if (IsMobile)
{
    <div class="no-more-tables">
        <table class="striped" id="tblDateRangeOrders">
            <thead>
                <tr>
                    <th>Refferal Code</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Pan No</th>
                    <th>Bank Name</th>
                    <th>Bank A/C</th>
                    <th>Bank IFSC</th>
                    <th>Your Name(In Bank)</th>
                    <th>MobileNo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in (List<UserListEnt>)ViewBag.kycList)
                    {
                        <tr>
                            <td data-title="Refferal Code">@item.RefferalCode</td>
                            <td data-title="First Name">@item.FirstName</td>
                            <td data-title="Middle Name">@item.MiddleName</td>
                            <td data-title="Last Name">@item.LastName</td>
                            <td data-title="Pan No">@item.PanNo</td>
                            <td data-title="Bank Name">@item.BankName</td>
                            <td data-title="Bank A/C">@item.BankAccNo</td>
                            <td data-title="Bank IFSC">@item.BankIFSC</td>
                            <td data-title="Your Name(In Bank)">@item.BankUserName</td>
                            <td data-title="MobileNo">@item.MobileNo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="dvUsers">
    </div>

    <div class="modal docmodalApplied">
        <div class="modal-content admin-kyc-popup-container">

            <input type="hidden" id="docKYCAppliedUserId">
            <div class="admin-kyc-popup-header">
                <div class="admin-kyc-popup-header-content">
                    <h5 id="docKYCAppliedRefferalCode">Header</h5>
                </div>
                <div class="admin-kyc-popup-header-close">
                    <a onclick="CloseAppliedWindow();" title="Close"><i class="material-icons activator">close</i></a>
                </div>
            </div>
            <div class="row  z-depth-1" id="KYCDocApplied">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                IDENTITY DOCUMENT (aadhar card, driving licence, election card)
                            </a>
                        </li>
                    </ul>

                    <i class="medium material-icons right" id="KYCAppliedDone" style="color:green">done</i>
                    <i class="medium material-icons right" id="KYCAppliedReject" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="Aadhar No" id="txtAdharNoApplied" type="text">
                        <label class="active" for="txtAdharNoApplied">Aadhar No</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="txtFirstNameApplied" placeholder="First Name" type="text">
                        <label class="active" for="txtFirstNameApplied">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Middle Name" id="txtMiddleNameApplied" type="text">
                        <label class="active" for="txtMiddleNameApplied">Middle Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Last Name" id="txtLastNameApplied" type="text">
                        <label class="active" for="txtLastNameApplied">Last Name</label>
                    </div>
                </div>
                <div class="row" id="KYCAppliedForm">
                    <div class="input-field col s8">
                        <input id="KYCCommentApplied" type="text" class="validate">
                        <label for="KYCCommentApplied" id="klabelApplied">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="KYCApproveApplied(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="KYCApproveApplied(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docKYC">
                    <div class="col s12 center"><img id="imgKYCApplied" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCAppliedPdf" src="" width="800" height="500" /></div>
                    <div class="col s12 center"><img id="imgKYCAppliedBack" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCAppliedPdfBack" src="" width="800" height="500" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="PANDocApplied">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                PAN CARD
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="PANDoneApplied" style="color:green">done</i>
                    <i class="medium material-icons right" id="PANRejectApplied" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="PAN No" id="txtPANNoApplied" type="text">
                        <label class="active" for="txtPANNoApplied">PAN No</label>
                    </div>
                </div>
                <div class="row" id="PANFormApplied">
                    <div class="input-field col s8">
                        <input id="PANCommentApplied" type="text" class="validate">
                        <label for="PANCommentApplied" id="plabelApplied">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="PANApproveApplied(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="PANApproveApplied(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docPAN">
                    <div class="col s12 center"><img id="imgPANApplied" src="" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="BankDocApplied">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                BANK DOCUMENT
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="BankDocumentAppliedDone" style="color:green">done</i>
                    <i class="medium material-icons right" id="BankDocumentAppliedReject" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="Bank Name" id="txtBankNameApplied" type="text">
                        <label class="active" for="txtBankNameApplied">Bank Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Bank A/C No" id="txtBankAccNoApplied" type="text">
                        <label class="active" for="txtBankAccNoApplied">Bank A/C No</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Branch Name" id="txtBranchNameApplied" type="text">
                        <label class="active" for="txtBranchNameApplied">Branch Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="ISFC Code" id="txtISFCCodeApplied" type="text">
                        <label class="active" for="txtISFCCodeApplied">ISFC Code</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Name(In Bank)" id="txtBankingNameApplied" type="text">
                        <label class="active" for="txtBankingNameApplied">Name(In Bank)</label>
                    </div>
                </div>
                <div class="row" id="BankDocumentAppliedForm">
                    <div class="input-field col s8">
                        <input id="BankDocumentCommentApplied" type="text" class="validate">
                        <label for="BankDocumentCommentApplied" id="blabelApplied">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="BankDocumentApproveApplied(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="BankDocumentApproveApplied(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docBankDocument">
                    <div class="col s12 center"><img id="imgBankDocApplied" src="" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col s9"></div>
                <div class="col s3">
                    <a class="waves-light btn" onclick="UpdateUserDetailApplied()"><i class="material-icons left">save</i>Update Detail</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        @*var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.kycList));*@
        var listUserListEnt = @Html.Raw(JsonConvert.SerializeObject(ViewBag.kycList));
                            var db = {
                                loadData: function (filter) {
                                    var d = $.Deferred();
                                    var startIndex = filter.pageIndex;
                                    var pageSize = filter.pageSize;

                                    var RefferalCode = filter.RefferalCode != undefined && filter.RefferalCode.length > 0 ? filter.RefferalCode : null;
                                    var firstName = filter.FirstName != undefined && filter.FirstName.length > 0 ? filter.FirstName : null;
                                    var middleName = filter.MiddleName != undefined && filter.MiddleName.length > 0 ? filter.MiddleName : null;
                                    var lastName = filter.LastName != undefined && filter.LastName.length > 0 ? filter.LastName : null;
                                    var userId = filter.UserId != undefined && filter.UserId.length > 0 ? filter.UserId : null;
                                    var panNo = filter.PanNo != undefined && filter.PanNo.length > 0 ? filter.PanNo : null;
                                    var bankName = filter.BankName != undefined && filter.BankName.length > 0 ? filter.BankName : null;
                                    var bankAcc = filter.BankAccNo != undefined && filter.BankAccNo.length > 0 ? filter.BankAccNo : null;
                                    var bankIFSC = filter.BankIFSC != undefined && filter.BankIFSC.length > 0 ? filter.BankIFSC : null;
                                    var bankingName = filter.BankUserName != undefined && filter.BankUserName.length > 0 ? filter.BankUserName : null;
                                    var mobileNo = filter.MobileNo != undefined && filter.MobileNo.length > 0 ? filter.MobileNo : null;

                                    $.ajax({
                                        type: "GET",
                                        url: "/Admin/User/GetKYCDetailsByPaging",
                                        datatype: 'json',
                                        data: { PageIndex: startIndex - 1, PageSize: pageSize, KYCType: "applied", FirstName: firstName, MiddleName: middleName, LastName: lastName, UserId: userId, PANNo: panNo, BankName: bankName, BankAccNo: bankAcc, BankIFSC: bankIFSC, BankingName: bankingName, MobileNo: mobileNo, RefferalCode: RefferalCode},
                                        success: function (result) {
                                            d.resolve({
                                                data: result.Data,
                                                itemsCount: parseInt(result.Count)
                                            });
                                        }
                                    });
                                    return d.promise();
                                },
                            };
                            db.listUserListEnt=listUserListEnt;
                            window.db = db;
                            $("#dvUsers").jsGrid({
                                height: "70%",
                                width: "100%",
                                sorting: true,
                                paging: true,
                                filtering: true,
                                pageLoading: true,
                                autoload: true,
                                pageSize: 20,
                                //pageButtonCount: 10,
                                loadIndicator: false,
                                fields: [
                                    {
                                        name: "RefferalCode", type: "text", width: 100,
                                        itemTemplate: function (value, item) {
                                            var td = "";
                                            td += "<a onclick=\"ViewDocumentsApplied(" + item.UserId + ")\">" + item.RefferalCode + "</a>";
                                            return td;
                                        },
                                        css: "username",
                                        align: "center",
                                        title: "Refferal Code"
                                    },
                                    { name: "FirstName", type: "text", width: 150, title: "First Name", align: "center" },
                                    { name: "MiddleName", type: "text", width: 150, title: "Middle Name", align: "center"},
                                    { name: "LastName", type: "text", width: 150, title: "Last Name", align: "center"},
                                    { name: "PanNo", type: "text", width: 150, title: "PAN Card No.", align: "center"},
                                    { name: "BankName", type: "text", width: 150, title: "Bank Name", align: "center"},
                                    { name: "BankAccNo", type: "text", width: 150, title: "Bank A/C No.", align: "center"},
                                    { name: "BankIFSC", type: "text", width: 150, title: "IFSC Code", align: "center"},
                                    { name: "BankUserName", type: "text", width: 150, title: "Your Name(In Bank)", align: "center"},
                                    { name: "MobileNo", type: "text", width: 100, title: "Mobile No.", align: "center"}
                                ],
                                controller: db
                            });

        function CloseAppliedWindow() {
            $('.docmodalApplied').modal('close');
        }

        function KYCApproveApplied(isApproved) {

            if (!isApproved && $("#KYCCommentApplied").val() == '') {
                $("#klabelApplied").addClass("active");
                $("#KYCCommentApplied").focus();
                return;
            }

            var userId = $("#docKYCAppliedUserId").val()
            $.ajax({
                url: "/Admin/User/ApproveKYC",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#KYCCommentApplied").val()
                },
                success: function (data) {
                    $("#KYCAppliedForm").hide();
                    if (data.Key) {
                        $("#KYCAppliedDone").show();
                        $("#KYCAppliedReject").hide();
                    }
                    else {
                        $("#KYCAppliedReject").show();
                        $("#KYCAppliedDone").hide();
                        $("#KYCAppliedReject").attr('title', $("#KYCCommentApplied").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function PANApproveApplied(isApproved) {

            if (!isApproved && $("#PANCommentApplied").val() == '') {
                $("#plabelApplied").addClass("active");
                $("#PANCommentApplied").focus();
                return;
            }

            var userId = $("#docKYCAppliedUserId").val()
            $.ajax({
                url: "/Admin/User/ApprovePAN",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#PANCommentApplied").val()
                },
                success: function (data) {
                    $("#PANFormApplied").hide();
                    if (data.Key) {
                        $("#PANDoneApplied").show();
                        $("#PANRejectApplied").hide();
                    }
                    else {
                        $("#PANDoneApplied").hide();
                        $("#PANRejectApplied").show();
                        $("#PANRejectApplied").attr('title', $("#PANCommentApplied").val());
                    }

                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function BankDocumentApproveApplied(isApproved) {

            if (!isApproved && $("#BankDocumentCommentApplied").val() == '') {
                $("#blabelApplied").addClass("active");
                $("#BankDocumentCommentApplied").focus();
                return;
            }
            var userId = $("#docKYCAppliedUserId").val()
            $.ajax({
                url: "/Admin/User/ApproveBankDoc",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#BankDocumentCommentApplied").val()
                },
                success: function (data) {
                    $("#BankDocumentAppliedForm").hide();
                    if (data.Key) {
                        $("#BankDocumentAppliedDone").show();
                        $("#BankDocumentAppliedReject").hide();
                    }
                    else {
                        $("#BankDocumentAppliedDone").hide();
                        $("#BankDocumentAppliedReject").show();
                        $("#BankDocumentAppliedReject").attr('title', $("#BankDocumentCommentApplied").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function ViewDocumentsApplied(UserId) {
            console.log(UserId);
            $('#docKYCAppliedUserId').val(UserId);
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/GetDocuments",
                type: 'POST',
                async: false,
                data: {
                    UserId: UserId
                },
                success: function (data) {
                    $('#docKYCAppliedRefferalCode').html(data.RefferalCode);
                    if (data.KYCImage != null && data.KYCImage != '') {
                        $("#KYCDocApplied").show();
                        if (data.IsKYCVerified == true) {
                            $("#KYCAppliedReject").hide();
                            $("#KYCAppliedDone").show();
                            $("#KYCAppliedForm").hide();
                        }
                        else if (data.IsKYCVerified == false && data.KYCRejectComment != null) {
                            $("#KYCAppliedForm").hide();
                            $("#KYCAppliedReject").show();
                            $("#KYCAppliedDone").hide();
                            $("#KYCAppliedReject").prop('title', data.KYCRejectComment);
                        }
                        else {
                            $("#KYCAppliedForm").show();
                            $("#KYCAppliedReject").hide();
                            $("#KYCAppliedDone").hide();
                        }
                        if (data.KYCImage.indexOf('.pdf') != -1) {
                            $('#imgKYCAppliedPdf').attr("src", data.KYCImage);
                            $('#imgKYCAppliedPdf').show();
                        }
                        else {
                            $('#imgKYCApplied').attr("src", data.KYCImage);
                            $('#imgKYCAppliedPdf').hide();
                        }

                        if (data.KYCBackImage != null) {
                            if (data.KYCBackImage.indexOf('.pdf') != -1) {
                                $('#imgKYCAppliedPdfBack').attr("src", data.KYCBackImage);
                                $('#imgKYCAppliedPdfBack').show();
                            }
                            else {
                                $('#imgKYCAppliedBack').attr("src", data.KYCBackImage);
                                $('#imgKYCAppliedPdfBack').hide();
                                $('#imgKYCAppliedBack').show();
                            }
                        }
                    }
                    else {
                        $("#KYCDocApplied").hide();
                    }

                    if (data.PANImage != null && data.PANImage != '') {
                        $("#PANDocApplied").show();
                        if (data.IsPANVerified == true) {
                            $("#PANRejectApplied").hide();
                            $("#PANDoneApplied").show();
                            $("#PANFormApplied").hide();
                        }
                        else if (data.IsPANVerified == false && data.PANRejectComment != null) {
                            $("#PANFormApplied").hide();
                            $("#PANRejectApplied").show();
                            $("#PANRejectApplied").prop('title', data.PANRejectComment);
                            $("#PANDoneApplied").hide();
                        }
                        else {
                            $("#PANFormApplied").show();
                            $("#PANRejectApplied").hide();
                            $("#PANDoneApplied").hide();
                        }
                        $('#imgPANApplied').attr("src", data.PANImage);
                    }
                    else {
                        $("#PANDocApplied").hide();
                    }

                    if (data.BankDocument != null && data.BankDocument != '') {
                        $("#BankDocApplied").show();
                        if (data.IsBankDocumentVerified == true) {
                            $("#BankDocumentAppliedReject").hide();
                            $("#BankDocumentAppliedDone").show();
                            $("#BankDocumentAppliedForm").hide();
                        }
                        else if (data.IsBankDocumentVerified == false && data.BankDocumentRejectComment != null) {
                            $("#BankDocumentAppliedForm").hide();
                            $("#BankDocumentAppliedReject").show();
                            $("#BankDocumentAppliedDone").hide();
                            $("#BankDocumentAppliedReject").prop('title', data.BankDocumentRejectComment);
                        }
                        else {
                            $("#BankDocumentAppliedForm").show();
                            $("#BankDocumentAppliedReject").hide();
                            $("#BankDocumentAppliedDone").hide();
                        }
                        $('#imgBankDocApplied').attr("src", data.BankDocument);
                    }
                    else {
                        $("#BankDocApplied").hide();
                    }

                    $("#txtAdharNoApplied").val(data.AdharNo);
                    $("#txtFirstNameApplied").val(data.FirstName);
                    $("#txtMiddleNameApplied").val(data.MiddleName);
                    $("#txtLastNameApplied").val(data.LastName);
                    $("#txtPANNoApplied").val(data.PANNo);
                    $("#txtBankNameApplied").val(data.BankName);
                    $("#txtBankAccNoApplied").val(data.BankAccNo);
                    $("#txtBranchNameApplied").val(data.BranchName);
                    $("#txtISFCCodeApplied").val(data.ISFCCode);
                    $("#txtBankingNameApplied").val(data.BankingName);
                    $('#loader').show();

                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                    return;
                },
            });
            console.log('test');
            $('.docmodalApplied').modal();
            $('.docmodalApplied').modal('open');
        };

        function UpdateUserDetailApplied() {
            var userId = $("#docKYCAppliedUserId").val()
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/UpdateUserDetail",
                type: 'POST',
                data: {
                    UserId: userId,
                    AdharNo: $("#txtAdharNoApplied").val(),
                    FirstName: $("#txtFirstNameApplied").val(),
                    MiddleName: $("#txtMiddleNameApplied").val(),
                    LastName: $("#txtLastNameApplied").val(),
                    PanNo: $("#txtPANNoApplied").val(),
                    BankName: $("#txtBankNameApplied").val(),
                    BankAccNo: $("#txtBankAccNoApplied").val(),
                    BranchName: $("#txtBranchNameApplied").val(),
                    ISFCCode: $("#txtISFCCodeApplied").val(),
                    BankingName: $("#txtBankingNameApplied").val()
                },
                success: function (data) {
                    $('#loader').hide();
                    if (data.Key) {

                    }
                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                },
            });
        }
    </script>
}