﻿@using TRSImplementation
@using TRS.Models
@using Newtonsoft.Json;

@model List<PROC_GET_ALL_USER_DETAILS_Result>
@{
    ViewBag.Title = "Index";
    var IsMobile = Request.Browser.IsMobileDevice;
}
<style>
    .usertypes {
        height: 20px;
    }

    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 80%;
        width: 80%;
        will-change: top, opacity;
    }
</style>
@if (IsMobile)
{
    <div class="no-more-tables">
        <table class="striped" id="tblDateRangeOrders">
            <thead>
                <tr>
                    <th>Refferal Code</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Pan No</th>
                    <th>Bank Name</th>
                    <th>Bank A/C</th>
                    <th>Bank IFSC</th>
                    <th>Your Name(In Bank)</th>
                    <th>MobileNo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in (List<UserListEnt>)ViewBag.kycList)
                    {
                        <tr>
                            <td data-title="Refferal Code">@item.RefferalCode</td>
                            <td data-title="First Name">@item.FirstName</td>
                            <td data-title="Middle Name">@item.MiddleName</td>
                            <td data-title="Last Name">@item.LastName</td>
                            <td data-title="Pan No">@item.PanNo</td>
                            <td data-title="Bank Name">@item.BankName</td>
                            <td data-title="Bank A/C">@item.BankAccNo</td>
                            <td data-title="Bank IFSC">@item.BankIFSC</td>
                            <td data-title="Your Name(In Bank)">@item.BankUserName</td>
                            <td data-title="MobileNo">@item.MobileNo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="dvKYCConfirmedData">
    </div>

    <div class="modal docmodalConfirmed">
        <div class="modal-content admin-kyc-popup-container">
            <input type="hidden" id="docUserIdConfirmed">
            <div class="admin-kyc-popup-header">
                <div class="admin-kyc-popup-header-content">
                    <h5 id="docRefferalCodeConfirmed">Header</h5>
                </div>
                <div class="admin-kyc-popup-header-close">
                    <a onclick="CloseConfirmedWindow();" title="Close"><i class="material-icons activator">close</i></a>
                </div>
            </div>
            <div class="row  z-depth-1" id="KYCDocConfirmed">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                IDENTITY DOCUMENT (aadhar card, driving licence, election card)
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="KYCDoneConfirmed" style="color:green">done</i>
                    <i class="medium material-icons right" id="KYCRejectConfirmed" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="Aadhar No" id="txtAdharNoConfirmed" type="text">
                        <label class="active" for="txtAdharNoConfirmed">Aadhar No</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="txtFirstNameConfirmed" placeholder="First Name" type="text">
                        <label class="active" for="txtFirstNameConfirmed">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Middle Name" id="txtMiddleNameConfirmed" type="text">
                        <label class="active" for="txtMiddleNameConfirmed">Middle Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Last Name" id="txtLastNameConfirmed" type="text">
                        <label class="active" for="txtLastNameConfirmed">Last Name</label>
                    </div>
                </div>
                <div class="row" id="KYCFormConfirmed">
                    <div class="input-field col s8">
                        <input id="KYCCommentConfirmed" type="text" class="validate">
                        <label for="KYCCommentConfirmed" id="klabelConfirmed">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="KYCApproveConfirmed(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="KYCApproveConfirmed(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docKYC">
                    <div class="col s12 center"><img id="imgKYCConfirmed" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCPdfConfirmed" src="" width="800" height="500" /></div>
                    <div class="col s12 center"><img id="imgKYCBackConfirmed" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCPdfBackConfirmed" src="" width="800" height="500" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="PANDocConfirmed">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                PAN CARD
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="PANDoneConfirmed" style="color:green">done</i>
                    <i class="medium material-icons right" id="PANRejectConfirmed" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="PAN No" id="txtPANNoConfirmed" type="text">
                        <label class="active" for="txtPANNoConfirmed">PAN No</label>
                    </div>
                </div>
                <div class="row" id="PANFormConfirmed">
                    <div class="input-field col s8">
                        <input id="PANCommentConfirmed" type="text" class="validate">
                        <label for="PANCommentConfirmed" id="plabelConfirmed">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="PANApproveConfirmed(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="PANApproveConfirmed(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docPAN">
                    <div class="col s12 center"><img id="imgPANConfirmed" src="" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="BankDocConfirmed">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                BANK DOCUMENT
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="BankDocumentDoneConfirmed" style="color:green">done</i>
                    <i class="medium material-icons right" id="BankDocumentRejectConfirmed" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="Bank Name" id="txtBankNameConfirmed" type="text">
                        <label class="active" for="txtBankNameConfirmed">Bank Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Bank A/C No" id="txtBankAccNoConfirmed" type="text">
                        <label class="active" for="txtBankAccNoConfirmed">Bank A/C No</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Branch Name" id="txtBranchNameConfirmed" type="text">
                        <label class="active" for="txtBranchNameConfirmed">Branch Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="ISFC Code" id="txtISFCCodeConfirmed" type="text">
                        <label class="active" for="txtISFCCodeConfirmed">ISFC Code</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Name(In Bank)" id="txtBankingNameConfirmed" type="text">
                        <label class="active" for="txtBankingNameConfirmed">Name(In Bank)</label>
                    </div>
                </div>
                <div class="row" id="BankDocumentFormConfirmed">
                    <div class="input-field col s8">
                        <input id="BankDocumentCommentConfirmed" type="text" class="validate">
                        <label for="BankDocumentCommentConfirmed" id="blabelConfirmed">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="BankDocumentApproveConfirmed(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="BankDocumentApproveConfirmed(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docBankDocument">
                    <div class="col s12 center"><img id="imgBankDocConfirmed" src="" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col s9"></div>
                <div class="col s3">
                    <a class="waves-light btn" onclick="UpdateUserDetailConfirmed()"><i class="material-icons left">save</i>Update Detail</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        @*var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.kycList));*@
        var listUserListEnt = @Html.Raw(JsonConvert.SerializeObject(ViewBag.kycList));
                            var db = {
                                loadData: function (filter) {
                                    var d = $.Deferred();
                                    var startIndex = filter.pageIndex;
                                    var pageSize = filter.pageSize;

                                    var RefferalCode = filter.RefferalCode != undefined && filter.RefferalCode.length > 0 ? filter.RefferalCode : null;
                                    var firstName = filter.FirstName != undefined && filter.FirstName.length > 0 ? filter.FirstName : null;
                                    var middleName = filter.MiddleName != undefined && filter.MiddleName.length > 0 ? filter.MiddleName : null;
                                    var lastName = filter.LastName != undefined && filter.LastName.length > 0 ? filter.LastName : null;
                                    var userId = filter.UserId != undefined && filter.UserId.length > 0 ? filter.UserId : null;
                                    var panNo = filter.PanNo != undefined && filter.PanNo.length > 0 ? filter.PanNo : null;
                                    var bankName = filter.BankName != undefined && filter.BankName.length > 0 ? filter.BankName : null;
                                    var bankAcc = filter.BankAccNo != undefined && filter.BankAccNo.length > 0 ? filter.BankAccNo : null;
                                    var bankIFSC = filter.BankIFSC != undefined && filter.BankIFSC.length > 0 ? filter.BankIFSC : null;
                                    var bankingName = filter.BankUserName != undefined && filter.BankUserName.length > 0 ? filter.BankUserName : null;
                                    var mobileNo = filter.MobileNo != undefined && filter.MobileNo.length > 0 ? filter.MobileNo : null;

                                    $.ajax({
                                        type: "GET",
                                        url: "/Admin/User/GetKYCDetailsByPaging",
                                        datatype: 'json',
                                        data: { PageIndex: startIndex - 1, PageSize: pageSize, KYCType: "confirmed", FirstName: firstName, MiddleName: middleName, LastName: lastName, UserId: userId, PANNo: panNo, BankName: bankName, BankAccNo: bankAcc, BankIFSC: bankIFSC, BankingName: bankingName, MobileNo: mobileNo, RefferalCode: RefferalCode },
                                        success: function (result) {
                                            d.resolve({
                                                data: result.Data,
                                                itemsCount: parseInt(result.Count)
                                            });
                                        }
                                    });
                                    return d.promise();
                                },
                            };
                            db.listUserListEnt=listUserListEnt;
                            window.db = db;
                            $("#dvKYCConfirmedData").jsGrid({
                                height: "70%",
                                width: "100%",
                                sorting: true,
                                paging: true,
                                filtering: true,
                                pageLoading: true,
                                autoload: true,
                                pageSize: 20,
                                loadIndicator: false,
                                //pageButtonCount: 10,
                                fields: [
                                    {
                                        name: "UserId", type: "text", width: 100,
                                        itemTemplate: function (value, item) {
                                            var td = "";
                                            td += "<a onclick=\"ViewDocumentsConfirmed(" + item.UserId + ")\">" + item.RefferalCode + "</a>";
                                            return td;
                                        },
                                        css: "username",
                                        align: "center",
                                        title: "Refferal Code"
                                    },
                                    { name: "FirstName", type: "text", width: 150, title: "First Name", align: "center" },
                                    { name: "MiddleName", type: "text", width: 150, title: "Middle Name", align: "center" },
                                    { name: "LastName", type: "text", width: 150, title: "Last Name", align: "center" },
                                    { name: "PanNo", type: "text", width: 150, title: "PAN Card No.", align: "center" },
                                    { name: "BankName", type: "text", width: 150, title: "Bank Name", align: "center" },
                                    { name: "BankAccNo", type: "text", width: 150, title: "Bank A/C No.", align: "center" },
                                    { name: "BankIFSC", type: "text", width: 150, title: "IFSC Code", align: "center" },
                                    { name: "BankUserName", type: "text", width: 150, title: "Your Name(In Bank)", align: "center" },
                                    { name: "MobileNo", type: "text", width: 100, title: "Mobile No.", align: "center" }
                                ],
                                //data: listUserListEnt
                                controller: db
                            });

        function CloseConfirmedWindow() {
            $('.docmodalConfirmed').modal('close');
        }

        function KYCApproveConfirmed(isApproved) {

            if (!isApproved && $("#KYCCommentConfirmed").val() == '') {
                $("#klabelConfirmed").addClass("active");
                $("#KYCCommentConfirmed").focus();
                return;
            }

            var userId = $("#docUserIdConfirmed").val()
            $.ajax({
                url: "/Admin/User/ApproveKYC",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#KYCCommentConfirmed").val()
                },
                success: function (data) {
                    $("#KYCFormConfirmed").hide();
                    if (data.Key) {
                        $("#KYCDoneConfirmed").show();
                        $("#KYCRejectConfirmed").hide();
                    }
                    else {
                        $("#KYCRejectConfirmed").show();
                        $("#KYCDoneConfirmed").hide();
                        $("#KYCRejectConfirmed").attr('title', $("#KYCCommentConfirmed").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function PANApproveConfirmed(isApproved) {

            if (!isApproved && $("#PANCommentConfirmed").val() == '') {
                $("#plabelConfirmed").addClass("active");
                $("#PANCommentConfirmed").focus();
                return;
            }

            var userId = $("#docUserIdConfirmed").val()
            $.ajax({
                url: "/Admin/User/ApprovePAN",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#PANCommentConfirmed").val()
                },
                success: function (data) {
                    $("#PANFormConfirmed").hide();
                    if (data.Key) {
                        $("#PANDoneConfirmed").show();
                        $("#PANRejectConfirmed").hide();
                    }
                    else {
                        $("#PANDoneConfirmed").hide();
                        $("#PANRejectConfirmed").show();
                        $("#PANRejectConfirmed").attr('title', $("#PANCommentConfirmed").val());
                    }

                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function BankDocumentApproveConfirmed(isApproved) {

            if (!isApproved && $("#BankDocumentCommentConfirmed").val() == '') {
                $("#blabelConfirmed").addClass("active");
                $("#BankDocumentCommentConfirmed").focus();
                return;
            }
            var userId = $("#docUserIdConfirmed").val()
            $.ajax({
                url: "/Admin/User/ApproveBankDoc",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#BankDocumentCommentConfirmed").val()
                },
                success: function (data) {
                    $("#BankDocumentFormConfirmed").hide();
                    if (data.Key) {
                        $("#BankDocumentDoneConfirmed").show();
                        $("#BankDocumentRejectConfirmed").hide();
                    }
                    else {
                        $("#BankDocumentDoneConfirmed").hide();
                        $("#BankDocumentRejectConfirmed").show();
                        $("#BankDocumentRejectConfirmed").attr('title', $("#BankDocumentCommentConfirmed").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function ViewDocumentsConfirmed(UserId) {
            $('#docUserIdConfirmed').val(UserId);
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/GetDocuments",
                type: 'POST',
                async: false,
                data: {
                    UserId: UserId
                },
                success: function (data) {
                    $('#docRefferalCodeConfirmed').html(data.RefferalCode);
                    if (data.KYCImage != null && data.KYCImage != '') {
                        if (data.IsKYCVerified == true) {
                            $("#KYCRejectConfirmed").hide();
                            $("#KYCDoneConfirmed").show();
                            $("#KYCFormConfirmed").hide();
                        }
                        else if (data.IsKYCVerified == false && data.KYCRejectComment != null) {
                            $("#KYCFormConfirmed").hide();
                            $("#KYCRejectConfirmed").show();
                            $("#KYCDoneConfirmed").hide();
                            $("#KYCRejectConfirmed").prop('title', data.KYCRejectComment);
                        }
                        else {
                            $("#KYCFormConfirmed").show();
                            $("#KYCRejectConfirmed").hide();
                            $("#KYCDoneConfirmed").hide();
                        }
                        if (data.KYCImage.indexOf('.pdf') != -1) {
                            $('#imgKYCPdfConfirmed').attr("src", data.KYCImage);
                            $('#imgKYCPdfConfirmed').show();
                        }
                        else {
                            $('#imgKYCConfirmed').attr("src", data.KYCImage);
                            $('#imgKYCPdfConfirmed').hide();
                        }

                        if (data.KYCBackImage != null) {
                            if (data.KYCBackImage.indexOf('.pdf') != -1) {
                                $('#imgKYCPdfBackConfirmed').attr("src", data.KYCBackImage);
                                $('#imgKYCPdfBackConfirmed').show();
                            }
                            else {
                                $('#imgKYCBackConfirmed').attr("src", data.KYCBackImage);
                                $('#imgKYCPdfBackConfirmed').hide();
                                $('#imgKYCBackConfirmed').show();
                            }
                        }
                    }
                    else {
                        $("#KYCDocConfirmed").hide();
                    }

                    if (data.PANImage != null && data.PANImage != '') {
                        if (data.IsPANVerified == true) {
                            $("#PANRejectConfirmed").hide();
                            $("#PANDoneConfirmed").show();
                            $("#PANFormConfirmed").hide();
                        }
                        else if (data.IsPANVerified == false && data.PANRejectComment != null) {
                            $("#PANFormConfirmed").hide();
                            $("#PANRejectConfirmed").show();
                            $("#PANRejectConfirmed").prop('title', data.PANRejectComment);
                            $("#PANDoneConfirmed").hide();
                        }
                        else {
                            $("#PANFormConfirmed").show();
                            $("#PANRejectConfirmed").hide();
                            $("#PANDoneConfirmed").hide();
                        }
                        $('#imgPANConfirmed').attr("src", data.PANImage);
                    }
                    else {
                        $("#PANDocConfirmed").hide();
                    }

                    if (data.BankDocument != null && data.BankDocument != '') {
                        if (data.IsBankDocumentVerified == true) {
                            $("#BankDocumentRejectConfirmed").hide();
                            $("#BankDocumentDoneConfirmed").show();
                            $("#BankDocumentFormConfirmed").hide();
                        }
                        else if (data.IsBankDocumentVerified == false && data.BankDocumentRejectComment != null) {
                            $("#BankDocumentFormConfirmed").hide();
                            $("#BankDocumentRejectConfirmed").show();
                            $("#BankDocumentDoneConfirmed").hide();
                            $("#BankDocumentRejectConfirmed").prop('title', data.BankDocumentRejectComment);
                        }
                        else {
                            $("#BankDocumentFormConfirmed").show();
                            $("#BankDocumentRejectConfirmed").hide();
                            $("#BankDocumentDoneConfirmed").hide();
                        }
                        $('#imgBankDocConfirmed').attr("src", data.BankDocument);
                    }
                    else {
                        $("#BankDocConfirmed").hide();
                    }

                    $("#txtAdharNoConfirmed").val(data.AdharNo);
                    $("#txtFirstNameConfirmed").val(data.FirstName);
                    $("#txtMiddleNameConfirmed").val(data.MiddleName);
                    $("#txtLastNameConfirmed").val(data.LastName);
                    $("#txtPANNoConfirmed").val(data.PANNo);
                    $("#txtBankNameConfirmed").val(data.BankName);
                    $("#txtBankAccNoConfirmed").val(data.BankAccNo);
                    $("#txtBranchNameConfirmed").val(data.BranchName);
                    $("#txtISFCCodeConfirmed").val(data.ISFCCode);
                    $("#txtBankingNameConfirmed").val(data.BankingName);
                    $('#loader').show();

                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                    return;
                },
            });

            $('.docmodalConfirmed').modal();
            $('.docmodalConfirmed').modal('open');
        };

        function UpdateUserDetailConfirmed() {
            var userId = $("#docUserIdConfirmed").val()
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/UpdateUserDetail",
                type: 'POST',
                data: {
                    UserId: userId,
                    AdharNo: $("#txtAdharNoConfirmed").val(),
                    FirstName: $("#txtFirstNameConfirmed").val(),
                    MiddleName: $("#txtMiddleNameConfirmed").val(),
                    LastName: $("#txtLastNameConfirmed").val(),
                    PanNo: $("#txtPANNoConfirmed").val(),
                    BankName: $("#txtBankNameConfirmed").val(),
                    BankAccNo: $("#txtBankAccNoConfirmed").val(),
                    BranchName: $("#txtBranchNameConfirmed").val(),
                    ISFCCode: $("#txtISFCCodeConfirmed").val(),
                    BankingName: $("#txtBankingNameConfirmed").val()
                },
                success: function (data) {
                    $('#loader').hide();
                    if (data.Key) {

                    }
                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                },
            });
        }
    </script>
}