﻿@using TRSImplementation
@using TRS.Models
@using Newtonsoft.Json;

@model List<PROC_GET_ALL_USER_DETAILS_Result>
@{
    ViewBag.Title = "Index";
    var IsMobile = Request.Browser.IsMobileDevice;
}
<style>
    .usertypes {
        height: 20px;
    }

    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 80%;
        width: 80%;
        will-change: top, opacity;
    }
</style>
@if (IsMobile)
{
    <div class="no-more-tables">
        <table class="striped" id="tblDateRangeOrders">
            <thead>
                <tr>
                    <th>Refferal Code</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Pan No</th>
                    <th>Bank Name</th>
                    <th>Bank A/C</th>
                    <th>Bank IFSC</th>
                    <th>Your Name(In Bank)</th>
                    <th>MobileNo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in (List<UserListEnt>)ViewBag.kycList)
                    {
                        <tr>
                            <td data-title="Refferal Code">@item.RefferalCode</td>
                            <td data-title="First Name">@item.FirstName</td>
                            <td data-title="Middle Name">@item.MiddleName</td>
                            <td data-title="Last Name">@item.LastName</td>
                            <td data-title="Pan No">@item.PanNo</td>
                            <td data-title="Bank Name">@item.BankName</td>
                            <td data-title="Bank A/C">@item.BankAccNo</td>
                            <td data-title="Bank IFSC">@item.BankIFSC</td>
                            <td data-title="Your Name(In Bank)">@item.BankUserName</td>
                            <td data-title="MobileNo">@item.MobileNo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="dvKYCRejectedData">
    </div>

    <div class="modal docmodalRejected">
        <div class="modal-content admin-kyc-popup-container">
            <input type="hidden" id="docUserIdRejected">
            <div class="admin-kyc-popup-header">
                <div class="admin-kyc-popup-header-content">
                    <h5 id="docRefferalCodeRejected">Header</h5>
                </div>
                <div class="admin-kyc-popup-header-close">
                    <a onclick="CloseRejectedWindow();" title="Close"><i class="material-icons activator">close</i></a>
                </div>
            </div>
            <div class="row  z-depth-1" id="KYCDocRejected">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                IDENTITY DOCUMENT (aadhar card, driving licence, election card)
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="KYCDoneRejected" style="color:green">done</i>
                    <i class="medium material-icons right" id="KYCRejectRejected" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="Aadhar No" id="txtAdharNoRejected" type="text">
                        <label class="active" for="txtAdharNoRejected">Aadhar No</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="txtFirstNameRejected" placeholder="First Name" type="text">
                        <label class="active" for="txtFirstNameRejected">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Middle Name" id="txtMiddleNameRejected" type="text">
                        <label class="active" for="txtMiddleNameRejected">Middle Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Last Name" id="txtLastNameRejected" type="text">
                        <label class="active" for="txtLastNameRejected">Last Name</label>
                    </div>
                </div>
                <div class="row" id="KYCFormRejected">
                    <div class="input-field col s8">
                        <input id="KYCCommentRejected" type="text" class="validate">
                        <label for="KYCCommentRejected" id="klabelRejected">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="KYCApproveRejected(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="KYCApproveRejected(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docKYC">
                    <div class="col s12 center"><img id="imgKYCRejected" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCPdfRejected" src="" width="800" height="500" /></div>
                    <div class="col s12 center"><img id="imgKYCBackRejected" src="" /></div>
                    <div class="col s12 center"><embed style="display:none" id="imgKYCPdfBackRejected" src="" width="800" height="500" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="PANDocRejected">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                PAN CARD
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="PANDoneRejected" style="color:green">done</i>
                    <i class="medium material-icons right" id="PANRejectRejected" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="PAN No" id="txtPANNoRejected" type="text">
                        <label class="active" for="txtPANNoRejected">PAN No</label>
                    </div>
                </div>
                <div class="row" id="PANFormRejected">
                    <div class="input-field col s8">
                        <input id="PANCommentRejected" type="text" class="validate">
                        <label for="PANCommentRejected" id="plabelRejected">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="PANApproveRejected(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="PANApproveRejected(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docPAN">
                    <div class="col s12 center"><img id="imgPANRejected" src="" /></div>
                </div>
            </div>

            <div class="row z-depth-1" id="BankDocRejected">
                <div class="row center">
                    <ul class="tabs tab-profile z-depth-1 teal accent-4">
                        <li class="tab col s12">
                            <a class="white-text waves-light active">
                                BANK DOCUMENT
                            </a>
                        </li>
                    </ul>
                    <i class="medium material-icons right" id="BankDocumentDoneRejected" style="color:green">done</i>
                    <i class="medium material-icons right" id="BankDocumentRejectRejected" style="color:red">close</i>
                </div>
                <div class="row z-depth-1">
                    <div class="input-field col s6">
                        <input placeholder="Bank Name" id="txtBankNameRejected" type="text">
                        <label class="active" for="txtBankNameRejected">Bank Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Bank A/C No" id="txtBankAccNoRejected" type="text">
                        <label class="active" for="txtBankAccNoRejected">Bank A/C No</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Branch Name" id="txtBranchNameRejected" type="text">
                        <label class="active" for="txtBranchNameRejected">Branch Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="ISFC Code" id="txtISFCCodeRejected" type="text">
                        <label class="active" for="txtISFCCodeRejected">ISFC Code</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Name(In Bank)" id="txtBankingNameRejected" type="text">
                        <label class="active" for="txtBankingNameRejected">Name(In Bank)</label>
                    </div>
                </div>
                <div class="row" id="BankDocumentFormRejected">
                    <div class="input-field col s8">
                        <input id="BankDocumentCommentRejected" type="text" class="validate">
                        <label for="BankDocumentCommentRejected" id="blabelRejected">Reject Comments</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="BankDocumentApproveRejected(false)"><i class="material-icons left">close</i>Reject</a>
                    </div>
                    <div class="input-field col s2">
                        <a class="waves-light btn" onclick="BankDocumentApproveRejected(true)"><i class="material-icons left">done</i>Approve</a>
                    </div>
                </div>
                <div class="row" id="docBankDocument">
                    <div class="col s12 center"><img id="imgBankDocRejected" src="" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col s9"></div>
                <div class="col s3">
                    <a class="waves-light btn" onclick="UpdateUserDetailRejected()"><i class="material-icons left">save</i>Update Detail</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        @*var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.kycList));*@
        var listUserListEnt = @Html.Raw(JsonConvert.SerializeObject(ViewBag.kycList));
                            var db = {
                                loadData: function (filter) {
                                    var d = $.Deferred();
                                    var startIndex = filter.pageIndex;
                                    var pageSize = filter.pageSize;

                                    var RefferalCode = filter.RefferalCode != undefined && filter.RefferalCode.length > 0 ? filter.RefferalCode : null;
                                    var firstName = filter.FirstName != undefined && filter.FirstName.length > 0 ? filter.FirstName : null;
                                    var middleName = filter.MiddleName != undefined && filter.MiddleName.length > 0 ? filter.MiddleName : null;
                                    var lastName = filter.LastName != undefined && filter.LastName.length > 0 ? filter.LastName : null;
                                    var userId = filter.UserId != undefined && filter.UserId.length > 0 ? filter.UserId : null;
                                    var panNo = filter.PanNo != undefined && filter.PanNo.length > 0 ? filter.PanNo : null;
                                    var bankName = filter.BankName != undefined && filter.BankName.length > 0 ? filter.BankName : null;
                                    var bankAcc = filter.BankAccNo != undefined && filter.BankAccNo.length > 0 ? filter.BankAccNo : null;
                                    var bankIFSC = filter.BankIFSC != undefined && filter.BankIFSC.length > 0 ? filter.BankIFSC : null;
                                    var bankingName = filter.BankUserName != undefined && filter.BankUserName.length > 0 ? filter.BankUserName : null;
                                    var mobileNo = filter.MobileNo != undefined && filter.MobileNo.length > 0 ? filter.MobileNo : null;

                                    $.ajax({
                                        type: "GET",
                                        url: "/Admin/User/GetKYCDetailsByPaging",
                                        datatype: 'json',
                                        data: { PageIndex: startIndex - 1, PageSize: pageSize, KYCType: "rejected", FirstName: firstName, MiddleName: middleName, LastName: lastName, UserId: userId, PANNo: panNo, BankName: bankName, BankAccNo: bankAcc, BankIFSC: bankIFSC, BankingName: bankingName, MobileNo: mobileNo, RefferalCode: RefferalCode },
                                        success: function (result) {
                                            d.resolve({
                                                data: result.Data,
                                                itemsCount: parseInt(result.Count)
                                            });
                                        }
                                    });
                                    return d.promise();
                                },
                            };
                            db.listUserListEnt=listUserListEnt;
                            window.db = db;
                            $("#dvKYCRejectedData").jsGrid({
                                height: "70%",
                                width: "100%",
                                sorting: true,
                                paging: true,
                                filtering: true,
                                pageLoading: true,
                                autoload: true,
                                pageSize: 20,
                                loadIndicator: false,
                                //pageButtonCount: 10,
                                fields: [
                                    {
                                        name: "UserId", type: "text", width: 100,
                                        itemTemplate: function (value, item) {
                                            var td = "";
                                            td += "<a onclick=\"ViewDocumentsRejected(" + item.UserId + ")\">" + item.RefferalCode + "</a>";
                                            return td;
                                        },
                                        css: "username",
                                        align: "center",
                                        title: "Refferal Code"
                                    },
                                    { name: "FirstName", type: "text", width: 150, title: "First Name", align: "center" },
                                    { name: "MiddleName", type: "text", width: 150, title: "Middle Name", align: "center" },
                                    { name: "LastName", type: "text", width: 150, title: "Last Name", align: "center" },
                                    { name: "PanNo", type: "text", width: 150, title: "PAN Card No.", align: "center" },
                                    { name: "BankName", type: "text", width: 150, title: "Bank Name", align: "center" },
                                    { name: "BankAccNo", type: "text", width: 150, title: "Bank A/C No.", align: "center" },
                                    { name: "BankIFSC", type: "text", width: 150, title: "IFSC Code", align: "center" },
                                    { name: "BankUserName", type: "text", width: 150, title: "Your Name(In Bank)", align: "center" },
                                    { name: "MobileNo", type: "text", width: 100, title: "Mobile No.", align: "center" }
                                ],
                                //data: listUserListEnt
                                controller: db
                            });

        function CloseRejectedWindow() {
            $('.docmodalRejected').modal('close');
        }

        function KYCApproveRejected(isApproved) {

            if (!isApproved && $("#KYCCommentRejected").val() == '') {
                $("#klabelRejected").addClass("active");
                $("#KYCCommentRejected").focus();
                return;
            }

            var userId = $("#docUserIdRejected").val()
            $.ajax({
                url: "/Admin/User/ApproveKYC",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#KYCCommentRejected").val()
                },
                success: function (data) {
                    $("#KYCFormRejected").hide();
                    if (data.Key) {
                        for (var i = 0; i < listUserListEnt.length; i++) {
                            if (listUserListEnt[i].UserId == userId) {
                                listUserListEnt[i].IsKYCVerified = true;
                                if (listUserListEnt[i].IsKYCVerified && listUserListEnt[i].IsPANVerified && listUserListEnt[i].IsBankDocumentVerified) {
                                    $("#a" + userId).css("color", "#009f3c");
                                }
                            }
                        }
                        $("#KYCDoneRejected").show();
                        $("#KYCRejectRejected").hide();
                    }
                    else {
                        $("#KYCRejectRejected").show();
                        $("#KYCDoneRejected").hide();
                        $("#KYCRejectRejected").attr('title', $("#KYCCommentRejected").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function PANApproveRejected(isApproved) {

            if (!isApproved && $("#PANCommentRejected").val() == '') {
                $("#plabelRejected").addClass("active");
                $("#PANCommentRejected").focus();
                return;
            }

            var userId = $("#docUserIdRejected").val()
            $.ajax({
                url: "/Admin/User/ApprovePAN",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#PANCommentRejected").val()
                },
                success: function (data) {
                    $("#PANFormRejected").hide();
                    if (data.Key) {
                        for (var i = 0; i < listUserListEnt.length; i++) {
                            if (listUserListEnt[i].UserId == userId) {
                                listUserListEnt[i].IsPANVerified = true;
                                if (listUserListEnt[i].IsKYCVerified && listUserListEnt[i].IsPANVerified && listUserListEnt[i].IsBankDocumentVerified) {
                                    $("#a" + userId).css("color", "#009f3c");
                                }
                            }
                        }
                        $("#PANDoneRejected").show();
                        $("#PANRejectRejected").hide();
                    }
                    else {
                        $("#PANDoneRejected").hide();
                        $("#PANRejectRejected").show();
                        $("#PANRejectRejected").attr('title', $("#PANCommentRejected").val());
                    }

                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function BankDocumentApproveRejected(isApproved) {

            if (!isApproved && $("#BankDocumentCommentRejected").val() == '') {
                $("#blabelRejected").addClass("active");
                $("#BankDocumentCommentRejected").focus();
                return;
            }
            var userId = $("#docUserIdRejected").val()
            $.ajax({
                url: "/Admin/User/ApproveBankDoc",
                type: 'POST',
                data: {
                    UserId: userId,
                    IsApproved: isApproved,
                    comment: isApproved ? null : $("#BankDocumentCommentRejected").val()
                },
                success: function (data) {
                    $("#BankDocumentFormRejected").hide();
                    if (data.Key) {
                        for (var i = 0; i < listUserListEnt.length; i++) {
                            if (listUserListEnt[i].UserId == userId) {
                                listUserListEnt[i].IsBankDocumentVerified = true;
                                if (listUserListEnt[i].IsKYCVerified && listUserListEnt[i].IsPANVerified && listUserListEnt[i].IsBankDocumentVerified) {
                                    $("#a" + userId).css("color", "#009f3c");
                                }
                            }
                        }
                        $("#BankDocumentDoneRejected").show();
                        $("#BankDocumentRejectRejected").hide();
                    }
                    else {
                        $("#BankDocumentDoneRejected").hide();
                        $("#BankDocumentRejectRejected").show();
                        $("#BankDocumentRejectRejected").attr('title', $("#BankDocumentCommentRejected").val());
                    }
                },
                error: function (er) {
                    alert(er);
                },
            });
        };

        function ViewDocumentsRejected(UserId) {
            $('#docUserIdRejected').val(UserId);
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/GetDocuments",
                type: 'POST',
                async: false,
                data: {
                    UserId: UserId
                },
                success: function (data) {
                    $('#docRefferalCodeRejected').html(data.RefferalCode);
                    if (data.KYCImage != null && data.KYCImage != '') {
                        if (data.IsKYCVerified == true) {
                            $("#KYCRejectRejected").hide();
                            $("#KYCDoneRejected").show();
                            $("#KYCFormRejected").hide();
                        }
                        else if (data.IsKYCVerified == false && data.KYCRejectComment != null) {
                            $("#KYCFormRejected").hide();
                            $("#KYCRejectRejected").show();
                            $("#KYCDoneRejected").hide();
                            $("#KYCRejectRejected").prop('title', data.KYCRejectComment);
                        }
                        else {
                            $("#KYCFormRejected").show();
                            $("#KYCRejectRejected").hide();
                            $("#KYCDoneRejected").hide();
                        }
                        if (data.KYCImage.indexOf('.pdf') != -1) {
                            $('#imgKYCPdfRejected').attr("src", data.KYCImage);
                            $('#imgKYCPdfRejected').show();
                        }
                        else {
                            $('#imgKYCRejected').attr("src", data.KYCImage);
                            $('#imgKYCPdfRejected').hide();
                        }

                        if (data.KYCBackImage != null) {
                            if (data.KYCBackImage.indexOf('.pdf') != -1) {
                                $('#imgKYCPdfBackRejected').attr("src", data.KYCBackImage);
                                $('#imgKYCPdfBackRejected').show();
                            }
                            else {
                                $('#imgKYCBackRejected').attr("src", data.KYCBackImage);
                                $('#imgKYCPdfBackRejected').hide();
                                $('#imgKYCBackRejected').show();
                            }
                        }
                    }
                    else {
                        $("#KYCDocRejected").hide();
                    }

                    if (data.PANImage != null && data.PANImage != '') {
                        if (data.IsPANVerified == true) {
                            $("#PANRejectRejected").hide();
                            $("#PANDoneRejected").show();
                            $("#PANFormRejected").hide();
                        }
                        else if (data.IsPANVerified == false && data.PANRejectComment != null) {
                            $("#PANFormRejected").hide();
                            $("#PANRejectRejected").show();
                            $("#PANRejectRejected").prop('title', data.PANRejectComment);
                            $("#PANDoneRejected").hide();
                        }
                        else {
                            $("#PANFormRejected").show();
                            $("#PANRejectRejected").hide();
                            $("#PANDoneRejected").hide();
                        }
                        $('#imgPANRejected').attr("src", data.PANImage);
                    }
                    else {
                        $("#PANDocRejected").hide();
                    }

                    if (data.BankDocument != null && data.BankDocument != '') {
                        if (data.IsBankDocumentVerified == true) {
                            $("#BankDocumentRejectRejected").hide();
                            $("#BankDocumentDoneRejected").show();
                            $("#BankDocumentFormRejected").hide();
                        }
                        else if (data.IsBankDocumentVerified == false && data.BankDocumentRejectComment != null) {
                            $("#BankDocumentFormRejected").hide();
                            $("#BankDocumentRejectRejected").show();
                            $("#BankDocumentDoneRejected").hide();
                            $("#BankDocumentRejectRejected").prop('title', data.BankDocumentRejectComment);
                        }
                        else {
                            $("#BankDocumentFormRejected").show();
                            $("#BankDocumentRejectRejected").hide();
                            $("#BankDocumentDoneRejected").hide();
                        }
                        $('#imgBankDocRejected').attr("src", data.BankDocument);
                    }
                    else {
                        $("#BankDocRejected").hide();
                    }

                    $("#txtAdharNoRejected").val(data.AdharNo);
                    $("#txtFirstNameRejected").val(data.FirstName);
                    $("#txtMiddleNameRejected").val(data.MiddleName);
                    $("#txtLastNameRejected").val(data.LastName);
                    $("#txtPANNoRejected").val(data.PANNo);
                    $("#txtBankNameRejected").val(data.BankName);
                    $("#txtBankAccNoRejected").val(data.BankAccNo);
                    $("#txtBranchNameRejected").val(data.BranchName);
                    $("#txtISFCCodeRejected").val(data.ISFCCode);
                    $("#txtBankingNameRejected").val(data.BankingName);
                    $('#loader').show();

                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                    return;
                },
            });

            $('.docmodalRejected').modal();
            $('.docmodalRejected').modal('open');
        };

        function UpdateUserDetailRejected() {
            var userId = $("#docUserIdRejected").val()
            $('#loader').show();
            $.ajax({
                url: "/Admin/User/UpdateUserDetail",
                type: 'POST',
                data: {
                    UserId: userId,
                    AdharNo: $("#txtAdharNoRejected").val(),
                    FirstName: $("#txtFirstNameRejected").val(),
                    MiddleName: $("#txtMiddleNameRejected").val(),
                    LastName: $("#txtLastNameRejected").val(),
                    PanNo: $("#txtPANNoRejected").val(),
                    BankName: $("#txtBankNameRejected").val(),
                    BankAccNo: $("#txtBankAccNoRejected").val(),
                    BranchName: $("#txtBranchNameRejected").val(),
                    ISFCCode: $("#txtISFCCodeRejected").val(),
                    BankingName: $("#txtBankingNameRejected").val()
                },
                success: function (data) {
                    $('#loader').hide();
                    if (data.Key) {

                    }
                },
                error: function (er) {
                    $('#loader').hide();
                    alert(er);
                },
            });
        }
    </script>
}