﻿@using TRSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .usertypes {
        height: 20px;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="UserListTitle">Inactive User Lists</h5>
            </li>
            <li>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <select id="UserType">
                        <option value="ALL" selected>ALL</option>
                        <option value="InActive">InActive</option>
                        <option value="Active">Active</option>
                        <option value="Gold">Gold</option>
                        <option value="Prime">Prime</option>
                        <option value="Silver">Silver</option>
                        <option value="Diamond">Diamond</option>
                        <option value="Last30">Last 30 Days Inactive</option>
                    </select>
                    <label for="UserType" class="center-align">User Type</label>
                </div>
                <div class="input-field col col-xs-12 s12 m4 l4">
                    <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetUserDetails()">
                        <i class="material-icons left">search</i> Search
                    </a>
                </div>
                <div class="input-field col col-xs-12 s12 m12 l12">
                    <div class="col s12" id="dvUserList">
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    var IsBVEnable = '@ViewBag.IsBVEnable'=="true"?true:false;;
    function WindowLoadComplete() {        
        GetUserDetails();
    }

    function GetUserDetails() {
        if ($("#UserType").val().toLowerCase() == "inactive") {
            $("#UserListTitle").text("InActive Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "active") {
            $("#UserListTitle").text("Active Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "all") {
            $("#UserListTitle").text("All Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "gold") {
            $("#UserListTitle").text("Gold Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "silver") {
            $("#UserListTitle").text("Sulver Users List");
        }
        $.ajax({
            type: "POST",
            url:IsBVEnable? "/Admin/User/GetUserDetailsBV": "/Admin/User/GetUserDetails",
            datatype: 'html',
            data: { Type: $("#UserType").val() },
            success: function (result) {
                $("#dvUserList").html(result);
            },
            error: function () {
            }
        });
    }

    function InActiveUsers(UserId) {
        swal({
            title: "Are you sure want to inactive user?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/User/InActiveUsers",
                    type: 'POST',
                    data: {
                        UserId: UserId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/User/Index" })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function UserLoginBlock(UserId, status) {        
        swal({
            title: status == "false" ? "Are you sure want to block user for login?" : "Are you sure want to un-block user for login?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/User/UserLoginBlock",
                    type: 'POST',
                    data: {
                        UserId: UserId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { GetUserDetails(); })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function UserActiveInActiveRegistration(UserId, status) {
        swal({
            title: status == "false" ? "Are you sure want to un-register user?" : "Are you sure want to activate registration?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/User/UserActiveInActiveRegistration",
                    type: 'POST',
                    data: {
                        UserId: UserId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { GetUserDetails(); })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function RedirectUserAccount(UserName, Password) {
        $.ajax({
            url: "/Authentication/Authenticate/Login",
            type: 'POST',
            data: {
                UserName: UserName,
                Password: Password
            },
            cache: false,
            success: function (data) {
                if (data.IsProfileCompleted) {
                    window.location.href = "/Member/Dashboard/Index";
                }
                else {
                    window.location.href = "/Member/UserProfile";
                }
            }
        });
    }
</script>
