﻿@using TRSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<style>
    .usertypes {
        height: 20px;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="UserListTitle">Inactive User Lists</h5>
            </li>
        </ul>
        <div class="input-field col col-xs-12 s12 m4 l2">
            <select id="ddlYear">
            </select>
            <label for="UserType" class="center-align">Year</label>
        </div>
        <div class="input-field col col-xs-12 s12 m4 l2">
            <select id="ddlMonth">
                <option value="0">ALL</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <label for="UserType" class="center-align">Month</label>
        </div>
        <div class="input-field col col-xs-12 s12 m4 l3">
            <select id="UserType">
                <option value="ALL" selected>ALL</option>
                <option value="InActive">InActive</option>
                <option value="Active">Active</option>
                <option value="Gold">Gold</option>
                <option value="supergold">SuperGold</option>
                <option value="Prime">Prime</option>
                <option value="Silver">Silver</option>
                <option value="Diamond">Diamond</option>
                <option value="Last30">Last 30 Days Inactive</option>
            </select>
            <label for="UserType" class="center-align">User Type</label>
        </div>
        <div class="input-field col s12 m4 l2">
            <input type="text" id="txtUserCode" name="txtUserCode" />
            <label for="txtUserCode" class="center-align">User Code / Mobile No</label>
        </div>
        <div class="input-field col col-xs-12 s12 m4 l3">
            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetUserDetails()">
                <i class="material-icons left">search</i> Search
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="waves-effect waves-light btn" id="btnRegisterNow">
                Register New User
            </a>
        </div>
        <div class="input-field col col-xs-12 s12 m12 l12">
            <div class="col s12" id="dvUserList">

            </div>
        </div>
    </div>
</div>
<div id="mdlUserIncome" class="modal">
    <div class="modal-content">
        <div id="dvUserIncome">
        </div>
    </div>
</div>

<!-- jQuery Library -->
<script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
@*<!--materialize js-->
<script type="text/javascript" src="/Content/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--sweetalert -->
<script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/Content/js/plugins.js"></script>
<!--extra-components-sweetalert.js - Some Specific JS-->
<script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>*@

<script>
    var IsBVEnable = '@ViewBag.IsBVEnable' == "true" ? true : false;;
    var listYears = @Html.Raw(Json.Encode(ViewBag.listYears));

    function WindowLoadComplete() {
        $("#ddlYear").append($('<option>').val('0').text('ALL'));
        for (var i = 0; i < listYears.length; i++) {
            $("#ddlYear").append($('<option>').val(listYears[i].Value).text(listYears[i].Text))
        }
        $("#ddlYear").val('@ViewBag.CurrentYear');
        $("#ddlMonth").val('@ViewBag.CurrentMonth');

        $("#ddlYear").change(function () {
            if ($("#ddlYear").val() == '0') {
                $('#ddlMonth').parent().find('input.select-dropdown').prop("disabled", true);
            }
            else {
                $('#ddlMonth').parent().find('input.select-dropdown').prop("disabled", false);
            }
        });

        GetUserDetails();
    }

    function GetUserDetails() {
        if ($("#UserType").val().toLowerCase() == "inactive") {
            $("#UserListTitle").text("InActive Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "active") {
            $("#UserListTitle").text("Active Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "all") {
            $("#UserListTitle").text("All Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "gold") {
            $("#UserListTitle").text("Gold Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "supergold") {
            $("#UserListTitle").text("Super Gold Users List");
        }
        else if ($("#UserType").val().toLowerCase() == "silver") {
            $("#UserListTitle").text("Sulver Users List");
        }
        $.ajax({
            type: "POST",
            url: IsBVEnable ? "/Admin/User/GetUserDetailsBV" : "/Admin/User/GetUserDetails",
            datatype: 'html',
            data: { Type: $("#UserType").val(), Month: $("#ddlMonth").val(), Year: $("#ddlYear").val(), UserCode: $("#txtUserCode").val() },
            success: function (result) {
                $("#dvUserList").html(result);
            },
            error: function () {
            }
        });
    }

    function InActiveUsers(UserId) {
        swal({
            title: "Are you sure want to inactive user?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/User/InActiveUsers",
                    type: 'POST',
                    data: {
                        UserId: UserId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/User/Index" })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function UserLoginBlock(UserId, status) {
        swal({
            title: status == "false" ? "Are you sure want to block user for login?" : "Are you sure want to un-block user for login?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/User/UserLoginBlock",
                    type: 'POST',
                    data: {
                        UserId: UserId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { GetUserDetails(); })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function UserActiveInActiveRegistration(UserId, status) {
        swal({
            title: status == "false" ? "Are you sure want to un-register user?" : "Are you sure want to activate registration?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/User/UserActiveInActiveRegistration",
                    type: 'POST',
                    data: {
                        UserId: UserId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function () { GetUserDetails(); })
                        }
                        else {
                            if (data.IsInfo) {
                                swal("Information!", data.Msg, "error");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function RedirectUserAccount(UserName, Password) {
        $.ajax({
            url: "/Authentication/Authenticate/Login",
            type: 'POST',
            data: {
                UserName: UserName,
                Password: Password,
                RedirectFrmAdmin: true
            },
            cache: false,
            success: function (data) {
                if (data.IsProfileCompleted) {
                    window.location.href = "/Member/Dashboard/Index";
                }
                else {
                    window.location.href = "/Member/UserProfile";
                }
            }
        });
    }

    function GetCalculatedBV(btn, UserId, Position) {
        $.ajax({
            url: "/Admin/User/GetCalculatedBV",
            type: 'POST',
            data: {
                UserId: UserId,
                Position: Position
            },
            cache: false,
            success: function (data) {
                $(btn).closest('td').html(data);
            }
        });
    }

    function GetTotalIncome(btn, UserId) {
        $.ajax({
            url: "/Admin/User/GetTotalIncome",
            type: 'POST',
            data: {
                UserId: UserId
            },
            cache: false,
            success: function (data) {
                $(btn).closest('td').html("<span onclick=\"GetUserIncomeDetails(this," + UserId + ")\" style=\"color: #3949ab;\">" + data + "</span>");
            }
        });
    }

    function GetUserIncomeDetails(btn, UserId) {
        $.ajax({
            type: "POST",
            url: "/Admin/User/GetUserIncomeDetails",
            datatype: 'html',
            data: { UserId: UserId },
            success: function (result) {
                $("#dvUserIncome").html(result);
                $("#mdlUserIncome").modal('open');
            },
            error: function () {
            }
        });
    }

    $(document).ready(function () {

        //$("#btnRegisterNow").click(function () {
        //    alert('');
        //});

        $("#btnRegisterNow").click(function () {
            swal({
                title: "Referral Code!",
                text: "Please enter the referal code of person who referred you to maxener wellness:",
                type: "input", showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "Write something"
            },
                function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("You need to enter refferal code!");
                        return false
                    }
                    var refcodes = inputValue.split("_");
                    var code = refcodes[refcodes.length - 1];
                    $.ajax({
                        url: "/Authentication/Authenticate/CheckRefferalCodeExist",
                        type: 'POST',
                        data: {
                            refcode: code
                        },
                        cache: false,
                        success: function (data) {
                            if (data.Key) {
                                window.location.href = "/Admin/User/Signup?rc=" + code;
                            }
                            else {
                                swal("Information!", "Invalid Refferal Code!", "error");
                            }
                        }
                    });
                    //swal("Nice!", "You wrote: " + inputValue, "success");
                });

            window.setTimeout(function () {
                //console.log($('.sweet-alert'))
                $('.sweet-alert').find('fieldset').append("<div id='dvName' style='text-align:left;font-weight:bold;font-size:18px;'></div>")
                //$('.sweet-alert').find('.sa-confirm-button-container').find('button.confirm').addClass("displaynone");
                $('.sweet-alert').find('fieldset').find('input').change(function () {
                    if ($(this).val() == "") {
                        $("#dvName").html("");
                    }
                    else {
                        var refcodes = $(this).val().split("_");
                        var code = refcodes[refcodes.length - 1];
                        $.ajax({
                            url: "/Authentication/Authenticate/CheckRefferalCodeExist",
                            type: 'POST',
                            data: {
                                refcode: code
                            },
                            cache: false,
                            success: function (data) {
                                if (data.Key) {
                                    $("#dvName").html(code + " - " + data.Msg);
                                    //$('.sweet-alert').find('.sa-confirm-button-container').find('button.confirm').removeClass("displaynone");
                                }
                                else {
                                    //swal("Information!", "Invalid Refferal Code!", "error");
                                    //$('.sweet-alert').find('.sa-confirm-button-container').find('button.confirm').addClass("displaynone");
                                    $("#dvName").html("");
                                    alert("Invalid Refferal Code!");
                                    //$("#btnRegisterNow").click();
                                }
                            }
                        });
                    }
                });
            }, 1000)
        });
    });
</script>
