﻿@using TRSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<style>
    .usertypes {
        height: 20px;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="UserListTitle">KYC Check</h5>
            </li>
            <li class="admin-kyc-tab-container">
                <ul class="tabs tab-profile z-depth-1 teal accent-4">
                    <li class="tab col s4 admin-kyc-tab-border admin-kyc-tab-refresh-container">
                        <a id="applied_tab_header" class="white-text waves-light active admin-kyc-header-tab" href="#divApplied">
                            Applied
                        </a>
                        <a class="admin-kyc-refresh-tab" onclick="GetKYCDetails('applied')"><i class="material-icons activator">refresh</i></a>
                    </li>
                    <li class="tab col s4 admin-kyc-tab-border admin-kyc-tab-refresh-container">
                        <a id="confirmed_tab_header" class="white-text waves-light admin-kyc-header-tab" href="#divConfirmed">
                            Confirmed
                        </a>
                        <a class="admin-kyc-refresh-tab" onclick="GetKYCDetails('confirmed')"><i class="material-icons activator">refresh</i></a>
                    </li>
                    <li class="tab col s4 admin-kyc-tab-refresh-container">
                        <a id="rejected_tab_header" class="white-text waves-light admin-kyc-header-tab" href="#divRejected">
                            Rejected
                        </a>
                        <a class="admin-kyc-refresh-tab" onclick="GetKYCDetails('rejected')"><i class="material-icons activator">refresh</i></a>
                    </li>
                    @*<li class="indicator" style="right: 648px; left: 0px;"></li>*@
                </ul>
                <div id="divApplied" class="kyc-grid tab-content col s12 grey lighten-4 active" style="">
                    <div id="dvKYCApplied"></div>
                </div>
                <div id="divConfirmed" class="kyc-grid tab-content col s12 grey lighten-4 active" style="display:none;">
                    <div id="dvKYCConfirmed"></div>
                </div>
                <div id="divRejected" class="kyc-grid tab-content col s12 grey lighten-4 active" style="display:none;">
                    <div id="dvKYCRejected"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="mdlUserIncome" class="modal">
    <div class="modal-content">
        <div id="dvUserIncome">
        </div>
    </div>
</div>

<!-- jQuery Library -->
<script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="/Content/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--sweetalert -->
<script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/Content/js/plugins.js"></script>
<!--extra-components-sweetalert.js - Some Specific JS-->
<script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>

<script>

    function WindowLoadComplete() {
        GetKYCDetails();
    }

    function GetKYCDetails(tabContainer) {
        $.ajax({
            type: "POST",
            url: "/Admin/User/GetKYCDetails",
            datatype: 'html',
            success: function (result) {
                $("#dvKYCApplied").html(result.kycPartialView1);
                $("#dvKYCConfirmed").html(result.kycPartialView2);
                $("#dvKYCRejected").html(result.kycPartialView3);
                if (tabContainer != undefined) {
                    $('#' + tabContainer + '_tab_header').click();
                }
            }
        });
    }
</script>
