﻿@model  TRSImplementation.TempUserMst
@using TRSImplementation
@{
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    string BOLT_URL = HttpContext.Current.Application[clsImplementationMessage.BOLT_URL].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Maxener Wellness Manufacturing Of Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder ">
    <meta name="keywords" content="Whey Proteins, Supplements, Protein Powder, Nutrition Supplement, Health & Strength Supplements, Whey Iso, Weight Gainer & Loss Powder, Body Building Powder, Whey, Mass Xtream ">
    <title>Registration Of Maxener Wellness | Whey Protein Supplement Powder </title>
    <!-- Favicons-->
    <link rel="icon" href="/Content/images/favicon/logo-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/Content/images/favicon/logo-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/logo-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="/Content/css/themes/overlay-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="/Content/css/themes/overlay-menu/style.css" type="text/css" rel="stylesheet">
    <!-- CSS for Overlay Menu (Layout Full Screen)-->
    <link href="/Content/css/layouts/style-fullscreen.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="/Content/css/custom/custom.css?v=@Version" type="text/css" rel="stylesheet">
    <link href="/Content/css/layouts/page-center.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">

    <link href="/Content/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <script id="bolt" src="@BOLT_URL" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script>
    <style>
        .autocomplete-content {
            position: absolute !important;
        }
    </style>
</head>
<body class="cyan">
    @Html.HiddenFor(m => m.TempUserId)
    <input type="hidden" id="hdnOTP" />
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form" id="loginform">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Register</h4>
                        <p class="center">Join to our community now !</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col s12">
                        <b>Refferal:</b> <span id="lblRefferalDetails"></span>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        @Html.TextBoxFor(m => m.FullName)
                        <label for="FullName" class="center-align">First Last Name</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        @Html.TextBoxFor(m => m.UserName)
                        <label for="UserName" class="center-align">User Name</label>
                    </div>
                </div>
                <div class="row margin hidden hide">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        <input id="RefferalCode" type="text" required>
                        <label for="RefferalCode" class="center-align">Referal Code</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">person_outline</i>
                        @*<input type="text" id="Position" palceholder="Position" />*@
                        <select id="Position"></select>
                        <label for="Position" class="center-align">Position</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">email</i>
                        @Html.TextBoxFor(m => m.EmailId)
                        <label for="EmailId" class="center-align">Email</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">smartphone</i>
                        @Html.TextBoxFor(m => m.MobileNo, new { @maxlength = "10" })
                        <label for="MobileNo" class="center-align">Mobile</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">lock_outline</i>
                        @Html.TextBoxFor(m => m.Password, new { @type = "password" })
                        <label for="Password">Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5">lock_outline</i>
                        <input id="passwordagain" type="password">
                        <label for="passwordagain">Confirm Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col s12">
                        <input type="checkbox" id="chkAgreeWith" />
                        <label for="chkAgreeWith">Agree with all <a href="https://www.maxenerwellness.com/private-policy/" target="_blank">terms &amp; condition</a> of maxener wellness</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light col s12" id="btnRegister">Register Now</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>
    <!--angularjs-->
    <script type="text/javascript" src="/Content/vendors/angular.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/Content/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/Content/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="/Content/vendors/sweetalert/dist/sweetalert.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        var Cities = @Html.Raw(Json.Encode(ViewBag.Cities));
        var p='@ViewBag.p';
        $(document).ready(function () {
            var options="<option value=\"L\" "+('@ViewBag.DefaultPosition'=="L"?" selected":"")+" >Left</option><option value=\"R\" "+('@ViewBag.DefaultPosition'=="L"?" selected":"")+">Right</option>"
            $("#Position").html(options);
            $('#Position').val('@ViewBag.DefaultPosition');
            $('#Position').material_select();

            if('@ViewBag.IsPositionEnabled.ToString().ToLower()'=='false'){
                $('#Position').attr("disabled","disabled");
                $('#Position').material_select();
            }

            if ('@Model.TempUserId' > 0) {
                $("#passwordagain").attr("type", "text").val('@Model.Password').attr("type", "password");
            }
            
            if('@ViewBag.RefferalCode'!=""){
                $("#RefferalCode").val('@ViewBag.RefferalCode')
            }

            $("#btnRegister,#btnActivateFree").click(function (e) {

                if ($("#loginform").valid()) {
                    if($("#passwordagain").val()!=$("#Password").val()){
                        alert("Password and Confirm Password must be same");
                        return false;
                    }
                    if(!$("#chkAgreeWith").is(":checked")){
                        alert("Please Agree with terms & condition");
                        return false;
                    }
                    RegisterUser();
                }
            });

            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim().length != 0;
            }, "No space please and don't leave it empty");

            $("#loginform").validate({
                rules: {
                    FullName: {
                        required: true,
                        noSpace: true
                    },
                    UserName: {
                        required: true
                    },
                    EmailId: {
                        required: true,
                        email: true
                    },
                    MobileNo: {
                        required: true
                    },
                    RefferalCode: {
                        required: true
                    },
                    Password: {
                        required: true,
                        minlength: 8
                    },
                    passwordagain: {
                        required: true,
                        minlength: 8,
                        compare: function () {
                            if ($("#passwordagain").val() != $("#Password").val()) {
                                return false;
                            }

                        }
                    },
                },
                //For custom messages
                messages: {
                    FullName: {
                        required: "Enter a Full Name"
                    },
                    UserName: {
                        required: "Enter a User Name"
                    },
                    EmailId: {
                        required: "Enter a EmailId"
                    },
                    MobileNo: {
                        required: "Enter a MobileNo"
                    },
                    RefferalCode: {
                        required: "Enter a Refferal Code"
                    },
                    Password: {
                        required: "Enter a Password"
                    },
                    passwordagain: {
                        required: "Enter a Confirm Password",
                        compare: "Password and Confirm Password must be same"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            GetRefferalDetails();

        });

        function GetRefferalDetails() {
            $.ajax({
                url: "/Authentication/Authenticate/CheckRefferalCodeExist",
                type: 'POST',
                data: {
                    refcode: $("#RefferalCode").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        $('#lblRefferalDetails').text($("#RefferalCode").val() + ' - ' + data.Msg);
                    }
                }
            });
        }

        function RegisterUser() {

            var IsFreeActiate = false;

            if($(this).attr("id")=="btnRegister"){
                IsFreeActiate=false;
            }
            else if($(this).attr("id")=="btnActivateFree"){
                IsFreeActiate=true;
            }
            $.ajax({
                url: "/Authentication/Authenticate/RegisterUser",
                type: 'POST',
                data: {
                    FullName: $("#FullName").val(),
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val(),
                    EmailId: $("#EmailId").val(),
                    MobileNo: $("#MobileNo").val(),
                    RefferalCode: $("#RefferalCode").val(),
                    TempUserId: $("#TempUserId").val(),
                    Position: $("#Position").val(),
                    IsFreeAccount: IsFreeActiate
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        //launchBOLT(e, data.Id,productinfo,"1");
                        if(IsFreeActiate){
                            swal("Information!", "Free Account Created Successfully!", "success");
                        }
                        else {

                            swal({
                                title: "Success!",
                                text: "Register new user successfully!",
                                icon: "success",
                                button: "Ok",
                            }, function () {
                                    window.location = "/Admin/User";
                            });
                        }
                    }
                    else {
                        swal("Information!", data.Msg, "info");
                    }
                }
            });
        }

        $('#FullName').keydown(function (e) {
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });

        $("#MobileNo").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    </script>
</body>
</html>