﻿@using TRSImplementation
@model PROC_GET_ALL_PRODUCT_LIST_FOR_VIEW_EDIT_Result
<form class="row" id="frmPersonalDetails">
    <div class="col s12">
        <div class="input-field col s6">
            @Html.TextBoxFor(m => m.ProductName, new { @placeholder = "Product Name" })
            <label for="ProductName" class="active">Product Name</label>
        </div>
        <div class="input-field col s6">
            <select id="ProductCategory" disabled="disabled" class="editable">
                <option value="" disabled selected>Choose Product Category</option>
            </select>
            <label>Product Category</label>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field col s6">
            @Html.TextAreaFor(m => m.ShortDesc, new { @placeholder = "Short Description" })
            <label for="ShortDesc" class="active">Short Description</label>
        </div>
        <div class="input-field col s6">
            @Html.TextAreaFor(m => m.LongDescription, new { @placeholder = "Long Description" })
            <label for="LongDescription" class="active">LongDescription</label>
        </div>

    </div>
    <div class="col s12">
        <div class="input-field col s6">
            @Html.TextBoxFor(m => m.SalePrice, new { @placeholder = "Sale Price" })
            <label for="SalePrice" class="active">SalePrice</label>
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(m => m.RegularPrice, new { @placeholder = "RegularPrice" })
            <label for="RegularPrice">RegularPrice</label>
        </div>
    </div>
</form>
