﻿@using TRSImplementation
@model PackageMst
@{
    ViewBag.Title = "Packages Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listProductMst = (List<PackageMst>)ViewBag.listProductMst;
    var UploadPhotoInMB = System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] != null ? System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] : "1";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
</style>
<div class="container">
    <div class="row section" id="dvProduct">
        <form class="row" id="frmPersonalDetails">
            @Html.HiddenFor(m => m.PackageId)
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    @Html.TextBoxFor(m => m.PackageName, new { @placeholder = "Package Name" })
                    <label for="PackagePrice" class="active">Package Name</label>
                </div>    
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.PackagePrice, new { @placeholder = "Package Price" })
                    <label for="PackagePrice" class="active">Package Price</label>
                </div>                
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextAreaFor(m => m.ShortDesc, new { @placeholder = "Short Description", @class = "materialize-textarea" })
                    <label for="ShortDesc" class="active">Short Description</label>
                </div>
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextAreaFor(m => m.LongDescription, new { @placeholder = "Long Description", @class = "materialize-textarea" })
                    <label for="LongDescription" class="active">LongDescription</label>
                </div>

            </div>
            <div class="col s12">                           
                <div class="input-field col s12 col-xs-12 m6">
                    @Html.TextBoxFor(m => m.ProductVideoURL, new { @placeholder = "Product Video URL" })
                    <label for="ProductVideoURL" class="active">Product Video URL</label>
                </div>
            </div>
            <div class="col s12">
                <div class="file-field input-field col s12 col-xs-12 m6">
                    <div class="btn">
                        <span>Front Cover</span>
                        <input type="file" id="fupProductFrontImage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="txtProductFrontImage" type="text" readonly>
                    </div>
                    <img id="imgProductFrontImage" src="" class="hide" style="width:100px; height:100px;" />
                </div>
                <div class="file-field input-field col s12 col-xs-12 m6">
                    <div class="btn">
                        <span>Back Cover</span>
                        <input type="file" id="fupProductBackImage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="txtProductBackImage" type="text" readonly>
                    </div>
                    <img id="imgProductBackImage" src="" class="hide" style="width:100px; height:100px;" />
                </div>
            </div>
            <div class="col s12">
                <div class="col s12 center-align" style="margin-bottom:10px;">
                    <a class="waves-effect waves-light btn" id="btnSave">
                        <i class="material-icons left">save</i> Save
                    </a>
                    <a class="waves-effect waves-light btn" id="btnCancel">
                        <i class="material-icons left">clear</i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div id="floatThead" class="section">
        <div class="row">
            <div class="col s12 no-more-tables">
                <table class="striped demo1">
                    <thead>
                        <tr>
                            <th class="hide">Id</th>
                            <th>Package Name</th>
                            <th>Short Desc</th>
                            <th>Long Desc</th>                            
                            <th>Price</th>                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in listProductMst)
                            {
                                <tr>
                                    <td data-title="Package Id" class="id hide">@item.PackageId</td>
                                    <td data-title="Package Name">@item.PackageName</td>
                                    <td data-title="Short Desc">@item.ShortDesc</td>
                                    <td data-title="Long Desc" class="totalincome">@item.LongDescription</td>                                    
                                    <td data-title="Package Price" class="tds">@item.PackagePrice</td>                                    
                                    <td data-title="Action">
                                        <a style="cursor:pointer" onclick="GetProductDetails(@item.PackageId)" class="waves-effect waves-cyan">
                                            <i class="material-icons">edit</i>
                                            <span class="nav-text">Edit</span>
                                        </a>
                                        @if (item.IsActive)
                                        {
                                            <a style="cursor:pointer" onclick="ActiveInActiveProduct(@item.PackageId,0)" class="waves-effect waves-cyan" title="InActive">
                                                <i class="material-icons">clear</i>
                                                <span class="nav-text">InActive</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a style="cursor:pointer" onclick="ActiveInActiveProduct(@item.PackageId,1)" class="waves-effect waves-cyan" title="Active">
                                                <i class="material-icons">done</i>
                                                <span class="nav-text">Active</span>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function WindowLoadComplete() {
        $(document).ready(function () {
            //GetProductDetails(0);
            $("#btnCancel").click(function () {
                Clear()
            });
            $("#btnSave").click(function () {
                SaveProduct()
            });

            $("#fupProductFrontImage").change(function () {
                checkfile("fupProductFrontImage", true, @UploadPhotoInMB, "png,jpeg,jpg");
            });

            $("#fupProductBackImage").change(function () {
                checkfile("fupProductBackImage", true, @UploadPhotoInMB, "png,jpeg,jpg");
            });
        });
    }

    function Clear() {
        $("#PackageId").val("0");
        $("#PackageName").val("");
        $("#ShortDesc").val("");
        $("#LongDescription").val("");
        $("#PackagePrice").val("");
        $("#imgProductFrontImage").addClass("hide");
        $("#imgProductBackImage").addClass("hide");
        $("#txtProductBackImage").val("");
        $("#txtProductFrontImage").val("");
        $("#ProductVideoURL").val("");
    }
    function GetProductDetails(id) {
        $.ajax({
            url: "/Admin/PointsProduct/GetProductDetails",
            type: 'POST',
            data: {
                ProductId: id
            },
            cache: false,
            success: function (data) {
                $("#PackageId").val(data.PackageId);
                $("#PackageName").val(data.PackageName);
                $("#ShortDesc").val(data.ShortDesc);
                $("#LongDescription").val(data.LongDescription);
                $("#PackagePrice").val(data.PackagePrice);
                $("#ProductVideoURL").val(data.ProductVideoURL)
                $("#imgProductFrontImage").attr("src","");
                $("#imgProductFrontImage").addClass("hide");
                $("#txtProductFrontImage").val("");
                $("#imgProductBackImage").attr("src","");
                $("#imgProductBackImage").addClass("hide");
                $("#txtProductBackImage").val("");

                if(data.ImagePath!=null &&data.ImagePath!=""){
                    $("#imgProductFrontImage").attr("src",data.ImagePath);
                    $("#imgProductFrontImage").removeClass("hide");
                    var arrayname=data.ImagePath.split("/");
                    var name=arrayname[arrayname.length-1];
                    $("#txtProductFrontImage").val(name);
                }
                if(data.BackCoverImagePath!=null && data.BackCoverImagePath!=""){
                    $("#imgProductBackImage").attr("src",data.BackCoverImagePath);
                    $("#imgProductBackImage").removeClass("hide");
                    var arrayname=data.BackCoverImagePath.split("/");
                    var name=arrayname[arrayname.length-1];
                    $("#txtProductBackImage").val(name);
                }
            }
        });
    }

    function SaveProduct() {
        var strFrontCover = "";
        var strBackCover = "";
        if (!ValidateForm()) {
            return false;
        }

        var profiledata = new FormData();
        var fupProductFrontImage = $("#fupProductFrontImage").get(0).files;
        var fupProductBackImage = $("#fupProductBackImage").get(0).files;
        if($("#PackageId").val().trim()=="0" || $("#PackageId").val().trim()==""){
            if (fupProductFrontImage.length == 0) {
                swal("Information!", "Please Select Front Cover Image File!", "error");
                return false;
            }
            if (fupProductBackImage.length == 0) {
                swal("Information!", "Please Select Front Cover Image File!", "error");
                return false;
            }
        }
        if (fupProductFrontImage.length > 0) {
            if(!checkfile("fupProductFrontImage", true, @UploadPhotoInMB, "png,jpeg,jpg")){
                swal("Information!", "Please Select Only png,jpeg,jpg format file!", "error");
                return false;
            }
            profiledata.append("FrontCover", fupProductFrontImage[0]);
            var profileimg = getNameFromPath($("#fupProductFrontImage").val());
            strFrontCover = (new Date().getTime()).toString() + "_" + profileimg;
        }
        else if ($("#txtProductFrontImage").val() != "") {
            strFrontCover = $("#txtProductFrontImage").val();
        }

        if (fupProductBackImage.length > 0) {
            if(!checkfile("fupProductBackImage", true, @UploadPhotoInMB, "png,jpeg,jpg")){
                swal("Information!", "Please Select Only png,jpeg,jpg format file!", "error");
                return false;
            }
            profiledata.append("BackCover", fupProductBackImage[0]);
            var profileimg = getNameFromPath($("#fupProductBackImage").val());
            strBackCover = (new Date().getTime()).toString() + "_" + profileimg;
        }
        else if ($("#txtProductBackImage").val() != "") {
            strBackCover = $("#txtProductBackImage").val();
        }

        profiledata.append("PackageId", $("#PackageId").val().trim());
        profiledata.append("PackageName", $("#PackageName").val().trim());        
        profiledata.append("ShortDesc", $("#ShortDesc").val().trim());
        profiledata.append("LongDescription", $("#LongDescription").val().trim());
        profiledata.append("PackagePrice", $("#PackagePrice").val().trim());
        profiledata.append("ProductVideoURL", $("#ProductVideoURL").val().trim());
        profiledata.append("FrontCover", strFrontCover);
        profiledata.append("BackCover", strBackCover);
        // profiledata.append("AboutUs", $("#txtAboutUs").val().trim());

        var newsUrl = "@Url.Content("~/Admin/PointsProduct/InsertUpdateProduct")";
        $.ajax({
            url: newsUrl,
            type: "POST",
            processData: false,
            contentType: false,
            data: profiledata,
            success: function (data) {
                if (data.Key) {
                    if($("#PackageId").val()=="0"){
                        swal("Success!", "Product Inserted Successfully!", "success");
                    }
                    else{
                        swal("Success!", "Product Updated Successfully!", "success");
                    }
                    $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Admin/PointsProduct/Index"})
                }
                else {
                    swal("Error!",data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er);
            },
        });
    }

    function ActiveInActiveProduct(pid,status){
        swal({    title: status==0? "Are you sure want to inactive product?":"Are you sure want to active product?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $.ajax({
                    url: "/Admin/PointsProduct/ActiveInActiveProduct",
                    type: 'POST',
                    data: {
                        ProductId: pid
                    },
                    cache: false,
                    success: function (data) {
                        if(data.Key){
                            swal("Success!", data.Msg, "success");
                            $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Admin/PointsProduct/Index"})
                        }
                        else{
                            if(data.IsInfo){
                                swal("Information!", data.Msg, "error");
                            }
                            else{
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    }
                });
            });
    }

    function ValidateForm() {
        if ($("#PackageName").val().trim() == "") {
            swal("Information!", "Please Enter Package Name!", "error");
            return false;
        }        
        else if ($("#PackagePrice").val().trim() == "") {
            swal("Information!", "Please Enter Package Price!", "error");
            return false;
        }        
        else {
            return true;
        }
    }
    function checkfile(fuupload, checkSize, maxFileSizeInMB, AllowFileType) {
        filetype = AllowFileType.split(",");
        var file = getNameFromPath($("#" + fuupload).val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
            // alert(extension);

            for (var i = 0; i < filetype.length; i++) {
                if (extension == filetype[i].toLowerCase()) {
                    flag = true;
                    break;
                }
                else {
                    flag = false;
                }
            }
        }
        if (flag == false) {
            swal("Information!","You can upload only " + AllowFileType + " extension file", "error");
            $("#" + fuupload).val('');
            return false;
        }
        else {
            return CheckFileSize(checkSize, fuupload, maxFileSizeInMB);
        }
    }

    function CheckFileSize(checkSize, fuupload, maxFileSizeInMB) {
        if (checkSize) {
            var size = GetFileSize(fuupload);
            if (size > maxFileSizeInMB) {
                swal("Information!","You can upload file up to " + maxFileSizeInMB + " MB", "error");
                return false;
            }
            else {
                return true;
            }
        }
        else {
            return true;
        }
    }

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    //get file size
    function GetFileSize(fileid) {
        try {
            var fileSize = 0;
            //for IE
            if ($.browser.msie) {
                //before making an object of ActiveXObject,
                //please make sure ActiveX is enabled in your IE browser
                var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
                //for FF, Safari, Opeara and Others
            else {
                fileSize = $("#" + fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            return fileSize;
        }
        catch (e) {
            //alert("Error is :" + e);
        }
    }

</script>
