﻿@using TRSImplementation
@model PROC_GET_USER_PROFILE_DETAILS_Result
@{
    ViewBag.Title = "Profile Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UploadPhotoInMB = System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] != null ? System.Configuration.ConfigurationManager.AppSettings["UploadPhotoInMB"] : "1";
    var IsProfileCompleted = ((clsLogin)Session[clsImplementationMessage.LoginInfo]).IsProfileCompleted;
    var RedirectFrmAdmin = ((clsLogin)Session[clsImplementationMessage.LoginInfo]).RedirectFrmAdmin.ToString();
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var listStateName = (List<AutoCompleteEnt>)ViewBag.StateTbl;

}
<style>
    .ui-datepicker-title .ui-datepicker-month {
        display: inline-block;
        height: 2rem;
    }

    .ui-datepicker-title .ui-datepicker-year {
        display: inline-block;
        height: 2rem;
    }
</style>
<input type="hidden" id="isAdminLogin" value="@RedirectFrmAdmin" />
<div class="container">
    <div id="profile-page" class="section">
        <!-- profile-page-content -->
        <div id="profile-page-content" class="row">
            <!-- profile-page-sidebar-->
            <div id="profile-page-sidebar" class="col s12 m4">
                <div class="item product" style="padding:0px;width:100%;">
                    <div class="card" data-proid="10" style="overflow: hidden;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#">
                                <img id="imgProfile" src="@Model.ProfileImage" alt="item-img" style="max-height:320px;">
                            </a>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2" id="btnRotateLeftProfileImage">
                                    <i class="material-icons activator">rotate_left</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light blue accent-2" id="btnRotateRightProfileImage">
                                    <i class="material-icons activator">rotate_right</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light pink accent-2" id="btnClearProfileImage">
                                    <i class="material-icons activator">clear</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2" id="btnChangeProfileImage">
                                    <i class="material-icons activator">photo_camera</i>
                                </a>
                                <input type="file" id="fuProfileImage" style="display:none;" />
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">@Model.RefferalCode - @Model.FullName</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Profile About  -->
                <div class="card red accent-2">
                    <div class="card-content white-text center-align">
                        <p class="card-title">
                            <i class="material-icons">group_add</i> @Model.TotalMembers
                        </p>
                        <p>Team Members</p>
                    </div>
                </div>
                <!-- Profile About  -->
                <!-- Profile Total sell -->
                @*<div class="card center-align">
                        <div class="card-content teal accent-4 white-text">
                            <p class="card-stats-title">
                                Your Wallet
                            </p>
                            <h4 class="card-stats-number">Rs. @Model.WalletAmount</h4>
                        </div>
                    </div>*@
            </div>
            <!-- profile-page-sidebar-->
            <!-- profile-page-wall -->
            <div id="profile-page-wall" class="col s12 m8">
                <!-- profile-page-wall-share -->
                <div id="profile-page-wall-share" class="row">
                    <div class="col s12 center-align" style="margin-bottom:10px;">
                        <a class="waves-effect waves-light btn" id="btnEdit">
                            <i class="material-icons left">mode_edit</i> Edit
                        </a>
                        <a class="waves-effect waves-light btn hide" id="btnSave">
                            <i class="material-icons left">save</i> Save
                        </a>
                        <a class="waves-effect waves-light btn  hide" id="btnCancel">
                            <i class="material-icons left">clear</i> Cancel
                        </a>
                    </div>
                    <div class="col s12">
                        <ul class="tabs tab-profile z-depth-1 deep-orange accent-2">
                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light active" href="#UpdateStatus">
                                    <i class="material-icons profile-icon">border_color</i> Personal Details
                                </a>
                            </li>
                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light" href="#AddPhotos">
                                    <i class="material-icons profile-icon">credit_card</i> KYC
                                </a>
                            </li>
                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light" href="#ChangePassword">
                                    <i class="material-icons profile-icon">vpn_key</i> Change Password
                                </a>
                            </li>
                            @*<li class="indicator" style="right: 648px; left: 0px;"></li>*@
                        </ul>
                        <!-- UpdateStatus-->
                        <div id="UpdateStatus" class="tab-content col s12 grey lighten-4 active" style="">
                            <form class="row" id="frmPersonalDetails">
                                <div class="col s12">
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @disabled = "disabled", @class = "editable" })
                                        <label for="FirstName" class="active">First Name</label>
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.MiddleName, new { @placeholder = "Middel Name", @disabled = "disabled", @class = "editable" })
                                        <label for="MiddleName" class="active">Middel Name</label>
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @disabled = "disabled", @class = "editable" })
                                        <label for="LastName">Last Name</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.RefferalCode, new { @placeholder = "Referral Code", @disabled = "disabled" })
                                        <label for="ReferralCode" class="active">Referral Code</label>
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User Name", @disabled = "disabled", @class = "editable" })
                                        <label for="UserName" class="active">UserName</label>
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.TextBoxFor(m => m.RegistrationDate, new { @placeholder = "Registration Date", @disabled = "disabled" })
                                        <label for="RegistrationDate" class="active">Registration Date</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.EmailId, new { @placeholder = "EmailId", @disabled = "disabled", @class = "editable" })
                                        <label for="EmailId" class="active">EmailId</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <select id="Gender" disabled="disabled" class="editable">
                                            <option value="" disabled selected>Choose your Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                        <label>Gender</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.MobileNo, new { @placeholder = "Mobile No", @disabled = "disabled", @class = "editable" })
                                        <label for="MobileNo">Mobile No</label>
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.AlternativeMobileNo, new { @placeholder = "Alternative Mobile No", @disabled = "disabled", @class = "editable" })
                                        <label for="MobileNo">Alternative Mobile No</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address", @disabled = "disabled", @class = "editable" })
                                        <label for="Address" data-error="wrong" data-success="right">Address</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.CityName, new { @placeholder = "CityName", @disabled = "disabled", @class = "editable", @autocomplete = "off" })
                                        <label for="CityName" data-error="wrong" data-success="right">City</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <select id="ddlStateName" class="" disabled></select>
                                        <label for="StateName" data-error="wrong" data-success="right">State</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.PinCode, new { @placeholder = "PinCode", @disabled = "disabled", @class = "editable" })
                                        <label for="PinCode" data-error="wrong" data-success="right">PinCode</label>
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.GSTNo, new { @placeholder = "GST No", @disabled = "disabled", @class = "editable" })
                                        <label for="GSTNo" data-error="wrong" data-success="right">GST No</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.TradeName, new { @placeholder = "Trade Name", @disabled = "disabled", @class = "editable" })
                                        <label for="TradeName" data-error="wrong" data-success="right">Trade Name</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <input class="editable datetextbox" id="txtDOB" name="txtDOB" placeholder="Birth Date" type="text" readonly value="@ViewBag.DOB">
                                        <label for="txtDOB" data-error="wrong" data-success="right">Birthdate</label>
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.TextBoxFor(m => m.NomineeName, new { @placeholder = "Nominee Name", @disabled = "disabled", @class = "editable" })
                                        <label for="NomineeName" data-error="wrong" data-success="right">Nominee Name</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- AddPhotos -->
                        <div id="AddPhotos" class="tab-content col s12 grey lighten-4" style="display: none;">
                            <form class="row" id="formKYCDocuments">
                                <div class="col s12 kyc-tab">
                                    Identity Document (aadhar card, driving licence, election card)
                                </div>
                                <div id="identityDocContainer">
                                    
                                    <div class="col s12">
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.AdharNo, new { @type = "number", @placeholder = "Adhar No", @disabled = "disabled", @class = "editable hidden-arrow", @maxLength = "12", @oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                            <label for="AdharNo" data-error="wrong" data-success="right">Adhar No</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        @{ var kycDisable = (bool.Parse(RedirectFrmAdmin) == false && (Model.IsKYCVerified ?? false)) ? "disabled" : ""; }
                                        <div class="input-field btn col s5 no-margin" @kycDisable id="uploadKYC">
                                            <span>UPLOAD IDENTITY DOCUMENT</span>
                                            @if (bool.Parse(RedirectFrmAdmin) == false && (Model.IsKYCVerified ?? false))
                                            {
                                                <i class="material-icons right" disable>done</i>
                                            }
                                            else if (!string.IsNullOrWhiteSpace(Model.KYCRejectComment))
                                            {
                                                <i class="material-icons right" title="@Model.KYCRejectComment" id="iKYCReject">close</i>
                                            }
                                            else
                                            {
                                                string displayStyle = @Model.IsKYCVerified ?? false ? "" : "none";
                                                <i class="material-icons right" style="display:@displayStyle" id="iKYC">done</i>
                                            }
                                        </div>
                                        <div class="col s1 input-field no-margin">
                                            <a class="waves-effect waves-light btn-floating modal-trigger" id="viewKYC" href="#viewKYCModel">
                                                <i class="material-icons left">visibility</i>
                                            </a>
                                        </div>
                                        <div class="col s6">
                                            @if (Model.IsKYCVerified != true)
                                            {
                                                <span id="spk" style="color:red">@Model.KYCRejectComment</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 kyc-tab">
                                    Pan Card
                                </div>
                                <div id="panCardContainer">
                                    <div class="col s12">
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.PANNo, new { @placeholder = "PAN No", @disabled = "disabled", @class = "editable capital-text", @maxlength = "10" })
                                            <label for="PANNo" data-error="wrong" data-success="right">PAN No</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        @{ var panDisable = (bool.Parse(RedirectFrmAdmin) == false && (Model.IsPANVerified ?? false)) ? "disabled" : ""; }
                                        <div class="file-field input-field btn col s5 no-margin" @panDisable>
                                            <span>UPLOAD PAN CARD</span>

                                            @if (bool.Parse(RedirectFrmAdmin) == false && (Model.IsPANVerified ?? false))
                                            {
                                                <i class="material-icons right">done</i>
                                            }
                                            else
                                            {
                                                string displayStyle = Model.IsPANVerified ?? false ? "" : !string.IsNullOrWhiteSpace(Model.PANRejectComment) ? "" : "none";
                                                string panIcon = string.IsNullOrWhiteSpace(Model.PANRejectComment) ? "done" : "close";
                                                <i class="material-icons right" style="display:@displayStyle" id="iPAN">@panIcon</i>
                                                <input type="file" id="fupPANImage" disabled class="editable" onchange= "UploadPANDoc();this.value = null;">
                                            }
                                        </div>
                                        <div class="col s1 input-field no-margin">
                                            <a class="waves-effect waves-light btn-floating modal-trigger" id="viewPAN" href="#viewPANModel">
                                                <i class="material-icons left">visibility</i>
                                            </a>
                                        </div>
                                        <div class="col s6">
                                            @if (Model.IsPANVerified != true)
                                            {
                                                <span id="spk" style="color:red">@Model.PANRejectComment</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 kyc-tab">
                                    Bank Document
                                </div>
                                <div id="bankDocContainer">
                                    <div class="col s12">
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.BankName, new { @placeholder = "Bank Name", @disabled = "disabled", @class = "editable" })
                                            <label for="BankName" class="active">Bank Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.BankAccNo, new { @placeholder = "Bank A/C No", @disabled = "disabled", @class = "editable" })
                                            <label for="BankAccNo" class="active">Bank A/C No</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.BranchName, new { @placeholder = "Branch", @disabled = "disabled", @class = "editable" })
                                            <label for="BranchName" class="active">Branch</label>
                                        </div>
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.ISFCCode, new { @placeholder = "ISFC Code", @disabled = "disabled", @class = "editable capital-text", @maxlength = "15" })
                                            <label for="ISFCCode" class="active">IFSC Code</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field col s6">
                                            @Html.TextBoxFor(m => m.BankingName, new { @placeholder = "Your Name(In Bank)", @disabled = "disabled", @class = "editable" })
                                            <label for="BankingName" class="active">Your Name(In Bank)</label>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        @{ var bankDisable = (bool.Parse(RedirectFrmAdmin) == false && (Model.IsBankDocumentVerified ?? false)) ? "disabled" : ""; }
                                        <div class="file-field input-field btn col s5 no-margin" tite="PASSBOOK FRONT PAGE OR CANCELED CHECK" @bankDisable>
                                            <span>UPLOAD PASSBOOK OR CANCELED CHECK</span>

                                            @if (bool.Parse(RedirectFrmAdmin) == false && (Model.IsBankDocumentVerified ?? false))
                                            {
                                                <i class="material-icons right">done</i>
                                            }
                                            else
                                            {
                                                string displayStyle = Model.IsBankDocumentVerified ?? false ? "" : !string.IsNullOrWhiteSpace(Model.BankDocumentRejectComment) ? "" : "none";
                                                string bankIcon = string.IsNullOrWhiteSpace(Model.BankDocumentRejectComment) ? "done" : "close";
                                                <i class="material-icons right" style="display:@displayStyle" id="iBankDoc">@bankIcon</i>
                                                <input type="file" id="fupBankDocument" disabled class="editable" onchange= "UploadBankDoc();this.value = null;">
                                            }
                                        </div>
                                        <div class="col s1 input-field no-margin">
                                            <a class="waves-effect waves-light btn-floating modal-trigger" id="viewBankDocument" href="#viewBankDocumentModel">
                                                <i class="material-icons left">visibility</i>
                                            </a>
                                        </div>
                                        <div class="col s6"></div>
                                        <div class="col s6">
                                            @if (Model.IsBankDocumentVerified != true)
                                            {
                                                <span id="spk" style="color:red">@Model.BankDocumentRejectComment</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="ChangePassword" class="tab-content col s12 grey lighten-4" style="display: none;">
                            <form class="row" id="frmChangePassword">
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <input type="password" id="txtOldPassword" />
                                        <label for="txtOldPassword" class="active">Old Password</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <input type="password" id="txtNewPassword" />
                                        <label for="txtNewPassword" class="active">New Password</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <input type="password" id="txtConfirmPassword" />
                                        <label for="txtConfirmPassword" class="active">Confirm Password</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <a class="waves-effect waves-light btn" id="btnUpdate">
                                            <i class="material-icons left">save</i> Update Password
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/ profile-page-wall-share -->
            </div>
            <!--/ profile-page-wall -->
        </div>
    </div>
</div>
<div id="viewKYCModel" class="modal">
    <div class="modal-content center">
        <h6 class="flow-text"><b>IDENTITY DOCUMENT -</b> @Model.FirstName @Model.LastName</h6>
        @if (string.IsNullOrWhiteSpace(Model.KYCImage))
        {
            <h6 id="titleKYC">NOT UPLOADED</h6>
        }
        @{
            var emStyle = !string.IsNullOrWhiteSpace(Model.KYCImage) && Model.KYCImage.Contains(".pdf") ? "" : "none";
            var emStyle2 = string.IsNullOrWhiteSpace(Model.KYCBackImage) ? "none" : Model.KYCBackImage.Contains(".pdf") ? "" : "none";
            var kycImgStyle = emStyle == "none" && !string.IsNullOrWhiteSpace(Model.KYCImage) ? "" : "none";
            var kycBackImgStyle = emStyle2 == "none" && !string.IsNullOrWhiteSpace(Model.KYCBackImage) ? "" : "none";
        }

        <div class="row" id="divkycfrontpdf" style="display:@emStyle">
            <div class="row">
                <embed id="emKYC" src="@Model.KYCImage" width="800" height="500" />
            </div>
        </div>
        <div class="row" id="divkycfront" style="display:@kycImgStyle">
            <div class="row">
                <img id="imgKYC" src="@Model.KYCImage" />
            </div>
        </div>
        <div class="row" id="divkycback" style="display:@kycBackImgStyle">
            <div class="row">
                <img id="imgKYCBack" src="@Model.KYCBackImage" />
            </div>
        </div>
        <div class="row" id="divkycbackpdf" style="display:@emStyle2">
            <div class="row">
                <embed id="emKYC2" src="@Model.KYCBackImage" width="800" height="500" />
            </div>
        </div>
    </div>
</div>
<div id="uploadKYCModel" class="modal bottom-sheet">
    <div class="modal-content">
        <ul class="collection with-header">
            <li class="collection-header">
                <div class="row">
                    <div class="col s6"> <h4>IDENTITY DOCUMENT</h4></div>
                    <div class="col s6">
                        <button class="btn waves-effect waves-light right" id="btnUploadKYC">
                            Upload
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row" id="identityDocUploadContainer">
                    <div class="file-field input-field btn col s5">
                        <span>SELECT FRONT SIDE</span>
                        <input type="file" id="fupKYCImageFront" disabled class="editable">
                    </div>
                    <div class="col s1"></div>
                    <div class="file-field input-field btn col s5">
                        <span>SELECT BACK SIDE</span>
                        <input type="file" id="fupKYCImageBack" disabled class="editable">
                    </div>
                    <div class="col s1"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="viewPANModel" class="modal">
    <div class="modal-content center">
        <h6 class="flow-text"><b>PAN CARD -</b> @Model.FirstName @Model.LastName</h6>
        @if (string.IsNullOrWhiteSpace(Model.PANImage))
        {
            <h6 id="titlePAN">NOT UPLOADED</h6>
        }
        <img id="imgPAN" src="@Model.PANImage" />
    </div>
</div>
<div id="viewBankDocumentModel" class="modal">
    <div class="modal-content center">
        <h6 class="flow-text"><b>BANK PASSBOOK FRONT PAGE OR CANCELED CHECK -</b> @Model.FirstName @Model.LastName</h6>
        @if (string.IsNullOrWhiteSpace(Model.BankDocument))
        {
            <h6 id="titleBank">NOT UPLOADED</h6>
        }
        <div class="row">
            <img id="imgBankDocument" src="@Model.BankDocument" />
        </div>
    </div>
</div>
<style>
    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 70%;
        width: 70%;
        will-change: top, opacity;
    }
</style>
@section scripts
{
    <!-- jquery-validation -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script>
        var Cities =@Html.Raw(Json.Encode(ViewBag.Cities));
        var GenderId='@Model.Gender'
        //function WindowLoadComplete() {
        var fuProfileImage = $('#fuProfileImage');
        var fupKYCImage = $('#fupKYCImage');
        var fupPANImage = $('#fupPANImage');
        var fupBankDocument = $('#fupBankDocument');
        var fupKYCImageFront = $('#fupKYCImageFront');
        var fupKYCImageBack = $('#fupKYCImageBack');

        $(document).ready(function () {
            if ('@IsProfileCompleted.ToString().ToLower()' == "false") {
                swal("Information!", "Please Complete Your Address,Name (First,Last) and Pincode Details!", "error");
            }

            $("#btnEdit").click(function () {
                var isBankDocVerified = '@Model.IsBankDocumentVerified';
                var isAdharDocVerified = '@Model.IsKYCVerified';
                var isPanDocVerified = '@Model.IsPANVerified';

                if (isBankDocVerified != 'True') {
                    $("#bankDocContainer .editable").removeAttr("disabled");
                }
                if (isAdharDocVerified != 'True') {
                    $("#identityDocContainer .editable").removeAttr("disabled");
                    $("#identityDocUploadContainer .editable").removeAttr("disabled");
                }
                if (isPanDocVerified != 'True') {
                    $("#panCardContainer .editable").removeAttr("disabled");
                }
                $("#frmPersonalDetails .editable").removeAttr("disabled");

                //$(".editable").removeAttr("disabled");
                $('#Gender').material_select();
                $("#btnSave,#btnCancel").removeClass("hide");
                $("#btnEdit").addClass("hide");
            });
            if(GenderId!=""){
                //$(".select-dropdown").prop('disabled', false);
                $('#Gender').val(GenderId)
                $('#Gender').material_select();
                //$(".editable,.select-dropdown").prop('disabled', true);
            }
            $("#btnSave").click(function () {
                if ($("#frmPersonalDetails").valid() && $("#formKYCDocuments").valid()){
                    if ('@IsProfileCompleted.ToString().ToLower()' == "false") {
                        if($("#Address").val().trim()==""){
                            swal("Information!", "Please Enter Address!", "error");
                            return;
                        }
                        else if($("#CityName").val().trim()==""){
                            swal("Information!", "Please Select City!", "error");
                            return;
                        }
                        else if ($("#ddlStateName").val().trim() == "0") {
                            swal("Information!", "Please Select State!", "error");
                            return;
                        }
                        else if($("#PinCode").val().trim()==""){
                            swal("Information!", "Please Enter Pin Code!", "error");
                            return;
                        }
                        else if ($("#FirstName").val().trim() == "" && $("#LastName").val().trim() == "" ) {
                            swal("Information!", "Please Enter First and Last Name !", "error");
                            return;
                        }
                    }
                    if($("#UserName").val().trim()==""){
                        swal("Information!", "Please Enter UserName!", "error");
                        return;
                    }
                    if($("#EmailId").val().trim()==""){
                        swal("Information!", "Please Enter EmailId!", "error");
                        return;
                    }
                    SaveUserProfile();
                }
            });

            $("#btnCancel").click(function () {
                $(".editable,.select-dropdown").prop('disabled', true);
                $("#btnSave,#btnCancel").addClass("hide");
                $("#btnEdit").removeClass("hide");
                //$('#Gender').material_select('destroy');
            });

            $("#btnChangeProfileImage").click(function () {
                fuProfileImage.click();
            });

            $('#uploadKYCModel').modal();
            $("#uploadKYC").click(function () {
                if ($("#btnEdit").is(":hidden")) {
                    $('#uploadKYCModel').modal('open');
                }
                else {
                    swal("Information!", "Click on 'EDIT' button for update profile", "info");
                }
                return;
            });

            $('#btnUploadKYC').click(function () {
                if (fupKYCImageFront.get(0).files.length > 0 || fupKYCImageBack.get(0).files.length > 0) {
                    var profiledata = new FormData();
                    var front = fupKYCImageFront.get(0).files;
                    var back = fupKYCImageBack.get(0).files;

                    if (front.length > 0) {
                        profiledata.append("fupKYCImageFront", front[0]);
                    }

                    if (back.length > 0) {
                        profiledata.append("fupKYCImageBack", back[0]);
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdateKYCImage",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {

                                $('#uploadKYCModel').modal('close');
                                $('#titleKYC').hide();

                                var array = data.Msg.split(',');
                                $('#divkycfrontpdf').hide();
                                $('#divkycbackpdf').hide();
                                $('#divkycfront').hide();
                                $('#divkycback').hide();

                                if (array[0].indexOf('.pdf') != -1) {
                                    $('#emKYC').attr("src", array[0]);
                                    $('#divkycfrontpdf').show();
                                }
                                else {
                                    $("#imgKYC").attr("src", array[0]);
                                    $('#divkycfront').show();
                                }

                                if (array.length > 1) {
                                    if (array[1].indexOf('.pdf') != -1) {
                                        $('#emKYC2').attr("src", array[1]);
                                        $('#divkycbackpdf').show();
                                    }
                                    else {
                                        $("#imgKYCBack").attr("src", array[1]);
                                        $('#divkycback').show();
                                    }
                                }

                                if ($("#isAdminLogin").val() == "True") {
                                    $("#iKYC").show();
                                    $("#iKYC").html('done');
                                    $('#iKYCReject').hide();
                                }
                                else {
                                    $('#iKYCReject').hide();
                                }
                                $('#spk').hide();
                                swal("Success!", "Identity Document Uploaded Successfully!", "success");
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
                else {
                    alert("Please select document")
                    return;
                }});

            $("#btnUpdate").click(function () {
                if($("#frmChangePassword").valid()){
                    if($("#txtOldPassword").val().trim()==""){
                        swal("Information!", "Enter old password!", "error");
                        //$("#txtOldPassword").focus();
                        return;
                    }
                    else if($("#txtNewPassword").val().trim()==""){
                        swal("Information!", "Enter new password!", "error");
                        return;
                    }
                    else if($("#txtConfirmPassword").val().trim()==""){
                        swal("Information!", "Enter confirm password!", "error");
                        return;
                    }
                    if($("#txtNewPassword").val()!=$("#txtConfirmPassword").val()){
                        swal("Information!", "new password and confirm password must be same!", "error");
                        return;
                    }
                    $.ajax({
                        url: "/Member/UserProfile/ChangePassword",
                        type: 'POST',
                        data: {
                            oldpassword:$("#txtOldPassword").val().trim(),
                            newpassword:$("#txtNewPassword").val().trim(),
                        },
                        cache: false,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", data.Msg, "success");
                            }
                            else {
                                swal("Error!", data.Msg, "error");
                            }
                        }
                    });
                }
            });

            var autoCompleteData;
            var str="";
            for (var i = 0; i < Cities.length; i++) {
                str+=Cities[i].val+":"+Cities[i].key+",";
            }
            autoCompleteData= eval('({' + str + '})');
            $('#CityName').autocomplete({
                data: autoCompleteData,
                limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });

            fuProfileImage.change(function () {
                if (checkfile("fuProfileImage", true, @UploadPhotoInMB, "png,jpeg,jpg")) {
                    var profiledata = new FormData();
                    var files = fuProfileImage.get(0).files;
                    if (files.length > 0) {
                        profiledata.append("fuProfileImage", files[0]);
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdateUserProfileImage",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", "Profile Photo Updated Successfully!", "success");
                                $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Member/UserProfile/Index"})
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
            });

            fupKYCImageFront.change(function () {
                checkfile("fupKYCImageFront", true, @UploadPhotoInMB, "png,jpeg,jpg,pdf");
            });

            fupKYCImageBack.change(function () {
                checkfile("fupKYCImageBack", true, @UploadPhotoInMB, "png,jpeg,jpg,pdf");
            });

            @*fupPANImage.change(function () {

                if (checkfile("fupPANImage", true, @UploadPhotoInMB, "png,jpeg,jpg")) {
                    var profiledata = new FormData();
                    var files = fupPANImage.get(0).files;
                    if (files.length > 0) {
                        profiledata.append("fupPANImage", files[0]);
                    }
                    else {
                        return;
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdatePANImage",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", "PAN Image Uploaded Successfully!", "success");
                                $('#titlePAN').hide();
                                $("#imgPAN").attr("src", data.Msg);
                                if ($("#isAdminLogin").val() == "True") {
                                    $("#iPAN").html('done');
                                    $("#iPAN").show();
                                }
                                else {
                                    $('#iPAN').html('');
                                }
                                $('#spt').hide();
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
                return;
            });*@

            @*fupBankDocument.change(function () {
                if (checkfile("fupBankDocument", true, @UploadPhotoInMB, "png,jpeg,jpg")) {
                    var profiledata = new FormData();
                    var files = fupBankDocument.get(0).files;
                    if (files.length > 0) {
                        profiledata.append("fupBankDocument", files[0]);
                    }
                    else {
                        return;
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdateBankDocument",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", "Bank Document Uploaded Successfully!", "success");
                                $('#titleBank').hide();
                                $("#imgBankDocument").attr("src", data.Msg);
                                if ($("#isAdminLogin").val() == "True") {
                                    $("#iBankDoc").show();
                                    $("#iBankDoc").html('done');
                                }
                                else {
                                    $('#iBankDoc').html('');
                                }
                                $('#spb').hide();
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
                return;
            });*@

            $("#btnClearProfileImage").click(function(){
                $.ajax({
                    url: "/Member/UserProfile/ClearUserProfileImage",
                    type: 'POST',
                    data: {
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", "User profile Removed Successfully!", "success");
                            $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Member/UserProfile/Index"})
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            });

            $("#btnRotateLeftProfileImage").click(function(){
                $.ajax({
                    url: "/Utility/General/ProfileImageRotateLeft",
                    type: 'POST',
                    data: {
                        name:$("#imgProfile").attr('src').split("/").slice(-1).pop()
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", "Profile Image Rotated Successfully!", "success");
                            $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Member/UserProfile/Index"})
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            });

            $("#btnRotateRightProfileImage").click(function(){
                $.ajax({
                    url: "/Utility/General/ProfileImageRotateRight",
                    type: 'POST',
                    data: {
                        name:$("#imgProfile").attr('src').split("/").slice(-1).pop()
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal("Success!", "Profile Image Rotated Successfully!", "success");
                            $('.sa-confirm-button-container .confirm').click(function(){ window.location.href="/Member/UserProfile/Index"})
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            });
            //formKYCDocuments
            $("#formKYCDocuments").validate({
                rules: {
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    AdharNo: {
                        required: true,
                        minlength: 12
                    },
                    PANNo: {
                        required: true,
                        minlength: 10
                    },
                    BankName: {
                        required: true
                    },
                    BankAccNo: {
                        required: true
                    },
                    BranchName: {
                        required: true
                    },
                    ISFCCode: {
                        required: true
                    },
                    BankingName: {
                        required: true
                    }
                },
                //For custom messages
                messages: {
                    FirstName: {
                        required: "Enter a First Name"
                    },
                    LastName: {
                        required: "Enter a Last Name"
                    },
                    AdharNo: {
                        required: "Enter Adhar No",
                        minlength: "Enter Valid Adhar No"
                    },
                    PANNo: {
                        required: "Enter a PAN No",
                        minlength: "Enter Valid PAN No"
                    },
                    BankName: {
                        required: "Enter a Bank Name"
                    },
                    BankAccNo: {
                        required: "Enter a Bank A/C No"
                    },
                    BranchName: {
                        required: "Enter a Bank Branch"
                    },
                    ISFCCode: {
                        required: "Enter ISFC Code"
                    },
                    BankingName: {
                        required: "Enter Your Name(In Bank)"
                    }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    console.log(error);
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value == '' || value.trim().length != 0;
            }, "No space please and don't leave it empty");

            $("#frmPersonalDetails").validate({
                rules: {
                    EmailId: {
                        required: true,
                        email: true
                    },
                    FirstName: {
                        required: true,
                        noSpace: true
                    },
                    LastName: {
                        required: true,
                        noSpace: true
                    },
                    MobileNo: {
                        required: true
                    },
                    UserName: {
                        required: true
                    }
                },
                //For custom messages
                messages: {
                    EmailId: {
                        required: "Enter a EmailId"
                    },
                    MobileNo: {
                        required: "Enter a MobileNo"
                    },
                    UserName: {
                        required: "Enter a UserName"
                    }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    console.log(error);
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $("#frmChangePassword").validate({
                rules: {
                    txtOldPassword: {
                        required: true
                    },
                    txtNewPassword: {
                        required: true
                    },
                    txtConfirmPassword: {
                        required: true
                    }
                },
                //For custom messages
                messages: {
                    txtOldPassword: {
                        required: "Enter a Old Password"
                    },
                    txtNewPassword: {
                        required: "Enter a New Password"
                    },
                    txtConfirmPassword: {
                        required: "Enter a Confirm Password"
                    }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            if ('@ViewBag.StateId' != 0) {
                BindStateName('@ViewBag.StateId');
            }
            else {
                BindStateName(0);
            }
        });

        function UploadBankDoc() {

            if (checkfile("fupBankDocument", true, @UploadPhotoInMB, "png,jpeg,jpg")) {
                    var profiledata = new FormData();
                    var files = fupBankDocument.get(0).files;
                    if (files.length > 0) {
                        profiledata.append("fupBankDocument", files[0]);
                    }
                    else {
                        return;
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdateBankDocument",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", "Bank Document Uploaded Successfully!", "success");
                                $('#titleBank').hide();
                                $("#imgBankDocument").attr("src", data.Msg);
                                if ($("#isAdminLogin").val() == "True") {
                                    $("#iBankDoc").show();
                                    $("#iBankDoc").html('done');
                                }
                                else {
                                    $('#iBankDoc').html('');
                                }
                                $('#spb').hide();
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
                return;
        }

        function UploadPANDoc() {

            if (checkfile("fupPANImage", true, @UploadPhotoInMB, "png,jpeg,jpg")) {
                    var profiledata = new FormData();
                    var files = fupPANImage.get(0).files;
                    if (files.length > 0) {
                        profiledata.append("fupPANImage", files[0]);
                    }
                    else {
                        return;
                    }

                    $.ajax({
                        url: "/Member/UserProfile/UpdatePANImage",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: profiledata,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", "PAN Image Uploaded Successfully!", "success");
                                $('#titlePAN').hide();
                                $("#imgPAN").attr("src", data.Msg);
                                if ($("#isAdminLogin").val() == "True") {
                                    $("#iPAN").html('done');
                                    $("#iPAN").show();
                                }
                                else {
                                    $('#iPAN').html('');
                                }
                                $('#spt').hide();
                            }
                        },
                        error: function (er) {
                            alert(er);
                        },
                    });
                }
                return;
        }

        function BindStateName(StateId) {
            var listStates = @Html.Raw(Json.Encode(listStateName));

            var str = "";
            str = str + "<option value=\"" + 0 + "\">" + "--Select--" + "</option>";
            for (var i = 0; i < listStates.length; i++) {
                if (StateId == listStates[i].key) {
                    str = str + "<option value=\"" + listStates[i].key + "\" selected>" + listStates[i].val + "</option>";
                }
                else {
                    str = str + "<option value=\"" + listStates[i].key + "\">" + listStates[i].val + "</option>";
                }
            }

            $("#ddlStateName").html(str);
            $('#ddlStateName').material_select();
        }

        $("#CityName").focusout(function () {

            if ($("#CityName").val().trim() != "") {

                $.ajax({
                    url: "/Member/Purchase/IsCityNameExists",
                    type: 'POST',
                    data: {
                        CityName: $("#CityName").val()
                    },
                    cache: false,
                    success: function (data) {

                        if (!data.Key) {
                            $("#ddlStateName").attr("disabled", false);
                            BindStateName(0);
                        }
                        else {
                            var StateId = data.Id;
                            $("#ddlStateName").attr("disabled", true);
                            BindStateName(StateId);
                        }
                    }
                })
            }
            else {
                $("#ddlStateName").attr("disabled", true);;
            }

        });

        function ChangePasswordTabSelected(){

        }
        function checkfile(fuupload, checkSize, maxFileSizeInMB, AllowFileType) {
            filetype = AllowFileType.split(",");
            var file = getNameFromPath($("#" + fuupload).val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
                // alert(extension);

                for (var i = 0; i < filetype.length; i++) {
                    if (extension == filetype[i].toLowerCase()) {
                        flag = true;
                        break;
                    }
                    else {
                        flag = false;
                    }
                }
            }
            if (flag == false) {
                alert("You can upload only " + AllowFileType + " extension file");
                $("#" + fuupload).val('');
                return false;
            }
            else {
                return CheckFileSize(checkSize, fuupload, maxFileSizeInMB);
            }
        }

        function CheckFileSize(checkSize, fuupload, maxFileSizeInMB) {
            if (checkSize) {
                var size = GetFileSize(fuupload);
                if (size > maxFileSizeInMB) {
                    $("#" + fuupload).val('');
                    alert("You can upload file up to " + maxFileSizeInMB + " MB");
                    return false;
                }
                else {
                    return true;
                }
            }
            else {
                return true;
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                //for IE
                if ($.browser.msie) {
                    //before making an object of ActiveXObject,
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                    //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                return fileSize;
            }
            catch (e) {
                //alert("Error is :" + e);
            }
        }

        function UpdateUserProfile() {
            $.ajax({
                url: "/Member/UserProfile/UpdateUserProfile",
                type: 'POST',
                data: {
                    FirstName: $("#FirstName").val(),
                    LastName: $("#LastName").val(),
                    MobileNo: $("#MobileNo").val(),
                    MiddleName: $("#MiddleName").val(),
                    Address: $("#Address").val(),
                    PANNo: $("#PANNo").val(),
                    CityName: $("#CityName").val(),
                    AdharNo: $("#AdharNo").val(),
                    BankName: $("#BankName").val(),
                    BankAccNo: $("#BankAccNo").val(),
                    BranchName: $("#BranchName").val(),
                    ISFCCode: $("#ISFCCode").val(),
                    BankingName: $("#BankingName").val(),
                    Gender: $("#Gender").val(),
                    AlternativeMobileNo: $("#AlternativeMobileNo").val(),
                    PinCode: $("#PinCode").val(),
                    GSTNo: $("#GSTNo").val(),
                    TradeName: $("#TradeName").val(),
                    DateOfBirth: $("#txtDOB").val(),
                    NomineeName: $("#NomineeName").val(),
                    UserName: $("#UserName").val(),
                    EmailId: $("#EmailId").val(),
                    StateId: $("#ddlStateName").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        swal("Success!", "User profile Updated Successfully!", "success");
                        $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Member/UserProfile/Index" })
                        //window.location.href="/Member/UserProfile/Index";
                    }
                    else {
                        //alert(data.Msg);
                        swal("Error!", data.Msg, "error");
                    }
                }
            });
        }

        function SaveUserProfile() {
            if ($("#PANNo").val().length > 0 && $("#UserName").val().length > 0) {
                $.ajax({
                    url: "/Member/UserProfile/ValidateKYC?panNo=" + $("#PANNo").val() + "&userName=" + $("#UserName").val(),
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        if (data == true) {
                            UpdateUserProfile();
                        }
                        else {
                            swal("Error!", "PAN No already registered with another user!", "error");
                        }
                    }
                });
            }
            else {
                UpdateUserProfile();
            }
        }
        //}
    </script>
}