﻿@using TRSImplementation
@model PROC_RPT_ADMIN_PENDING_PAYOUT_DETAILS_Result
@{
    var TotalPaid = Model.TotalIncome - Model.TotalPayout;
    var FinalDirectIncome = Model.DirectIncome - Model.DirectIncomePay;
    var FinalPointsIncome = Model.TotalPointsIncome - Model.PointsIncomePay;
    var FinalVoltIncome = Model.VoltIncome - Model.VoltIncomePay;
    var FinalLeaderIncome = Model.LeaderIncome - Model.LeaderPointsPay;
    var FinalUplineSupportIncome = Model.UplineSupportIncome - Model.UplineSupportPointsPay;
    var FinalSilverIncome = Model.SilverIncome - Model.SilverPointsPay;
    var FinalDiamondIncome = Model.DiamondIncome - Model.DiamondPointsPay;
    var NetPayable = Model.TotalIncome - Model.TotalPayout - Model.TDS - Model.AdminCharge;
    var TDSPerc = (!string.IsNullOrEmpty(Model.PANNo) ? Model.TDSPerc : clsBase.TDSPercWithoutPAN);
    var AdminChargePerc = clsBase.AdminChargePerc;
    var FinalUplineMonthlyIncome = Model.UplineMonthlyPay;
    var FinalRetailRewardMonthlyIncome = Model.RetailRewardMonthlyPay;
}
<style>
    .margin5 {
        margin: 5px 0px;
    }

    #ui-datepicker-div {
        z-index: 100006 !important;
    }
</style>
<div class="row">
    <div class="col s12 m6 l6 margin5">
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => FinalDirectIncome, new { @id = "hdnDirectIncome" })
        @Html.HiddenFor(m => FinalPointsIncome, new { @id = "hdnTotalPointsIncome" })
        @Html.HiddenFor(m => FinalVoltIncome, new { @id = "hdnTotalVoltIncome" })
        @Html.HiddenFor(m => FinalLeaderIncome, new { @id = "hdnTotalLeaderIncome" })
        @Html.HiddenFor(m => FinalUplineSupportIncome, new { @id = "hdnTotalUplineSupportIncome" })
        @Html.HiddenFor(m => FinalSilverIncome, new { @id = "hdnTotalSilverIncome" })
        @Html.HiddenFor(m => FinalDiamondIncome, new { @id = "hdnTotalDiamondIncome" })

        @Html.HiddenFor(m => FinalUplineMonthlyIncome, new { @id = "hdnTotalUplineMonthlyIncome" })
        @Html.HiddenFor(m => FinalRetailRewardMonthlyIncome, new { @id = "hdnTotalRetailRewardMonthlyIncome" })

        <span>Direct Income : </span><span id="spnTotalDirectAmount" class="fontbold">@FinalDirectIncome</span>
    </div>
    @*<div class="col s12 m6 l6 margin5">
            <span>Repurchase Income : </span><span id="TotalRepurchaseAmount" class="fontbold">@Model.RePurchaseIncome</span>
        </div>*@

    <div class="col s12 m6 l6 margin5">
        <span>Full Name : </span><span id="spnTotalPointsIncome" class="fontbold">@ViewBag.UserFullName</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Points Income : </span><span id="spnTotalPointsIncome" class="fontbold">@FinalPointsIncome</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Leader Income : </span><span id="spnTotalLeaderIncome" class="fontbold">@FinalLeaderIncome</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Upline Support Income : </span><span id="spnTotalUplineSupportIncome" class="fontbold">@FinalUplineSupportIncome</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Silver Income : </span><span id="spnTotalSilverIncome" class="fontbold">@FinalSilverIncome</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Diamond Income : </span><span id="spnTotalDiamondIncome" class="fontbold">@FinalDiamondIncome</span>
    </div>
    @*<div class="col s12 m6 l6 margin5">
        <span>Volt Income : </span><span id="spnTotalVoltIncome" class="fontbold">@FinalVoltIncome</span>
    </div>*@
    <div class="col s12 m6 l6 margin5">
        <span>UplineMonthly Income : </span><span id="spnTotalUplineMonthlyPay" class="fontbold">@FinalUplineMonthlyIncome</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>RetailRewardMonthly Income : </span><span id="spnTotalRetailRewardMonthlyPay" class="fontbold">@FinalRetailRewardMonthlyIncome</span>
    </div>

    <div class="col s12 m6 l6 margin5">
        <span>TDS(%) : </span><span id="spnTDSPercentage" class="fontbold">@Model.TDSPerc</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Admin Charge(%) : </span><span id="spnAdminChargePercentage" class="fontbold">@Model.AdminChargePerc</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Total Income : </span><span id="spnTotalPayout" class="fontbold">@Model.TotalIncome</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Total Paid : </span><span id="spnTotalPayout" class="fontbold">@Model.TotalPayout</span>
    </div>
</div>
<hr />
<div class="row margin">
    <div class="input-field col s12 m6 l6">
        @*<input type="text" id="TotalPaid" value="@DirectIncome" onchange="CalculateAmount()" />*@
        @Html.TextBoxFor(m => FinalDirectIncome, new { @id = "DirectIncome" })
        <label for="DirectIncome" class="center-align">Direct Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalPointsIncome, new { @id = "TotalPointsIncome" })
        <label for="TotalPointsIncome" class="center-align">Points Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalLeaderIncome, new { @id = "TotalLeaderIncome" })
        <label for="TotalLeaderIncome" class="center-align">Leader Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalUplineSupportIncome, new { @id = "TotalUplineSupportIncome" })
        <label for="TotalUplineSupportIncome" class="center-align">Upline Support Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalSilverIncome, new { @id = "TotalSilverIncome" })
        <label for="TotalSilverIncome" class="center-align">Silver Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalDiamondIncome, new { @id = "TotalDiamondIncome" })
        <label for="TotalDiamondIncome" class="center-align">Diamond Income</label>
    </div>
    <div class="input-field col s12 m6 l6 hide">
        @Html.TextBoxFor(m => FinalVoltIncome, new { @id = "TotalVoltIncome" })
        <label for="TotalVoltIncome" class="center-align">Volt Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalUplineMonthlyIncome, new { @id = "TotalUplineMonthlyPay" })
        <label for="TotalUplineMonthlyPay" class="center-align">Upline Monthly Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => FinalRetailRewardMonthlyIncome, new { @id = "TotalRetailRewardMonthlyPay" })
        <label for="TotalRetailRewardMonthlyPay" class="center-align">RetailReward Monthly Income</label>
    </div>
    <div class="input-field col s12 m6 l6">
        <input type="text" id="TotalPaid" value="@TotalPaid" onchange="CalculateAmount()" readonly />
        <label for="TotalPaid" class="center-align">Total Payable</label>
    </div>
    <div class="input-field col s12 m6 l6">
        <input type="text" id="UTRRefNo" required />
        <label for="UTRRefNo" class="center-align">UTR RefNo</label>
    </div>
    <div class="input-field col s12 m6 l6">
        <input class="editable datetextbox" id="txtPayoutDate" required name="txtPayoutDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.PayoutDate">
        <label for="txtPayoutDate" data-error="wrong" data-success="right" class="active">Payout Date</label>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => m.ISFCCode, new { @disabled = "disabled" })
        <label for="ISFCCode" class="center-align">ISFC Code</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => m.BankAccNo, new { @disabled = "disabled" })
        <label for="BankAccNo" class="center-align">Bank A/C No</label>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12 m4 l4">
        @Html.TextBoxFor(m => m.TDS, new { @disabled = "disabled" })
        <label for="username" class="center-align">TDS Amount</label>
    </div>
    <div class="input-field col s12 m4 l4">
        @Html.TextBoxFor(m => m.AdminCharge, new { @disabled = "disabled" })
        <label for="username" class="center-align">Admin Charge</label>
    </div>
    <div class="input-field col s12 m4 l4">
        <input type="text" id="NetPayable" disabled value="@NetPayable" />
        <label for="username" class="center-align">Net Payable</label>
    </div>
</div>
<script>

    $(".datetextbox").datepicker({ dateFormat: "dd/mm/yy" });
    $(document).ready(function () {
        Materialize.updateTextFields();
        $("#DirectIncome").change(function(){
            if($(this).val().trim()!=""){
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnDirectIncome").val().trim())) {
                    swal("Error!", "Please Pay Direct Income Less Than Or Equal To "+$("#hdnDirectIncome").val().trim(), "error");
                    $(this).val($("#hdnDirectIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });
        $("#TotalPointsIncome").change(function(){
            if($(this).val().trim()!=""){
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalPointsIncome").val().trim())) {
                    swal("Error!", "Please Pay Points Income Less Than Or Equal To "+$("#hdnTotalPointsIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalPointsIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });
        //$("#TotalVoltIncome").change(function(){
        //    if($(this).val().trim()!=""){
        //        if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalVoltIncome").val().trim())) {
        //            swal("Error!", "Please Pay Volt Income Less Than Or Equal To "+$("#hdnTotalVoltIncome").val().trim(), "error");
        //            $(this).val($("#hdnTotalVoltIncome").val().trim());
        //            return;
        //        }
        //    }
        //    CalculateAmount()
        //});
        $("#TotalLeaderIncome").change(function(){
            if($(this).val().trim()!=""){
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalLeaderIncome").val().trim())) {
                    swal("Error!", "Please Pay Leader Income Less Than Or Equal To "+$("#hdnTotalLeaderIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalLeaderIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });
        $("#TotalUplineSupportIncome").change(function(){
            if($(this).val().trim()!=""){
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalUplineSupportIncome").val().trim())) {
                    swal("Error!", "Please Pay Upline Support Income Less Than Or Equal To "+$("#hdnTotalUplineSupportIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalUplineSupportIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });
        $("#TotalSilverIncome").change(function(){
            if($(this).val().trim()!=""){
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalSilverIncome").val().trim())) {
                    swal("Error!", "Please Pay Silver Income Less Than Or Equal To "+$("#hdnTotalSilverIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalSilverIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });
        $("#TotalDiamondIncome").change(function(){
            if($(this).val().trim()!=""){
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalDiamondIncome").val().trim())) {
                    swal("Error!", "Please Pay Diamond Income Less Than Or Equal To "+$("#hdnTotalDiamondIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalDiamondIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });

        $("#TotalUplineMonthlyPay").change(function () {
            if ($(this).val().trim() != "") {
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalUplineMonthlyIncome").val().trim())) {
                    swal("Error!", "Please Pay UplineMonthly Income Less Than Or Equal To " + $("#hdnTotalUplineMonthlyIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalUplineMonthlyIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });

        $("#TotalRetailRewardMonthlyPay").change(function () {
            if ($(this).val().trim() != "") {
                if (parseFloat($(this).val().trim()) > parseFloat($("#hdnTotalRetailRewardMonthlyIncome").val().trim())) {
                    swal("Error!", "Please Pay RetailRewardMonthly Income Less Than Or Equal To " + $("#hdnTotalRetailRewardMonthlyIncome").val().trim(), "error");
                    $(this).val($("#hdnTotalRetailRewardMonthlyIncome").val().trim());
                    return;
                }
            }
            CalculateAmount()
        });


    });

    function PayoutToUser() {
        debugger;
        if ($("#TotalPaid").val().trim() == "") {
            IsValidModalDetails = false;
            swal("Error!", "Please Enter TotalPaid.", "error");
            return;
        }
        else if ($("#UTRRefNo").val().trim() == "") {
            IsValidModalDetails = false;
            swal("Error!", "Please Enter UTR RefNo.", "error");
            return;
        }
        if (parseFloat($("#TotalPaid").val().trim()) <= 0) {
            IsValidModalDetails = false;
            swal("Error!", "Please Enter Amount Greater Than 0.", "error");
            return;
        }
        IsValidModalDetails = true;
        var IsPayoutSMSSend = $("#chkIsPayoutSMSSend").prop("checked");
        $.ajax({
            url: "/Admin/Payout/PayoutToUser",
            type: 'POST',
            data: {
                UserId: $("#UserId").val(),
                DirectIncome: $("#DirectIncome").val(),
                TotalPointsIncome: $("#TotalPointsIncome").val(),
                TotalVoltIncome: 0,//$("#TotalVoltIncome").val(),
                TotalLeaderIncome: $("#TotalLeaderIncome").val(),
                TotalUplineSupportIncome: $("#TotalUplineSupportIncome").val(),
                TotalSilverIncome: $("#TotalSilverIncome").val(),
                TotalDiamondIncome: $("#TotalDiamondIncome").val(),
                UTRRefNo: $("#UTRRefNo").val(),
                PayoutDate: $("#txtPayoutDate").val(),
                TotalUplineMonthlyPay: $("#TotalUplineMonthlyPay").val(),
                TotalRetailRewardMonthlyPay: $("#TotalRetailRewardMonthlyPay").val(),
                IsUptoDate: IsUptoDate,
                IsPayoutSMSSend: IsPayoutSMSSend
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    $("#mdlPayoutDetails").modal('close');
                    swal("Success!", data.Msg, "success");
                    GetPayoutList();
                }
                else {
                    alert(data.Msg);
                }
            }
        });
    }

    function CalculateAmount() {
        
        var DirectIncome = $("#DirectIncome").val().trim();
        var TotalPointsIncome = $("#TotalPointsIncome").val().trim();
        var TotalVoltIncome = 0;//$("#TotalVoltIncome").val().trim();
        var TotalLeaderIncome = $("#TotalLeaderIncome").val().trim();
        var TotalUplineSupportIncome = $("#TotalUplineSupportIncome").val().trim();
        var TotalSilverIncome = $("#TotalSilverIncome").val().trim();
        var TotalDiamondIncome = $("#TotalDiamondIncome").val().trim();
        var TotalUplineMonthlyPay = $("#TotalUplineMonthlyPay").val().trim();
        var TotalRetailRewardMonthlyPay = $("#TotalRetailRewardMonthlyPay").val().trim();

        var finalPay =   parseFloat(DirectIncome!=""?DirectIncome:0)+
                        parseFloat(TotalPointsIncome!=""?TotalPointsIncome:0)+
                        parseFloat(TotalVoltIncome!=""?TotalVoltIncome:0)+
                        parseFloat(TotalLeaderIncome!=""?TotalLeaderIncome:0)+
                        parseFloat(TotalUplineSupportIncome!=""?TotalUplineSupportIncome:0)+
                        parseFloat(TotalSilverIncome!=""?TotalSilverIncome:0)+
                        parseFloat(TotalDiamondIncome != "" ? TotalDiamondIncome : 0) +
                        parseFloat(TotalUplineMonthlyPay != "" ? TotalUplineMonthlyPay : 0) +
                        parseFloat(TotalRetailRewardMonthlyPay != "" ? TotalRetailRewardMonthlyPay : 0);
        if(TotalPointsIncome==""){
            $("#TotalPointsIncome").val("0");
        }
        if(TotalVoltIncome==""){
            $("#TotalVoltIncome").val("0");
        }
        if(TotalLeaderIncome==""){
            $("#TotalLeaderIncome").val("0");
        }
        if(TotalUplineSupportIncome==""){
            $("#TotalUplineSupportIncome").val("0");
        }
        if(TotalSilverIncome==""){
            $("#TotalSilverIncome").val("0");
        }
        if(TotalDiamondIncome==""){
            $("#TotalDiamondIncome").val("0");
        }
        if(DirectIncome==""){
            $("#DirectIncome").val("0");
        }
        if (TotalUplineMonthlyPay == "") {
            $("#TotalUplineMonthlyPay").val("0");
        }
        if (TotalRetailRewardMonthlyPay == "") {
            $("#TotalRetailRewardMonthlyPay").val("0");
        }
        $("#TotalPaid").val(finalPay);
        var TotalPaid = $("#TotalPaid").val().trim();
        if (TotalPaid == "" || parseFloat(TotalPaid) <= 0) {
            $("#TDS,#AdminCharge,#NetPayable").val("0");
        }
        else {

            var TDS = (parseFloat(TotalPaid)*(@TDSPerc))/100;
            $("#TDS").val(parseInt(TDS));
            var AdminCharge = (parseFloat(TotalPaid)*(@AdminChargePerc))/100;
            $("#AdminCharge").val(parseInt(AdminCharge));
            var NetPayable =parseInt(TotalPaid)- parseInt(TDS)-parseInt(AdminCharge);
            $("#NetPayable").val(parseInt(NetPayable));
        }
    }
</script>