﻿@using TRSImplementation
@model IEnumerable<PROC_RPT_ADMIN_PENDING_PAYOUT_DETAILS_Result>
<style>
    .margin5 {
        margin: 5px 0px;
    }

    #ui-datepicker-div {
        z-index: 100006 !important;
    }
</style>
<div class="col s12" id="dvPayoutList">

</div>
<script type="text/javascript">
    var listUserListEnt = @Html.Raw(Json.Encode(Model));
    LoadPayoutData(listUserListEnt);
    
    function LoadPayoutData(listUserListEnt){
        var db = {
            loadData: function(filter) {
                return $.grep(this.listUserListEnt, function(user) {
                    return (!filter.FullName || (user.FullName!=null &&  user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode ||  (user.RefferalCode!=null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.TotalIncome || ((user.TotalIncome!=null && user.TotalIncome === filter.TotalIncome)))
                        && (!filter.TDS || ((user.TDS!=null && user.TDS === filter.TDS)))                        
                        && (!filter.EmailId ||  (user.EmailId!=null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1))
                        && (!filter.AdminCharge || ((user.AdminCharge!=null && user.AdminCharge === filter.AdminCharge)))
                        && (!filter.TotalPayout || ((user.TotalPayout!=null && user.TotalPayout === filter.TotalPayout)))
                        && (!filter.NetPayable || ((user.NetPayable != null && user.NetPayable === filter.NetPayable)))
                        && (!filter.KYCApproved || ((user.KYCApproved != null && user.KYCApproved === filter.KYCApproved)));
                });
            },
        };
        db.listUserListEnt=listUserListEnt;
        window.db = db;
        $("#dvPayoutList").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "FullName", type: "text",width:170,title: "Full Name",
                    itemTemplate: function(value,item) {
                        var td="<img src=\"/Content/images/misch/"+(item.IsRegistrationActivated==true?"Active.png":"Inactive.png")+"\" alt=\"\" class=\"usertypes\">"+item.FullName;
                        return td;
                    }
                },
                { name: "KYCApproved", type: "text", width: 40, title: "KYC" },
                { name: "RefferalCode", type: "text", width:70,title: "User Id"},
                { name: "TotalIncome", type: "number",width:70 ,title: "Total Income"},
                { name: "TDS", type: "number",width:50,css:"TDS" },
                { name: "AdminCharge", type: "number",width:50,title: "Admin Charge" },
                { name: "TotalPayout",  type: "number",width:70,title: "Total Payout"},
                { name: "NetPayable",  type: "number", width:70,title: "Net Payable"},
                { name: "MobileNo",  width:100,css:"mobileno",title: "MobileNo"},
                //{ name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"},
                { name: "UTRNo",  width:150,title: "UTRNo.",
                    itemTemplate: function(value,item) {
                        var td=""
                        td="<input type=\"text\" id=\"txtUTRRefNo"+item.UserId+"\" class=\"utrno\" data-uid=\""+item.UserId+"\" onblur=\"CheckUTRNoEntered(this)\" />"
                        return td;
                    }
                },
                { name: "FinalPayoutAmt",  width:70,css:"netpayable",title: "Final Payable"},
                //{ name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"},
                { name: "Action",  width:100,css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td=""
                        td+="<a style=\"cursor:pointer\" onclick=\"GetPayoutDetails("+item.UserId+",'/Admin/Payout/GetPayoutDetails')\" class=\"waves-effect waves-cyan\" title=\"Payout\">"+
                                    "<i class=\"material-icons\">list</i>"+
                                    "<span class=\"nav-text\">Payout</span>"+
                                "</a>";
                        td+="<a style=\"cursor:pointer\" onclick=\"PayAmountToUser(this,"+item.UserId+")\" class=\"waves-effect waves-cyan\" title=\"Pay Amount\">"+
                                    "<i class=\"material-icons\">payment</i>"+
                                    "<span class=\"nav-text\">Pay Amount</span>"+
                                "</a>";

                        return td;
                    }
                }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function CheckUTRNoEntered(txt){
        if($(txt).val().trim()!=""){
            $(txt).addClass("hasval");
        }
        else{
            $(txt).removeClass("hasval");
        }
    }
</script>
