﻿@using TRSImplementation
@model IEnumerable<PROC_RPT_ADMIN_PENDING_PAYOUT_DETAILS_Result>
@{
    ViewBag.Title = "Payout Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .usertypes {
        height: 20px;
    }

    #ui-datepicker-div {
        z-index: 100006 !important;
    }

    .utrno {
        height: 2rem !important;
        margin: 0 0 0px 0 !important;
    }
    .modal.modal-fixed-footer {
        padding: 0;
        height: 35%;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row" style="padding-top:12px;">
        <div class="col s12 m4 l3 margin10" style="width:17%!important;padding-top:25px;">
            <input type="checkbox" id="chkIsUptoToday" onchange="chkIsUptoToday_Change()" checked="@ViewBag.IsUptoDate" />
            <label for="chkIsUptoToday">Is Up to Today Payout Amount</label>
        </div>
        <div class="col s12 m4 l3 margin10" style="padding-top:25px;width:18%">
            <input type="checkbox" id="chkIsPayoutSMSSend" checked="@ViewBag.IsPayoutSMSSend" />
            <label for="chkIsPayoutSMSSend">Is Payout SMS send to customer</label>
        </div>
        <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
            <select id="KYCApproved">
                <option value="0">ALL</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
            <label for="KYCApproved" class="center-align">KYC Status</label>
        </div>
        <div class="col s12 m4 l3 margin10" style="padding-top:20px;width:7%;">
            <a class="waves-effect waves-light btn" id="btnSearch" onclick="PayoutSearch()" title="Search">
                <i class="material-icons left" title="Search">search</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 s12 m12 l12" style="margin-top:10px;">
            <div class="col s12 right">
                <a class="waves-effect waves-light btn right" id="btnReCalculateIncome">
                    <i class="material-icons left">save</i> Re-Calculate Income
                </a>&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn right" id="btnUpdateAllUserStatus" style="margin-right: 10px;">
                    <i class="material-icons left">save</i> Update User Status
                </a>&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn right" id="btnPayoutToAll" style="margin-right: 10px;">
                    <i class="material-icons left">payment</i> Payout To All
                </a>&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn right" id="btnDownloadPayout" style="margin-right: 10px;">
                    <i class="material-icons left">view_comfy</i> Download
                </a>&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn right" id="btnDownloadBankPayout" style="margin-right: 10px;">
                    <i class="material-icons left">view_comfy</i> Download For Bank
                </a>&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn right" id="btnDownloadRBIBankPayout" style="margin-right: 10px;">
                    <i class="material-icons left">view_comfy</i> Download For Bank New
                </a>&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn right" id="btnDelihiveryUpload" style="margin-right: 10px;">
                    <i class="material-icons left">file_upload</i>
                </a>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col s12 right" style="padding-top: 1%;">
                <a class="waves-effect waves-light btn right" id="btnUploadExcelForPayout">
                    <i class="material-icons left">view_comfy</i> Upload Excel For Payout
                </a>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        </div>
    <div class="row">
        <div class="input-field col col-xs-12 s12 m12 l12" id="dvAllPayoutList">
        </div>
    </div>
    <div id="mdlPayoutDetails" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5 class="center">Payout Details</h5>
            <hr />
            <div id="dvPayoutDetails">

            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action waves-effect waves-green btn-flat" onclick="PayoutToUser()">Pay Amount</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="ClosePayout()">Close</a>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    @using (Html.BeginForm("Upload", "Payout", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form class="login-form" id="loginform">
            <div class="modal-content">
                <h5>Payout - Upload excel for payout</h5>
                <b><label for="Order Notes">Upload excel:</label></b>
                <div class="input-field" style="margin-top:0!important">
                    <input type="file" id="UploadedFile" name="UploadedFile" />
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect btn" id="BtnUploadPayoutExcel">Submit</a>
                <a class="waves-effect btn" id="BtnCancelUploadPayoutExcel" value="Close">Cancel</a>
            </div>
        </form>
    }
    </div>
<!-- Modal Trigger -->
<button data-target="modal1" id="btnPopUp" style="display:none;" class="btn modal-trigger">Modal</button>

<script>
    function ClosePayout() {
        IsValidModalDetails = true;
        $("#mdlPayoutDetails").modal('close');
    }

</script>
<script>
    var IsUptoDate = '@ViewBag.IsUptoDate' == "true" ? true : false;
    var KYCApprovedfilter = '@ViewBag.KYCApprovedfilter';
    function WindowLoadComplete() {
        //var listUserListEnt = @Html.Raw(Json.Encode(Model));
        //LoadPayoutData(listUserListEnt);
        GetPayoutList();
        $("#chkIsUptoToday").prop('checked', IsUptoDate);
        $("#btnReCalculateIncome").click(function () {
            $.ajax({
                url: "/Authentication/Authenticate/CalculateGoldSilverIncome",
                type: 'POST',
                data: {},
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        $.ajax({
                            url: "/Admin/Payout/GetAllPayourDetails",
                            type: 'POST',
                            data: { IsUptoDate: IsUptoDate, KYCApprovedfilter: KYCApprovedfilter },
                            cache: false,
                            success: function (data) {
                                LoadPayoutData(data);
                            }
                        });
                    } else {
                        swal("Error!", data.Msg, "error");
                    }
                }
            });
        });
        $("#btnUpdateAllUserStatus").click(function () {
            $.ajax({
                url: "/Authentication/Authenticate/UpdateAllUserStatus",
                type: 'POST',
                data: {},
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        swal("Success!", data.Msg, "success");
                    } else {
                        swal("Error!", data.Msg, "error");
                    }
                }
            });
        });

        $("#btnPayoutToAll").click(function () {
            PayoutToAll();
        });
        $("#btnDownloadPayout").click(function () {
            DownloadPayout();
        });
        $("#btnDownloadBankPayout").click(function () {
            DownloadBankPayout();
        });
        $("#btnDownloadRBIBankPayout").click(function () {
            DownloadRBIBankPayout();
        });

        $(document).ready(function () {

            $('.modal').modal();

            $("#btnUploadExcelForPayout").click(function () {
                $("#UploadedFile").val('');
                $("#btnPopUp").click();
            });

            $("#BtnUploadPayoutExcel").click(function () {

                var fileUpload = $("#UploadedFile").get(0);
                var files = fileUpload.files;

                //validation
                if (files.length < 1) {

                    swal("Error!", "Please Upload Payout Excel File [Required].", "error");
                    $("#UploadedFile").val('');
                    return;
                }
                //validation
                var ext = files[0].name.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['xlsx', 'xls']) == -1) {
                    swal("Error!", "Invalid File Uploaded. Please Upload Payout Excel File [Required].", "error");
                    $("#UploadedFile").val('');
                    return;
                }

                swal({
                    title: "Are you sure want to pay final payable amount?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {

                    // Create FormData object
                    var fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    if ($("#chkIsUptoToday").prop("checked")) {
                        IsUptoDate = true;
                    }
                    else {
                        IsUptoDate = false;
                    }

                    var IsPayoutSMSSend = $("#chkIsPayoutSMSSend").prop("checked");

                    fileData.append('IsUptoDate', IsUptoDate);
                    fileData.append('IsPayoutSMSSend', IsPayoutSMSSend);

                    $.ajax({
                        url: "/Admin/Payout/Upload",
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (data) {
                            if (data.Key) {
                                swal("Success!", data.Msg, "success");
                                $('.modal').modal('close');
                                GetPayoutList();
                            }
                            else {
                                if ((data.IsInfo)) {
                                    swal("Information!", data.Msg, "info");
                                }
                                else {
                                    swal("Error!", data.Msg, "error");
                                }
                            }
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                });
            });

            $("#BtnCancelUploadPayoutExcel").click(function () {
                $('.modal').modal('close');
            });

        });
    }
    function GetPayoutList() {

        var KYCApprovedfilter = $("#KYCApproved").val();

        $.ajax({
            type: "POST",
            url: "/Admin/Payout/GetPayoutList",
            datatype: 'html',
            data: { IsUptoDate: IsUptoDate, KYCApprovedfilter: KYCApprovedfilter },
            success: function (result) {
                $("#dvAllPayoutList").html(result);
            },
            error: function () {
            }
        });
    }
    function PayAmountToUser(btn, UserId) {

        var IsPayoutSMSSend = $("#chkIsPayoutSMSSend").prop("checked");

        $btn = $(btn);
        UTRRefNo = $btn.closest('tr').find(".utrno").val();
        if (UTRRefNo.trim() == "") {
            swal("Error!", "Please Enter UTR RefNo.", "error");
            return;
        }
        swal({
            title: "Are you sure want to pay final payable amount?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
           function () {
               $.ajax({
                   type: "POST",
                   url: "/Admin/Payout/PayAmountToUser",
                   data: { UserId: UserId, UTRRefNo: UTRRefNo, IsUptoDate: IsUptoDate, IsPayoutSMSSend: IsPayoutSMSSend },
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           GetPayoutList();
                       }
                       else {
                           alert(data.Msg);
                       }
                   },
                   error: function () {
                   }
               });
           });
    }
    function PayoutSearch() {

        if ($("#chkIsUptoToday").prop("checked")) {
            IsUptoDate = true;
        }
        else {
            IsUptoDate = false;
        }

        var KYCApprovedfilter = $("#KYCApproved").val();

        $.ajax({
            url: "/Admin/Payout/GetAllPayourDetails",
            type: 'POST',
            data: { IsUptoDate: IsUptoDate, KYCApprovedfilter: KYCApprovedfilter },
            cache: false,
            success: function (data) {
                LoadPayoutData(data);
            }
        });
    }
    function chkIsUptoToday_Change() {

        if ($("#chkIsUptoToday").prop("checked")) {
            IsUptoDate = true;
        }
        else {
            IsUptoDate = false;
        }

        var KYCApprovedfilter = $("#KYCApproved").val();

        $.ajax({
            url: "/Admin/Payout/GetAllPayourDetails",
            type: 'POST',
            data: { IsUptoDate: IsUptoDate, KYCApprovedfilter: KYCApprovedfilter },
            cache: false,
            success: function (data) {
                LoadPayoutData(data);
            }
        });

    }

    function PayoutToAll() {

        var IsPayoutSMSSend = $("#chkIsPayoutSMSSend").prop("checked");

        var o = [];
        $('.hasval').each(function () {
            var UserId = $(this).attr("data-uid");
            var UTRNo = $(this).val().trim();
            if (UTRNo != "") {
                var a = {};
                a["UserId"] = UserId;
                a["UTRNo"] = UTRNo;
                o.push(a);
            }
        });

        swal({
            title: "Are you sure want to pay final payable amount?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
           function () {
               $.ajax({
                   type: "POST",
                   url: "/Admin/Payout/PayAmountToAllUser",
                   data: { listUTR: o, IsUptoDate: IsUptoDate, IsPayoutSMSSend: IsPayoutSMSSend },
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           GetPayoutList();
                       }
                       else {
                           if ((data.IsInfo)) {
                               swal("Information!", data.Msg, "info");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }

                       }
                   },
                   error: function () {
                   }
               });
           });
    }

    function DownloadPayout() {
        $.ajax({
            type: "POST",
            url: '/Admin/Payout/DownloadPayoutExcel',
            data: { IsUptoDate: IsUptoDate },
            success: function (data) {
                if (data != null) {
                    if (data.filename != undefined && data.filename != null && data.filename != "") {
                        window.location = '/Admin/Payout/Download?file=' + data.filename;
                    }
                }
            }
        });
    }

    function DownloadBankPayout() {
        $.ajax({
            type: "POST",
            url: '/Admin/Payout/DownloadBankPayoutExcel',
            data: { IsUptoDate: IsUptoDate },
            success: function (data) {
                if (data != null) {
                    if (data.filename != undefined && data.filename != null && data.filename != "") {
                        window.location = '/Admin/Payout/Download?file=' + data.filename;
                    }
                }
            }
        });
    }

    function DownloadRBIBankPayout() {
        $.ajax({
            type: "POST",
            url: '/Admin/Payout/DownloadRBIBankPayoutExcel',
            data: { IsUptoDate: IsUptoDate },
            success: function (data) {
                if (data != null) {
                    if (data.filename != undefined && data.filename != null && data.filename != "") {
                        window.location = '/Admin/Payout/Download?file=' + data.filename;
                    }
                }
            }
        });
    }
</script>