﻿@using TRSImplementation
@model QuerySupportMst
@{
    ViewBag.Title = "Support Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row section" id="dvProduct">
        <form class="row" id="frmQueryDetails">
            @Html.HiddenFor(m => m.QuerySupportId)
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m12">
                    @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Subject" })
                    <label for="Subject" class="active">Subject</label>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12 col-xs-12 m12">
                    @Html.TextAreaFor(m => m.Comment, new { @placeholder = "Comment", @class = "materialize-textarea" })
                    <label for="Comment" class="active">Comment</label>
                </div>
            </div>
            <div class="col s12">
                <div class="col s12 center-align" style="margin-bottom:10px;">
                    <a class="waves-effect waves-light btn" id="btnSave">
                        <i class="material-icons left">save</i> Save
                    </a>
                    <a class="waves-effect waves-light btn hide" id="btnCancel">
                        <i class="material-icons left">clear</i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="row section" id="dvQuerySupport">
    </div>
</div>
@section scripts
{
    <!-- jquery-validation -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
<script type="text/javascript" src="~/Content/vendors/jsgrid/js/jsgrid.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSave").click(function () {
                SubmitQuerySupport();
            });

            $("#frmQueryDetails").validate({
                rules: {
                    Subject: {
                        required: true
                    },
                    Comment: {
                        required: true
                    },
                },
                //For custom messages
                messages: {
                    Subject: {
                        required: "Enter a Subject"
                    },
                    Comment: {
                        required: "Enter a Comment"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        });

        function SubmitQuerySupport() {
            if ($("#Subject").val().trim() == "") {
                swal("Information!", "Please Enter Subject!", "error");
                return false;
            }
            else if ($("#Comment").val().trim() == "") {
                swal("Information!", "Please Enter Comment!", "error");
                return false;
            }

            $.ajax({
                url: "/Member/Support/SubmitQuery",
                type: 'POST',
                data: {
                    Subject: $("#Subject").val(),
                    Comment: $("#Comment").val()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        swal("Success!", "Query submitted successfully!", "success");
                        $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Member/Support/Index" })
                    }
                    else {
                        //alert(data.Msg);
                        swal("Error!", data.Msg, "error");
                    }
                }
            });

        }

        var listQuerySupport = @Html.Raw(Json.Encode(ViewBag.listQuerySupport));
        var db = {
            loadData: function(filter) {
                return $.grep(this.listQuerySupport, function(user) {
                    return (!filter.Subject || (user.Subject!=null && user.Subject.toLowerCase().indexOf(filter.Subject.toLowerCase()) > -1))                        
                        && (!filter.Comment || (user.Comment!=null && user.Comment.toLowerCase().indexOf(filter.Comment.toLowerCase()) > -1))
                        && (!filter.QueryStatusName || (user.QueryStatusName!=null && user.QueryStatusName.toLowerCase().indexOf(filter.QueryStatusName.toLowerCase()) > -1));
                });
            },
            insertItem: function(insertingClient) {
                this.clients.push(insertingClient);
            },
            updateItem: function(updatingClient) { },
        };
        db.listQuerySupport=listQuerySupport;
        window.db = db;
        $("#dvQuerySupport").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            pageSize: 25,
            pageButtonCount: 10,
            fields: [
                { name: "CreatedOn", type: "text", width:100,title:"Date"},
                { name: "Subject", type: "text", width:200},
                { name: "Comment", type: "text", width:350},
                { name: "Response", type: "text", width:350,css:"Response"},
                { name: "QueryStatusName", type: "text",width:100,title:"Status" },                
            ],
            //data: listExpenseListEnt
            controller: db
        });
    </script>
}

