﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_GET_USER_ORDER_HDR_Result>
@using Newtonsoft.Json;
@*<table class="striped" id="tblDateRangeOrders">
        <thead>
            <tr>
                <th>Name</th>
                <th>OrderNo</th>
                <th>Order Date</th>
                <th>Order Amount</th>
                <th>BV</th>
                <th>Address</th>
                <th>Order Type</th>
                <th>MobileNo</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Customer Name">@item.CustomerName</td>
                        <td data-title="Order No"><a style="cursor:pointer" onclick="LoadProductDetails(@item.UserPurchaseHdrId)">@item.OrderNo</a></td>
                        <td data-title="Order Date">@item.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td data-title="Order Amount">@item.TotalOrderAmount</td>
                        <td data-title="BV">@item.BusinessVolume</td>
                        <td data-title="Address">@item.CustomerAddress</td>
                        @if (item.IsRepurchaseOrder)
                        {
                            <td data-title="Order Type">Repurchase</td>
                        }
                        else
                        {
                            <td data-title="Order Type">Direct</td>
                        }
                        <td data-title="MobileNo">@item.CustomerMobileNo</td>
                        <td data-title="Status">@item.StatusName</td>
                        @if (item.OrderStatusId.HasValue &&
                        (item.OrderStatusId.Value == Convert.ToInt32(TRSImplementation.clsImplementationEnum.OrderStatus.OrderConfirm) ||
                        item.OrderStatusId.Value == Convert.ToInt32(TRSImplementation.clsImplementationEnum.OrderStatus.OrderCompleted))
                    )
                        {
                            <td data-title="Action">
                                <a style="cursor:pointer" onclick="TrakingOrder(@item.UserPurchaseHdrId,'@item.CourierTrackingNo')" title="Tracking"><i class="material-icons">flight_takeoff</i></a>
                                <a style="cursor:pointer" onclick="CompleteOrder(@item.UserPurchaseHdrId)" title="Complete Order"><i class="material-icons">done</i></a>
                                <a href="/Utility/General/OrderReceipt/@item.UserPurchaseHdrId" target="_blank" title="Receipt"><i class="material-icons">receipt</i></a>
                            </td>
                        }
                        else if (!item.OrderStatusId.HasValue || (item.OrderStatusId.Value == Convert.ToInt32(TRSImplementation.clsImplementationEnum.OrderStatus.OrderGenerate)))
                        {
                            <td data-title="Action">
                                <a style="cursor:pointer" onclick="TrakingOrder(@item.UserPurchaseHdrId,'@item.CourierTrackingNo')" title="Tracking"><i class="material-icons">flight_takeoff</i></a>
                                <a style="cursor:pointer" onclick="ConfirmOrder(@item.UserPurchaseHdrId)" title="Confirm Order"><i class="material-icons">done</i></a>
                                <a style="cursor:pointer" onclick="DeleteOrder(@item.UserPurchaseHdrId)" title="Cancel Order"><i class="material-icons">close</i></a>
                                <a href="/Utility/General/OrderReceipt/@item.UserPurchaseHdrId" target="_blank" title="Receipt"><i class="material-icons">receipt</i></a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>*@
<style>
    .margin5 {
        margin: 5px 0px;
    }

    #ui-datepicker-div {
        z-index: 100006 !important;
    }
</style>
<div class="col s12" id="dvOrderList">

</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <form class="login-form" id="loginform">
        <div class="modal-content">
            <h5>UPDATE - Order notes and PaymentId</h5>
            @*<p>A bunch of text</p>*@
            <b><label for="phone">Order Notes:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtOrdernote" autocomplete="off" name="txtOrdernote" class="swal2-input" placeholder="Order Notes" maxlength="500">
            </div>
            <b><label for="phone">Order RazorpayOrderId:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtRazorpayOrderId" name="txtRazorpayOrderId" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Order RazorpayOrderId">
            </div>
            <b><label for="phone">Order RazorpayPaymentId:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtRazorpayPaymentId" name="txtRazorpayPaymentId" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Order RazorpayPaymentId">
            </div>
            <b><label for="phone">Order RazorpaySignature:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtRazorpaySignature" name="txtRazorpaySignature" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Order RazorpaySignature">
            </div>
            <input type="hidden" id="OrderId" value="" />
            <input type="hidden" id="IsOrderPlaceByAdmin" value="" />
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn" id="BtnSaveOrderNote">Save</a>
            <a class="waves-effect btn" id="BtnCancelOrderNote" value="Close">Cancel</a>
        </div>
    </form>
</div>
<button data-target="modal1" id="btnOrderNote" style="display:none;" class="btn modal-trigger">Modal</button>
<!-- Modal Trigger -->
<!--Start: Modal For TrakingOrder-->
<div id="modalTrakingOrder" class="modal modal-fixed-footer">
    <form class="login-form" id="TrakingOrderform">
        <div class="modal-content">
            <h5>UPDATE - Courier Tracking Number!</h5>
            @*<p>A bunch of text</p>*@
            <b><label for="phone">Courier Tracking No:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtCourierTrackingNo" autocomplete="off" name="txtCourierTrackingNo" class="swal2-input" placeholder="Courier Tracking No" maxlength="500">
            </div>
            <b><label for="phone">Courier Tracking Company:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtCourierTrackingCompany" name="txtCourierTrackingCompany" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Courier Tracking Company">
            </div>
            <input type="hidden" id="TrakingOrderId" value="" />
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn" id="BtnSaveTrakingOrder">Save</a>
            <a class="waves-effect btn" id="BtnCancelTrakingOrder" value="Close">Cancel</a>
        </div>
    </form>
</div>
<button data-target="modalTrakingOrder" id="btnTrakingOrderPopup" style="display:none;" class="btn modal-trigger">Modal</button>
<!--END: Modal For TrakingOrder-->

<script type="text/javascript">

    var listUserListEnt = @Html.Raw(JsonConvert.SerializeObject(Model));
    var listFranchisee = @Html.Raw(Json.Encode(ViewBag.listFranchisee));
    var listOrderReceivedBy = @Html.Raw(Json.Encode(ViewBag.listOrderReceivedBy));

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.modal').modal();

        $("#loginform").validate({
            rules: {
                txtOrdernote: {
                    required: true
                },
            },
            //For custom messages
            messages: {
                txtOrdernote: {
                    required: "Required!"
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });

    });

    $("#BtnCancelOrderNote").click(function () {
        $('.modal').modal('close');
    });

    $("#BtnCancelTrakingOrder").click(function () {
        $('.modal').modal('close');
    });

    function SelectGridRow(item) {
        
        var row = $(item).parent().parent();
        var userPurchaseHdrId;

        if (row != undefined) {
            var gridDataItem = row.data("JSGridItem");
            if (gridDataItem != undefined && gridDataItem.UserPurchaseHdrId != undefined) {
                userPurchaseHdrId = gridDataItem.UserPurchaseHdrId;
            }
        }

        if (userPurchaseHdrId != undefined) {
            if ($(item).is(':checked')) {
                if (jQuery.inArray(userPurchaseHdrId, selectedOrdersFromGrid) < 0) {
                    selectedOrdersFromGrid.push(userPurchaseHdrId);
                }
            }
            else {
                selectedOrdersFromGrid.remove(userPurchaseHdrId);
            }
        }
        
    }

    function SelectAllGridRow(item) {
        var gridRows = $('.grid-row-checkbox-single');

        if ($(item).is(':checked')) {
            if (gridRows != undefined) {
                for (var i = 0; i < gridRows.length; i++) {
                    $(gridRows[i]).prop('checked', 'checked');
                    SelectGridRow(gridRows[i]);
                }
            }
        }
        else {
            if (gridRows != undefined) {
                for (var i = 0; i < gridRows.length; i++) {
                    $(gridRows[i]).prop('checked', false);
                    SelectGridRow(gridRows[i]);
                }
            }
        }
    }

    function MaintainCheckboxSelection(args) {

        setTimeout(function () {

            $('.grid-row-checkbox-all').prop('checked', false);

            if (selectedOrdersFromGrid != undefined && selectedOrdersFromGrid.length > 0) {
                for (var i = 0; i < selectedOrdersFromGrid.length; i++) {
                    $('.grid-row-checkbox-single[data-userpurchase=' + selectedOrdersFromGrid[i] + ']').prop('checked', 'checked');
                }
            }
        }, 300);
    }

    LoadOrderData(listUserListEnt);

    function LoadOrderData(listUserListEnt){
        var db = {
            loadData: function(filter) {
                return $.grep(this.listUserListEnt, function(user) {
                    return (!filter.CustomerName || (user.CustomerName!=null &&  user.CustomerName.toLowerCase().indexOf(filter.CustomerName.toLowerCase()) > -1))
                        && (!filter.RefferalCode ||  (user.RefferalCode!=null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.OrderNo || ((user.OrderNo!=null && user.OrderNo === filter.OrderNo)))
                        && (!filter.OdrDate ||  (user.OdrDate!=null && user.OdrDate.toLowerCase().indexOf(filter.OdrDate.toLowerCase()) > -1))
                        && (!filter.TotalOrderAmount || ((user.TotalOrderAmount!=null && user.TotalOrderAmount === filter.TotalOrderAmount)))
                        && (!filter.BusinessVolume || ((user.BusinessVolume!=null && user.BusinessVolume === filter.BusinessVolume)))
                        && (!filter.MobileNo || ((user.MobileNo != null && user.MobileNo === filter.MobileNo)))
                        && (!filter.OrderMode || ((user.OrderMode != null && user.OrderMode === filter.OrderMode)))
                        && (!filter.CustomerAddress ||  (user.CustomerAddress!=null && user.CustomerAddress.toLowerCase().indexOf(filter.CustomerAddress.toLowerCase()) > -1))
                        && (!filter.StatusName ||  (user.StatusName!=null && user.StatusName.toLowerCase().indexOf(filter.StatusName.toLowerCase()) > -1))
                        && (!filter.RazorpayPaymentId || (user.RazorpayPaymentId != null && user.RazorpayPaymentId.toLowerCase().indexOf(filter.RazorpayPaymentId.toLowerCase()) > -1))
                        && (!filter.Notes || (user.Notes != null && user.Notes.toLowerCase().indexOf(filter.Notes.toLowerCase()) > -1))
                        && (!filter.CreditPointStatus || (user.CreditPointStatus != null && user.CreditPointStatus.toLowerCase().indexOf(filter.CreditPointStatus.toLowerCase()) > -1))
                        && (!filter.OrderType ||  (user.OrderType!=null && user.OrderType.toLowerCase().indexOf(filter.OrderType.toLowerCase()) > -1));
                });
            },
        };
        db.listUserListEnt=listUserListEnt;
        window.db = db;
        $("#dvOrderList").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            onPageChanged: function (args) {
                MaintainCheckboxSelection(args);
            },
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                {
                    name: "", width: 100, align: 'center',
                    headerTemplate: function(value, item) {
                        var td = "<input type='checkbox' class='grid-row-checkbox grid-row-checkbox-all' onChange='SelectAllGridRow(this)' />"
                        return td;
                    },
                    itemTemplate: function(value,item) {
                        var td = "<input type='checkbox' class='grid-row-checkbox grid-row-checkbox-single' data-userpurchase='" + item.UserPurchaseHdrId + "' onChange='SelectGridRow(this)' />"
                        return td;
                    },
                    sorting: false
                },
                { name: "CustomerName", type: "text", width:250,title: "Name"},
                { name: "RefferalCode", type: "text",width:100,css:"UserCode",title: "User Code" },
                { name: "OrderNo", type: "number",width:100 ,title: "OrderNo",
                    itemTemplate: function(value,item) {
                        var td="<a style=\"cursor:pointer\" onclick=\"LoadProductDetails("+item.UserPurchaseHdrId+")\">"+item.OrderNo+"</a>";
                        return td;
                    }
                },
                { name: "OdrDate", type: "text",width:120,css:"Order Date" },
                { name: "TotalOrderAmount", type: "number",width:100,title: "Order Amount" },
                { name: "RazorpayPaymentId",  type: "text", width:180, type: "text",title: "Payment Id"},
                { name: "BusinessVolume", type: "number",width:100,title: "BV" },
                { name: "CustomerAddress",  type: "text",width:250,title: "Address"},
                { name: "OrderType", type: "text", width: 120, title: "Order Type" },
                { name: "OrderMode", type: "text", width: 120, title: "Order Mode" },
                { name: "CustomerMobileNo", width: 100, css: "mobileno", type: "number", title: "MobileNo" },
                //{ name: "Notes", type: "text", width: 120, title: "Order Note" },
                {
                    name: "Notes", type: "text", width: 120, title: "Order Note",
                    itemTemplate: function (value, item) {
                        var td = "<a style =\"cursor:pointer\" onclick=\"EditOrderNote(" + item.UserPurchaseHdrId + ",'" + item.Notes + "','" + item.RazorpayOrderId + "','" + item.RazorpayPaymentId + "','" + item.RazorpaySignature + "'," + item.IsOrderPlaceByAdmin + ")\" title=\"Edit Order Note\"><i class=\"material-icons\">edit</i></a><label>" + item.Notes + "</label>";
                        return td;
                    }
                },
                //{ name: "FranchiseeId",  width:250,title: "Franchisee",
                //    itemTemplate: function(value,item) {
                //        var td="<select id=\"ddlFranchisee"+item.UserPurchaseHdrId+"\" class=\"franchisee\" onchange=\"ddlFranchisee_change(this,"+item.UserPurchaseHdrId+")\"><option value=\"0\">Select</option>"
                //        for (var i = 0; i < listFranchisee.length; i++) {
                //            td+="<option value=\""+listFranchisee[i].FranchiseeId+"\" "+(listFranchisee[i].FranchiseeId==item.FranchiseeId?"selected":"")+">"+listFranchisee[i].FranchiseeName+"</option>"
                //        }
                //        td+="</select>";
                //        return td;
                //    }},
                //    { name: "OrderReceivedById",  width:150,title: "Order Received By",
                //        itemTemplate: function(value,item) {
                //            var td="<select id=\"ddlOrderReceivedBy"+item.UserPurchaseHdrId+"\" class=\"orderreceivedby\" onchange=\"ddlOrderReceivedBy_change(this,"+item.UserPurchaseHdrId+")\"><option value=\"0\">Select</option>"
                //            for (var i = 0; i < listOrderReceivedBy.length; i++) {
                //                td+="<option value=\""+listOrderReceivedBy[i].OrderReceivedById+"\" "+(listOrderReceivedBy[i].OrderReceivedById==item.OrderReceivedById?"selected":"")+">"+listOrderReceivedBy[i].OrderReceivedBy+"</option>"
                //            }
                //            td+="</select>";
                //            return td;
                //    }
                //},
                { name: "CreditPointStatus", type: "text", width: 150, type: "text", title: "BVs Status" },
                { name: "StatusName", type: "text", width: 150, type: "text", title: "Status" },
                { name: "Action",  width:100,css:"action",
                    type: "control",
                    itemTemplate: function(value,item) {
                        var td=""
                        if (item.OrderStatusId!=null && item.OrderStatusId!="" &&
                            (item.OrderStatusId == @(clsImplementationEnum.OrderStatus.OrderConfirm.GetHashCode()) ||
                            item.OrderStatusId == @(clsImplementationEnum.OrderStatus.OrderCompleted.GetHashCode())))
                        {
                            td = "<a style=\"cursor:pointer\" onclick=\"TrakingOrder(" + item.UserPurchaseHdrId + ",'" + item.CourierTrackingNo + "','" + item.CourierTrackingCompany +"')\" title=\"Tracking\"><i class=\"material-icons\">flight_takeoff</i></a>"+
                                "<a style=\"cursor:pointer\" onclick=\"CompleteOrder(" + item.UserPurchaseHdrId + ")\" title=\"Complete Order\"><i class=\"material-icons\">done</i></a>" +
                                "<a href=\"/Utility/General/OrderReceipt/"+item.UserPurchaseHdrId+"\" target=\"_blank\" title=\"Receipt\"><i class=\"material-icons\">receipt</i></a>";
                        }
                        else if (!item.OrderStatusId.HasValue || (item.OrderStatusId.Value == @(clsImplementationEnum.OrderStatus.OrderGenerate.GetHashCode())))
                        {
                            td = "<a style=\"cursor:pointer\" onclick=\"TrakingOrder(" + item.UserPurchaseHdrId + ",'" + item.CourierTrackingNo + "','" + item.CourierTrackingCompany +"')\" title=\"Tracking\"><i class=\"material-icons\">flight_takeoff</i></a>"+
                        "<a style=\"cursor:pointer\" onclick=\"ConfirmOrder("+item.UserPurchaseHdrId+")\" title=\"Confirm Order\"><i class=\"material-icons\">done</i></a>"+
                        "<a style=\"cursor:pointer\" onclick=\"DeleteOrder(" + item.UserPurchaseHdrId + ")\" title=\"Cancel Order\"><i class=\"material-icons\">close</i></a>" +
                        "<a href=\"/Utility/General/OrderReceipt/"+item.UserPurchaseHdrId+"\" target=\"_blank\" title=\"Receipt\"><i class=\"material-icons\">receipt</i></a>";
                        }
                        return td;
                    }
                }
            ],
            //data: listUserListEnt
            controller: db
        });
        $('.franchisee').material_select();
        $('.orderreceivedby').material_select();
    }

    function CompleteOrder(OrderId) {
        swal({    title: "Are you sure want to complete order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
            function(){
                $.ajax({
                    url: "/Admin/Orders/CompleteOrderDetails",
                    type: 'POST',
                    data: {
                        UserPurchaseHdrId: OrderId
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            swal(
                                {
                                    title: data.Msg,
                                    type: "success",
                                    confirmButtonText: "OK",
                                    closeOnConfirm: true,
                                    customClass: 'order-confirmation-popup'
                                });

                            $('.order-confirmation-popup').click(function () {
                                currentPageIndex = $("#dvOrderList").jsGrid("option", "pageIndex");
                                GetDateRangeOrderDetails();
                            });
                            //swal("Success!", data.Msg, "success").then((value) => {
                            //    
                            //});
                        }
                        else {
                            swal("Error!", data.Msg, "error");
                        }
                    }
                });
            });
    }

    $("#BtnSaveTrakingOrder").click(function () {

        var CourierTrackingNo = $('#txtCourierTrackingNo').val();
        var CourierTrackingCompany = $('#txtCourierTrackingCompany').val();
        var OrderId = $('#TrakingOrderId').val();

        var ErrorMsg = '';
        if (CourierTrackingNo.length < 1) {
            ErrorMsg = "Please enter courier tracking no [Required].";
        }
        if (CourierTrackingCompany.length < 1) {
            ErrorMsg += "\n Please enter courier tracking company [Required]."
        }
        if (ErrorMsg.length > 0) {
            swal("Error!", ErrorMsg, "error");
            return;
        }

        $.ajax({
            url: "/Admin/Orders/TrackingOrderDetails",
            type: 'POST',
            data: {
                UserPurchaseHdrId: OrderId,
                CourierTrackingNo: CourierTrackingNo,
                CourierTrackingCompany: CourierTrackingCompany
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    swal("Success!", data.Msg, "success");
                    $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Orders/Index" })
                }
                else {
                    swal("Error!", data.Msg, "error");
                }
            }
        });

    });
    function TrakingOrder(OrderId, CourierTrackingNo, CourierTrackingCompany) {

        $('#txtCourierTrackingNo').val(CourierTrackingNo);
        $('#txtCourierTrackingCompany').val(CourierTrackingCompany);
        $('#TrakingOrderId').val(OrderId);
        $("#btnTrakingOrderPopup").click();

        //(async () => {
        //    const { value: formValues } = await Swal.fire({
        //        html:
        //            '<b><label for="Courier Tracking No:">Courier Tracking No:</label></b><div class="input-field"><input id="swal-CourierTrackingNo" class="swal2-input" placeholder="Enter Courier Tracking No" value=' + CourierTrackingNo + '></div>' +
        //            '<b><label for="Courier Tracking Company:">Courier Tracking Company:</label></b><div class="input-field"><input id="swal-CourierTrackingCompany" class="swal2-input" placeholder="Enter Courier Tracking Company" value=' + CourierTrackingCompany + '></div>',
        //        focusConfirm: false,
        //        title: "Courier Tracking Number!",
        //        text: "Please enter the Courier Tracking Number:",
        //        type: "input", showCancelButton: true,
        //        closeOnConfirm: false,
        //        animation: "slide-from-top",
        //        preConfirm: () => {

        //            var CourierTrackingNo = document.getElementById('swal-CourierTrackingNo').value;
        //            var CourierTrackingCompany = document.getElementById('swal-CourierTrackingCompany').value;

        //            if (CourierTrackingNo.length < 1) {
        //                swal.showInputError("You need to enter Courier Tracking Number!");
        //                return false
        //            }

        //        }
        //    })
        //})()
    }

    function EditOrderNote(OrderId, OrderNotes, RazorpayOrderId, RazorpayPaymentId, RazorpaySignature, IsOrderPlaceByAdmin) {

        var form = $("#loginform"),
        validator = form.validate();
        validator.resetForm();

        $('#txtOrdernote').val(OrderNotes);
        $('#txtRazorpayOrderId').val(RazorpayOrderId);
        $('#txtRazorpayPaymentId').val(RazorpayPaymentId);
        $('#txtRazorpaySignature').val(RazorpaySignature);
        $('#OrderId').val(OrderId);
        $('#IsOrderPlaceByAdmin').val(IsOrderPlaceByAdmin);

        $('#txtRazorpayOrderId').prop("disabled", !IsOrderPlaceByAdmin);
        $('#txtRazorpayPaymentId').prop("disabled", !IsOrderPlaceByAdmin);
        $('#txtRazorpaySignature').prop("disabled", !IsOrderPlaceByAdmin);

        $('#btnOrderNote').click();
    }
    $('#BtnCancelOrderNote').click(function () {
        //$("#modal1").modal("hide");
        //$("#modal1").dialog('close');
    });
    $('#BtnSaveOrderNote').click(function () {

        $("#txtOrdernote").val($.trim($("#txtOrdernote").val()));
        $("#txtRazorpayOrderId").val($.trim($("#txtRazorpayOrderId").val()));
        $("#txtRazorpayPaymentId").val($.trim($("#txtRazorpayPaymentId").val()));
        $("#txtRazorpaySignature").val($.trim($("#txtRazorpaySignature").val()));

        if (!$("#loginform").valid()) {
            return false;
        }
        var OrderId = $('#OrderId').val();
        var IsOrderPlaceByAdmin = $('#IsOrderPlaceByAdmin').val();
        var RazorpayOrderId = $('#txtRazorpayOrderId').val();
        var RazorpayPaymentId = $('#txtRazorpayPaymentId').val();
        var RazorpaySignature = $('#txtRazorpaySignature').val();
        var OrderNotes = $('#txtOrdernote').val();

        $.ajax({
            url: "/Admin/Orders/SaveOrderNote",
            type: 'POST',
            data: {
                UserPurchaseHdrId: OrderId,
                OrderNotes: OrderNotes,
                RazorpayOrderId: RazorpayOrderId,
                RazorpayPaymentId: RazorpayPaymentId,
                RazorpaySignature: RazorpaySignature
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    $('.modal').modal('close');
                    swal("Success!", data.Msg, "success");
                    $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Orders/Index" })
                }
                else {
                    if (data.IsInfo) {
                        swal("Information!", data.Msg, "error");
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                    }
                }
            }
        });
    });

    function ConfirmOrder(OrderId) {
        swal({
            title: "Are you sure want to confirm order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Orders/ConfirmOrder",
                   type: 'POST',
                   data: {
                       UserPurchaseHdrId: OrderId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Orders/Index" })
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }

    function DeleteOrder(OrderId) {
        swal({
            title: "Are you sure want to delete order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Orders/DeleteOrder",
                   type: 'POST',
                   data: {
                       UserPurchaseHdrId: OrderId
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           $('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Orders/Index" })
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }

    function ddlFranchisee_change(ddl,OrderId){
        swal({
            title: "Are you sure want to assign order to selected frenchisee?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Orders/AssignFranchisee",
                   type: 'POST',
                   data: {
                       UserPurchaseHdrId: OrderId,
                       FranchiseeId:$(ddl).val()
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           //$('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Orders/Index" })
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }
    function ddlOrderReceivedBy_change(ddl,OrderId){
       var receivedby= $(ddl).find('option:selected').text();
        swal({
            title: "Are you sure want to change order received by "+receivedby+"?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: false
        },
           function () {
               //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               $.ajax({
                   url: "/Admin/Orders/UpdateOrderReceivedBy",
                   type: 'POST',
                   data: {
                       UserPurchaseHdrId: OrderId,
                       OrderReceivedById:$(ddl).val()
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           swal("Success!", data.Msg, "success");
                           //$('.sa-confirm-button-container .confirm').click(function () { window.location.href = "/Admin/Orders/Index" })
                       }
                       else {
                           if (data.IsInfo) {
                               swal("Information!", data.Msg, "error");
                           }
                           else {
                               swal("Error!", data.Msg, "error");
                           }
                       }
                   }
               });
           });
    }
</script>