﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Orders Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .franchiseename {
        height: 2rem !important;
        margin: 0 0 2px 0 !important;
    }

    .orders {
        padding: 8px 5px !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
                <select id="StatusName"></select>
                <label for="StatusName" class="center-align">Status</label>
            </div>
            <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
                <input class="editable datetextbox" id="txtStartDate" required name="txtStartDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.StartDate">
                <label for="txtStartDate" data-error="wrong" data-success="right" class="active">Start Date</label>
            </div>
            <div class="input-field col col-xs-12 s12 m3 l3" style="width:15%">
                <input class="editable datetextbox" id="txtEndDate" required name="txtEndDate" placeholder="Payout Date" type="text" readonly value="@ViewBag.EndDate">
                <label for="txtEndDate" data-error="wrong" data-success="right" class="active">End Date</label>
            </div>
            <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
                <select id="OrderType">
                    <option value="-1">ALL</option>
                    <option value="0">Direct</option>
                    <option value="1">Repurchase</option>
                </select>
                <label for="OrderType" class="center-align">Order Type</label>
            </div>
            <div class="input-field col col-xs-12 s12 m3 l3" style="width:40%">
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeOrderDetails()" title="Search">
                    <i class="material-icons left" title="Search">search</i>
                </a>
                <a class="waves-effect waves-light btn" id="btnDownloadOrders" title="Download Order Excel">
                    <i class="material-icons left" title="Download Order Excel">view_comfy</i>
                </a>
                <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadOrderExcel()" title="Download Order Excel">
                    <i class="material-icons left" title="Download Order Excel">file_download</i>
                </a>
                <a class="waves-effect waves-light btn" id="btnUploadExcelForPayout" title="Courier Tracking">
                    <i class="material-icons left" title="Courier Tracking">file_upload</i>Tracking
                </a>
                <a class="waves-effect waves-light btn" id="btnCODToConfirm" title="Status">
                    <i class="material-icons left" title="COD To Confirm">file_upload</i>Status
                </a>
                <a class="waves-effect waves-light btn" id="btnOrderBillPrint" onclick="OrderBillPrint()" title="Order Bill Print">
                    <i class="material-icons left" title="Order Bill Print">file_upload</i>Print
                </a>
            </div>
            <div class="col s12  no-more-tables" id="dvDateRangeOrder">
            </div>
        </div>
        <div id="mdlProductDetails" class="modal">
            <div class="modal-content">
                <h5 class="center">Order Details</h5>
                <hr />
                <div id="dvOrderDetails">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - COD To Confirm Process -->
    <div id="ModalCODToConfirmProcess" class="modal modal-fixed-footer">
        @using (Html.BeginForm("CODToConfirmProcess", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form class="login-form" id="loginform">
                <div class="modal-content">
                    <h5>Update Order Status - Upload excel for update order status</h5>
                    <br />
                    <b><label for="phone">Order Type:</label></b>
                    <div class="input-field" style="margin-top:0!important">
                        <select id="ddlOrderType" name="ddlOrderType" style="width:50%">
                            <option value="">--Select--</option>
                            <option value="1">COD</option>
                            <option value="2">Prepaid</option>
                        </select>
                    </div>
                    <b><label for="phone">Order Status Process:</label></b>
                    <div class="input-field" style="margin-top:0!important">
                        <select id="ddlOrderStatusProcessType" name="ddlOrderStatusProcessType" style="width:50%">
                            <option value="">--Select--</option>
                            <option value="1">To Confirm</option>
                            <option value="2">To Complete</option>
                        </select>
                    </div>
                    <b><label for="COD To Confirm Process">Upload excel:</label></b>
                    <div class="input-field" style="margin-top:0!important">
                        <input type="file" id="UploadedCODToConfirmFile" name="UploadedCODToConfirmFile" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="waves-effect btn" id="BtnSubmitCODToConfirm">Submit</a>
                    <a class="waves-effect btn" id="BtnCancelCODToConfirm" value="Close">Cancel</a>
                </div>
            </form>
        }
    </div>
    <!-- Modal Trigger -->
    <button data-target="ModalCODToConfirmProcess" id="btnModalCODToConfirmPopUp" style="display:none;" class="btn modal-trigger">Modal</button>


    <!-- Modal-Upload Courier Tracking -->
    <div id="ModalCourierTracking" class="modal modal-fixed-footer">
        @using (Html.BeginForm("UploadCourierTracking", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form class="login-form" id="loginform">
                <div class="modal-content">
                    <h5>Courier Tracking - Upload excel for update courier tracking detail</h5>
                    <b><label for="Order Notes">Upload excel:</label></b>
                    <div class="input-field" style="margin-top:0!important">
                        <input type="file" id="UploadedCourierTrackingFile" name="UploadedCourierTrackingFile" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="waves-effect btn" id="BtnUploadPayoutExcel">Submit</a>
                    <a class="waves-effect btn" id="BtnCancelUploadPayoutExcel" value="Close">Cancel</a>
                </div>
            </form>
        }
    </div>
    <!-- Modal Trigger -->
    <button data-target="ModalCourierTracking" id="btnModalCourierTrackingPopUp" style="display:none;" class="btn modal-trigger">Modal</button>
</div>


<script type="text/javascript">

    function WindowLoadComplete() {

        $(document).ready(function () {

            $('.modal').modal();

            $("#btnCODToConfirm").click(function () {
                $("#UploadedCODToConfirmFile").val('');
                var selectedValue = '';
                $("#ddlOrderStatusProcessType").val(selectedValue);
                $("#btnModalCODToConfirmPopUp").click();
            });

            $("#BtnSubmitCODToConfirm").click(function () {

                var fileUpload = $("#UploadedCODToConfirmFile").get(0);
                var files = fileUpload.files;
                var OrderStatusProcessType = $("#ddlOrderStatusProcessType").val();
                var OrderType = $("#ddlOrderType").val();

                var ErrorMsg = '';

                if (OrderType.length < 1) {
                    ErrorMsg = "Please Select Order Type [Required].";
                }
                if (OrderStatusProcessType.length < 1) {
                    ErrorMsg += "Please Select Order Status Process [Required].";
                }
                if (files.length < 1) {
                    ErrorMsg += "\n Please Upload Order Excel File for COD To Confirm Order Status [Required]."
                }

                if (ErrorMsg.length > 0) {
                    swal("Error!", ErrorMsg, "error");
                    if (files.length < 1) {
                        $("#UploadedCODToConfirmFile").val('');
                    }
                    return;
                }

                //validation
                var ext = files[0].name.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['xlsx', 'xls']) == -1) {
                    swal("Error!", "Invalid File Uploaded. Please Upload Order Excel File for COD To Confirm Order Status [Required].", "error");
                    $("#UploadedCODToConfirmFile").val('');
                    return;
                }

                swal({
                    title: "Are you sure want to update (" + $("#ddlOrderStatusProcessType option:selected").text()+") order status?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                    function () {

                        // Create FormData object
                        var fileData = new FormData();
                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        fileData.append('OrderStatusProcessType', OrderStatusProcessType);
                        fileData.append('OrderType', OrderType);

                        $.ajax({
                            url: "/Admin/Orders/CODToConfirmProcess",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (data) {
                                if (data.Key) {
                                    swal("Success!", data.Msg, "success");
                                    $('.modal').modal('close');
                                    var selectedValue = '';
                                    $("#UploadedCODToConfirmFile").val('');
                                    $("#ddlOrderStatusProcessType").val(selectedValue);
                                    $("#ddlOrderType").val(selectedValue);
                                    GetDateRangeOrderDetails();
                                }
                                else {
                                    if ((data.IsInfo)) {
                                        swal("Information!", data.Msg, "info");
                                    }
                                    else {
                                        swal("Error!", data.Msg, "error");
                                    }
                                }
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    });
            });

            $("#BtnCancelCODToConfirm").click(function () {
                var selectedValue = '';
                $("#UploadedCODToConfirmFile").val('');
                $("#ddlOrderStatusProcessType").val(selectedValue);
                $("#ddlOrderType").val(selectedValue);
                $('.modal').modal('close');
            });

            $("#btnUploadExcelForPayout").click(function () {
                $("#UploadedCourierTrackingFile").val('');
                $("#btnModalCourierTrackingPopUp").click();
            });

            $("#BtnUploadPayoutExcel").click(function () {

                var fileUpload = $("#UploadedCourierTrackingFile").get(0);
                var files = fileUpload.files;

                //validation
                if (files.length < 1) {

                    swal("Error!", "Please Upload Order Excel File for update courier tracking detail [Required].", "error");
                    $("#UploadedCourierTrackingFile").val('');
                    return;
                }
                //validation
                var ext = files[0].name.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['xlsx', 'xls']) == -1) {
                    swal("Error!", "Invalid File Uploaded. Please Upload Order Excel File for update courier tracking detail [Required].", "error");
                    $("#UploadedCourierTrackingFile").val('');
                    return;
                }

                swal({
                    title: "Are you sure want to update courier tracking number for orders?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                    function () {

                        // Create FormData object
                        var fileData = new FormData();
                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        $.ajax({
                            url: "/Admin/Orders/UploadCourierTracking",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (data) {
                                if (data.Key) {
                                    swal("Success!", data.Msg, "success");
                                    $('.modal').modal('close');
                                    GetDateRangeOrderDetails();
                                }
                                else {
                                    if ((data.IsInfo)) {
                                        swal("Information!", data.Msg, "info");
                                    }
                                    else {
                                        swal("Error!", data.Msg, "error");
                                    }
                                }
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    });
            });

            $("#BtnCancelUploadPayoutExcel").click(function () {
                $('.modal').modal('close');
            });

            $("#txtStartDate").datepicker({
                dateFormat: "dd/mm/yy",
                maxDate: new Date(),
                onSelect: function (selected) {
                    $("#txtEndDate").datepicker("option", "minDate", selected)
                }
            });

            $("#txtEndDate").datepicker({
                dateFormat: "dd/mm/yy",
                maxDate: new Date(),
                onSelect: function (selected) {
                    $("#txtStartDate").datepicker("option", "maxDate", selected)
                }
            });
            GetStatusName();
            GetDateRangeOrderDetails();
        });

        function GetStatusName(){
            var str="";
            str=str+"<option value=\"0\">ALL</option>";
            str=str+"<option value=\""+@clsImplementationEnum.OrderStatus.OrderGenerate.GetHashCode()+"\">@clsImplementationEnum.OrderStatus.OrderGenerate.ToString()</option>";
            str=str+"<option value=\""+@clsImplementationEnum.OrderStatus.OrderConfirm.GetHashCode()+"\">@clsImplementationEnum.OrderStatus.OrderConfirm.ToString()</option>";
            str=str+"<option value=\""+@clsImplementationEnum.OrderStatus.OrderCompleted.GetHashCode()+"\">@clsImplementationEnum.OrderStatus.OrderCompleted.ToString()</option>";
            $("#StatusName").html(str);
            $('#StatusName').material_select();
        }

        $("#btnDownloadOrders").click(function(){
            $.ajax({
                type: "POST",
                url: '/Admin/Orders/DownloadOrdersExcel',
                data: { OrderStatusId: $('#StatusName').val(), StartDate: $('#txtStartDate').val(), EndDate: $('#txtEndDate').val(), OrderType: $('#OrderType').val() },
                success: function (data) {
                    if (data != null) {
                        if (data.filename != undefined && data.filename != null && data.filename != "") {
                            window.location = '/Admin/Payout/Download?file=' + data.filename;
                        }
                    }
                }
            });
        });
    }

    var selectedOrdersFromGrid = [];
    var currentPageIndex = 1;
    Array.prototype.remove = function (v) { this.splice(this.indexOf(v) == -1 ? this.length : this.indexOf(v), 1); }

    function GetDateRangeOrderDetails() {
        if (selectedOrdersFromGrid != undefined && selectedOrdersFromGrid.length > 0) {
            selectedOrdersFromGrid = [];
        }
        $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Orders/GetDateRangeOrderDetails",
            datatype: 'html',
            data: { OrderStatusId: $('#StatusName').val(), StartDate: $('#txtStartDate').val(), EndDate: $('#txtEndDate').val(),OrderType: $('#OrderType').val()},
            success: function (result) {
                $("#dvDateRangeOrder").html(result);

                if (currentPageIndex > 1) {
                    $("#dvOrderList").jsGrid("openPage", currentPageIndex);
                    currentPageIndex = 1;
                }

            },
            error: function () {
            }
        });
    }
    function DownloadOrderExcel() {
        var OrderStatusId = $('#StatusName').val();
        var StartDate = $('#txtStartDate').val();
        var EndDate = $('#txtEndDate').val();
        var OrderType = $('#OrderType').val();
        var url = '/Admin/Orders/ExportToExcel?OrderStatusId=' + OrderStatusId + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&OrderType=' + OrderType;
        window.location = url;
    }
    function OrderBillPrint() {
        //var data = $("#dvOrderList").jsGrid("option", "data");
        //var Ids = '';
        //if (data != null && data.length > 0) {
        //    for (var i = 0; i < data.length; i++)
        //    {
        //        Ids += data[i].UserPurchaseHdrId + ',';
        //    }
        //}

        if (selectedOrdersFromGrid != undefined && selectedOrdersFromGrid.length > 0) {
            var newURL = window.location.href.replace("Admin/Orders", 'Utility/General/OrderReceipt?Id=' + selectedOrdersFromGrid.join(','));
            window.open(newURL, '_blank').focus();
        }
        else {
            swal("Opps!", "Please select atleast one record.", "error");
        }
    }
</script>
