﻿@using TRSImplementation
@using TRS.Models
@model IEnumerable<PROC_GET_PRODUCT_LIST_Result>

@{
    var listCategory = Model.OrderBy(i => i.ProductCategoryId).Select(i => new { i.CategoryName, i.ProductCategoryId }).Distinct().Select(i => new SelectListItem { Text = i.CategoryName, Value = i.ProductCategoryId.ToString() }).ToList();
    var listProducts = Model.OrderBy(i => i.ProductName).Select(i => new { i.ProductName, i.ProductId }).Distinct().Select(i => new SelectListItem { Text = i.ProductName, Value = i.ProductId.ToString() }).ToList();
    ViewBag.Title = "Shop Now Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProductVariant = (List<ProductVariantListEnt>)ViewBag.ProductVariants;
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    bool IsRegistered = ViewBag.IsRegistrationActivated;
    var listStateName = (List<AutoCompleteEnt>)ViewBag.StateTbl;
}
<style>
    .variant .select-dropdown {
        position: relative !important;
    }

    .variant input.select-dropdown {
        margin: 0 0 0px 0 !important;
    }

    .carousel {
        height: 280px;
    }

        .carousel.carousel-slider .carousel-item {
            min-height: 280px;
        }

        .carousel .indicators .indicator-item {
            margin: 4px 4px;
        }

    .line-breaks {
        white-space: pre-line;
    }

    img.lazy {
        /* optional way, set loading as background */
        background-image: url('../../../../Content/images/misch/loading.gif');
        background-repeat: no-repeat;
        background-position: 50% 30%;
    }

    .resetposition {
        /*position:initial !important;*/
        left: 0 !important;
    }
</style>
<div class="container">
    <div class="section">
        <!-- statr items list -->
        <div class="row">
            <ul id="task-card" class="collection with-header">
                <li id="liplanname" class="collection-header gradient-45deg-light-blue-cyan">
                    <p class="task-card-title center"><span id="spnPlanName">@ViewBag.ShopNowAdvertise</span></p>
                </li>
                <li class="collection-item bold" style="font-weight:bold;font-size:20px;">
                    <div class="col s12 col-xs-12 m6 l6">
                        Total Amount : <span id="spnTotalAmount" style="cursor:pointer;text-decoration:underline;color:blue;">0</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span id="spnPoints" class="hide" style="cursor:pointer;">0</span>
                    </div>
                    <div class="col s12 col-xs-12 m6 l6">
                        @if (ViewBag.AllowCODAsFirstOrder)//|| ViewBag.IsRegistrationActivated)
                        {
                            <a id="btnCODPayment" class="secondary-content" style="cursor:pointer;margin-left:10px;"><i class="material-icons">shopping_cart</i>COD Payment</a>
                        }
                        <a id="btnPayment" class="secondary-content" style="cursor:pointer;"><i class="material-icons">shopping_cart</i>Checkout</a>  &nbsp;&nbsp;&nbsp;
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <div class="input-field col s12 col-xs-12 m6 l6" style="text-align:right;">
                <select id="ddlUserAddressList"></select>
                <label style="left:0;">Delivery Address</label>
                <a class="waves-effect waves-light btn" id="btnAddNewAddress">
                    <i class="material-icons left">playlist_add</i> Add New
                </a>
            </div>
            <div class="input-field col col-xs-12 s12 m6 l6">
                @Html.DropDownList("ddlCategory", listCategory, "All Category", new { @class = "form-control" })
                <label style="left:0;">Choose your Category</label>
            </div>
            <div class="input-field col col-xs-12 s12 m6 l6">
                @Html.DropDownList("ddlProduct", listProducts, "All Products", new { @class = "form-control" })
                <label style="left:0;">Choose your Product</label>
            </div>
        </div>
        <div id="item-posts" class="row">
            <div class="item-sizer"></div>
            @foreach (var item in Model)
            {
                <div class="item product" data-cid="@item.ProductCategoryId">
                    <div class="card" data-proid="@item.ProductId">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">₹<span class="itemprice">@item.SalePrice</span></a>

                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4" style="right:0px;">Qty:<span class="itemqty">0</span></a>

                            @*<a href="#">
                                    <img src="@item.ImagePath" alt="item-img">
                                </a>*@
                            <div class="carousel carousel-slider center" data-indicators="true">
                                <div class="carousel-item light-blue white-text" href="">
                                    <img data-src="@item.ImagePath" alt="item-img" class="lazy">
                                </div>
                                @if (!string.IsNullOrEmpty(item.BackCoverImagePath) && !string.IsNullOrWhiteSpace(item.BackCoverImagePath))
                                {
                                    <div class="carousel-item amber white-text" href="">
                                        <img data-src="@item.BackCoverImagePath" alt="item-img" class="lazy">
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.ProductVideoURL) && !string.IsNullOrWhiteSpace(item.ProductVideoURL))
                                {
                                    <div class="carousel-item amber white-text" href="">
                                        <iframe src="@item.ProductVideoURL" allowfullscreen="" width="100%" height="360" frameborder="0"></iframe>
                                    </div>
                                }
                            </div>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan plusitem" id="plusitem_@item.ProductId">
                                    <i class="material-icons">exposure_plus_1</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2 minusitem">
                                    <i class="material-icons">exposure_neg_1</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                            <li style="float:left">
                                <a class="btn-floating waves-effect waves-light red" style="text-align:center;">
                                    @if (!IsRegistered)
                                    {
                                        @item.DirectPurchaseAmt
                                    }
                                    else
                                    {
                                        @item.RepurchaseMatchingAmt
                                    }
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">@item.ProductName</a>
                                    </p>
                                </div>
                                @if (listProductVariant.Any(i => i.ProductId == item.ProductId.ToString()))
                                {
                                    <div class="input-field col col-xs-12 s12 m12 l12 ">
                                        <select id="ddlVariant@(item.ProductId)" class="form-control variant"></select>
                                        <label>Choose your Flavour</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-field col col-xs-12 s12 m12 l12 ">
                                        <select id="ddlVariant@(item.ProductId)" class="form-control variant" disabled>
                                            <option value="0">No Flavour</option>
                                        </select>
                                        <label>Choose your Flavour</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> @item.ProductName
                            </span>
                            <p class="line-breaks">@item.LongDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--/ end items list -->
    </div>
</div>

<div id="mdlProductDetails" class="modal">
    <div class="modal-content">
        <h5 class="center">Products Details</h5>
        <hr />
        <div id="dvOrderDetails">
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <form class="login-form" id="loginform">
        <div class="modal-content">
            <h5>Save - Order notes and PaymentId</h5>
            <b><label for="Order Type">Order Type:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <select class="form-control" id="OrderType" name="OrderType">
                    <option selected="selected" value="">Select</option>
                    <option value="true">COD Order</option>
                    <option value="false">Prepaid Order</option>
                </select>
            </div>
            <b><label for="Order Notes">Order Notes:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtOrdernote" autocomplete="off" name="txtOrdernote" class="swal2-input" placeholder="Order Notes" maxlength="500">
            </div>
            <b><label for="Order RazorpayOrderId">Order RazorpayOrderId:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtRazorpayOrderId" name="txtRazorpayOrderId" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Order RazorpayOrderId">
            </div>
            <b><label for="Order RazorpayPaymentId">Order RazorpayPaymentId:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtRazorpayPaymentId" name="txtRazorpayPaymentId" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Order RazorpayPaymentId">
            </div>
            <b><label for="Order RazorpaySignatur">Order RazorpaySignature:</label></b>
            <div class="input-field" style="margin-top:0!important">
                <input id="txtRazorpaySignature" name="txtRazorpaySignature" autocomplete="off" class="swal2-input" maxlength="100" placeholder="Order RazorpaySignature">
            </div>
            <input type="hidden" id="OrderId" value="" />
            <input type="hidden" id="DeliveryAddress" value="" />
        </div>
        <div class="modal-footer">
            <a class="waves-effect btn" id="BtnSaveOrderNote">Save</a>
            <a class="waves-effect btn" id="BtnCancelOrderNote" value="Close">Cancel</a>
        </div>
    </form>
</div>
<!-- Modal Trigger -->
<button data-target="modal1" id="btnOrderNote" style="display:none;" class="btn modal-trigger">Modal</button>

<div id="NewAddress" class="modal modal-fixed-footer">
    <div class="modal-content">

        <div class="col s12">
            <div class="input-field col s12">
                @Html.TextBox("Address")
                <label for="Address" data-error="wrong" data-success="right">Address</label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field col s6">
                <input id="CityName" name="CityName" type="text" autocomplete="off" />
                <label for="CityName" data-error="wrong" data-success="right">City</label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field col s6">
                <select id="ddlStateName" disabled></select>
                <label id="lblStateName" for="ddlStateName" data-error="wrong" data-success="right">State</label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field col s6">
                @Html.TextBox("PinCode")
                <label for="PinCode" data-error="wrong" data-success="right">PinCode</label>
            </div>
        </div>

        <div class="col s12">
            <div class="col s12 m4 l3 margin10">
                <input type="checkbox" id="chkMakeDefaultAddress" />
                <label for="chkMakeDefaultAddress">MAKE DEFAULT ADDRESS</label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a class="waves-effect btn" id="btnAddressSave">Save</a>
        <a class="waves-effect btn" id="btnCancel" value="Close">Cancel</a>
    </div>
</div>

<div id="mdlConfirmProductDetails" class="modal">
    <div class="modal-content">
        @*<h5 class="center">Products Details</h5>
            <hr />*@
        <div id="dvConfirmOrderDetails">
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <!-- masonry -->
    <script src="/Content/vendors/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="/Content/vendors/imagesloaded.pkgd.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--page-item.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/page-item.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <script src="~/Content/js/jquery.lazy.min.js"></script>
    <script src="~/Content/js/jquery.lazy.plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script>
        var PlanId = 1;
        var listProductVariant =@Html.Raw(Json.Encode(listProductVariant));
        //function WindowLoadComplete() {

        $(document).ready(function () {

            $('.modal').modal();

            $("#loginform").validate({
                rules: {
                    txtOrdernote: {
                        required: true
                    },
                    OrderType: {
                        required: true
                    },
                },
                //For custom messages
                messages: {
                    txtOrdernote: {
                        required: "Required!"
                    },
                    OrderType: {
                        required: "Required!"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('.lazy').Lazy({
                scrollDirection: 'vertical',
                effect: 'fadeIn',
                visibleOnly: true,
                onError: function (element) {
                    console.log('error loading ' + element.attr("src"));
                },
                afterLoad: function (element) {
                    //console.log(element.attr("src"))
                },
                visibleOnly:true
            });
            $('.carousel').carousel({duration:200});
            $('.card').each(function () {
                var pid=$(this).attr("data-proid");
                var variant = $(this).find("#ddlVariant"+pid);
                var options="";
                for (var i = 0; i < listProductVariant.length; i++) {
                    if(listProductVariant[i].ProductId==pid){
                        options+="<option value=\""+listProductVariant[i].ProductVariantId+"\">"+listProductVariant[i].VariantName+"</option>"
                    }
                }
                if(options.length>0){
                    variant.html(options);
                    variant.material_select();
                }
            });

            GetCartProductList();

            $('.plusitem').click(function () {

                var curentqty = $(this).closest('.card').find(".itemqty").html();
                curentqty = parseInt(curentqty) + 1;
                $(this).closest('.card').find(".itemqty").html(curentqty);
                TotalAmounts();
            });

            $('.minusitem').click(function () {
                var curentqty = $(this).closest('.card').find(".itemqty").html();
                if (curentqty != "0") {
                    curentqty = parseInt(curentqty) - 1;
                    $(this).closest('.card').find(".itemqty").html(curentqty);
                }
                TotalAmounts();
            });

            $('#btnPayment').click(function (e) {

                if ($("#ddlUserAddressList").val() == null || $("#ddlUserAddressList").val().trim() == "0" || $('#ddlUserAddressList option:selected').text().trim() == "") {
                    swal("Information!", "Please enter full address with City or add from 'ADD NEW' button!", "error");
                    return false;
                }

                if ('@ViewBag.RedirectFrmAdmin' == "False") {

                    if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                        GetConfirmProductsList(localStorage["cart"], $("#ddlUserAddressList").val(), false);
                    }
                    else {
                        swal("Information!", "No Products Selected!", "error");
                    }
                }
                else {
                    launchBOLT(e,false);
                }
            });

            $('#btnCODPayment').click(function (e) {

                if ($("#ddlUserAddressList").val() == null || $("#ddlUserAddressList").val().trim() == "0" || $('#ddlUserAddressList option:selected').text().trim() == "") {
                    swal("Information!", "Please enter full address with City or add from 'ADD NEW' button!", "error");
                    return false;
                }

                if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                    GetConfirmProductsList(localStorage["cart"], $("#ddlUserAddressList").val(), true);
                }
                else {
                    swal("Information!", "No Products Selected!", "error");
                }

                //launchBOLT(e,true);
            });

            GetUserAddressList();

            BindCityNameAutoComplete();

            BindStateName(0);
        });

        function GetUserAddressList() {
            var listAddresses = @Html.Raw(Json.Encode(ViewBag.UserAddressList));

            var str="";
            for (var i = 0; i < listAddresses.length; i++) {
                if ('@ViewBag.UserDefaultAddressDtlId' == listAddresses[i].UserAddressDtlId) {
                    str = str + "<option value=\"" + listAddresses[i].UserAddressDtlId + "\" selected>" + listAddresses[i].UserAddressLst + "</option>";
                }
                else {
                    str = str + "<option value=\"" + listAddresses[i].UserAddressDtlId + "\">" + listAddresses[i].UserAddressLst + "</option>";
                }
            }

            $("#ddlUserAddressList").html(str);
            $('#ddlUserAddressList').material_select();
        }

        function BindCityNameAutoComplete() {
            var Cities =@Html.Raw(Json.Encode(ViewBag.Cities));

            var autoCompleteData;
            var str = "";
            for (var i = 0; i < Cities.length; i++) {
                str += Cities[i].val + ":" + Cities[i].key + ",";
            }
            autoCompleteData = eval('({' + str + '})');
            $('#CityName').autocomplete({
                data: autoCompleteData,
                limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });
        }

        function BindStateName(StateId) {
            var listStates = @Html.Raw(Json.Encode(listStateName));

            var str="";
            for (var i = 0; i < listStates.length; i++) {
                if (StateId == listStates[i].key) {
                    str = str + "<option value=\"" + listStates[i].key + "\" selected>" + listStates[i].val + "</option>";
                }
                else {
                    str = str + "<option value=\"" + listStates[i].key + "\">" + listStates[i].val + "</option>";
                }
            }

            $("#ddlStateName").html(str);
            $('#ddlStateName').material_select();
        }

        function GetOrderHashValue() {
            $.ajax({
                url: "/Member/Purchase/GetOrderHashValue",
                type: 'POST',
                data: {
                    productinfo: GetProducts()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                    }
                    else {
                        //alert(data.Msg);
                        swal("Information!",data.Msg, "error");
                    }
                }
            });
        }

        function launchBOLT(e, IsCOD) {

            if(IsCOD){
                swal({title:"Are you sure want order by COD?",
                    text: "You have to pay additional 200rs. per COD!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {

               $.ajax({
                   url: "/Member/Purchase/GetPaymentDtl",
                   type: 'POST',
                   data: {
                       id: '@ViewBag.Id',
                       productinfo: GetProducts(),
                       pid: PlanId,
                       IsCOD: IsCOD,
                       deliveryAddress: $("#ddlUserAddressList option:selected").text()
                   },
                   cache: false,
                   success: function (data) {
                       if (data.Key) {
                           if(data.codamt>0){
                               var options = {
                                   "key": data.MerchantKey,
                                   "name": "Razorpay",
                                   "description": "Maxener Wellness",
                                   "image": "/Content/images/favicon/logo-144x144.png",
                                   "order_id": data.TxnId,
                                   "handler": function (response) {
                                       $.ajax({
                                           url: "/Member/Purchase/PaymentSuccess",
                                           type: 'POST',
                                           data: {
                                               order_id: response.razorpay_order_id,
                                               payment_id: response.razorpay_payment_id,
                                               signature: response.razorpay_signature,
                                               IsCOD:IsCOD,
                                               wid: data.WalletDebitDtlId,
                                               DeliveryAddress:$("#txtDeliveryAddress").val(),
                                               pinformation: data.ProductInfo,
                                               codamt: data.codamt,
                                               UserAddressDtlId: $("#ddlUserAddressList").val()
                                           },
                                           cache: false,
                                           success: function (data) {
                                               if (data.Key) {
                                                   localStorage.removeItem("cart");
                                                   window.location.href = "/Member/Dashboard";
                                               }
                                               else {
                                                   //alert("Something went wrong. Please try again after sometime!")
                                                   swal("Information!","Something went wrong. Please try again after sometime!", "error");
                                               }
                                           }
                                       });
                                   },
                                   "prefill": {
                                       "name": data.FirstName,
                                       "email": data.EmailId,
                                       "contact": data.MobileNo
                                   },
                                   "notes": {
                                       "pinfo": data.ProductInfo
                                   },
                                   "theme": {
                                       "color": "#F37254"
                                   }
                               };
                               var rzp1 = new Razorpay(options);
                               rzp1.open();
                               e.preventDefault();
                           }
                           else {

                               $.ajax({
                                   url: "/Member/Purchase/PaymentSuccess",
                                   type: 'POST',
                                   data: {
                                       pinformation: data.ProductInfo,
                                       tid: data.TxnId,
                                       IsCOD:IsCOD,
                                       wid: data.WalletDebitDtlId,
                                       DeliveryAddress: $("#ddlUserAddressList option:selected").text(),
                                       codamt: data.codamt,
                                       UserAddressDtlId: $("#ddlUserAddressList").val()
                                   },
                                   cache: false,
                                   success: function (data) {
                                       if (data.Key) {
                                           localStorage.removeItem("cart");
                                           window.location.href = "/Member/Dashboard";
                                       }
                                       else {
                                           //alert("Something went wrong. Please try again after sometime!")
                                           swal("Information!","Something went wrong. Please try again after sometime!", "error");
                                       }
                                   }
                               });
                           }
                       }
                       else {
                           //alert(data.Msg);
                           swal("Information!", data.Msg, "error");
                       }
                   }
               });
           });
            }
            else {
                $.ajax({
                    url: "/Member/Purchase/GetPaymentDtl",
                    type: 'POST',
                    data: {
                        id: '@ViewBag.Id',
                        productinfo: GetProducts(),
                        pid: PlanId,
                        IsCOD: IsCOD,
                        deliveryAddress: $("#ddlUserAddressList option:selected").text()
                    },
                    cache: false,
                    success: function (data) {
                        if (data.Key) {
                            if (data.RedirectFrmAdmin) {
                                $('#OrderId').val(data.TxnId);
                                $('#DeliveryAddress').val($("#ddlUserAddressList option:selected").text());
                                $('#btnOrderNote').click();
                            }
                            else {

                                    var options = {
                                    "key": data.MerchantKey,
                                    "name": "Razorpay",
                                    "description": "Maxener Wellness",
                                    "image": "/Content/images/favicon/logo-144x144.png",
                                    "order_id": data.TxnId,
                                        "handler": function (response) {

                                        $.ajax({
                                            url: "/Member/Purchase/PaymentSuccess",
                                            type: 'POST',
                                            data: {
                                                order_id: response.razorpay_order_id,
                                                payment_id: response.razorpay_payment_id,
                                                signature: response.razorpay_signature,
                                                IsCOD:IsCOD,
                                                DeliveryAddress: $("#ddlUserAddressList option:selected").text(),
                                                UserAddressDtlId: $("#ddlUserAddressList").val()
                                            },
                                            cache: false,
                                            success: function (data) {
                                                if (data.Key) {
                                                    localStorage.removeItem("cart");
                                                    window.location.href = "/Member/Dashboard";
                                                }
                                                else {
                                                    //alert("Something went wrong. Please try again after sometime!")
                                                    swal("Information!","Something went wrong. Please try again after sometime!", "error");
                                                }
                                            }
                                        });
                                    },
                                    "prefill": {
                                        "name": data.FirstName,
                                        "email": data.EmailId,
                                        "contact": data.MobileNo
                                    },
                                    "notes": {
                                        "pinfo": data.ProductInfo
                                    },
                                    "theme": {
                                        "color": "#F37254"
                                    }
                                };
                                var rzp1 = new Razorpay(options);
                                rzp1.open();
                                e.preventDefault();

                            }
                        }
                        else {
                            //alert(data.Msg);
                            swal("Information!", data.Msg, "error");
                        }
                    }
                });
            }
        }

        $("#BtnCancelOrderNote").click(function () {
            $("#txtOrdernote").val('');
            $("#txtRazorpayOrderId").val('');
            $("#txtRazorpayPaymentId").val('');
            $("#txtRazorpaySignature").val('');
            $("#OrderType").val('');
            $('.modal').modal('close');
        });

        $('#BtnSaveOrderNote').click(function () {

            if (!$("#loginform").valid()) {
                return false;
            }

            var IsCODOrder = $('#OrderType').val();
            
            if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                GetConfirmProductsList(localStorage["cart"], $("#ddlUserAddressList").val(), IsCODOrder);
            }
            else {
                swal("Information!", "No Products Selected!", "error");
            }

        });

        function SaveFromAdminOrder() {
            $("#txtOrdernote").val($.trim($("#txtOrdernote").val()));
            $("#txtRazorpayOrderId").val($.trim($("#txtRazorpayOrderId").val()));
            $("#txtRazorpayPaymentId").val($.trim($("#txtRazorpayPaymentId").val()));
            $("#txtRazorpaySignature").val($.trim($("#txtRazorpaySignature").val()));

            var OrderId = $('#OrderId').val();
            var RazorpayOrderId = $('#txtRazorpayOrderId').val();
            var RazorpayPaymentId = $('#txtRazorpayPaymentId').val();
            var RazorpaySignature = $('#txtRazorpaySignature').val();
            var OrderNotes = $('#txtOrdernote').val();
            var DeliveryAddress = $('#ddlUserAddressList option:selected').text();
            var UserAddressDtlId = $("#ddlUserAddressList").val();
            var IsCODOrder = $('#OrderType').val();

            $("#BtnSaveOrderNote").attr("disabled", true);

            $.ajax({
                url: "/Member/Purchase/PaymentSuccess",
                type: 'POST',
                data: {
                    order_id: OrderId,
                    payment_id: '',
                    signature: '',
                    IsCOD: IsCODOrder,
                    DeliveryAddress: DeliveryAddress,
                    OrderNote: OrderNotes,
                    RazorpayOrderId: RazorpayOrderId,
                    RazorpayPaymentId: RazorpayPaymentId,
                    RazorpaySignature: RazorpaySignature,
                    UserAddressDtlId: UserAddressDtlId
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        $('.modal').modal('close');
                        localStorage.removeItem("cart");
                        window.location.href = "/Member/Dashboard";
                    }
                    else {
                        $('#btnSubmit').attr("disabled", false);
                        //alert("Something went wrong. Please try again after sometime!")
                        swal("Information!", "Something went wrong. Please try again after sometime!", "error");
                    }
                }
            });
        }

        function GetProducts() {
            var selectedProducts = []
            $('.card').each(function () {
                var pid = $(this).attr("data-proid");
                var qty = $(this).find(".itemqty").html();
                var price = $(this).find(".itemprice").html();
                var variant = $(this).find("#ddlVariant"+pid);
                if(variant!=undefined && variant!=null){
                    vid=variant.val();
                }
                if (parseInt(qty) > 0) {
                    selectedProducts.push({ ProductId: pid, Qty: parseInt(qty), Price: parseFloat(price),ProductVariantId: vid });
                }
            });
            return selectedProducts;
        }

        function GetCartProductList() {
            if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                $.ajax({
                    url: "/Member/Purchase/GetCartProductList",
                    type: 'POST',
                    data: {
                        cart: localStorage["cart"]
                    },
                    cache: false,
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $card = $("[data-proid=" + data[i]["ProductId"] + "]");
                            $card.find(".itemqty").html(data[i]["Qty"]);
                            let $variant = $card.find("#ddlVariant"+data[i]["ProductId"]);
                            if($variant!=null && $variant!=undefined){
                                $variant.val(data[i]["ProductVariantId"])
                                $variant.material_select();
                            }
                        }
                        TotalAmounts();
                        $("#spnTotalAmount").click();
                    }
                });
            }
        }

        function TotalAmounts() {
            var Total = 0
            $('.card').each(function () {
                var qty = $(this).find(".itemqty").html();
                var price = $(this).find(".itemprice").html();
                if (parseInt(qty) > 0) {
                    Total += parseInt(qty) * parseInt(price);
                }
            });

            $("#spnTotalAmount").html(Total);

            $.ajax({
                url: "/Member/Purchase/AddProductToCart",
                type: 'POST',
                data: {
                    productinfo: GetProducts()
                },
                success: function (data) {
                    if (data.Key) {
                        if (data.Msg != "") {
                            localStorage.setItem('cart', data.Msg);
                        }
                        else {
                            localStorage.removeItem("cart");
                        }
                        $("#productcnt").html(data.Id)
                        //debugger;
                        //if(!data.IsRegistrationActivated){
                        $("#spnPoints").html("BV : "+data.RegistrationPoints);
                        $("#spnPoints").removeClass("hide");
                        //}
                    }
                    else {
                        //alert(data.Msg);
                        swal("Information!", data.Msg, "error");
                    }
                }
            });
        }

        $("#ddlCategory").change(function () {
            $('.product').removeClass("hide");
            $('.product').removeClass("resetposition");
            var Category = $(this).val();
            if (Category != "") {
                $('.product').not("[data-cid=" + Category + "]").addClass("hide");
            }

            $('.card').removeClass("hide");
            var ProductId = $("#ddlProduct").val();
            if (ProductId != "" && ProductId != "0") {
                $('.product').not($($("[data-proid=" + ProductId + "]")).parent()).addClass("hide");
                $($("[data-proid=" + ProductId + "]")).parent().addClass("resetposition");
            }

            ReInitializePageItem();
        })

        $("#ddlProduct").change(function () {

            $('.product').removeClass("hide");
            $('.product').removeClass("resetposition");
            var Category = $("#ddlCategory").val();
            if (Category != "" && Category != "0") {
                $('.product').not("[data-cid=" + Category + "]").addClass("hide");
            }

            $('.card').removeClass("hide");
            var ProductId = $(this).val();
            if (ProductId != "" && ProductId != "0") {
                $('.card').not("[data-proid=" + ProductId + "]").addClass("hide");

                var ProdCategory = $($("[data-proid=" + ProductId + "]")).parents().attr("data-cid");
                if (ProdCategory != "" && ProdCategory != "0") {
                    $('.product').not($($("[data-proid=" + ProductId + "]")).parent()).addClass("hide");
                    $($("[data-proid=" + ProductId + "]")).parent().addClass("resetposition");
                }
            }

            ReInitializePageItem();
        })

        function ReInitializePageItem() {
            var $containerBlog = $("#item-posts");
            $containerBlog.imagesLoaded(function () {
                $containerBlog.masonry({
                    itemSelector: ".item",
                    columnWidth: ".item-sizer",
                });
            });
        }
        $("#spnTotalAmount").click(function () {
            if (localStorage["cart"] != null && localStorage["cart"] != undefined) {
                GetSelectedProductsListList(localStorage["cart"]);
            }
            else {
                swal("Information!", "No Products Selected!", "error");
            }
        });

        $("#CityName").focusout(function () {

            if ($("#CityName").val().trim() != "") {

                $.ajax({
                    url: "/Member/Purchase/IsCityNameExists",
                    type: 'POST',
                    data: {
                        CityName: $("#CityName").val()
                    },
                    cache: false,
                    success: function (data) {

                        if (!data.Key) {
                            $("#ddlStateName").attr("disabled", false);
                            BindStateName(0);
                        }
                        else {
                            var StateId = data.Id;
                            $("#ddlStateName").attr("disabled", true);
                            BindStateName(StateId);
                        }
                    }
                })
            }
            else {
                $("#ddlStateName").attr("disabled", true);;
            }

        });

        $("#btnAddNewAddress").click(function () {
            $("#NewAddress").modal('open');
        })

        $("#btnCancel").click(function () {
            $("#Address").val('');
            $("#CityName").val('');
            $("#PinCode").val('');
            $('#NewAddress').modal('close');
        });

        $("#btnAddressSave").click(function () {

            if ($("#Address").val().trim() == "") {
                swal("Information!", "Please enter Address!", "error");
                return false;
            }
            else if ($("#CityName").val().trim() == "") {
                swal("Information!", "Please enter City Name!", "error");
                return false;
            }
            else if ($("#ddlStateName").val().trim() == "" || $("#ddlStateName").val().trim() == "0") {
                swal("Information!", "Please select State Name!", "error");
                return false;
            }
            else if ($("#PinCode").val().trim() == "") {
                swal("Information!", "Please enter Pin Code!", "error");
                return false;
            }

            $("#NewAddress").modal('close');

            var IsMakeDefaultAddress;
            if ($("#chkMakeDefaultAddress").prop("checked")) {
                IsMakeDefaultAddress = true;
            }
            else {
                IsMakeDefaultAddress = false;
            }

            $.ajax({
                url: "/Member/Purchase/InsertUserAddress",
                type: 'POST',
                data: {
                    Address: $("#Address").val(),
                    CityName: $("#CityName").val(),
                    StateId: $("#ddlStateName").val(),
                    PinCode: $("#PinCode").val(),
                    MakeDefaultAddress: IsMakeDefaultAddress
                },
                cache: false,
                success: function (data) {

                    if (data.Key) {
                        swal("Success!", "Address added successfully!", "success");
                        //window.location.href = "/Member/Purchase/Index";

                        $("#Address").val('');
                        $("#CityName").val('');
                        $("#PinCode").val('');

                        RefillUserAddressList();
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                        window.location.href = "/Member/Purchase/Index";
                    }
                }
            })
        });

        function RefillUserAddressList() {
            $("#ddlUserAddressList").html("");

            $.ajax({
                url: "/Member/Purchase/RefillUserAddressList",
                type: 'POST',
                data: { },
                cache: false,
                success: function (data) {

                    var str = "";
                    for (var x = 0; x < data.UserAddressList.length; x++) {
                        if (data.UserAddressList[x].IsDefaultAddress) {
                            str = str + "<option value=\"" + data.UserAddressList[x].UserAddressDtlId + "\" selected>" + data.UserAddressList[x].UserAddressLst + "</option>";
                        }
                        else {
                            str = str + "<option value=\"" + data.UserAddressList[x].UserAddressDtlId + "\">" + data.UserAddressList[x].UserAddressLst + "</option>";
                        }
                    }

                    $("#ddlUserAddressList").html(str);
                    $('#ddlUserAddressList').material_select();
                }
            });
        }

    </script>
}