﻿@using TRSImplementation
@model IEnumerable<PackageMst>
@{
    ViewBag.Title = "Shop Now By Points Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .carousel {
        height: 280px;
    }

        .carousel.carousel-slider .carousel-item {
            min-height: 280px;
        }

        .carousel .indicators .indicator-item {
            margin: 4px 4px;
        }

    .line-breaks {
        white-space: pre-line;
    }

    img.lazy {
        /* optional way, set loading as background */
        background-image: url('../../../../Content/images/misch/loading.gif');
        background-repeat: no-repeat;
        background-position: 50% 30%;
    }
</style>
<div class="container">
    <div class="section">
        <!-- statr items list -->
        <div class="row">
            <ul id="task-card" class="collection with-header">
                <li id="liplanname" class="collection-header gradient-45deg-light-blue-cyan">
                    <h5 class="task-card-title"><span id="spnPlanName">Total Pending Points : @ViewBag.TotalPoint</span></h5>
                </li>
                <li class="collection-item bold"><div style="font-weight:bold;font-size:20px;">Purchase Points : <span id="spnTotalAmount">0</span> <a id="btnPayment" class="secondary-content" style="cursor:pointer;"><i class="material-icons">shopping_cart</i>Checkout</a></div></li>
            </ul>
        </div>
        <div id="item-posts" class="row">
            <div class="item-sizer"></div>

            @foreach (var item in Model.Where(i => i.IsActive == true))
            {
                <div class="item product">
                    <div class="card" data-proid="@item.PackageId">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4">₹<span class="itemprice">@item.PackagePrice</span></a>
                            <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light teal accent-4" style="right:0px;">Qty:<span class="itemqty">0</span></a>
                            <div class="carousel carousel-slider center" data-indicators="true">
                                <div class="carousel-item light-blue white-text" href="">
                                    <img data-src="@item.ImagePath" alt="item-img" class="lazy">
                                </div>
                                @if (!string.IsNullOrEmpty(item.BackCoverImagePath) && !string.IsNullOrWhiteSpace(item.BackCoverImagePath))
                                {
                                    <div class="carousel-item amber white-text" href="">
                                        <img data-src="@item.BackCoverImagePath" alt="item-img" class="lazy">
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(item.ProductVideoURL) && !string.IsNullOrWhiteSpace(item.ProductVideoURL))
                                {
                                    <div class="carousel-item amber white-text" href="">
                                        <iframe src="@item.ProductVideoURL" allowfullscreen="" width="100%" height="360" frameborder="0"></iframe>
                                    </div>
                                }
                            </div>
                        </div>
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light cyan plusitem">
                                    <i class="material-icons">exposure_plus_1</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2 minusitem">
                                    <i class="material-icons">exposure_neg_1</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light deep-orange accent-2">
                                    <i class="material-icons activator">info_outline</i>
                                </a>
                            </li>
                        </ul>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <p class="card-title grey-text text-darken-4">
                                        <a href="#" class="grey-text text-darken-4">@item.PackageName</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <i class="material-icons right">close</i> @item.PackageName
                            </span>
                            <p class="line-breaks">@item.LongDescription</p>

                        </div>
                    </div>
                </div>
            }
        </div>
        <!--/ end items list -->
    </div>
</div>

@section scripts
{
    <!-- masonry -->
    <script src="/Content/vendors/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="/Content/vendors/imagesloaded.pkgd.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--page-item.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/page-item.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <script src="~/Content/js/jquery.lazy.min.js"></script>
    <script src="~/Content/js/jquery.lazy.plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
    <script>
        var PlanId = 1;
        //function WindowLoadComplete() {
        $(document).ready(function () {
            $('.lazy').Lazy({
                scrollDirection: 'vertical',
                effect: 'fadeIn',
                visibleOnly: true,
                onError: function (element) {
                    console.log('error loading ' + element.attr("src"));
                },
                afterLoad: function (element) {
                    //console.log(element.attr("src"))
                },
                visibleOnly: true
            });
            $('.carousel').carousel({ duration: 200 });
            $('.plusitem').click(function () {
                var curentqty = $(this).closest('.card').find(".itemqty").html();
                curentqty = parseInt(curentqty) + 1;
                $(this).closest('.card').find(".itemqty").html(curentqty);
                TotalAmounts();
            });

            $('.minusitem').click(function () {
                var curentqty = $(this).closest('.card').find(".itemqty").html();
                if (curentqty != "0") {
                    curentqty = parseInt(curentqty) - 1;
                    $(this).closest('.card').find(".itemqty").html(curentqty);
                }
                TotalAmounts();
            });

            $('#btnPayment').click(function (e) {
                swal({
                    title: "Are you sure want to purchase using points?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false
                },
                  function () {
                      SavePointsPurchase();
                  });

            });
        });

        function SavePointsPurchase(e) {
            $.ajax({
                url: "/Member/Purchase/SavePointsPurchase",
                type: 'POST',
                data: {
                    productinfo: GetProducts()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        swal("Success!", data.Msg, "success");
                        window.setTimeout(function () {
                            window.location.href = "/Member/Dashboard";
                        }, 1500);

                    }
                    else {
                        if (data.IsInfo) {
                            swal("Information!", data.Msg, "error");
                        }
                        else {
                            swal("Error!", data.Msg, "error");
                        }
                    }
                }
            });

        }

        function GetProducts() {
            var selectedProducts = []
            $('.card').each(function () {
                var pid = $(this).attr("data-proid");
                var qty = $(this).find(".itemqty").html();
                var price = $(this).find(".itemprice").html();
                if (parseInt(qty) > 0) {
                    selectedProducts.push({ ProductId: pid, Qty: parseInt(qty), Price: parseFloat(price) });
                }
            });
            return selectedProducts;
        }

        function TotalAmounts() {
            var Total = 0
            $('.card').each(function () {
                var qty = $(this).find(".itemqty").html();
                var price = $(this).find(".itemprice").html();
                if (parseInt(qty) > 0) {
                    Total += parseInt(qty) * parseInt(price);
                }
            });
            $("#spnTotalAmount").html(Total);
        }
        //}

    </script>
}
