﻿@using TRSImplementation
@{
    ViewBag.Title = "Dashboard Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .f18 {
        font-size: 18px;
    }

    .padding-4 {
        padding: 1% !important;
    }

    .min-height-100 {
        min-height: 74px !important;
    }

    .collection .collection-item {
        line-height: 1rem !important;
    }

    .usertypes {
        height: 20px;
    }

    .card {
        margin: 0.5rem 0 0.5rem 0;
    }

    .advmodal {
        background: transparent !important;
    }

    .z-depth-4, .advmodal {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0) !important;
    }

    @@media only screen and (max-width: 992px) {
        .advmodal {
            width: 100% !important;
        }
    }
</style>

<!--start container-->
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4">
            <div id="profile-card" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/Content/images/gallary/3.png" alt="user bg" style="float:left;">
                    <div class="DivMilesMsg hide" style="position:absolute;font-weight: bold; text-align: center;">
                        <div style="color:lightgoldenrodyellow;" id="countdown"></div>
                        <div style="color:black;" id="MilesMsg">To earn 5000 miles ( 1 miles = 1 Rs) can be used on repurchase. Don't miss out.</div>
                    </div>
                </div>
                <div class="card-content">
                    <img onclick="RedirectProfile()" src="@ViewBag.ProfileImage" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2" style="padding:0.5% !important;">
                    <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right" href="/Member/UserProfile">
                        <i class="material-icons">edit</i>
                    </a>
                    <span class="card-title activator grey-text text-darken-4" style="margin-top:10px;">@objclsLogin.FullName</span>
                    <p title="UserName">
                        <i class="material-icons">perm_identity</i> @*@objclsLogin.UserName*@
                        <img src="@ViewBag.IsActiveImage" alt="" title="@((bool)ViewBag.IsActive?"Active Member":"Inactive Member")" class="usertypes">
                        @if ((int)ViewBag.UserBVStatus == clsImplementationEnum.UserBVStatus.Diamond.GetHashCode())
                        {
                            <img src="~/Content/images/misch/Diamond.png" alt="" title="Diamond Member" class="usertypes">
                        }
                        else if ((int)ViewBag.UserBVStatus == clsImplementationEnum.UserBVStatus.Gold.GetHashCode())
                        {
                            <img src="/Content/images/misch/Gold.png" alt="" title="Gold Member" class="usertypes">
                        }
                        else if ((int)ViewBag.UserBVStatus == clsImplementationEnum.UserBVStatus.Silver.GetHashCode())
                        {
                            <img src="~/Content/images/misch/Silver.png" alt="" title="Silver Member" class="usertypes">
                        }
                        else if ((int)ViewBag.UserBVStatus == clsImplementationEnum.UserBVStatus.Prime.GetHashCode())
                        {
                            <img src="~/Content/images/misch/Prime.png" alt="" title="Prime Member" class="usertypes">
                        }
                    </p>
                    <p title="Share Refferal Code">
                        <a style="cursor:pointer"><i class="material-icons">share</i> <span id="refferalcode">@objclsLogin.RefferalCode</span></a>
                    </p>
                    <p title="MobileNo">
                        <i class="material-icons">stay_primary_portrait</i> @objclsLogin.MobileNo
                    </p>
                    <p title="EmailId">
                        <i class="material-icons">email</i> @objclsLogin.EmailId
                    </p>
                    <p title="Address">
                        <i class="material-icons">people_outline</i> @ViewBag.RefferalUserName
                    </p>
                    <p title="Bank A/C No">
                        <i class="material-icons">work</i>
                        @if (string.IsNullOrEmpty(ViewBag.BankAccNo))
                        {
                            <a href="/Member/UserProfile">Update</a>
                        }
                        else
                        {
                            @ViewBag.BankAccNo
                        }
                    </p>
                    <p title="IFSC Code">
                        <i class="material-icons">content_paste</i>
                        @if (string.IsNullOrEmpty(ViewBag.IFSCCode))
                        {
                            <a href="/Member/UserProfile">Update</a>
                        }
                        else
                        {
                            @ViewBag.IFSCCode
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="col s12 m12">
                <ul id="issues-collection" class="collection z-depth-1">
                    <li class="collection-item avatar card-image gradient-45deg-light-blue-cyan waves-effect center" style="width:100%;min-height:125px;padding: 17px 20px;" onclick="RedirectUserWallet()">
                        <i class="material-icons cyan circle">card_travel</i>
                        <h5 class="collection-header m-0">This Week</h5>
                        <h4 class="collection-header m-0" style="color:white;margin-top:10px !important;"><a href="#" style="color:black;">@ViewBag.TotalEligibleIncome</a></h4>
                    </li>
                    <li class="collection-item" style="padding: 5.75px 20px;" onclick="RedirectDirectIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Direct Referal
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    <a href="#" style="color:black;"> @ViewBag.DirectAmount</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" style="padding: 5px 20px;" onclick="RedirectVoltIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Weekly Charge up Bonus
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    @(ViewBag.CompanyShareAmt * 0.5 / 100) (@(ViewBag.CompanyShareAmt))
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" style="padding: 5px 20px;" onclick="RedirectLeaderIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Leader Create Bonus
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    @ViewBag.LeaderIncome
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" style="padding: 5px 20px;" onclick="RedirectUplineSupportIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Upline Support Bonus
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    @ViewBag.UplineSupportIncome
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" style="padding: 5px 20px;" onclick="RedirectMatchingIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Matching Income
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    @ViewBag.MatchingIncome
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" style="padding: 5.75px 20px;" onclick="RedirectLeftIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Left Business Volume
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    <a href="#" style="color:black;">@ViewBag.LeftBV</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item" style="padding: 5.75px 20px;" onclick="RedirectRightIncome()">
                        <div class="row">
                            <div class="col s8 m8">
                                <p class="collections-title f18">
                                    Right Business Volume
                                </p>
                            </div>
                            <div class="col s4 m4">
                                <p class="collections-title f18">
                                    <a href="#" style="color:black;"> @ViewBag.RightBV</a>
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align" onclick="RedirectUserWallet()">
                        <h5 class="mb-0"><a href="#" style="color:white;">@ViewBag.WalletAmt Rs.</a></h5>
                        <p class="no-margin">Total Earning</p>
                    </div>
                    <div class="col s6 m6 left-align" onclick="RedirectTeamPairing()">
                        <h5 class="mb-0"><a href="/Member/Teams/Team" style="color:white;">@ViewBag.TeamPairing</a></h5>
                        <p class="no-margin">Total Team Pairing</p>
                    </div>
                </div>
            </div>
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align" onclick="RedirectDirectRefferal()">
                        <h5 class="mb-0"><a href="/Member/Teams?type=1" style="color:white;">@ViewBag.TotalDirectRefferal</a></h5>
                        <p class="no-margin">Direct Refferal</p>
                    </div>
                    <div class="col s6 m6 left-align" onclick="RedirectInActiveMember()">
                        <h5 class="mb-0"><a href="/Member/Teams?type=0" style="color:white;">@ViewBag.InActiveMember</a></h5>
                        <p class="no-margin">Inactive Members</p>
                    </div>
                </div>
            </div>
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align" onclick="RedirectDirectRefferal()">
                        <h5 class="mb-0"><a href="/Member/Teams?type=1" style="color:white;">@ViewBag.VoltStart</a></h5>
                        <p class="no-margin">Volt Start</p>
                    </div>
                    <div class="col s6 m6 left-align" onclick="RedirectInActiveMember()">
                        <h5 class="mb-0"><a href="/Member/Teams?type=0" style="color:white;">@ViewBag.VoltEnd</a></h5>
                        <p class="no-margin">Volt End</p>
                    </div>
                </div>
            </div>
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align" onclick="RedirectLeftTeamMember()">
                        <h5 class="mb-0"><a href="/Member/Teams?position=l" style="color:white;">@ViewBag.LeftUserCnt</a></h5>
                        <p class="no-margin">LEFT Active</p>
                    </div>
                    <div class="col s5 m5 left-align" onclick="RedirectRightTeamMember()">
                        <h5 class="mb-0"><a href="/Member/Teams?position=r" style="color:white;">@ViewBag.RightUserCnt</a></h5>
                        <p class="no-margin">RIGHT Active</p>
                    </div>
                </div>
            </div>
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align" onclick="RedirectLeftTeamMember()">
                        <h5 class="mb-0"><a href="/Member/Teams?position=l" style="color:white;">@ViewBag.InActiveLeftUserCnt</a></h5>
                        <p class="no-margin">LEFT InActive</p>
                    </div>
                    <div class="col s5 m5 left-align" onclick="RedirectRightTeamMember()">
                        <h5 class="mb-0"><a href="/Member/Teams?position=r" style="color:white;">@ViewBag.InActiveRightUserCnt</a></h5>
                        <p class="no-margin">RIGHT InActive</p>
                    </div>
                </div>
            </div>
            @*<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                    <div class="padding-4" onclick="RedirectInActiveMember()">
                        <div class="col s12 m12 left-align">
                            <h5 class="mb-0"><a href="/Member/Teams?type=0" style="color:white;">@ViewBag.InActiveMember</a></h5>
                            <p class="no-margin">Inactive Members</p>
                        </div>
                    </div>
                </div>*@
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align" onclick="RedirectBonanzaOffer()">
                        <h5 class="mb-0"><a href="/Member/Reports/BonanzaDtl" style="color:white;">@ViewBag.BonanzaMemberLeftCnt</a></h5>
                        <p class="no-margin">Current Month Left BV</p>
                    </div>
                    <div class="col s6 m6 left-align" onclick="RedirectBonanzaOffer()">
                        <h5 class="mb-0"><a href="/Member/Reports/BonanzaDtl" style="color:white;">@ViewBag.BonanzaMemberRightCnt</a></h5>
                        <p class="no-margin">Current Month Right BV</p>
                    </div>
                </div>
            </div>
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align">
                        <h5 class="mb-0"><a href="/Member/Reports/MatchingIncome" style="color:white;">@ViewBag.TotalLeftBV</a></h5>
                        <p class="no-margin">Total Left BV </p>
                    </div>
                    <div class="col s6 m6 left-align">
                        <h5 class="mb-0"><a href="/Member/Reports/MatchingIncome" style="color:white;">@ViewBag.TotalRightBV</a></h5>
                        <p class="no-margin">Total Right BV</p>
                    </div>
                </div>
            </div>
            @*<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align">
                        <h5 class="mb-0"><a style="color:white;">0</a></h5>
                        <p class="no-margin">Company Turnover</p>
                    </div>
                    <div class="col s6 m6 left-align">
                        <h5 class="mb-0"><a style="color:white;">0</a></h5>
                        <p class="no-margin">Rewards</p>
                    </div>
                </div>
            </div>*@
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s6 m6 left-align">
                        <h5 class="mb-0"><a style="color:white;">@ViewBag.TotalMilesAmt</a></h5>
                        <p class="no-margin">Total Miles Earn</p>
                    </div>
                    <div class="col s6 m6 left-align">
                        <h5 class="mb-0"><a style="color:white;">@ViewBag.CurrentMilesAmt</a></h5>
                        <p class="no-margin">Current Miles</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <div class="col s12 m6 l4">
            <div class="input-field col col-xs-12 s4 m4">
                <h4 class="header">Product</h4>
            </div>
            <div class="input-field col col-xs-12 s6 m6" style="margin-top:28px;">
                <select id="FinancialYear"></select>
                <label for="FinancialYear" class="center-align">FY</label>
            </div>
            <div class="sample-chart-wrapper" id="graph-container">
                <canvas id="pie-chart-sample"></canvas>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div id="chartjs" class="section">
                <h4 class="header">Team Joining Report</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="sample-chart-wrapper">
                            <canvas id="line-chart-sample" height="160"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <!--Bar Chart-->
            <div id="chartjs-bar-chart" class="section">
                <h4 class="header">INCOME REPORT</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="sample-chart-wrapper">
                            <canvas id="bar-chart-sample" height="160"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="mdlSocialShare" class="modal">
        <div class="modal-content">
            <h5 class="center">Share Referral Code</h5>
            <hr />
            <div id="dvSocialShare">
            </div>
        </div>
    </div>
    @if (Convert.ToBoolean(ViewBag.IsRegistrationActivate) && Convert.ToString(ViewBag.AdvertisementVideoURL) != string.Empty)
    {
        <div id="mdlAdvertisementVideo" class="modal advmodal" style="background: transparent;">
            <div class="modal-content">
                <div id="dvAdvertisementVideo" style="text-align:center;">
                    <iframe src="@ViewBag.AdvertisementVideoURL" allowfullscreen="" width="100%" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    }
</div>
@section scripts
{
    <!--Page Specific Js: chartjs -->
    <script type="text/javascript" src="/Content/vendors/chartjs/chart.min.js"></script>
    <!-- jquery-validation -->
    <script type="text/javascript" src="/Content/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/vendors/jquery-validation/additional-methods.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>
    <!--form-validation.js - Page Specific JS codes-->
    <script type="text/javascript" src="/Content/js/scripts/form-validation.js"></script>
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>

    <script>
        var days; var hours; var minutes; var seconds; var end;

        function stop() {
            clearInterval(timer);
        }

        function start() {
            timer = setInterval(showRemaining, 1000);
        }

        if ('@ViewBag.IsFastActMilesEarned' == 1) {
            end = new Date('01/Jan/2021 23:59');
        }
        else {
            end = new Date('@ViewBag.MilesEarnCD');
            //end = new Date('27/Apr/2021 23:59');
        }

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            //alert(now);
            //alert(end);
            var distance = end - now;
            //alert(distance);

            if (distance < 0) {

                clearInterval(timer);
                //document.getElementById('countdown').innerHTML = 'EXPIRED!';
                $(".DivMilesMsg").addClass("hide");

                return;
            }
            else {
                $(".DivMilesMsg").removeClass("hide");
            }


            days = Math.floor(distance / _day);
            hours = Math.floor((distance % _day) / _hour);
            minutes = Math.floor((distance % _hour) / _minute);
            seconds = Math.floor((distance % _minute) / _second);

            document.getElementById('countdown').innerHTML = days + ' Days : ';
            document.getElementById('countdown').innerHTML += hours + ' Hrs : ';
            document.getElementById('countdown').innerHTML += minutes + ' Mins ';
            //document.getElementById('countdown').innerHTML += seconds + 'secs';
        }

        var JoinMonths = @Html.Raw(Json.Encode(ViewBag.JoinMonths));
        var InActiveRegistrationCntMonthsValue = @Html.Raw(Json.Encode(ViewBag.InActiveRegistrationCntMonthsValue));
        var ActiveRegistrationCntMonthsValue = @Html.Raw(Json.Encode(ViewBag.ActiveRegistrationCntMonthsValue));

        var RepurchaseMonths = @Html.Raw(Json.Encode(ViewBag.RepurchaseMonths));
        var RepurchaseMonthsValue = @Html.Raw(Json.Encode(ViewBag.RepurchaseMonthsValue));
        var MatchingIncomeMonthsValue = @Html.Raw(Json.Encode(ViewBag.MatchingIncomeMonthsValue));

        var TeamJoiningGraphData = {
            labels: JoinMonths,
            datasets: [{
                label: "My Second dataset",
                fillColor: "#ff00001a",
                strokeColor: "red",
                pointColor: "red",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "red",
                data: InActiveRegistrationCntMonthsValue
            },
            {
                label: "My First dataset",
                fillColor: "rgba(0, 191, 165,0.2)",
                strokeColor: "rgba(0, 191, 165,1)",
                pointColor: "rgba(0, 191, 165,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(0, 191, 165,1)",
                data: ActiveRegistrationCntMonthsValue
            }]
        };

        //Sampel Bar Chart
        var BarChartSampleData = {
            labels: RepurchaseMonths,
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(0, 191, 165,0.5)",
                    strokeColor: "rgba(0, 191, 165,0.8)",
                    highlightFill: "rgba(0, 191, 165,0.75)",
                    highlightStroke: "rgba(0, 191, 165,1)",
                    data: RepurchaseMonthsValue
                },
                {
                    label: "My Second dataset",
                    fillColor: "#ff00001a",
                    strokeColor: "red",
                    HighlightFill: "#fff",
                    HighlightStroke: "red",
                    data: MatchingIncomeMonthsValue
                }
            ]
        };

        //Sampel Pie Doughnut Chart
        
        //function WindowLoadComplete(){

        $(document).ready(function () {
            start();

            $("#refferalcode").click(function(){
                $("#dvSocialShare").html("");
                $.ajax({
                    url: '/Member/Dashboard/GetSocialSharing',
                    dataType: 'html',
                    success: function(data) {
                        $('#dvSocialShare').html(data);
                        $("#mdlSocialShare").modal('open')
                    }
                });
                //copyReferralCodeForShare($("#refferalcode"));
            });

            window.LineChartSample = new Chart(document.getElementById("line-chart-sample").getContext("2d")).Line(TeamJoiningGraphData, {
                responsive: true
            });

            window.BarChartSample = new Chart(document.getElementById("bar-chart-sample").getContext("2d")).Bar(BarChartSampleData, {
                responsive: true
            });

            if('@ViewBag.IsRegistrationActivate'=="true" && '@ViewBag.AdvertisementValue'!="" && '@ViewBag.AdvertisementVideoURL'==""){
                swal('@ViewBag.AdvertisementHeader', '@ViewBag.AdvertisementValue', "info");
            }
            if($("#mdlAdvertisementVideo")!=null && $("#mdlAdvertisementVideo")!=undefined){
                $("#mdlAdvertisementVideo").modal('open')
            }

            GetFinancialYearList();

            $('#FinancialYear').change(function () {
                SetDashboardProductChart();
            });

        });

        //}

        function GetFinancialYearList() {
            var listYears = @Html.Raw(Json.Encode(ViewBag.listFinancialYear));

            var str="";
            for (var i = 0; i < listYears.length; i++) {

                str = str + "<option value=\"" + listYears[i] + "\">" + listYears[i] + "</option>";
            }

            $("#FinancialYear").html(str);
            $('#FinancialYear').material_select();

            SetDashboardProductChart();
        }

        function SetDashboardProductChart() {

            $.ajax({
                type: "POST",
                url: "/Member/Dashboard/GetProductPieChartList",
                datatype: 'json',
                data: { FY_Year: $('#FinancialYear').val() },
                success: function (data) {

                    $('#pie-chart-sample').remove();
                    $("#graph-container").append('<canvas id="pie-chart-sample"></canvas>');
                    
                    window.PieChartSample = new Chart(document.getElementById("pie-chart-sample").getContext("2d")).Pie(data, {
                        responsive: true
                    });

                },
                error: function () {
                    alert("error");
                }
            });
        }

        function RedirectProfile(){
            window.location.href="/Member/UserProfile";
        }
        function RedirectInActiveMember(){
            window.location.href="/Member/Teams/Index?type=0";
        }
        function RedirectTeamPairing(){
            window.location.href="/Member/Teams/Team";
        }
        function RedirectRightTeamMember(){
            window.location.href="/Member/Teams/Index?position=r";
        }
        function RedirectLeftTeamMember(){
            window.location.href="/Member/Teams/Index?position=l";
        }
        function RedirectDirectRefferal(){
            window.location.href="/Member/Teams";
        }
        function RedirectRightIncome(){
            window.location.href="/Member/Reports/RightIncome";
        }
        function RedirectLeftIncome(){
            window.location.href="/Member/Reports/LeftIncome";
        }
        function RedirectMatchingIncome(){
            window.location.href="/Member/Reports/MatchingIncome";
        }
        function RedirectBonanzaOffer(){
            window.location.href="/Member/Reports/BonanzaDtl";
        }
        function RedirectVoltIncome(){
            window.location.href="/Member/Reports/VoltIncome";
        }
        function RedirectDirectIncome(){
            window.location.href="/Member/Reports/DirectIncome";
        }

        function RedirectLeaderIncome(){
            window.location.href="/Member/Reports/LeaderIncome";
        }
        function RedirectUplineSupportIncome(){
            window.location.href="/Member/Reports/UplineSupportIncome";
        }
    </script>
}

