﻿@using TRSImplementation
@using TRS.Models
@model MemberReportEnt
@{
    ViewBag.Title = "Member Reports Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title">Earning From Team Member</h5>
                </li>
                <li>
                    <div class="col s12 no-more-tables">
                        <table class="striped" id="tblTeamIncome">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Plan</th>
                                    <th>Total Income</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.listTotalEarningByTeam)
                                    {
                                        <tr>
                                            <td data-title="Name">@item.FullName</td>
                                            <td data-title="Plan">@item.PlanName</td>
                                            <td data-title="Total Income">@item.TotalIncome</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title">Product Sales Report</h5>
                </li>
                <li>
                    <div class="col s12 no-more-tables">
                        <table class="striped" id="tblTeamProductDetails">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>OrderNo</th>
                                    <th>Product Name</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.listProductPurchaseByTeam)
                                    {
                                        <tr>
                                            <td data-title="Name">@item.OrderDate.ToString("dd-MM-yyyy")</td>
                                            <td data-title="Plan">@item.FullName</td>
                                            <td data-title="Total Income">@item.OrderNo</td>
                                            <td data-title="Total Income">@item.ProductName</td>
                                            <td data-title="Total Income">@item.PurchaseType</td>
                                            <td data-title="Total Income">@item.Amount</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
@section scripts
{    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/Content/js/plugins.js"></script>
    <!--extra-components-sweetalert.js - Some Specific JS-->
    <script type="text/javascript" src="/Content/js/scripts/extra-components-sweetalert.js"></script>    
    <!--advanced-ui-modals.js - Some Specific JS codes -->
    <script type="text/javascript" src="/Content/js/scripts/advanced-ui-modals.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/Content/js/custom-script.js?v=@Version"></script>
    <script src="/Content/js/bootbox.min.js"></script>
}