﻿<div id="dvUsers">
</div>
<script>
    var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.listUserListEnt));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listUserListEnt, function(user) {
                return (!filter.EmailId || (user.EmailId != null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1));
            });
        },
    };
    db.listUserListEnt=listUserListEnt;
    window.db = db;

    $("#dvUsers").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        //pageSize: 25,
        //pageButtonCount: 10,
        fields: [
            { name: "SrNo", type: "text", width: 50, title: "Sr No." },
            { name: "ClaimedDate", type: "text", width: 100, title: "Claimed Date", css: "refdate" },
            { name: "ResponseDate", type: "text", width: 100, title: "Response Date", css: "refdate" },
            //{ name: "IdNo", type: "text", width: 100, title: "Id No" },
            { name: "ContactDetails", type: "text", width: 125, title: "Contact Details" },
            { name: "EmailId", type: "text", width: 200, title: "Email Id" },
            { name: "ClaimedRewardBV", type: "text", width: 130, title: "Claim Reward BV" },
            { name: "ApproveRewardBudget", type: "text", width: 150, title: "Amount Reward Budget" },
            { name: "AmtUsedForRewards", type: "text", width: 150, title: "Amount Used For Rewards" },
            { name: "ReferenceNo", type: "text", width: 150, title: "Reference No" },
            { name: "ClaimApprovalNote", type: "text", width: 150, title: "Notes" },
        ],
        //data: listUserListEnt,
        controller: db
    });
</script>

