﻿@using TRSImplementation
@model PROC_GET_ADMIN_VOLUME_DETAILS_Result

<div class="row margin">
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.TotalBusinessVolume, new { @id = "TotalBusinessVolume", @readonly = "readonly" })
        <label for="TotalBusinessVolume" class="center-align">Business Volume</label>
    </div>
</div>
<div class="row margin">    
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualDirectVolume, new { @id = "ActualDirectVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualDirectVolume" class="center-align">Actual Direct Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualDirectVolumeInRs, new { @id = "ActualDirectVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualDirectVolumeInRs" class="center-align">Actual Direct Volume in Rs.</label>
    </div>
    
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualMatchingVolume, new { @id = "ActualMatchingVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualMatchingVolume" class="center-align">Actual Matching Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualMatchingVolumeInRs, new { @id = "ActualMatchingVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualMatchingVolumeInRs" class="center-align">Actual Matching Volume In Rs.</label>
    </div>
    
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualLeaderCreateVolume, new { @id = "ActualLeaderCreateVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualLeaderCreateVolume" class="center-align">Actual Leader Create Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualLeaderCreateVolumeInRs, new { @id = "ActualLeaderCreateVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualLeaderCreateVolumeInRs" class="center-align">Actual Leader Create Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualUplineSupportVolume, new { @id = "ActualUplineSupportVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualUplineSupportVolume" class="center-align">Actual Upline Support Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualUplineSupportVolumeInRs, new { @id = "ActualUplineSupportVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualUplineSupportVolumeInRs" class="center-align">Actual Upline Support Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualVoltVolume, new { @id = "ActualVoltVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualVoltVolume" class="center-align">Actual Volt Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualVoltVolumeInRs, new { @id = "ActualVoltVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualVoltVolumeInRs" class="center-align">Actual Volt Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualCompanyTurnOverVolume, new { @id = "ActualCompanyTurnOverVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualCompanyTurnOverVolume" class="center-align">Actual Company Turn Over Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualCompanyTurnOverVolumeInRs, new { @id = "ActualCompanyTurnOverVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualCompanyTurnOverVolumeInRs" class="center-align">Actual Company Turn Over Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualTopRetailerVolume, new { @id = "ActualTopRetailerVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualTopRetailerVolume" class="center-align">Actual Top Retailer Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualTopRetailerVolumeInRs, new { @id = "ActualTopRetailerVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualTopRetailerVolumeInRs" class="center-align">Actual Top Retailer Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualRewardsVolume, new { @id = "ActualRewardsVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualRewardsVolume" class="center-align">Actual Rewards Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualRewardsVolumeInRs, new { @id = "ActualRewardsVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualRewardsVolumeInRs" class="center-align">Actual Rewards Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualBonanzaVolume, new { @id = "ActualBonanzaVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualBonanzaVolume" class="center-align">Actual Bonanza Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualBonanzaVolumeInRs, new { @id = "ActualBonanzaVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualBonanzaVolumeInRs" class="center-align">Actual Bonanza Volume in Rs.</label>
    </div>

    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualExpenseVolume, new { @id = "ActualExpenseVolume", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualExpenseVolume" class="center-align">Actual Expense Volume</label>
    </div>
    <div class="input-field col s12 m3 l3">
        @Html.TextBoxFor(m => m.ActualExpenseVolumeInRs, new { @id = "ActualExpenseVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
        <label for="ActualExpenseVolumeInRs" class="center-align">Actual Expense Volume in Rs.</label>
    </div>
</div>
<script>
    $(document).ready(function () {
        Materialize.updateTextFields();
    });
</script>
