﻿@using TRS.Models
@using TRSImplementation
@model List<PROC_GET_RETAIL_REWARD_MONTHLY_REPURCHASEBV_DETAILS_Result>
<div id="dvExpense">
</div>
<script>
    var listExpenseListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listExpenseListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.OrderNo || (user.OrderNo != null && user.OrderNo.toLowerCase().indexOf(filter.OrderNo.toLowerCase()) > -1))
                    && (!filter.RepurchaseMatchingVolume || (user.RepurchaseMatchingVolume != null && user.RepurchaseMatchingVolume.toLowerCase().indexOf(filter.RepurchaseMatchingVolume.toLowerCase()) > -1));
            });
        },  
        insertItem: function(insertingClient) {
            this.clients.push(insertingClient);
        },
        updateItem: function(updatingClient) { },
    };
    db.listExpenseListEnt=listExpenseListEnt;
    window.db = db;
    $("#dvExpense").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        pageSize: 25,
        pageButtonCount: 10,
        fields: [
            {
                name: "FullName", type: "text", width: 120, title: "RefferalCode - Name",
                itemTemplate: function (value, item) {
                    var td = "";
                    td += item.RefferalCode + " - " + item.FullName
                    return td;
                }
            },
            { name: "OrderNo", type: "text", width: 50, title: "OrderNo", css: "OrderNo" },
            { name: "RepurchaseMatchingVolume", type: "text", width: 50, title: "Repurchase BV", css: "Repurchase BV" },
        ],
        controller: db
    });
</script>
