﻿<div id="dvUsers">
</div>
<script>
    var listUserListEnt = @Html.Raw(Json.Encode(ViewBag.listUserListEnt));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listUserListEnt, function(user) {
                return (!filter.EmailId || (user.EmailId != null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1))
                    && (!filter.ClaimedDate || (user.ClaimedDate != null && user.ClaimedDate.toLowerCase().indexOf(filter.ClaimedDate.toLowerCase()) > -1))
                    && (!filter.IdNo || (user.IdNo != null && user.IdNo.toLowerCase().indexOf(filter.IdNo.toLowerCase()) > -1))
                    && (!filter.ContactDetails || (user.ContactDetails != null && user.ContactDetails.toLowerCase().indexOf(filter.ContactDetails.toLowerCase()) > -1))
                    && (!filter.ClaimedRewardBV || ((user.ClaimedRewardBV != null && user.ClaimedRewardBV == filter.ClaimedRewardBV)))
                    && (!filter.MatchingBV || ((user.MatchingBV != null && user.MatchingBV == filter.MatchingBV)))
                    && (!filter.PendingRewardBV || ((user.PendingRewardBV != null && user.PendingRewardBV == filter.PendingRewardBV)));
            });
        },
    };
    db.listUserListEnt=listUserListEnt;
    window.db = db;

    $("#dvUsers").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        //pageSize: 25,
        //pageButtonCount: 10,
        fields: [
            { name: "SrNo", type: "text", width: 50, title: "Sr No." },
            { name: "ClaimedDate", type: "text", width: 75, title: "Date", css: "refdate" },
            { name: "IdNo", type: "text", width: 100, title: "Id No" },
            { name: "ContactDetails", type: "text", width: 125, title: "Contact Details" },
            { name: "EmailId", type: "text", width: 130, title: "Email Id" },
            { name: "MatchingBV", type: "text", width: 150, title: "Current Reward BV" },
            { name: "ClaimedRewardBV", type: "text", width: 130, title: "Claim Reward BV" },
            { name: "PendingRewardBV", type: "text", width: 150, title: "Pending Reward BV" },
            {
                name: "Action", width: 80, css: "action",
                type: "control",
                itemTemplate: function (value, item) {
                    var td = ""
                    td += "<a style=\"cursor:pointer\" onclick=\"RewardApprovalApproveClick(" + item.RewardClaimedMstId + ", " + item.ClaimedRewardBV + ")\" class=\"waves-effect waves-cyan\" title=\"Approve Claim\">" +
                            "<i class=\"material-icons\">done</i>" +
                            "</a>";

                    td += "<a style=\"cursor:pointer\" onclick=\"RewardApprovalDisApproveClick(" + item.RewardClaimedMstId + ")\" class=\"waves-effect waves-cyan\" title=\"Disapprove Claim\">" +
                            "<i class=\"material-icons\">clear</i>" +
                            "</a>";

                    return td;
                }
            }
        ],
        //data: listUserListEnt,
        controller: db
    });
</script>

