﻿@using TRSImplementation
<style>
    .modal {
        width: 75% !important;
    }
</style>
<div id="dvRefferalUsers">
</div>
<script>
    var listVoltIncome = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listVoltIncome, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.VoltIncomeDate ||  (user.VoltIncomeDate!=null && user.VoltIncomeDate.toLowerCase().indexOf(filter.VoltIncomeDate.toLowerCase()) > -1))
                    && (!filter.ShareAmount || ((user.ShareAmount!=null && user.ShareAmount === filter.ShareAmount)));
            });
        },
    };
    db.listVoltIncome=listVoltIncome;
    window.db = db;
    window.setTimeout(function(){
        LoadRefferalUserList()
    },500);

    function LoadRefferalUserList(){
        $("#dvRefferalUsers").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "SrNo", width:70,title: "Sr.No.",css:"refcode"},
                { name: "VoltIncomeDate", type: "text", width:170,title: "Date",css:"fullname"},
                { name: "VoltMiles", type: "text", width:70,title: "Volt miles",css:"fullname"},
                { name: "RefferalCode",  type: "number", width:100,css:"mobileno",title: "Refferal Code"},
                { name: "FullName",  type: "text", width:200,css:"emailid",title: "Name"}
            ],
            //data: listRefferalUserListEnt
            controller: db
        });
    }

</script>