﻿@using TRSImplementation
@model List<PROC_RPT_GET_LEADER_AND_DIAMOND_INCOME_DETAIL_FOR_ADMIN_Result>
<style>
    .modal {
        width: 75% !important;
    }
</style>
<div id="dvRefferalUsers">
</div>
<script>
    var listRefferalUserListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listRefferalUserListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))                    
            });
        },
    };
    db.listRefferalUserListEnt=listRefferalUserListEnt;
    window.db = db;
    window.setTimeout(function(){
        LoadRefferalUserList()
    },500);

    function LoadRefferalUserList(){
        $("#dvRefferalUsers").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "FromCreditRefferalCode", type: "text",width:70,title: "Refferal Code",css:"refcode"},
                { name: "FromCreditUserName", type: "text", width:170,title: "Full Name",css:"fullname"},
                { name: "strCreditDate", type: "text", width:70,title: "Date",css:"date"},
                { name: "CreditPoints", type: "text", width:70,title: "Income",css:"income"}
            ],
            //data: listRefferalUserListEnt
            controller: db
        });
    }

</script>