﻿<div id="dvUsers">
</div>
<script>
    var listUserListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listUserListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))                    
                    && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.BankName ||  (user.BankName!=null && user.BankName.toLowerCase().indexOf(filter.BankName.toLowerCase()) > -1))
                    && (!filter.ISFCCode ||  (user.ISFCCode!=null && user.ISFCCode.toLowerCase().indexOf(filter.ISFCCode.toLowerCase()) > -1))
                    && (!filter.UTRRefNo ||  (user.UTRRefNo!=null && user.UTRRefNo.toLowerCase().indexOf(filter.UTRRefNo.toLowerCase()) > -1))
                    && (!filter.MobileNo || ((user.MobileNo!=null && user.TDS === filter.MobileNo)))
                    && (!filter.EmailId ||  (user.EmailId!=null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1))
                    && (!filter.AdminCharge ||  (user.AdminCharge!=null && user.AdminCharge.toLowerCase().indexOf(filter.AdminCharge.toLowerCase()) > -1))
                    && (!filter.PayoutDate ||  (user.PayoutDate!=null && user.PayoutDate.toLowerCase().indexOf(filter.PayoutDate.toLowerCase()) > -1));
            });
        },
    };
    db.listUserListEnt=listUserListEnt;
    window.db = db;
    $("#dvUsers").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        //pageSize: 25,
        //pageButtonCount: 10,
        fields: [
            { name: "RefferalCode", type: "text",width:70,title: "Refferal Code",css:"refcode"},
            { name: "FullName", type: "text", width:170,title: "Full Name",css:"fullname"},
            { name: "BankName", type: "text",width:100,css:"username" },
            { name: "ISFCCode", type: "text",width:100,css:"password" },
            { name: "UTRRefNo", type: "text",width:100,css:"refferalbycode",title: "UTRNo" },
            { name: "PayoutDate",  type: "text",width:80,title: "Date",css:"refdate"},
            { name: "AdminCharge",  type: "text", width:70,css:"admincharge",title: "Admin Charge"},
            { name: "MobileNo",  type: "text", width:100,css:"mobileno",title: "MobileNo"},
            { name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"},
        ],
        //data: listUserListEnt
        controller: db
    });
</script>

