﻿@using Newtonsoft.Json;
<div id="dvUsers">
</div>
<script>
    var listUserListEnt = @Html.Raw(JsonConvert.SerializeObject(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listUserListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.BankName ||  (user.BankName!=null && user.BankName.toLowerCase().indexOf(filter.BankName.toLowerCase()) > -1))
                    && (!filter.ISFCCode ||  (user.ISFCCode!=null && user.ISFCCode.toLowerCase().indexOf(filter.ISFCCode.toLowerCase()) > -1))
                    && (!filter.UTRRefNo ||  (user.UTRRefNo!=null && user.UTRRefNo.toLowerCase().indexOf(filter.UTRRefNo.toLowerCase()) > -1))
                    && (!filter.MobileNo || ((user.MobileNo!=null && user.TDS === filter.MobileNo)))
                    && (!filter.PANNo ||  (user.PANNo!=null && user.PANNo.toLowerCase().indexOf(filter.PANNo.toLowerCase()) > -1))
                    && (!filter.TDSAmount || ((user.TDSAmount!=null && user.TDSAmount === filter.TDSAmount)))
                    && (!filter.TDSPerc || ((user.TDSPerc!=null && user.TDSPerc === filter.TDSPerc)))
                    && (!filter.DebitAmount || ((user.DebitAmount != null && user.DebitAmount === filter.DebitAmount)))
                    && (!filter.NetPayable_Year || ((user.NetPayable_Year != null && user.NetPayable_Year === filter.NetPayable_Year)))
                    && (!filter.TDSAmount_Year || ((user.TDSAmount_Year != null && user.TDSAmount_Year === filter.TDSAmount_Year)))
                    && (!filter.PayoutDate ||  (user.PayoutDate!=null && user.PayoutDate.toLowerCase().indexOf(filter.PayoutDate.toLowerCase()) > -1));
            });
        },
    };
    db.listUserListEnt=listUserListEnt;
    window.db = db;
    $("#dvUsers").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        //pageSize: 25,
        //pageButtonCount: 10,
        fields: [
            { name: "RefferalCode", type: "text",width:80,title: "Refferal Code",css:"refcode"},
            { name: "FullName", type: "text", width:170,title: "Full Name",css:"fullname"},
            { name: "BankName", type: "text",width:120,css:"username" },
            { name: "ISFCCode", type: "text",width:135,css:"password" },
            { name: "UTRRefNo", type: "text",width:150,css:"refferalbycode",title: "UTRNo" },
            { name: "PayoutDate",  type: "text",width:100,title: "Date",css:"refdate"},
            { name: "DebitAmount", type: "number", width: 70, css: "tds", title: "Basic Amount" },
            { name: "NetPayable", type: "number", width: 100, css: "tds", title: "NetPayable" },
            { name: "NetPayable_Year", type: "number", width: 150, css: "tds", title: " Total NetPayable(Fin.Year)" },
            { name: "TDSPerc",  type: "number", width:70,css:"tds",title: "TDS %"},
            { name: "TDSAmount", type: "number", width: 70, css: "tds", title: "TDS Charge" },
            { name: "TDSAmount_Year", type: "number", width: 130, css: "tds", title: "Total TDS Charge(Fin.Year)" },
            { name: "MobileNo",  type: "number", width:100,css:"mobileno",title: "MobileNo"},
            { name: "PANNo",  type: "text", width:120,css:"panno",title: "PANNo"},
        ],
        //data: listUserListEnt
        controller: db
    });
</script>

