﻿@using TRS.Models
@model List<PROC_GET_UPLINE_MONTHLY_GOLD_USERS_INCOME_Result>
<div id="dvExpense">
</div>
<script>
    var listExpenseListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listExpenseListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    //&& (!filter.Level || (user.Level != null && user.Level.toLowerCase().indexOf(filter.Level.toLowerCase()) > -1))
                    && (!filter.MMYY || (user.MMYY != null && user.MMYY.toLowerCase().indexOf(filter.MMYY.toLowerCase()) > -1))
                    && (!filter.MatchingIncome || (user.MatchingIncome != null && user.MatchingIncome.toLowerCase().indexOf(filter.MatchingIncome.toLowerCase()) > -1));
            });
        },  
        insertItem: function(insertingClient) {
            this.clients.push(insertingClient);
        },
        updateItem: function(updatingClient) { },
    };
    db.listExpenseListEnt=listExpenseListEnt;
    window.db = db;
    $("#dvExpense").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        pageSize: 25,
        pageButtonCount: 10,
        fields: [
            {
                name: "FullName", type: "text", width: 120, title: "RefferalCode - Name",
                itemTemplate: function (value, item) {
                    var td = "";
                    td += item.RefferalCode + " - " + item.FullName
                    return td;
                }
            },
            //{ name: "Level", type: "text", width: 100, title: "Level", css: "Level" },
            { name: "MMYY", type: "text", width: 50, title: "MMYY", css: "MMYY" },
            { name: "MatchingIncome", type: "text", width: 50, title: "Income received", css: "Income received" },
        ],
        controller: db
    });
</script>
