﻿@using TRSImplementation
@using TRS.Models
@model ProfitReport
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="dataRangeTitle">Profit Details</h5>
            </li>

            <div class="row margin">
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalSales, new { @id = "TotalSales", @readonly = "readonly" })
                    <label for="TotalSales" class="center-align">Sales</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalCosting, new { @id = "TotalCosting", @readonly = "readonly" })
                    <label for="TotalCosting" class="center-align">Costing</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalVolume, new { @id = "TotalVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalVolume" class="center-align">Total Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.GrossProfite, new { @id = "GrossProfite", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="GrossProfite" class="center-align">Gross Profit</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalDirectIncomePay, new { @id = "TotalDirectIncomePay", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalDirectIncomePay" class="center-align">Direct Income Paid</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalMatchingIncomePay, new { @id = "TotalMatchingIncomePay", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalMatchingIncomePay" class="center-align">Matching Income Paid</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalVoltIncomePay, new { @id = "TotalVoltIncomePay", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalVoltIncomePay" class="center-align">Volt Income Paid</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalExpense, new { @id = "TotalExpense", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalExpense" class="center-align">Expense</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalLeaderIncomePay, new { @id = "TotalLeaderIncomePay", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalLeaderIncomePay" class="center-align">Leader Income Paid</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalUplineSupportIncomePay, new { @id = "TotalUplineSupportIncomePay", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="TotalUplineSupportIncomePay" class="center-align">Upline Support Income Paid</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalTDS, new { @id = "TotalTDS", @readonly = "readonly" })
                    <label for="TotalTDS" class="center-align">TDS</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalAdminCharge, new { @id = "TotalAdminCharge", @readonly = "readonly" })
                    <label for="TotalAdminCharge" class="center-align">Admin Charge</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Profit.TotalSilverIncomePay, new { @id = "TotalSilverIncomePay", @readonly = "readonly" })
                    <label for="TotalSilverIncomePay" class="center-align">Silver Income Paid</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    @Html.TextBoxFor(m => m.Profit.Profite, new { @id = "Profite", @style = "font-weight:bold;font-size:18px;", @readonly = "readonly" })
                    <label for="Profite" class="center-align">Profit</label>
                </div>
                <div class="input-field col s12 m6 l6 hide">
                    @Html.TextBoxFor(m => m.Profit.PendingPayout, new { @id = "PendingPayout", @readonly = "readonly" })
                    <label for="PendingPayout" class="center-align">Pending payout</label>
                </div>
                <div class="input-field col s12 m6 l6 hide">
                    @Html.TextBoxFor(m => m.Profit.NetProfite, new { @id = "NetProfite", @readonly = "readonly" })
                    <label for="NetProfite" class="center-align">Net Profit</label>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="dataRangeTitleVolume">Volume Details</h5>
            </li>
            <div class="row margin">
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.TotalBusinessVolume, new { @id = "TotalBusinessVolume", @readonly = "readonly" })
                    <label for="TotalBusinessVolume" class="center-align">Business Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.TotalDirectBV, new { @id = "TotalDirectBV", @readonly = "readonly" })
                    <label for="TotalDirectBV" class="center-align">Direct Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.TotalRepurchaseBV, new { @id = "TotalRepurchaseBV", @readonly = "readonly" })
                    <label for="TotalRepurchaseBV" class="center-align">Repurchase Volume</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualDirectVolume, new { @id = "ActualDirectVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualDirectVolume" class="center-align">Actual Direct Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualDirectVolumeInRs, new { @id = "ActualDirectVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualDirectVolumeInRs" class="center-align">Actual Direct Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualMatchingVolume, new { @id = "ActualMatchingVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualMatchingVolume" class="center-align">Actual Matching Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualMatchingVolumeInRs, new { @id = "ActualMatchingVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualMatchingVolumeInRs" class="center-align">Actual Matching Volume In Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualLeaderCreateVolume, new { @id = "ActualLeaderCreateVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualLeaderCreateVolume" class="center-align">Actual Leader Create Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualLeaderCreateVolumeInRs, new { @id = "ActualLeaderCreateVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualLeaderCreateVolumeInRs" class="center-align">Actual Leader Create Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualUplineSupportVolume, new { @id = "ActualUplineSupportVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualUplineSupportVolume" class="center-align">Actual Upline Support Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualUplineSupportVolumeInRs, new { @id = "ActualUplineSupportVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualUplineSupportVolumeInRs" class="center-align">Actual Upline Support Volume in Rs.</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualSilverVolume, new { @id = "ActualSilverVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualSilverVolume" class="center-align">Actual Silver Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualSilverVolumeInRs, new { @id = "ActualSilverVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualSilverVolumeInRs" class="center-align">Actual Silver Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualVoltVolume, new { @id = "ActualVoltVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualVoltVolume" class="center-align">Actual Volt Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualVoltVolumeInRs, new { @id = "ActualVoltVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualVoltVolumeInRs" class="center-align">Actual Volt Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualCompanyTurnOverVolume, new { @id = "ActualCompanyTurnOverVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualCompanyTurnOverVolume" class="center-align">Actual Company Turn Over Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualCompanyTurnOverVolumeInRs, new { @id = "ActualCompanyTurnOverVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualCompanyTurnOverVolumeInRs" class="center-align">Actual Company Turn Over Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualTopRetailerVolume, new { @id = "ActualTopRetailerVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualTopRetailerVolume" class="center-align">Actual Top Retailer Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualTopRetailerVolumeInRs, new { @id = "ActualTopRetailerVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualTopRetailerVolumeInRs" class="center-align">Actual Top Retailer Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualRewardsVolume, new { @id = "ActualRewardsVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualRewardsVolume" class="center-align">Actual Rewards Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualRewardsVolumeInRs, new { @id = "ActualRewardsVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualRewardsVolumeInRs" class="center-align">Actual Rewards Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualBonanzaVolume, new { @id = "ActualBonanzaVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualBonanzaVolume" class="center-align">Actual Bonanza Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualBonanzaVolumeInRs, new { @id = "ActualBonanzaVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualBonanzaVolumeInRs" class="center-align">Actual Bonanza Volume in Rs.</label>
                </div>

                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualExpenseVolume, new { @id = "ActualExpenseVolume", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualExpenseVolume" class="center-align">Actual Expense Volume</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    @Html.TextBoxFor(m => m.Volume.ActualExpenseVolumeInRs, new { @id = "ActualExpenseVolumeInRs", @style = "font-weight:bold", @readonly = "readonly" })
                    <label for="ActualExpenseVolumeInRs" class="center-align">Actual Expense Volume in Rs.</label>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="dataRangeTitleProfitLossMatching">Profit/Loss Matching Details&nbsp;&nbsp;&nbsp;&nbsp;</h5>

            </li>
            <div class="col s12" id="dvDateRangeProfitLossMatching">
                <div style="font-size:20px;margin-top:10px;margin-bottom:10px;text-align:center;">Direct BV : <b>@(Model.Volume.TotalDirectBV)&nbsp;&nbsp;&nbsp;&nbsp;</b>Repurchase BV : <b>@(Model.Volume.TotalRepurchaseBV)&nbsp;&nbsp;&nbsp;&nbsp;</b>Total BV : <b>@Model.Volume.TotalBusinessVolume</b></div>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Budget %</th>
                            <th>Budget Amount</th>
                            <th>Paid Amount</th>
                            <th>Profit/Loss</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Direct Income</td>
                            <td>10%</td>
                            <td>@Model.Volume.ActualDirectVolumeInRs</td>
                            <td>@Model.Profit.TotalDirectIncomePay</td>
                            <td>@(Model.Volume.ActualDirectVolumeInRs - Model.Profit.TotalDirectIncomePay)</td>
                        </tr>
                        <tr>
                            <td>Matching Income</td>
                            <td>32%</td>
                            <td>@Model.Volume.ActualMatchingVolumeInRs</td>
                            <td>@Model.Profit.TotalMatchingIncomePay</td>
                            <td>@(Model.Volume.ActualMatchingVolumeInRs - Model.Profit.TotalMatchingIncomePay)</td>
                        </tr>
                        <tr>
                            <td>Volt/Charge Up</td>
                            <td>2%</td>
                            <td>@Model.Volume.ActualVoltVolumeInRs</td>
                            <td>@Model.Profit.TotalVoltIncomePay</td>
                            <td>@(Model.Volume.ActualVoltVolumeInRs - Model.Profit.TotalVoltIncomePay)</td>
                        </tr>
                        <tr>
                            <td>Upline Support</td>
                            <td>0.8%</td>
                            <td>@Model.Volume.ActualUplineSupportVolumeInRs</td>
                            <td>@Model.Profit.TotalUplineSupportIncomePay</td>
                            <td>@(Model.Volume.ActualUplineSupportVolumeInRs - Model.Profit.TotalUplineSupportIncomePay)</td>
                        </tr>
                        <tr>
                            <td>Silver Income</td>
                            <td>0.8%</td>
                            <td>@Model.Volume.ActualSilverVolumeInRs</td>
                            <td>@Model.Profit.TotalSilverIncomePay</td>
                            <td>@(Model.Volume.ActualSilverVolumeInRs - Model.Profit.TotalSilverIncomePay)</td>
                        </tr>
                        <tr>
                            <td>Leader Create</td>
                            <td>8%</td>
                            <td>@Model.Volume.ActualLeaderCreateVolumeInRs</td>
                            <td>@Model.Profit.TotalLeaderIncomePay</td>
                            <td>@(Model.Volume.ActualLeaderCreateVolumeInRs - Model.Profit.TotalLeaderIncomePay)</td>
                        </tr>
                        <tr>
                            <td>Bonanza</td>
                            <td>2%</td>
                            <td>@Model.Volume.ActualBonanzaVolumeInRs</td>
                            <td>@Model.Profit.TotalBonanzaRewardsPay</td>
                            <td>@(Model.Volume.ActualBonanzaVolumeInRs - Model.Profit.TotalBonanzaRewardsPay)</td>
                        </tr>
                        <tr>
                            <td>Top Retailer</td>
                            <td>2%</td>
                            <td>@Model.Volume.ActualTopRetailerVolumeInRs</td>
                            <td>@Model.Profit.TotalTopRetailerPay</td>
                            <td>@(Model.Volume.ActualTopRetailerVolumeInRs - Model.Profit.TotalTopRetailerPay)</td>
                        </tr>
                        <tr>
                            <td>Rewards</td>
                            <td>4%</td>
                            <td>@Model.Volume.ActualRewardsVolumeInRs</td>
                            <td>@Model.Volume.RewardsPaidAmt</td>
                            <td>@(Model.Volume.ActualRewardsVolumeInRs - Model.Volume.RewardsPaidAmt)</td>
                        </tr>
                        <tr>
                            <td>Expenses</td>
                            <td>20%</td>
                            <td>@Model.Volume.ActualExpenseVolumeInRs</td>
                            <td>@Model.Profit.TotalExpense</td>
                            <td>@(Model.Volume.ActualExpenseVolumeInRs - Model.Profit.TotalExpense)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Profit Details");
        $("#dataRangeTitleVolume").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Volume Details");
        Materialize.updateTextFields();
    });
</script>
