﻿<div id="dvUsers">
</div>
<script>

    $("#spnTotalBudgetAmount").html('@ViewBag.TotalBudgetAmount');

    var listGetRewardFund = @Html.Raw(Json.Encode(ViewBag.listGetRewardFund));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listGetRewardFund, function(user) {
                return (!filter.Id_No || (user.Id_No != null && user.Id_No.toLowerCase().indexOf(filter.Id_No.toLowerCase()) > -1))
                    && (!filter.UserName || (user.UserName != null && user.UserName.toLowerCase().indexOf(filter.UserName.toLowerCase()) > -1))
                    //&& (!filter.TotalMatchingBV || ((user.TotalMatchingBV != null && user.TotalMatchingBV == filter.TotalMatchingBV)))
                    && (!filter.RewardBV || ((user.RewardBV != null && user.RewardBV == filter.RewardBV)))
                    && (!filter.Budget || ((user.Budget != null && user.Budget == filter.Budget)));
            });
        },
    };
    db.listGetRewardFund = listGetRewardFund;
    window.db = db;

    $("#dvUsers").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        //pageSize: 25,
        //pageButtonCount: 10,
        fields: [
            { name: "Id_No", type: "text", width: 100, title: "Id No" },
            { name: "UserName", type: "text", width: 250, title: "Name" },
            //{ name: "TotalMatchingBV", type: "text", width: 130, title: "Total Matching BV" },
            { name: "RewardBV", type: "text", width: 150, title: "Reward BV" },
            { name: "Budget", type: "text", width: 130, title: "Budget" },
            {
                name: "Action", width: 80, css: "action",
                type: "control",
                itemTemplate: function (value, item) {
                }
            }
        ],
        //data: listGetRewardFund,
        controller: db
    });
</script>

