﻿<div id="dvUsers">
</div>
<script>
    var listUserListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listUserListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))                    
                    && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.BankName ||  (user.BankName!=null && user.BankName.toLowerCase().indexOf(filter.BankName.toLowerCase()) > -1))
                    && (!filter.ISFCCode ||  (user.ISFCCode!=null && user.ISFCCode.toLowerCase().indexOf(filter.ISFCCode.toLowerCase()) > -1))
                    && (!filter.UTRRefNo ||  (user.UTRRefNo!=null && user.UTRRefNo.toLowerCase().indexOf(filter.UTRRefNo.toLowerCase()) > -1))
                    && (!filter.MobileNo || ((user.MobileNo!=null && user.MobileNo === filter.MobileNo)))
                    && (!filter.EmailId ||  (user.EmailId!=null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1))
                    && (!filter.DebitAmount ||  (user.DebitAmount!=null && user.DebitAmount.toLowerCase().indexOf(filter.DebitAmount.toLowerCase()) > -1))
                    && (!filter.PayoutDate ||  (user.PayoutDate!=null && user.PayoutDate.toLowerCase().indexOf(filter.PayoutDate.toLowerCase()) > -1));
            });
        },
    };
    db.listUserListEnt=listUserListEnt;
    window.db = db;
    $("#dvUsers").jsGrid({
        height: "70%",
        width: "100%",
        sorting: true,
        paging: true,
        filtering: true,
        autoload: true,
        //pageSize: 25,
        //pageButtonCount: 10,
        fields: [
            { name: "RefferalCode", type: "text",width:100,title: "Refferal Code",css:"refcode"},
            { name: "FullName", type: "text", width:170,title: "Full Name",css:"fullname"},
            { name: "BankName", type: "text",width:120,css:"username" },
            { name: "ISFCCode", type: "text",width:120,css:"password" },
            { name: "PayoutDate", type: "text", width: 120, title: "Date", css: "refdate" },

            { name: "DirectIncomePay", type: "text", width: 100, css: "debitamount", title: "Direct Income" },
            { name: "PointsIncomePay", type: "text", width: 100, css: "debitamount", title: "Matching Income" },
            { name: "VoltIncomePay", type: "text", width: 100, css: "debitamount", title: "Volt Income" },
            { name: "LeaderIncomePay", type: "text", width: 100, css: "debitamount", title: "Leader Income" },
            { name: "UplineSupportIncomePay", type: "text", width: 100, css: "debitamount", title: "UplineSupport Income" },
            { name: "DiamondIncomePay", type: "text", width: 100, css: "debitamount", title: "Diamond Income" },

            //{ name: "Other Income", type: "text", width: 70, css: "debitamount", title: "Amount" },
            //{
            //    name: "OtherIncome", type: "number", width: 100, title: "Other Income",
            //    itemTemplate: function (value, item) {
            //        var td = "<span>" + (item.SilverIncomePay + item.LeaderIncomePay + item.UplineSupportIncomePay) + "</span>";
            //        return td;
            //    }
            //},
            { name: "SilverIncomePay", type: "text", width: 70, css: "debitamount", title: "Silver Income" },
            { name: "LeaderIncomePay", type: "text", width: 70, css: "debitamount", title: "Leader Income" },
            { name: "UplineSupportIncomePay", type: "text", width: 70, css: "debitamount", title: "Upline Support Income" },
            { name: "UplineMonthlyPay", type: "text", width: 70, css: "debitamount", title: "Upline Monthly Income" },
            { name: "RetailRewardMonthlyPay", type: "text", width: 85, css: "debitamount", title: "Retail Reward Monthly Income" },
            { name: "DebitAmount", type: "text", width: 70, css: "debitamount", title: "Total Payment" },
            { name: "AdminPerc", type: "text", width: 70, css: "debitamount", title: "Admin Charge%" },
            { name: "AdminCharge", type: "text", width: 70, css: "debitamount", title: "Admin Charge" },
            { name: "TDSPerc", type: "text", width: 70, css: "debitamount", title: "TDS%" },
            { name: "TDSAmount", type: "text", width: 70, css: "debitamount", title: "TDS" },
            { name: "NetPayable", type: "text", width: 70, css: "debitamount", title: "Net Payment" },
            { name: "UTRRefNo", type: "text", width: 150, css: "refferalbycode", title: "UTRNo" },
            { name: "MobileNo",  type: "text", width:125,css:"mobileno",title: "MobileNo"},
            { name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"},
        ],
        //data: listUserListEnt
        controller: db
    });
</script>

