﻿@using TRSImplementation
@model List<PROC_GET_TOP_RETAILER_DETAILS_Result>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>User Code</th>
            <th>Name</th>
            <th>Self BV</th>
            <th>Refferal BV</th>
            <th>Total BV</th>
            <th>Amount</th>
            <th>MobileNo</th>
            <th>EmailId</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="User Code">@item.RefferalCode</td>
                    <td data-title="Name">@item.FullName</td>
                    <td data-title="Self BV">@item.SelfBV</td>
                    <td data-title="Refferal BV">@item.RefferalBV</td>
                    <td data-title="Total BV">@item.BusinessVolume</td>
                    <td data-title="Amount">@item.Amount</td>
                    <td data-title="Order Date">@item.MobileNo</td>
                    <td data-title="EmailId">@item.EmailId</td>
                </tr>
            }
        }
    </tbody>
</table>

