﻿@using TRSImplementation
@using TRS.Models
@model List<PROC_RPT_GET_GOLD_INCOME_AMOUNT_Result>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Date</th>
            <th>Leader Amount</th>
            <th>From Income</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Sr.No.">@item.SrNo</td>
                    <td data-title="Name">@item.FullName</td>
                    <td data-title="Date">@item.CreditDate.Value.ToString("dd/MM/yyyy")</td>
                    <td data-title="Leader Amount">@item.CreditPoints</td>
                    <td data-title="From Income">@item.FromCreditRefferalCode - @item.FromCreditUserName</td>
                </tr>
            }
        }
    </tbody>
</table>

