﻿@using TRSImplementation
@model List<PROC_RPT_GET_USER_MILES_LEDGER_Result>
<style>
    .modal {
        width: 75% !important;
    }
</style>
<div id="dvMilesDetails">
</div>
<script>
    var listMilesDetails = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listMilesDetails, function(user) {
                return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.BalanceAmount || ((user.BalanceAmount != null && user.BalanceAmount === filter.BalanceAmount)))
            });
        },
    };
    db.listMilesDetails=listMilesDetails;
    window.db = db;
    window.setTimeout(function(){
        LoadRefferalUserList()
    },500);

    function LoadRefferalUserList(){
        $("#dvMilesDetails").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "FullName", type: "text",width:70,title: "Date",css:"refcode"},
                { name: "BalanceAmount", type: "text", width:70,title: "Amount",css:"fullname"},
                { name: "RefferalCode", type: "text", width:170,title: "@(ViewBag.Type==1?"Credit From":"OrderNo")",css:"date"},
            ],
            //data: listMilesDetails
            controller: db
        });
    }

</script>