﻿@using TRSImplementation
@using TRS.Models
@using TRS.Areas.Admin.Controllers
@model List<SalesReportEnt>
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>User Code</th>
            <th>Name</th>
            <th>Order No</th>
            <th>Pin Code</th>
            <th>City</th>
            <th>State</th>
            <th>Order Notes</th>
            <th>Order Date</th>
            <th>Payment Id</th>
            <th>GSTNo</th>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>CGST</th>
            <th>SGST</th>
            <th>IGST</th>
            <th>Miles Used</th>
            <th>Amount</th>
            <th>BV</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
        <tr>
            <td data-title="Name">@item.RefferalCode</td>
            <td data-title="Name">@item.FullName</td>
            <td data-title="Order No">@item.OrderNo</td>
            <td data-title="Pin Code">@item.PinCode</td>
            <td data-title="City Name">@item.CityName</td>
            <td data-title="State Name">@item.StateName</td>
            <td data-title="Order Notes">@item.Notes</td>
            <td data-title="Order Date">@item.OrderDate.ToString("dd/MM/yyyy")</td>
            <td data-title="Payment Id">@item.PaymentId</td>
            <td data-title="GSTNo">@item.GSTNo</td>
            <td data-title="Product Name">@item.ProductName</td>
            <td data-title="Qty">@(item.IsRepurchase.HasValue && item.IsRepurchase.Value ? item.Qty * 2 : item.Qty)</td>
            <td data-title="Unit Price">@item.ProductPrice</td>
            <td data-title="CGST">@item.CGST</td>
            <td data-title="SGST">@item.SGST</td>
            <td data-title="SGST">@item.IGST</td>
            <td data-title="Used Miles">@item.UsedMiles</td>
            <td data-title="Amount">@item.ProductTotalAmount</td>
            <td data-title="BV">@item.BusinessVolume</td>
        </tr>
            }
        }
    </tbody>
</table>

