﻿@using TRSImplementation
@model List<PROC_GET_REFFERAL_USER_COUNT_DETAILS_REPORT_Result>
<style>
    .modal {
        width: 75% !important;
    }
</style>
<div id="dvRefferalUsers">
</div>
<script>
    var listRefferalUserListEnt = @Html.Raw(Json.Encode(Model));
    var db = {
        loadData: function(filter) {
            return $.grep(this.listRefferalUserListEnt, function(user) {
                return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                    && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                    && (!filter.ActivationDate ||  (user.ActivationDate!=null && user.ActivationDate.toLowerCase().indexOf(filter.ActivationDate.toLowerCase()) > -1))
                    && (!filter.MobileNo || ((user.MobileNo!=null && user.MobileNo === filter.MobileNo)))
                    //&& (!filter.MobileNo ||  (user.MobileNo!=null && user.MobileNo.toLowerCase().indexOf(filter.MobileNo.toLowerCase()) > -1))
                    && (!filter.EmailId ||  (user.EmailId!=null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1));
            });
        },
    };
    db.listRefferalUserListEnt=listRefferalUserListEnt;
    window.db = db;
    window.setTimeout(function(){
        LoadRefferalUserList()
    },500);

    function LoadRefferalUserList(){
        $("#dvRefferalUsers").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "RefferalCode", type: "text",width:70,title: "Refferal Code",css:"refcode"},
                { name: "FullName", type: "text", width:170,title: "Full Name",css:"fullname"},
                { name: "ActivationDate", type: "text", width:70,title: "Reg. Date",css:"fullname"},
                { name: "MobileNo",  type: "number", width:100,css:"mobileno",title: "MobileNo"},
                { name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"}
            ],
            //data: listRefferalUserListEnt
            controller: db
        });
    }

</script>