﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Payout Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">

    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Admin Charges Details</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="MonthName"></select>
                            <label for="MonthName" class="center-align">Month</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="WeekNo"></select>
                            <label for="WeekNo" class="center-align">Week</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWiseAdminCharges()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                    <div class="input-field col col-xs-12 s12 m12 l12">
                        <div class="col s12" id="dvPayoutList">

                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

<script>
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function () {
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWeekDtl();
        })
        $('#MonthName').change(function(){
            GetMonthWeekDtl();
        });
    }
    function GetMonthWeekDtl() {
        $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching BV");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMonthWeekDtl",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val()},
            success: function (result) {
                //console.log(result);
                var str="<option value='0'>Select</option>";
                for (var i = 0; i < result.length; i++) {
                    str=str+"<option value=\""+result[i].WeekNo+"\">"+result[i].WeekName+"</option>";
                }
                $("#WeekNo").html(str);
                $('#WeekNo').material_select();
                GetMonthWiseAdminCharges();
            },
            error: function () {
            }
        });
    }
    function GetMonthWiseAdminCharges() {
        //$("#dataRangeTitle").html($('#MonthName option:selected').text()+" Payout Details");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMonthWiseAdminCharges",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val(),WeekNo: $('#WeekNo').val()},
            success: function (result) {
                $("#dvPayoutList").html(result);
            },
            error: function () {
            }
        });
    }
</script>
