﻿@using TRSImplementation
@{
    ViewBag.Title = "Claimed Rewards";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<style>
    .usertypes {
        height: 20px;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="UserListTitle">Claimed Rewards</h5>
            </li>
        </ul>
        <div class="row" style="margin-top:10px;min-height:400px;">
            <div class="input-field col col-xs-12 s12 m4 l4">
                <select id="MonthName"></select>
                <label for="MonthName" class="center-align">Month</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l3">
                <select id="ClaimStatus">
                    <option value="ALL" selected>ALL</option>
                    @*<option value="Pending">Pending</option>*@
                    <option value="Approve">Approve</option>
                    <option value="DisApprove">Dis Approve</option>
                </select>
                <label for="ClaimStatus" class="center-align">Claim Status</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeClaimedRewardsDetails()">
                    <i class="material-icons left">search</i> Search
                </a>
                <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadClaimedRewardsExcel()" title="Download Rewards Approval Excel">
                    <i class="material-icons left" title="Download Rewards Approval Excel">file_download</i>
                </a>
            </div>

            <div class="input-field col col-xs-12 s12 m12 l12">
                <div class="col s12" id="dvUserClaimedRewards">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="mdlUserIncome" class="modal">
    <div class="modal-content">
        <div id="dvUserIncome">
        </div>
    </div>
</div>

<!-- jQuery Library -->
<script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>

<script>
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));

        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();

            GetDateRangeClaimedRewardsDetails();
        });
    }

    function GetDateRangeClaimedRewardsDetails() {

        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMonthWiseClaimedRewardDetails",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val(), Type: $("#ClaimStatus").val() },
            success: function (result) {
                $("#dvUserClaimedRewards").html(result);
            },
            error: function (er) {
                alert(er.statusText);
            }
        });
    }

    function DownloadClaimedRewardsExcel() {
        var MonthName = $('#MonthName').val();
        var ClaimStatus = $("#ClaimStatus").val();
        
        var url = '/Admin/Reports/GetMonthWiseClaimedRewardDetailsExport?MonthYear=' + encodeURIComponent(MonthName) + '&Type=' + encodeURIComponent(ClaimStatus);
        window.location = url;
    }
</script>
