﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Direct Refferal Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
    .select-dropdown {
        z-index: 996 !important;
    }
    .usertypes {
        height: 20px;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Direct Refferal Income</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:20%;">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:20%;">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4" style="width:40%;">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeDirectRefferalIncome()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="GetDateRangeDirectRefferalIncomeExport()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="mdlRefferalUserDetails" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="center">Refferal Users Details</h5>
        <div id="dvRefferalUserDetails">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="ClosePayout()">Close</a>
    </div>
</div>

<script type="text/javascript">
    function WindowLoadComplete() {
        $(document).ready(function () {
            GetDateRangeDirectRefferalIncome();
        })
    }
    function GetDateRangeDirectRefferalIncome() {
        $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Direct Refferal Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeDirectRefferalIncome",
            datatype: 'html',
            data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
            success: function (result) {
                BindData(result)
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.NoOfDirect || ((user.NoOfDirect != null && user.NoOfDirect === filter.NoOfDirect)))
                        && (!filter.DirectBV || ((user.DirectBV != null && user.DirectBV === filter.DirectBV)))
                        && (!filter.DirectBV || ((user.DirectBV != null && user.DirectBV === filter.DirectBV)))
                        && (!filter.TotalDirectBV || ((user.TotalDirectBV != null && user.TotalDirectBV === filter.TotalDirectBV)))
                        && (!filter.DirectAmount || ((user.DirectAmount != null && user.DirectAmount === filter.DirectAmount)))
                        && (!filter.TotalDirectIncome || ((user.TotalDirectIncome != null && user.TotalDirectIncome === filter.TotalDirectIncome)))
                    ;
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                //{
                //    name: "FullName", type: "text", width: 150, title: "UserId - Name",
                //    itemTemplate: function (value, item) {
                //        var td = "";
                //        td+=item.RefferalCode+"-"+item.FullName
                //        return td;
                //    }
                //},
                {
                    name: "FullName", type: "text", width: 150,
                    itemTemplate: function (value, item) {
                        var td = "<img src=\"/Content/images/misch/" + (item.IsRegistrationActivated == true ? "Active.png" : "Inactive.png") + "\" alt=\"\" class=\"usertypes\">" + item.RefferalCode + "-" + item.FullName;
                        return td;
                    }, title: "User Code", css: "refcode"
                },
                {
                    name: "NoOfDirect", type: "number", width: 50, title: "No. Direct",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += "<span style=\"color: #3949ab;\" onclick=\"GetDirectRefferalUserList(" + item.UserId + ")\">" + item.NoOfDirect + "</span>"
                        return td;
                    }
                },
                { name: "DirectBV", type: "number", width: 90, title: "BV Generated [date range]" },
                { name: "TotalDirectBV", type: "number", width: 70, css: "Direct Over All" },
                { name: "DirectAmount", type: "number", width: 90, title: "Total Income Direct [date range]" },
                { name: "TotalDirectIncome", type: "number", width: 70, title: "Total Income All Direct" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function GetDirectRefferalUserList(UserId) {
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDirectRefferalUserList",
            datatype: 'html',
            data: { UserId: UserId, FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
            success: function (result) {
                $("#dvRefferalUserDetails").html(result);
                $("#mdlRefferalUserDetails").modal();
                $("#mdlRefferalUserDetails").modal('open');
            },
            error: function () {
            }
        });
    }
    function GetDateRangeDirectRefferalIncomeExport() {
        var StartDate = $('#txtFromDate').val();
        var EndDate = $('#txtToDate').val();
        var url = '/Admin/Reports/GetDateRangeDirectRefferalIncomeExport?FromDate=' + StartDate + '&ToDate=' + EndDate;
        window.location = url;
    }
</script>