﻿@using TRSImplementation
@model IEnumerable<PROC_GET_ALL_TEAM_MEMBER_LIST_Result>
@{
    ViewBag.Title = "Team Members Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style type="text/css">
    #myOverviewDiv {
        position: absolute;
        width: 200px;
        height: 100px;
        top: 0px;
        left: 0px;
        background-color: aliceblue;
        z-index: 300; /* make sure its in front */
        border: solid 1px blue;
    }
</style>
<div class="container">
    <div class="row">
        <div class="input-field col col-xs-12 s12 m12 l12">
            <div class="col s12">
                <div class="input-field col col-xs-12 s12 m6">
                    <input type="text" id="txtSearchUser" name="txtSearchUser" placeholder="Search User" onkeypress="if (event.keyCode === 13) searchDiagram()" />
                    <label for="txtSearchUser" class="active">Search User</label>
                </div>
                <div class="input-field col col-xs-12 s12 m6">
                    <a class="waves-effect waves-light btn" id="btnSearchUser" onclick="searchDiagram()">
                        <i class="material-icons left">search</i> Search
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="sample" style="position: relative;">
        <div id="myDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 700px;background-color: rgb(105, 105, 105);border: 1px solid black;"></div>
        <div id="myOverviewDiv"></div> <!-- Styled in a <style> tag at the top of the html page -->
    </div>
</div>

<script id="code">
        var OrgDtl =@Html.Raw(Json.Encode(ViewBag.OrgDtl));
        var FinalNodes=[];

        for (var i = 0; i < OrgDtl.length; i++) {
            FinalNodes.push({"key":OrgDtl[i].UserId,"parent":OrgDtl[i].ParentUserId,
                "name":OrgDtl[i].Name,"title":OrgDtl[i].UserId,"imagepath":OrgDtl[i].ImagePath,
                "code":"User Code : "+OrgDtl[i].RefferalCode,"refid":OrgDtl[i].RefferalUserId,
                "refname":"Reffered By : "+OrgDtl[i].RefferalName,
                "isactive":"Is Active : "+OrgDtl[i].IsActive,
                "isregistered":OrgDtl[i].IsActive,
                "position":"Position : "+OrgDtl[i].Position,
                "leftbv":"Left BV : "+parseInt( OrgDtl[i].LeftBV),
                "rightbv":"Right BV : "+parseInt(OrgDtl[i].RightBV),
                "color":OrgDtl[i].IsActive=="Yes"?"#094AB2":"#AC193D"})
        }
        function WindowLoadComplete() {
            $(document).ready(function () {
                init();
            });
        }
        function init() {
            if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
            var $ = go.GraphObject.make;  // for conciseness in defining templates

            myDiagram =
              $(go.Diagram, "myDiagramDiv",  // the DIV HTML element
                {
                    maxSelectionCount: 0,
                    // Put the diagram contents at the top center of the viewport
                    initialDocumentSpot: go.Spot.TopCenter,
                    initialViewportSpot: go.Spot.TopCenter,
                    "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
                    // OR: Scroll to show a particular node, once the layout has determined where that node is
                    //"InitialLayoutCompleted": function(e) {
                    //  var node = e.diagram.findNodeForKey(28);
                    //  if (node !== null) e.diagram.commandHandler.scrollToPart(node);
                    //},
                    layout:
                      $(go.TreeLayout,  // use a TreeLayout to position all of the nodes
                        {
                            treeStyle: go.TreeLayout.StyleLastParents,
                            // properties for most of the tree:
                            angle: 90,
                            layerSpacing: 80,
                            // properties for the "last parents":
                            alternateAngle: 0,
                            alternateAlignment: go.TreeLayout.AlignmentStart,
                            alternateNodeIndent: 20,
                            alternateNodeIndentPastParent: 1,
                            alternateNodeSpacing: 20,
                            alternateLayerSpacing: 40,
                            alternateLayerSpacingParentOverlap: 1,
                            alternatePortSpot: new go.Spot(0.001, 1, 20, 0),
                            alternateChildPortSpot: go.Spot.Left
                        })
                });

            // define Converters to be used for Bindings
            function theNationFlagConverter(imagepath) {
                return imagepath;
            }
            function theInfoTextConverter(info) {
                var str = "";
                if (info.title) str += info.code;
                if (info.refname) str += "\n" + info.refname;
                if (info.isactive) str += "\n" + info.isactive;
                if (info.position) str += "\n" + info.position;
                if (info.rightbv) str += "\n" + info.rightbv;
                if (info.leftbv) str += "\n" + info.leftbv;

                return str;

            }

            // define the Node template
            myDiagram.nodeTemplate =
              $(go.Node, "Auto",
                // the outer shape for the node, surrounding the Table
                $(go.Shape, "Rectangle",
                  { stroke: null, strokeWidth: 0,fill: "white", },
                  /* reddish if highlighted, blue otherwise */
                  new go.Binding("fill", "isHighlighted", function (sel, shape)  {
                      return sel ? "#37474f" : shape.part.data.color || "#f8da07";
                  }).ofObject(),
                  new go.Binding("fill","color")),
                // a table to contain the different parts of the node
                $(go.Panel, "Table",
                  { margin: 6, maxSize: new go.Size(NaN, NaN) },
                  // the two TextBlocks in column 0 both stretch in width
                  // but align on the left side
                  $(go.RowColumnDefinition,
                    {
                        column: 0,
                        stretch: go.GraphObject.Horizontal,
                        alignment: go.Spot.Left
                    }),
                  // the country flag
                  $(go.Picture,
                    {
                        row: 0, column: 0, margin: 2, rowSpan: 2,
                        imageStretch: go.GraphObject.Uniform,
                        alignment: go.Spot.TopRight
                    },
                    // only set a desired size if a flag is also present:
                    new go.Binding("desiredSize", "imagepath", function () { return new go.Size(56, 56) }),
                    new go.Binding("source", "imagepath", theNationFlagConverter)),
                  // the name
                  $(go.TextBlock,
                    {
                        row: 0, column: 1,
                        maxSize: new go.Size(NaN, NaN), margin: 1,
                        font: "500 16px Roboto, sans-serif",
                        alignment: go.Spot.Top, stroke: "white",textAlign: "left"
                    },
                    new go.Binding("text", "name")),

                  // the additional textual information
                  $(go.TextBlock,
                    {
                        row: 1, column: 1,
                        maxSize: new go.Size(NaN, NaN), margin: 1,
                        font: "13px Roboto, sans-serif",
                        alignment: go.Spot.Top, stroke: "white",textAlign: "left"
                    },
                    new go.Binding("text", "", theInfoTextConverter))
                )  // end Table Panel
              );  // end Node

            // define the Link template, a simple orthogonal line
            myDiagram.linkTemplate =
              $(go.Link, go.Link.Orthogonal,
                { corner: 5, selectable: false },
                $(go.Shape, { strokeWidth: 3, stroke: "#424242" }));  // dark gray, rounded corner links


            // set up the nodeDataArray, describing each person/position
            var nodeDataArray = FinalNodes;

            // create the Model with data for the tree, and assign to the Diagram
            myDiagram.model =
              $(go.TreeModel,
                {
                    nodeParentKeyProperty: "parent",  // this property refers to the parent node data
                    nodeDataArray: nodeDataArray
                });

            // Overview
            myOverview =
              $(go.Overview, "myOverviewDiv",  // the HTML DIV element for the Overview
                { observed: myDiagram, contentAlignment: go.Spot.Center });   // tell it which Diagram to show and pan
        }

        // the Search functionality highlights all of the nodes that have at least one data property match a RegExp
        function searchDiagram() {  // called by button
            var input = document.getElementById("txtSearchUser");
            if (!input) return;
            input.focus();

            myDiagram.startTransaction("highlight search");

            if (input.value) {
                // search four different data properties for the string, any of which may match for success
                // create a case insensitive RegExp from what the user typed
                var regex = new RegExp(input.value, "i");
                var results = myDiagram.findNodesByExample({ name: regex },
                  { refname: regex },
                  { parent: regex },
                  { code: regex });
                myDiagram.highlightCollection(results);
                // try to center the diagram at the first node that was found
                if (results.count > 0) myDiagram.centerRect(results.first().actualBounds);
            } else {  // empty string only clears highlighteds collection
                myDiagram.clearHighlighteds();
            }

            myDiagram.commitTransaction("highlight search");
        }
</script>