﻿@using TRS.Areas.Admin.Controllers
@model List<ProductReportEnt>
@{
    ViewBag.Title = ViewBag.TitleName + " Product Details Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .perc {
        margin: 0 0 0px 0 !important;
        height: 2rem !important;
        width:120px !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">@ViewBag.TitleName Product Details</h5>
                </li>
                <li>
                    <div class="row section" id="dvProduct">
                        <div class="col s12">
                            <div class="input-field col col-xs-12 s12 m4">
                                <input type="text" id="txtProductAmount" />
                                <label for="txtProductAmount" class="active">Product Amount</label>
                            </div>
                            <div class="input-field col col-xs-12 s12 m4">
                                <input type="text" id="txtTotalExpense" readonly />
                                <label for="txtTotalExpense" class="active">Total Expense</label>
                            </div>
                            <div class="input-field col col-xs-12 s12 m4">
                                <input type="text" id="txtProfitAmount" readonly />
                                <label for="txtProfitAmount" class="active">Profit Amount</label>
                            </div>
                        </div>
                    </div>
                    <div id="floatThead" class="section">
                        <div class="row">
                            <div class="col s12 no-more-tables">
                                <table id="tblProductsCalculation" class="striped demo1">
                                    <thead>
                                        <tr>
                                            <th>Income Type</th>
                                            <th>Perc(%)</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr class="trprod">
                                                    <td data-title="Income Type" class="name">@item.Name</td>
                                                    <td style="padding: 10px 2px;" data-title="Perc(%)" class="percentage"><input type="text" id="txtPercentage" value="@item.Percentage" class="perc" /></td>
                                                    <td data-title="Amount" class="amount"></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


   
</div>
        <script>
            function WindowLoadComplete() {
                $(document).ready(function () {
                    $("#txtProductAmount").change(function () {
                        CalculateAmount();
                    });
                    $(".perc").change(function () {
                        CalculateAmount();
                    });
                });
            }

            function CalculateAmount() {
                var ProductAmount = $("#txtProductAmount").val() != "" ? parseFloat($("#txtProductAmount").val()) : 0;
                var TotalExpense = 0;
                $("#tblProductsCalculation").find(".trprod").each(function () {
                    var perc = $(this).find(".perc");
                    var amount = $(this).find(".amount");
                    console.log("perc:" + perc.val());
                    if (perc.val() != "") {
                        var amountperc = ((ProductAmount * perc.val()) / 100);
                        TotalExpense = TotalExpense + amountperc;
                        amount.html(amountperc);
                        console.log("amount:" + amountperc);
                    }
                });
                $("#txtProfitAmount").val(ProductAmount - TotalExpense);
                $("#txtTotalExpense").val(TotalExpense);
                Materialize.updateTextFields();
            }
        </script>

