﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "LCB Pool Monthly Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">LCB Pool Monthly Income Report</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="MonthName"></select>
                            <label for="MonthName" class="center-align">Month</label>
                            <input type="hidden" id="UplineIncomeSummaryId" name="UplineIncomeSummaryId" value="">
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <select id="QualifiedType">
                                <option value="1" selected>Qualified</option>
                                <option value="0">Non-Qualified</option>
                            </select>
                            <label for="QualifiedType" class="center-align">Type</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeUplineMonthly()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    function WindowLoadComplete() {

        var Months = @Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetDateRangeUplineMonthly();
        });
    }

    function GetDateRangeUplineMonthly() {
        $("#dataRangeTitle").html("LCB Pool Monthly Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetLCBPoolMonthlyIncome",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val(), QualifiedType: $("#QualifiedType").val()  },
            success: function (result) {
                BindData(result);
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.LCBPoolUser || (user.LCBPoolUser != null && user.LCBPoolUser.toLowerCase().indexOf(filter.LCBPoolUser.toLowerCase()) > -1))
                        && (!filter.MMYY || ((user.MMYY != null && user.MMYY === filter.MMYY)));
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            fields: [
                { name: "LCBPoolUser", type: "text", width: 200, title: "LCBPool User" },
                { name: "MMYY", type: "text", width:100 , title: "Month-Year" },
                { name: "LCBBonus", type: "number", width: 75, title: "LCB Bonus" },

                { name: "Level_1", type: "text", width: 200, title: "Level-1" },
                { name: "Level_1_LCBIncome", type: "number", width: 75, title: "Level-1 Income" },
                { name: "Level_1_MatchingBV", type: "number", width: 85, title: "Level-1 MatchingBV" },

                { name: "Level_2", type: "text", width: 200, title: "Level-2" },
                { name: "Level_2_LCBIncome", type: "number", width: 75, title: "Level-2 Income" },
                { name: "Level_2_MatchingBV", type: "number", width: 85, title: "Level-2 MatchingBV" },

                { name: "Level_3", type: "text", width: 200, title: "Level-3" },
                { name: "Level_3_LCBIncome", type: "number", width: 75, title: "Level-3 Income" },
                { name: "Level_3_MatchingBV", type: "number", width: 85, title: "Level-3 MatchingBV" },

                { name: "Level_4", type: "text", width: 200, title: "Level-4" },
                { name: "Level_4_LCBIncome", type: "number", width: 75, title: "Level-4 Income" },
                { name: "Level_4_MatchingBV", type: "number", width: 85, title: "Level-4 MatchingBV" },

                { name: "Level_5", type: "text", width: 100, title: "Level-5" },
                { name: "Level_5_LCBIncome", type: "number", width: 50, title: "Level-5 Income" },
                { name: "Level_5_MatchingBV", type: "number", width: 85, title: "Level-5 MatchingBV" },

                { name: "Level_6", type: "text", width: 100, title: "Level-6" },
                { name: "Level_6_LCBIncome", type: "number", width: 50, title: "Level-6 Income" },
                { name: "Level_6_MatchingBV", type: "number", width: 85, title: "Level-6 MatchingBV" },

                { name: "Level_7", type: "text", width: 100, title: "Level-7" },
                { name: "Level_7_LCBIncome", type: "number", width: 50, title: "Level-7 Income" },
                { name: "Level_7_MatchingBV", type: "number", width: 85, title: "Level-7 MatchingBV" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function DownloadExcel() {
        var url = '/Admin/Reports/GetLCBPoolMonthlyIncomeExport?MonthYear=' + encodeURIComponent($('#MonthName').val()) + '&QualifiedType=' + encodeURIComponent($("#QualifiedType").val());
        window.location = url;
    }
</script>