﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Leader Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Today Orders</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeLeaderIncome()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="mdlUserIncome" class="modal">
    <div class="modal-content">
        <div id="dvUserIncome">
        </div>
    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        $(document).ready(function () {
            GetDateRangeLeaderIncome();
        })
    }
    function GetDateRangeLeaderIncome() {
        $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Leader Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeLeaderIncome",
            datatype: 'html',
            data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
            success: function (result) {
                BindData(result);
            },
            error: function () {
            }
        });
    }
    function DownloadExcel() {
        var url = '/Admin/Reports/GetDateRangeLeaderIncomeExport?FromDate=' + encodeURIComponent($("#txtFromDate").val()) + '&ToDate=' + encodeURIComponent($("#txtToDate").val());
        window.location = url;
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.IncomeType || (user.IncomeType != null && user.IncomeType.toLowerCase().indexOf(filter.IncomeType.toLowerCase()) > -1))
                        && (!filter.TotalMatchingBV || ((user.TotalMatchingBV != null && user.TotalMatchingBV === filter.TotalMatchingBV)))
                        && (!filter.LeaderIncome || ((user.LeaderIncome != null && user.LeaderIncome === filter.LeaderIncome)))
                        && (!filter.TotalLeaderIncome || ((user.TotalLeaderIncome != null && user.TotalLeaderIncome === filter.TotalLeaderIncome)))
                    ;
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                {
                    name: "FullName", type: "text", width: 170, title: "UserId - Name",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += item.RefferalCode + "-" + item.FullName
                        return td;
                    }
                },
                { name: "TotalMatchingBV", type: "number", width: 70, title: "Total Matching BV" },
                { name: "IncomeType", type: "text", width: 70, title: "Income Type" },
                {
                    name: "LeaderIncome", type: "number", width: 70, title: "Income Generate",
                    itemTemplate: function (value, item) {
                        var td = "";
                        var IsLeaderIncome = false;
                        if (item.IncomeType.toLowerCase() == "leader") { IsLeaderIncome = true; }
                        td += "<span onclick=\"GetGoldDiamondIncome(this,'" + item.UserId + "'," + IsLeaderIncome + ")\" style=\"color: #3949ab;\">" + item.LeaderIncome + "</span>"
                        return td;
                    }
                },
                { name: "TotalLeaderIncome", type: "number", width: 70, title: "Income Generated All" },
            ],
            //data: listUserListEnt
            controller: db
        });
    }
    function GetGoldDiamondIncome(btn, UserId, IsLeaderIncome) {
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetGoldDiamondIncome",
            datatype: 'html',
            data: { UserId: UserId, FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val(), IsLeaderIncome: IsLeaderIncome },
            success: function (result) {
                $("#dvUserIncome").html(result);
                $("#mdlUserIncome").modal('open');
            },
            error: function () {
            }
        });
    }
</script>
