﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Direct Refferal Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Direct Refferal Income</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:20%;">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:20%;">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4" style="width:20%;">
                            <input class="editable" id="txtRefferalCode" name="txtRefferalCode" placeholder="RefferalCode Or Name" type="text">
                            <label for="txtRefferalCode" data-error="wrong" data-success="right" class="active">RefferalCode Or Name</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4" style="width:40%;">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeMatchingIncome()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="GetDateRangeMatchingIncomeExport()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        $(document).ready(function () {
            $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Matching Income");
            //GetDateRangeMatchingIncome();
        })
    }
    function GetDateRangeMatchingIncome() {

        $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Matching Income");
        var RefferalCode = $("#txtRefferalCode").val()
        if (RefferalCode.length < 1) {
            swal("Error!", "Please Enter RefferalCode or Name.", "error");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeMatchingIncome",
            datatype: 'html',
            data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val(), RefferalCode: $("#txtRefferalCode").val()},
            success: function (result) {
                BindData(result)
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.Income || ((user.Income != null && user.Income === filter.Income)))
                        && (!filter.BV || ((user.BV != null && user.BV === filter.BV)))
                        && (!filter.TotalIncome || ((user.TotalIncome != null && user.TotalIncome === filter.TotalIncome)))
                        && (!filter.TotalBV || ((user.TotalBV != null && user.TotalBV === filter.TotalBV)))
                    ;
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                {
                    name: "FullName", type: "text", width: 170, title: "UserId - Name",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td+=item.RefferalCode+"-"+item.FullName
                        return td;
                    }
                },
                { name: "BV", type: "number", width: 70, title: "BV Generated Match" },
                { name: "TotalBV", type: "number", width: 70, css: "BV Generated All Match" },
                { name: "Income", type: "number", width: 70, title: "Total Income Matching" },
                { name: "TotalIncome", type: "number", width: 70, title: "Total Income All Matching" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function GetDateRangeMatchingIncomeExport() {

        var StartDate = $('#txtFromDate').val();
        var EndDate = $('#txtToDate').val();
        var RefferalCode = $('#txtRefferalCode').val();

        if (RefferalCode.length < 1) {
            swal("Error!", "Please Enter RefferalCode or Name.", "error");
            return;
        }

        var url = '/Admin/Reports/GetDateRangeMatchingIncomeExport?FromDate=' + StartDate + '&ToDate=' + EndDate + '&RefferalCode=' + RefferalCode;
        window.location = url;
    }
</script>