﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Miles Details Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
    .modal.modal-fixed-footer {
        height: 35%;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Miles Details</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeMilesDetails()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            &nbsp;&nbsp;&nbsp;
                            <a class="waves-effect waves-light btn right" id="btnUploadExcelForMilesUpload">
                                <i class="material-icons left">view_comfy</i> User Miles Excel Upload
                            </a>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4" style="text-align:right;">
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-bottom:10px;font-size: 18px;border-bottom: 1px solid;">
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <span> Total Miles Credit : <b>@Math.Round(ViewBag.TotalCreditAmount, 2)</b></span>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <span> Total Miles Debit : <b>@Math.Round(ViewBag.TotalDebitAmount, 2)</b></span>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <span> Overall Remaining Miles : <b>@Math.Round(ViewBag.OverAllPending, 2)</b></span>
                        </div>

                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="mdlMilesDetails" class="modal">
    <div class="modal-content">
        <div id="dvUserMiles">
        </div>
    </div>
</div>

<!-- Miles Modal Structure -->
<div id="Milemodal" class="modal modal-fixed-footer">
    @using (Html.BeginForm("MileUpload", "Payout", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form class="login-form" id="loginform">
            <div class="modal-content">
                <h5>Upload excel for User Miles</h5>
                <b><label for="Order Notes">Upload excel:</label></b>
                <div class="input-field" style="margin-top:0!important">
                    <input type="file" id="MileUploadedFile" name="MileUploadedFile" />
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect btn" id="BtnMileUploadExcel">Submit</a>
                <a class="waves-effect btn" id="BtnCancelMileUploadExcel" value="Close">Cancel</a>
            </div>
        </form>
    }
</div>
<!-- Miles Modal Trigger -->
<button data-target="Milemodal" id="btnMilesPopUp" style="display:none;" class="btn modal-trigger">Modal</button>

<script type="text/javascript">
    function WindowLoadComplete() {
        $(document).ready(function () {

            $("#txtFromDate").datepicker({
                dateFormat: "dd/mm/yy",
                //maxDate: new Date(),
                onSelect: function (selected) {
                    $("#txtToDate").datepicker("option", "minDate", selected)
                }
            });

            $("#txtToDate").datepicker({
                dateFormat: "dd/mm/yy",
                //maxDate: new Date(),
                onSelect: function (selected) {
                    $("#txtFromDate").datepicker("option", "maxDate", selected)
                }
            });

            GetDateRangeMilesDetails();

            $("#btnUploadExcelForMilesUpload").click(function () {
                $("#MileUploadedFile").val('');
                $("#btnMilesPopUp").click();
            });

            $("#BtnMileUploadExcel").click(function () {

                var fileUpload = $("#MileUploadedFile").get(0);
                var files = fileUpload.files;

                //validation
                if (files.length < 1) {

                    swal("Error!", "Please Upload User Miles Excel File [Required].", "error");
                    $("#MileUploadedFile").val('');
                    return;
                }

                //validation
                var ext = files[0].name.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['xlsx', 'xls']) == -1) {
                    swal("Error!", "Invalid File Uploaded. Please Upload User Miles Excel File [Required].", "error");
                    $("#MileUploadedFile").val('');
                    return;
                }

                swal({
                    title: "Are you sure want to update User Miles?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                    function () {

                        // Create FormData object
                        var fileData = new FormData();
                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        $.ajax({
                            url: "/Admin/Reports/MileUpload",
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (data) {
                                if (data.Key) {
                                    swal("Success!", data.Msg, "success");
                                    $('#Milemodal').modal('close');
                                }
                                else {
                                    if ((data.IsInfo)) {
                                        swal("Information!", data.Msg, "info");
                                    }
                                    else {
                                        swal("Error!", data.Msg, "error");
                                    }

                                    $('#Milemodal').modal('close');
                                }
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    });
            });

            $("#BtnCancelMileUploadExcel").click(function () {
                $('#Milemodal').modal('close');
            });

        })
    }
    function GetDateRangeMilesDetails() {
        $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Miles Details");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeMilesDetails",
            data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
            success: function (result) {
                BindData(result);
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        //&& (!filter.IncomeType || (user.IncomeType != null && user.IncomeType.toLowerCase().indexOf(filter.IncomeType.toLowerCase()) > -1))
                        && (!filter.CreditAmount || ((user.CreditAmount != null && user.CreditAmount === filter.CreditAmount)))
                        && (!filter.TotalCreditAmount || ((user.TotalCreditAmount != null && user.TotalCreditAmount === filter.TotalCreditAmount)))
                        && (!filter.DebitAmount || ((user.DebitAmount != null && user.DebitAmount === filter.DebitAmount)))
                        && (!filter.TotalDebitAmount || ((user.TotalDebitAmount != null && user.TotalDebitAmount === filter.TotalDebitAmount)))
                        && (!filter.FinalBalanceAmount || ((user.FinalBalanceAmount != null && user.FinalBalanceAmount === filter.FinalBalanceAmount)))
                        ;
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                {
                    name: "FullName", type: "text", width: 170, title: "UserId - Name",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += item.RefferalCode + "-" + item.FullName
                        return td;
                    }
                },
                {
                    name: "CreditAmount", type: "number", width: 70, title: "Credit Amount",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += "<span onclick=\"GetMilesDetails(this,'" + item.UserId + "',1)\" style=\"color: #3949ab;\">" + item.CreditAmount + "</span>"
                        return td;
                    }
                },
                { name: "TotalCreditAmount", type: "number", width: 70, title: "Total Credit Amount" },
                {
                    name: "DebitAmount", type: "number", width: 70, title: "Debit Amount",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += "<span onclick=\"GetMilesDetails(this,'" + item.UserId + "',2)\" style=\"color: #3949ab;\">" + item.DebitAmount + "</span>"
                        return td;
                    }
                },
                { name: "TotalDebitAmount", type: "number", width: 70, title: "Total Debit Amount" },
                { name: "FinalBalanceAmount", type: "number", width: 70, title: "Final Balance" },
            ],
            //data: listUserListEnt
            controller: db
        });
    }
    function GetMilesDetails(btn, UserId, Type) {
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMilesDetails",
            datatype: 'html',
            data: { UserId: UserId, FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val(), Type: Type },
            success: function (result) {
                $("#dvUserMiles").html(result);
                $("#mdlMilesDetails").modal('open');
            },
            error: function () {
            }
        });
    }
</script>
