﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Payout Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">

    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Payout Details</h5>
                </li>
                <div class="row" style="margin-top:10px;min-height:400px;">
                    <div class="col s12 m12 l12">
                        <div class="input-field col col-xs-12 s12 m2 l2" style="width:15%">
                            <input class="editable datetextbox" id="txtStartDate" required name="txtStartDate" placeholder="TDS Start Date" type="text" readonly value="@ViewBag.StartDate">
                            <label for="txtStartDate" data-error="wrong" data-success="right" class="active">Start Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m3 l3" style="width:15%">
                            <input class="editable datetextbox" id="txtEndDate" required name="txtEndDate" placeholder="TDS End Date" type="text" readonly value="@ViewBag.EndDate">
                            <label for="txtEndDate" data-error="wrong" data-success="right" class="active">End Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetMonthWisePayoutDtl()">
                                <i class="material-icons left">search</i> Search
                            </a>
                        </div>
                    </div>
                    <div class="input-field col col-xs-12 s12 m12 l12">
                        <div class="col s12" id="dvPayoutList">

                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

<script>
    function WindowLoadComplete() {
        $(document).ready(function () {
            GetMonthWisePayoutDtl();
        })
    }
    
    function GetMonthWisePayoutDtl() {
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMonthWisePayoutDtl",
            datatype: 'html',
            data: { StartDate: $('#txtStartDate').val(), EndDate: $('#txtEndDate').val() },
            success: function (result) {
                $("#dvPayoutList").html(result);
            },
            error: function () {
            }
        });
    }
    
</script>
