﻿@using TRS.Areas.Admin.Controllers
@model List<ProductReportEnt>
@{
    ViewBag.Title = "Profite Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .franchiseename {
        height: 2rem !important;
        margin: 0 0 2px 0 !important;
    }

    .orders {
        padding: 8px 5px !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12" style="margin-top:10px;">
            <div class="input-field col col-xs-12 s6 m4 l4">
                <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
            </div>
            <div class="input-field col col-xs-12 s6 m4 l4">
                <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <a class="waves-effect waves-light btn" id="btnProfitSearch" onclick="GetDateRangeProfite()">
                    <i class="material-icons left">search</i> Search
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12" id="dvProfiteVolume">            
        </div>
    </div>
    
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        GetDateRangeProfite();
        //GetDateRangeVolume();
    }
    function GetDateRangeProfite() {
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeProfite",
            datatype: 'html',
            data: { FromDate: $('#txtFromDate').val(), ToDate: $('#txtToDate').val() },
            success: function (result) {
                $("#dvProfiteVolume").html(result);
            },
            error: function () {
            }
        });
    }
    function GetDateRangeVolume() {
        $("#dataRangeTitleVolume").html($("#txtFromDateVolume").val() + " To " + $("#txtToDateVolume").val() + " Volume Details");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeVolume",
            datatype: 'html',
            data: { FromDate: $('#txtFromDateVolume').val(), ToDate: $('#txtToDateVolume').val() },
            success: function (result) {
                $("#dvDateRangeVolume").html(result);
            },
            error: function () {
            }
        });
    }
</script>