﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Payout Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row" style="margin-top:10px;">
    <div class="col s12 m12 l12">
        <div class="input-field col col-xs-12 s12 m4 l4">
            <select id="MonthName"></select>
            <label for="MonthName" class="center-align">Month</label>
        </div>
        <div class="input-field col col-xs-12 s12 m4 l4">
            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetRefferalUserList()">
                <i class="material-icons left">search</i> Search
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div id="dvUsers">
        </div>
    </div>
</div>
<div id="mdlRefferalUserDetails" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="center">Refferal Users Details</h5>
        <div id="dvRefferalUserDetails">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="ClosePayout()">Close</a>
    </div>
</div>

<script>
    function WindowLoadComplete() {

        var Months =@Html.Raw(Json.Encode(ViewBag.listMonthNames));
        var str="";
        for (var i = 0; i < Months.length; i++) {
            str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
        }
        $("#MonthName").html(str);
        $('#MonthName').material_select();
        GetRefferalUserList();

        @*var listUserListEnt = @Html.Raw(Json.Encode(Model));
        var db = {
            loadData: function(filter) {
                return $.grep(this.listUserListEnt, function(user) {
                    return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.MobileNo || ((user.MobileNo!=null && user.MobileNo === filter.MobileNo)))
                        && (!filter.RefferalCnt || ((user.RefferalCnt!=null && user.RefferalCnt === filter.RefferalCnt)))
                        && (!filter.EmailId ||  (user.EmailId!=null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1));
                });
            },
        };
        db.listUserListEnt=listUserListEnt;
        window.db = db;
        $("#dvUsers").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                { name: "RefferalCode", type: "text",width:70,title: "Refferal Code",css:"refcode"},
                { name: "FullName", type: "text", width:170,title: "Full Name",css:"fullname"},
                { name: "MobileNo",  type: "number", width:100,css:"mobileno",title: "MobileNo"},
                { name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"},
                { name: "RefferalCnt", type: "number",width:170,title: "Refferal Count",
                    itemTemplate: function(value,item) {
                        var td="<a href=\"#\" onclick=\"ViewRefferalUserList("+item.UserId+")\" >"+item.RefferalCnt+"</a>";
                        return td;
                    }}
            ],
            //data: listUserListEnt
            controller: db
        });*@
    }

    function GetRefferalUserList(){
        $.ajax({
            url: "/Admin/Reports/GetRefferalUserList",
            type: 'POST',
            data: { MonthYear: $('#MonthName').val()},
            cache: false,
            success: function (data) {
                var listUserListEnt = data;
                var db = {
                    loadData: function(filter) {
                        return $.grep(this.listUserListEnt, function(user) {
                            return (!filter.RefferalCode || (user.RefferalCode!=null &&  user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                                && (!filter.FullName ||  (user.FullName!=null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                                && (!filter.MobileNo || ((user.MobileNo!=null && user.MobileNo === filter.MobileNo)))
                                && (!filter.RefferalCnt || ((user.RefferalCnt!=null && user.RefferalCnt === filter.RefferalCnt)))
                                && (!filter.EmailId ||  (user.EmailId!=null && user.EmailId.toLowerCase().indexOf(filter.EmailId.toLowerCase()) > -1));
                        });
                    },
                };
                db.listUserListEnt=listUserListEnt;
                window.db = db;
                $("#dvUsers").jsGrid({
                    height: "70%",
                    width: "100%",
                    sorting: true,
                    paging: true,
                    filtering: true,
                    autoload: true,
                    //pageSize: 25,
                    //pageButtonCount: 10,
                    fields: [
                        { name: "RefferalCode", type: "text",width:70,title: "Refferal Code",css:"refcode"},
                        { name: "FullName", type: "text", width:170,title: "Full Name",css:"fullname"},
                        { name: "MobileNo",  type: "number", width:100,css:"mobileno",title: "MobileNo"},
                        { name: "EmailId",  type: "text", width:200,css:"emailid",title: "EmailId"},
                        { name: "RefferalCnt", type: "number",width:170,title: "Refferal Count",
                            itemTemplate: function(value,item) {
                                var td="<a href=\"#\" onclick=\"ViewRefferalUserList("+item.UserId+")\" >"+item.RefferalCnt+"</a>";
                                return td;
                            }}
                    ],
                    //data: listUserListEnt
                    controller: db
                });
            }
        });
    }

    function ViewRefferalUserList(UserId){
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/RefferalUserListDetails",
            datatype: 'html',
            data: { UserId: UserId,MonthYear: $('#MonthName').val() },
            success: function (result) {
                $("#dvRefferalUserDetails").html(result);
                $("#mdlRefferalUserDetails").modal();
                $("#mdlRefferalUserDetails").modal('open');
            },
            error: function () {
            }
        });
    }
</script>