﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Retail Reward Monthly Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }

    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Retail Reward Monthly Income Report</h5>
                </li>
            </ul>
            <div class="row">
                <div class="col s12 m12 l12" style="margin-top:10px;">
                    <div class="input-field col col-xs-12 s12 m4 l4">
                        <select id="MonthName"></select>
                        <label for="MonthName" class="center-align">Month</label>
                        <input type="hidden" id="RetailRewardIncomeSummaryId" name="RetailRewardIncomeSummaryId" value="">
                    </div>
                    <div class="input-field col col-xs-12 s12 m4 l4">
                        <select id="QualifiedType">
                            <option value="1" selected>Qualified</option>
                            <option value="0">Non-Qualified</option>
                        </select>
                        <label for="QualifiedType" class="center-align">Type</label>
                    </div>
                    <div class="input-field col col-xs-12 s12 m4 l4">
                        <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeUplineMonthly()">
                            <i class="material-icons left">search</i> Search
                        </a>
                        <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                            <i class="material-icons left" title="Download Excel">file_download</i>
                        </a>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        @*<span>Total Matching Income: </span><span id="TotalMatchingIncome" class="fontbold"></span>*@
                        <span>Total Repurchase BV: </span><a style="cursor:pointer"><span id="TotalRepurchaseBV" onclick="GetUplineIncomeGoldUserDetails()" class="fontbold"></span></a>
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        <span>Admin Budget : </span>@*<span id="UplineBugetIncome" class="fontbold"></span>*@
                        <input class="editable" id="txtRetailRewardBugetIncome" style="width:40%" name="txtRetailRewardBugetIncome" placeholder="" type="text">
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:12%">
                        <a class="waves-effect waves-light btn" id="btnUplineIncomeCal" onclick="ReCalculateUplineIncome()">
                            Re-Calculate
                        </a>
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        <span>Total BV Qualifier: </span><span id="TotalBVQualifier" class="fontbold"></span>
                    </div>
                    <div class="col s12 m4 l3 margin10" style="width:20%">
                        <span>BV Multiplier: </span><span id="BVMultiplier" class="fontbold"></span>
                    </div>
                </div>
            </div>
            <div class="col s12  no-more-tables" id="dvData">
            </div>
        </div>
    </div>
</div>
<div id="mdlUplineMonthlyDetails" class="modal modal-fixed-footer" style="width:70%;">
    <div class="modal-content">
        <h5 class="center">Retail Reward Repurchase BV Details</h5>
        <div id="dvUplineMonthlyDetails">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="ClosePayout()">Close</a>
    </div>
</div>

<script type="text/javascript">

    function ClosePayout() {
        $("#mdlUplineMonthlyDetails").modal('close');
    }

    function WindowLoadComplete() {

        var Months = @Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetDateRangeUplineMonthly();
        });
    }

    function GetUplineIncomeGoldUserDetails() {

        var RetailRewardIncomeSummaryId = $("#RetailRewardIncomeSummaryId").val();

        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetRetailRewardRepurchaseBVDetails",
            datatype: 'html',
            data: { RetailRewardIncomeSummaryId: RetailRewardIncomeSummaryId },
            success: function (result) {
                $("#dvUplineMonthlyDetails").html(result);
                $("#mdlUplineMonthlyDetails").modal('open');
            },
            error: function () {
            }
        });

    }

    function GetDateRangeUplineMonthly() {
        $("#dataRangeTitle").html("Retail Reward Monthly Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetRetailRewardMonthly",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val(), QualifiedType: $("#QualifiedType").val() },
            success: function (result) {
                if (result != null && result.length > 0) {
                    $('#TotalRepurchaseBV').text(result[0].TotalRepurchaseBV)
                    $('#txtRetailRewardBugetIncome').val(result[0].RetailRewardBugetIncome)
                    $('#TotalBVQualifier').text(result[0].TotalBVQualifier)
                    $('#BVMultiplier').text(result[0].BVMultiplier)
                    $('#RetailRewardIncomeSummaryId').val(result[0].RetailRewardIncomeSummaryId)
                }
                else {
                    $('#TotalRepurchaseBV').text("")
                    $('#txtRetailRewardBugetIncome').val("")
                    $('#TotalBVQualifier').text("")
                    $('#BVMultiplier').text("")
                    $('#RetailRewardIncomeSummaryId').val('')
                }
                BindData(result);
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.MMYY || ((user.MMYY != null && user.MMYY === filter.MMYY)))
                        && (!filter.SelfPurchaseBV || ((user.SelfPurchaseBV != null && user.SelfPurchaseBV === filter.SelfPurchaseBV)))
                        && (!filter.DirectTeamPurchaseBV || ((user.DirectTeamPurchaseBV != null && user.DirectTeamPurchaseBV === filter.DirectTeamPurchaseBV)))
                        && (!filter.TotalBV || ((user.TotalBV != null && user.TotalBV === filter.TotalBV)))
                        && (!filter.RetailRewardIncome || ((user.RetailRewardIncome != null && user.RetailRewardIncome === filter.RetailRewardIncome)));
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            fields: [
                {
                    name: "FullName", type: "text", width: 120, title: "RefferalCode - UserName",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += item.RefferalCode + " - " + item.FullName
                        return td;
                    }
                },
                { name: "MobileNo", type: "number", width: 35, title: "MobileNo" },
                { name: "MMYY", type: "text", width: 35, title: "Month-Year" },
                { name: "SelfPurchaseBV", type: "number", width: 50, title: "Self BV [Monthly]" },
                { name: "DirectTeamPurchaseBV", type: "number", width: 50, title: "Direct BV [Monthly]" },
                { name: "TotalBV", type: "number", width: 50, title: "Self+Direct BV [Monthly]" },
                { name: "BVMultiplier", type: "number", width: 50, title: "BV Multiplier" },
                { name: "RetailRewardIncome", type: "number", width: 50, title: "RetailReward Income [Monthly]" },
                { name: "UTRRefNo", type: "text", width: 50, title: "UTRRefNo" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function DownloadExcel() {
        var url = '/Admin/Reports/GetRetailRewardMonthlyExport?MonthYear=' + encodeURIComponent($('#MonthName').val()) + '&QualifiedType=' + encodeURIComponent($("#QualifiedType").val());
        window.location = url;
    }

    function ReCalculateUplineIncome() {

        var RetailRewardIncomeSummaryId = $("#RetailRewardIncomeSummaryId").val();
        var RetailRewardBugetIncome = $("#txtRetailRewardBugetIncome").val();

        $.ajax({
            type: "POST",
            url: "/Admin/Reports/RetailRewardIncomeReCalculate",
            datatype: 'html',
            data: { RetailRewardIncomeSummaryId: RetailRewardIncomeSummaryId, RetailRewardBugetIncome: RetailRewardBugetIncome },
            success: function (data) {
                if (data.Key) {
                    swal("Success!", data.Msg, "success");
                    GetDateRangeUplineMonthly();
                }
                else {
                    swal("Error!", data.Msg, "error");
                }
            },
            error: function (er) {
                alert(er);
            },
        });
    }
</script>