﻿@using TRSImplementation
@{
    ViewBag.Title = "Reward Fund";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<style>
    .usertypes {
        height: 20px;
    }

    .popupdivheader {
        font-weight: bold !important;
        text-align: left;
    }

    #task-card .collection-header {
        padding: 10px 20px !important;
    }

    .popupdiv {
        text-align: left;
        width: 100%;
        display: inline-block;
    }

    .PopupDivspn {
        display: inline-block;
        padding: 5px 15px;
        width: 31%;
        text-align: right;
    }

    .popupInput {
        margin: 0 !important;
        width: 65% !important;
    }

    .popupInnerDiv {
        width: 49%;
        display: inline-block;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="UserListTitle">Reward Fund</h5>
            </li>
        </ul>
        <div class="row" style="margin-top:10px;min-height:400px;">
            <div class="input-field col col-xs-12 s12 m6">
                <span>Total Budget Amount : &nbsp;&nbsp;&nbsp;</span>
                <b>
                    <span id="spnTotalBudgetAmount"></span>
                </b>
            </div>
            <div class="input-field col col-xs-12 s12 m6" style="text-align:right;">
                <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadRewardFundExcel()" title="Download Reward Fund Excel">
                    <i class="material-icons left" title="Download Reward Fund Excel">file_download</i>
                </a>
            </div>

            <div class="input-field col col-xs-12 s12 m12 l12">
                <div class="col s12" id="dvUserRewardFund">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="mdlUserIncome" class="modal">
    <div class="modal-content">
        <div id="dvUserIncome">
        </div>
    </div>
</div>

<style>
    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 70%;
        width: 70%;
        will-change: top, opacity;
    }
</style>

<!-- jQuery Library -->
<script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>

<script>
    function WindowLoadComplete() {

        GetRewardFundDetails();
    }

    function GetRewardFundDetails() {

        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetRewardFundDetails",
            datatype: 'html',
            data: {
                
            },
            success: function (result) {
                
                $("#dvUserRewardFund").html(result);
            },
            error: function (er) {
                alert(er.statusText);
            }
        });
    }

    function DownloadRewardFundExcel() {

        var url = '/Admin/Reports/GetRewardFundDetailsExport';
        window.location = url;
    }

</script>
