﻿@using TRSImplementation
@{
    ViewBag.Title = "Rewards Approval";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string WebsiteURL = System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"];
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
    var objclsLogin = (clsLogin)Session[clsImplementationMessage.LoginInfo];
}
<style>
    .usertypes {
        height: 20px;
    }

    .popupdivheader {
        font-weight: bold !important;
        text-align: left;
    }

    #task-card .collection-header {
        padding: 10px 20px !important;
    }

    .popupdiv {
        text-align: left;
        width: 100%;
        display: inline-block;
    }

    .PopupDivspn {
        display: inline-block;
        padding: 5px 15px;
        width: 31%;
        text-align:right;
    }

    .popupInput {
        margin: 0 !important;
        width: 65% !important;
    }

    .popupInnerDiv {
        width: 49%;
        display: inline-block;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="row">
    <div class="col s12 m12 l12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h5 class="task-card-title" id="UserListTitle">Rewards Approval</h5>
            </li>
        </ul>
        <div class="row" style="margin-top:10px;min-height:400px;">
            <div class="input-field col col-xs-12 s12 m4 l4">
                <select id="MonthName"></select>
                <label for="MonthName" class="center-align">Month</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeRewardsApprovalDetails()">
                    <i class="material-icons left">search</i> Search
                </a>
            </div>

            <div class="input-field col col-xs-12 s12 m12 l12">
                <div class="col s12" id="dvUserRewardsApproval">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="mdlUserIncome" class="modal">
    <div class="modal-content">
        <div id="dvUserIncome">
        </div>
    </div>
</div>

<div id="viewClaimRewardApprove" class="modal">
    <div class="modal-content center">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h6 class="task-card-title popupdivheader" id="dataRangeTitle">
                        Claimed Reward BV(<span id="spnClaimedRewardBV"></span>)
                    </h6>
                </li>

                <div>
                    <div class="popupdiv">
                        <span class="PopupDivspn">Reference No : </span>
                        <input type="text" class="popupInput" id="txtRefNo" />
                    </div>
                    <div class="popupdiv">
                        <span class="PopupDivspn">Notes : </span>
                        <input type="text" class="popupInput" id="txtNotes" />
                    </div>
                    <div class="popupdiv">
                        <div class="popupInnerDiv" style="vertical-align:top;">
                            <span class="PopupDivspn" style="width:63%;padding:5px 14px 5px 0px;">Amount Used for Rewards :</span>
                            <input type="text" class="popupInput" style="width:30% !important;" id="txtAmtUsedForRewards" />
                        </div>
                        <div class="popupInnerDiv">
                            <span class="PopupDivspn" style="width:73%;margin:5px 0px 0px 0px;">Amount Reward budget :</span> <span id="spn4PerClaimedBV"></span> <br />
                            <span class="PopupDivspn" style="font-size:smaller; width:73%;">4% of claimed reward BV</span>
                        </div>
                    </div>
                    <br /><br />
                    <div class="popupdiv">
                        <div class="popupInnerDiv">
                            <h5 style="text-align:center;">Are You Sure</h5>
                        </div>
                        <div class="popupInnerDiv">
                            <span id="spnRewardClaimedMstId" style="visibility:hidden"></span>
                            <a class="waves-effect waves-light btn" id="btnYes">
                                <i class="material-icons left">done</i> Yes
                            </a>
                            <a class="waves-effect waves-light btn" id="btnNo">
                                <i class="material-icons left">clear</i> No
                            </a>
                        </div>
                    </div>
                    <br /><br />
                </div>
            </ul>
        </div>
    </div>
</div>

<div id="viewClaimRewardDisApprove" class="modal">
    <div class="modal-content center">

        <h5>Are You Sure want to disapprove?</h5>
        <div>
            Notes : <input type="text" id="txtDisNotes" style="width:450px;" />
        </div>
        <span id="spnDisRewardClaimedMstId" style="visibility:hidden"></span>
        <a class="waves-effect waves-light btn" id="btnDisYes">
            <i class="material-icons left">done</i> Yes
        </a>
        <a class="waves-effect waves-light btn" id="btnDisNo">
            <i class="material-icons left">clear</i> No
        </a>

    </div>
</div>

<style>
    .modal {
        left: 0;
        right: 0;
        background-color: #fafafa;
        padding: 0;
        max-height: 70%;
        width: 70%;
        will-change: top, opacity;
    }
</style>

<!-- jQuery Library -->
<script type="text/javascript" src="/Content/vendors/jquery-3.2.1.min.js"></script>

<script>
    function WindowLoadComplete() {

        var Months =@Html.Raw(Json.Encode(Model));

        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();

            GetDateRangeRewardsApprovalDetails();
        });
    }

    function GetDateRangeRewardsApprovalDetails() {

        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMonthWiseRewardApprovalDetails",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val() },
            success: function (result) {
                $("#dvUserRewardsApproval").html(result);
            },
            error: function (er) {
                alert(er.statusText);
            }
        });
    }

    function RewardApprovalApproveClick(RewardClaimedMstId, ClaimedRewardBV) {

        $("#spnClaimedRewardBV").text(ClaimedRewardBV);
        $("#spn4PerClaimedBV").text(Math.round((ClaimedRewardBV * 0.04 * 10), 0));
        $("#spnRewardClaimedMstId").text(RewardClaimedMstId);

        $("#viewClaimRewardApprove").modal('open');
    }

    $("#btnNo").click(function () {
        $("#viewClaimRewardApprove").modal('close');
    });

    $("#btnYes").click(function () {

        if ($("#txtRefNo").val().trim() == "") {
            swal("Information!", "Please enter Reference No.!", "error");
            return false;
        }
        else if ($("#txtNotes").val().trim() == "") {
            swal("Information!", "Please enter Note!", "error");
            return false;
        }
        else if ($("#txtAmtUsedForRewards").val().trim() == "") {
            swal("Information!", "Please enter Amout Used For Rewards!", "error");
            return false;
        }
        else if (isNaN(parseInt($("#txtAmtUsedForRewards").val().trim()))
            || parseInt($("#txtAmtUsedForRewards").val().trim()) <= 0) {
            swal("Information!", "Please enter valid Amout Used For Rewards!", "error");
            $("#txtAmtUsedForRewards").val('');
            return false;
        }
        else if (parseInt($("#txtAmtUsedForRewards").val().trim()) > parseInt($("#spn4PerClaimedBV").text().trim())) {
            swal("Information!", "Amount used for reward should not greater then amount reward budget!", "error");
            $("#txtAmtUsedForRewards").val('');
            return false;
        }

        $("#viewClaimRewardApprove").modal('close');

            $.ajax({
                url: "/Admin/Reports/UpdateClaimRewardStatus",
                type: 'POST',
                data: {
                    RewardClaimedMstId: $("#spnRewardClaimedMstId").text(),
                    RefNo: $("#txtRefNo").val(),
                    Notes: $("#txtNotes").val(),
                    AmtUsdForRewards: $("#txtAmtUsedForRewards").val(),
                    AmtRewardBudget: $("#spn4PerClaimedBV").text()
                },
                cache: false,
                success: function (data) {
                    if (data.Key) {
                        swal("Success!", "Reward approval successfully done.", "success");
                        window.location.href = "/Admin/Reports/RewardsApproval";
                    }
                    else {
                        swal("Error!", data.Msg, "error");
                        window.location.href = "/Admin/Reports/RewardsApproval";
                    }
                }
            })
    })

    function RewardApprovalDisApproveClick(RewardClaimedMstId) {

        $("#spnDisRewardClaimedMstId").text(RewardClaimedMstId);

        $("#viewClaimRewardDisApprove").modal('open');
    }

    $("#btnDisNo").click(function () {
        $("#viewClaimRewardDisApprove").modal('close');
    });

    $("#btnDisYes").click(function () {

        if ($("#txtDisNotes").val().trim() == "") {
            swal("Information!", "Please enter Note!", "error");
            return false;
        }

        $("#viewClaimRewardDisApprove").modal('close');

        $.ajax({
            url: "/Admin/Reports/UpdateClaimRewardStatusDis",
            type: 'POST',
            data: {
                RewardClaimedMstId: $("#spnDisRewardClaimedMstId").text(),
                Notes: $("#txtDisNotes").val()
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    swal("Success!", "Reward approval DisApproved successfully.", "success");
                    window.location.href = "/Admin/Reports/RewardsApproval";
                }
                else {
                    swal("Error!", data.Msg, "error");
                    window.location.href = "/Admin/Reports/RewardsApproval";
                }
            }
        })
    })

</script>
