﻿@{
    ViewBag.Title = "Sales Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .franchiseename {
        height: 2rem !important;
        margin: 0 0 2px 0 !important;
    }

    .orders {
        padding: 8px 5px !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="input-field col col-xs-12 s12 m4 l4">
                <select id="MonthName"></select>
                <label for="MonthName" class="center-align">Month</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <select id="WeekNo"></select>
                <label for="WeekNo" class="center-align">Week</label>
            </div>
            <div class="input-field col col-xs-12 s12 m4 l4">
                <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetDateRangeOrderDetails()">
                    <i class="material-icons left">search</i> Search
                </a>
                <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadSalesExcel()" title="Download Sales Excel">
                    <i class="material-icons left" title="Download Sales Excel">file_download</i>
                </a>
            </div>
        </div>
        <div class="col s12  no-more-tables" id="dvDateRangeOrder">
        </div>
    </div>
    <div id="mdlProductDetails" class="modal">
        <div class="modal-content">
            <h5 class="center">Order Details</h5>
            <hr />
            <div id="dvOrderDetails">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function WindowLoadComplete() {
        var Months =@Html.Raw(Json.Encode(Model));
        $(document).ready(function(){
            var str="";
            for (var i = 0; i < Months.length; i++) {
                str=str+"<option value=\""+Months[i].MonthYear+"\">"+Months[i].MonthName+"</option>";
            }
            $("#MonthName").html(str);
            $('#MonthName').material_select();
            GetMonthWeekDtl();
        });

        $('#MonthName').change(function(){
            GetMonthWeekDtl();
        });

        function GetMonthWeekDtl() {
            $.ajax({
                type: "POST",
                url: "/Admin/Reports/GetMonthWeekDtl",
                datatype: 'html',
                data: { MonthYear: $('#MonthName').val()},
                success: function (result) {
                    //console.log(result);
                    var str="<option value='0'>All</option>";
                    for (var i = 0; i < result.length; i++) {
                        str=str+"<option value=\""+result[i].WeekNo+"\">"+result[i].WeekName+"</option>";
                    }
                    $("#WeekNo").html(str);
                    $('#WeekNo').material_select();
                    GetDateRangeOrderDetails();
                },
                error: function () {
                }
            });
        }
    }
    function GetDateRangeOrderDetails() {
        $("#dataRangeTitle").html($('#MonthName option:selected').text()+" Matching Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetMonthWiseSalesDetails",
            datatype: 'html',
            data: { MonthYear: $('#MonthName').val(),WeekNo: $('#WeekNo').val()},
            success: function (result) {
                $("#dvDateRangeOrder").html(result);
            },
            error: function () {
            }
        });
    }
    function DownloadSalesExcel() {
        var MonthName = $('#MonthName').val();
        var WeekNo = $('#WeekNo').val();
        var url = '/Admin/Reports/GetMonthWiseSalesDetailsExport?MonthYear=' + encodeURIComponent(MonthName) + '&WeekNo=' + encodeURIComponent(WeekNo);
        window.location = url;
    }
</script>