﻿@using TRSImplementation
@using TRS.Models
@{
    ViewBag.Title = "Direct Refferal Income Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string Version = HttpContext.Current.Application[clsImplementationMessage.Version].ToString();
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
    .select-dropdown {
        z-index: 996 !important;
    }
</style>
<link href="~/Content/vendors/jsgrid/css/jsgrid.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/jsgrid/css/jsgrid-theme.min.css" type="text/css" rel="stylesheet">
<link href="~/Content/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title" id="dataRangeTitle">Volt Income Report</h5>
                </li>
                <div class="row">
                    <div class="col s12 m12 l12" style="margin-top:10px;">
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtFromDate" name="txtFromDate" placeholder="From Date" type="text" readonly value="@ViewBag.FromDate">
                            <label for="txtFromDate" data-error="wrong" data-success="right" class="active">From Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s6 m4 l4">
                            <input class="editable datetextbox" id="txtToDate" name="txtToDate" placeholder="To Date" type="text" readonly value="@ViewBag.ToDate">
                            <label for="txtToDate" data-error="wrong" data-success="right" class="active">To Date</label>
                        </div>
                        <div class="input-field col col-xs-12 s12 m4 l4">
                            <a class="waves-effect waves-light btn" id="btnEdit" onclick="GetVoltIncomeList()">
                                <i class="material-icons left">search</i> Search
                            </a>
                            <a class="waves-effect waves-light btn" id="btnDownload" onclick="DownloadExcel()" title="Download Excel">
                                <i class="material-icons left" title="Download Excel">file_download</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12  no-more-tables" id="dvData">
                </div>
            </ul>
        </div>
    </div>
</div>
<div id="mdlVoltIncomeDetails" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="center">Volt Income Details</h5>
        <div id="dvVoltIncomeDetails">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="ClosePayout()">Close</a>
    </div>
</div>

<script type="text/javascript">
    function WindowLoadComplete() {
        $(document).ready(function () {
            GetVoltIncomeList();
        })
    }
    function GetVoltIncomeList() {
        $("#dataRangeTitle").html($("#txtFromDate").val() + " To " + $("#txtToDate").val() + " Volt Income");
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetVoltIncomeList",
            datatype: 'html',
            data: { FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
            success: function (result) {
                BindData(result)
            },
            error: function () {
            }
        });
    }

    function BindData(listUserListEnt) {
        var db = {
            loadData: function (filter) {
                return $.grep(this.listUserListEnt, function (user) {
                    return (!filter.FullName || (user.FullName != null && user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1))
                        && (!filter.RefferalCode || (user.RefferalCode != null && user.RefferalCode.toLowerCase().indexOf(filter.RefferalCode.toLowerCase()) > -1))
                        && (!filter.NoOfVolts || ((user.NoOfVolts != null && user.NoOfVolts === filter.NoOfVolts)))
                        && (!filter.TotalNoOfVolts || ((user.TotalNoOfVolts != null && user.TotalNoOfVolts === filter.TotalNoOfVolts)))
                        && (!filter.VoltMiles || ((user.VoltMiles != null && user.VoltMiles === filter.VoltMiles)))
                        && (!filter.TotalVoltMiles || ((user.TotalVoltMiles != null && user.TotalVoltMiles === filter.TotalVoltMiles)))
                    ;
                });
            },
        };
        db.listUserListEnt = listUserListEnt;
        window.db = db;
        $("#dvData").jsGrid({
            height: "70%",
            width: "100%",
            sorting: true,
            paging: true,
            filtering: true,
            autoload: true,
            //pageSize: 25,
            //pageButtonCount: 10,
            fields: [
                {
                    name: "FullName", type: "text", width: 170, title: "UserId - Name",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td+=item.RefferalCode+"-"+item.FullName
                        return td;
                    }
                },
                {
                    name: "NoOfVolts", type: "number", width: 70, title: "No Of Volt Generated",
                    itemTemplate: function (value, item) {
                        var td = "";
                        td += "<span style=\"color: #3949ab;\" onclick=\"GetDateRangeVoltIncome(" + item.UserId + ")\">" + item.NoOfVolts + "</span>"
                        return td;
                    }
                },
                { name: "TotalNoOfVolts", type: "number", width: 70, css: "No Of Volt All Generated" },
                { name: "VoltMiles", type: "number", width: 70, title: "Volt Miles" },
                { name: "TotalVoltMiles", type: "number", width: 70, title: "Total Volt Miles" }
            ],
            //data: listUserListEnt
            controller: db
        });
    }

    function GetDateRangeVoltIncome(UserId) {
        $.ajax({
            type: "POST",
            url: "/Admin/Reports/GetDateRangeVoltIncome",
            datatype: 'html',
            data: { UserId: UserId, FromDate: $("#txtFromDate").val(), ToDate: $("#txtToDate").val() },
            success: function (result) {
                $("#dvVoltIncomeDetails").html(result);
                $("#mdlVoltIncomeDetails").modal();
                $("#mdlVoltIncomeDetails").modal('open');
            },
            error: function () {
            }
        });
    }
    function DownloadExcel() {
        var url = '/Admin/Reports/GetDateRangeVoltIncomeExport?FromDate=' + encodeURIComponent($("#txtFromDate").val()) + '&ToDate=' + encodeURIComponent($("#txtToDate").val());
        window.location = url;
    }
</script>