﻿@using TRSImplementation
@using TRS.Models
@model DashboardSalesExpenseProfiteMdl
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.TotalSales</a></h5>
            <p class="no-margin">Total Sales</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.TotalProfit</a></h5>
            <p class="no-margin">Total Profit</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ActiveMemberCnt</a></h5>
            <p class="no-margin">Active Members</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.InActiveMemberCnt</a></h5>
            <p class="no-margin">Inactive Members</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekSales</a></h5>
            <p class="no-margin">This Week Sales</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisMonthSales</a></h5>
            <p class="no-margin">This Month Sales</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekDirectSales</a></h5>
            <p class="no-margin">Week Direct Sales</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekRepurchaseSales</a></h5>
            <p class="no-margin">Week Repurchase Sales</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisMonthDirectSales</a></h5>
            <p class="no-margin">Month Direct Sales</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisMonthRepurchaseSales</a></h5>
            <p class="no-margin">Month Repurchase Sales</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekExpense</a></h5>
            <p class="no-margin">This Week Expenses</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisMonthExpense</a></h5>
            <p class="no-margin">This Month Expenses</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekProfite</a></h5>
            <p class="no-margin">This Week Profit</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisMonthProfite</a></h5>
            <p class="no-margin">This Month Profit</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekBV</a></h5>
            <p class="no-margin">This Week BV</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisMonthBV</a></h5>
            <p class="no-margin">This Month BV</p>
        </div>
    </div>
</div>
<div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
    <div class="padding-4">
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekDirectBV</a></h5>
            <p class="no-margin">This Week Direct BV</p>
        </div>
        <div class="col s6 m6 left-align">
            <h5 class="mb-0"><a href="#" style="color:white;">@Model.ThisWeekRepurchaseBV</a></h5>
            <p class="no-margin">This Week Repurchase BV</p>
        </div>
    </div>
</div>