﻿@using TRSImplementation
<style>
    td, th {
        padding: 8px 5px;
    }
</style>
<div class="col s12 m6">
    <div id="chartjs" class="section">
        <h4 class="header">Sales Report</h4>
        <div class="row">
            <div class="col s12">
                <div class="sample-chart-wrapper">
                    <canvas id="line-chart-sample" height="160"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6">
    <div id="chartjs" class="section">
        <h4 class="header">Joining</h4>
        <div class="row">
            <div class="col s12">
                <div class="sample-chart-wrapper">
                    <canvas id="teamjoininggraph" height="160"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6">
    <div class="col s12">
        <div id="chartjs" class="section">
            <h4 class="header">Expenses</h4>
            <div class="row">
                <div class="col s12">
                    <div class="sample-chart-wrapper">
                        <canvas id="expensegraph" height="160"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6">
    <div class="col s12">
        <div id="chartjs" class="section">
            <h4 class="header">Profit</h4>
            <div class="row">
                <div class="col s12">
                    <div class="sample-chart-wrapper">
                        <canvas id="profitgraph" height="160"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6 l6">
    @*<h4 class="header">Top Retailer</h4>
    <table class="striped">
        <thead>
            <tr>
                <th>User Code</th>
                <th>Name</th>
                <th>BV</th>
            </tr>
        </thead>
        <tbody id="tbodyTopRetailerDetails">
        </tbody>
    </table>*@
</div>
<div class="col s12 m6 l6">
    <h4 class="header">Pending Orders</h4>
    <table class="striped">
        <thead>
            <tr>
                <th>OrderNo</th>
                <th>User Code</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
                var listOrders = (List<PROC_GET_USER_ORDER_HDR_Result>)ViewBag.listOrders;
                if (listOrders.Any())
                {
                    foreach (var item in listOrders)
                    {
                    <tr>
                        <td data-title="OrderNo">@item.OrderNo</td>
                        <td data-title="User Code">@item.RefferalCode</td>
                        <td data-title="Date">@item.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td data-title="Amount">@item.TotalOrderAmount</td>
                    </tr>
                    }
                }
                if (listOrders.Count == 10)
                {
                    <tr>
                        <td colspan="4" style="text-align:right;">
                            <a href="/Admin/Orders/Index">More</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="col s12 m12 l12">
    <h4 class="header">Pending Queries</h4>
    <table class="striped">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Comment</th>
                <th class="hide">Response</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var listQueries = (List<PROC_GET_QUERY_SUPPORT_Result>)ViewBag.listQuerySupport;
                foreach (var item in listQueries)
                {
                    <tr data-id="@item.QuerySupportId">
                        <td data-title="UserName">@(item.RefferalCode + " " + item.FirstName)</td>
                        <td data-title="Date">@item.CreatedOn</td>
                        <td data-title="Subject">@item.Subject</td>
                        <td data-title="Comment">@item.Comment</td>
                        <td class="hide Response" data-title="Response">@item.Response</td>
                        <td>
                            <a style="cursor:pointer;padding-right:5px;" onclick="UpdateResponse(this,@item.QuerySupportId)" class="waves-effect waves-cyan" title="Response">                                
                                <i class="material-icons">edit</i>
                                <span class="nav-text"></span>                                
                            </a>
                            <a style="cursor:pointer" onclick="ResolveQuery(@item.QuerySupportId)" class="waves-effect waves-cyan" title="Resolve Query">                                
                                <i class="material-icons">done</i>
                                <span class="nav-text"></span>                                
                            </a>
                        </td>
                    </tr>
                }
                if (listOrders.Count == 10)
                {
                    <tr>
                        <td colspan="5" style="text-align:right;">
                            <a href="/Admin/Support/Index">More</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>

    //$("#tbodyTopRetailerDetails").append('Loading..');

    var OrderMonths = @Html.Raw(Json.Encode(ViewBag.OrderMonths));
    var OrderMonthsValue = @Html.Raw(Json.Encode(ViewBag.OrderMonthsValue));

    var ProfitMonths = @Html.Raw(Json.Encode(ViewBag.ProfitMonths));
    var ProfitMonthsValue = @Html.Raw(Json.Encode(ViewBag.ProfitMonthsValue));

    var JoinMonths = @Html.Raw(Json.Encode(ViewBag.JoinMonths));
    var InActiveRegistrationCntMonthsValue = @Html.Raw(Json.Encode(ViewBag.InActiveRegistrationCntMonthsValue));
    var ActiveRegistrationCntMonthsValue = @Html.Raw(Json.Encode(ViewBag.ActiveRegistrationCntMonthsValue));

    var ExpenseMonths = @Html.Raw(Json.Encode(ViewBag.ExpenseMonths));
    var ExpenseMonthsValue = @Html.Raw(Json.Encode(ViewBag.ExpenseMonthsValue));

    var LineChartSampleData = {
        labels: JoinMonths,
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(0, 191, 165,0.2)",
            strokeColor: "rgba(0, 191, 165,1)",
            pointColor: "rgba(0, 191, 165,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0, 191, 165,1)",
            data: OrderMonthsValue
        }]
    };

    var ProfitChartSampleData = {
        labels: ProfitMonths,
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(0, 191, 165,0.2)",
            strokeColor: "rgba(0, 191, 165,1)",
            pointColor: "rgba(0, 191, 165,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0, 191, 165,1)",
            data: ProfitMonthsValue
        }]
    };

    var TeamJoiningGraphData = {
        labels: OrderMonths,
        datasets: [{
            label: "My Second dataset",
            fillColor: "#ff00001a",
            strokeColor: "red",
            pointColor: "red",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "red",
            data: InActiveRegistrationCntMonthsValue
        },
        {
            label: "My First dataset",
            fillColor: "rgba(0, 191, 165,0.2)",
            strokeColor: "rgba(0, 191, 165,1)",
            pointColor: "rgba(0, 191, 165,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0, 191, 165,1)",
            data: ActiveRegistrationCntMonthsValue
        }]
    };

    var ExpenseGraphData = {
        labels: ExpenseMonths,
        datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(0, 191, 165,0.2)",
            strokeColor: "rgba(0, 191, 165,1)",
            pointColor: "rgba(0, 191, 165,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0, 191, 165,1)",
            data: ExpenseMonthsValue
        }]
    };

    window.LineChartSample = new Chart(document.getElementById("line-chart-sample").getContext("2d")).Line(LineChartSampleData, {
        responsive: true
    });

    window.LineChartSample = new Chart(document.getElementById("teamjoininggraph").getContext("2d")).Line(TeamJoiningGraphData, {
        responsive: true
    });

    window.LineChartSample = new Chart(document.getElementById("expensegraph").getContext("2d")).Line(ExpenseGraphData, {
        responsive: true
    });

    window.LineChartSample = new Chart(document.getElementById("profitgraph").getContext("2d")).Line(ProfitChartSampleData, {
        responsive: true
    });

    //$.ajax({
    //    type: "POST",
    //    url: "/Admin/Dashboard/GetTopRetailerDetails",
    //    datatype: 'html',
    //    data: {},
    //    success: function (data) {
    //        var str = "";
    //        if (data != null && data.records.length > 0) {
    //            for (var x = 0; x < data.records.length; x++) {
    //                str = str + "<tr><td data-title='RefferalCode'> " + data.records[x].RefferalCode + "</td><td data-title='Full Name'>" + data.records[x].FullName + "</td><td data-title='BusinessVolume'>" + data.records[x].BusinessVolume + "</td></tr>"
    //            }
    //            str = str + "<tr><td colspan='4' style='text-align:right;'><a href='/Admin/Reports/TopRetailer'>More</a></td></tr>";
    //        }
    //        $("#tbodyTopRetailerDetails").html('');
    //        $("#tbodyTopRetailerDetails").append(str);
    //    },
    //    error: function () {
    //    }
    //});
</script>
