﻿@using TRSImplementation
@using TRS.Models
@model AdminDashboardEnt
<table class="striped" id="tblDateRangeOrders">
    <thead>
        <tr>
            <th>Name</th>
            <th>OrderNo</th>
            <th>Order Date</th>
            <th>Order Amount</th>
            <th>Address</th>
            <th>MobileNo</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.listTodayOrders)
            {
                <tr>
                    <td data-title="Customer Name">@item.CustomerName</td>
                    <td data-title="Order No"><a style="cursor:pointer" onclick="LoadProductDetails(@item.UserPurchaseHdrId)">@item.OrderNo</a></td>
                    <td data-title="Order Date">@item.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td data-title="Order Amount">@item.TotalOrderAmount</td>
                    <td data-title="Address">@item.CustomerAddress</td>
                    <td data-title="MobileNo">@item.CustomerMobileNo</td>
                    <td data-title="Status">@item.StatusName</td>
                </tr>
            }
        }
    </tbody>
</table>

