﻿@using TRSImplementation
@model PROC_GET_USER_CASHBACK_AMOUNT_Result
@{
    var TotalPaid = Model.TotalOrderAmount;
    var TDSPerc = (!string.IsNullOrEmpty(Model.PANNo) ? clsBase.TDSPerc : clsBase.TDSPercWithoutPAN); var AdminChargePerc = clsBase.AdminChargePerc;
    var TDS = (Int64)(TotalPaid * TDSPerc / 100);
    var AdminCharge = (Int64)(TotalPaid * AdminChargePerc / 100);
    var NetPayable = (Int64)(TotalPaid - TDS - AdminCharge);
}
<style>
    .margin5 {
        margin: 5px 0px;
    }
</style>
<div class="row">
    <div class="col s12 m6 l6 margin5">
        @Html.HiddenFor(m => m.UserId)
        <span>Total Cashback : </span><span id="TotalDirectAmount" class="fontbold">@TotalPaid</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>TDS(%) : </span><span id="TDSPercentage" class="fontbold">@TDSPerc</span>
    </div>
    <div class="col s12 m6 l6 margin5">
        <span>Admin Charge(%) : </span><span id="AdminChargePercentage" class="fontbold">@AdminChargePerc</span>
    </div>
</div>
<hr />
<div class="row margin">
    <div class="input-field col s12 m6 l6">
        <input type="text" id="TotalPaid" value="@TotalPaid" disabled onchange="CalculateAmount()" />
        <label for="username" class="center-align">Total Payable</label>
    </div>
    <div class="input-field col s12 m6 l6">
        <input type="text" id="UTRRefNo" />
        <label for="username" class="center-align">UTR RefNo</label>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => m.ISFCCode, new { @disabled = "disabled" })
        <label for="ISFCCode" class="center-align">ISFC Code</label>
    </div>
    <div class="input-field col s12 m6 l6">
        @Html.TextBoxFor(m => m.BankAccNo, new { @disabled = "disabled" })
        <label for="BankAccNo" class="center-align">Bank A/C No</label>
    </div>
</div>
<div class="row margin">
    <div class="input-field col s12 m4 l4">
        <input type="text" id="TDS" disabled value="@TDS" />
        <label for="username" class="center-align">TDS Amount</label>
    </div>
    <div class="input-field col s12 m4 l4">
        <input type="text" id="AdminCharge" disabled value="@AdminCharge" />
        <label for="username" class="center-align">Admin Charge</label>
    </div>
    <div class="input-field col s12 m4 l4">
        <input type="text" id="NetPayable" disabled value="@NetPayable" />
        <label for="username" class="center-align">Net Payable</label>
    </div>

</div>
<script>
    $(document).ready(function () {
        Materialize.updateTextFields();
    });

    function PayoutToUser() {
        if ($("#TotalPaid").val().trim() == "") {
            IsValidModalDetails = false;
            swal("Error!", "Please Enter TotalPaid.", "error");
            return;
        }
        else if ($("#UTRRefNo").val().trim() == "") {
            IsValidModalDetails = false;
            swal("Error!", "Please Enter UTR RefNo.", "error");
            return;
        }
        if (parseFloat($("#TotalPaid").val().trim()) <= 0) {
            IsValidModalDetails = false;
            swal("Error!", "Please Enter Amount Greater Than 0.", "error");
            return;
        }
        IsValidModalDetails = true;
        $.ajax({
            url: "/Admin/Dashboard/PayoutToUser",
            type: 'POST',
            data: {
                UserId: $("#UserId").val(),
                UTRRefNo: $("#UTRRefNo").val(),
            },
            cache: false,
            success: function (data) {
                if (data.Key) {
                    swal("Success!", data.Msg, "success");
                    window.setTimeout(function () {
                        window.location.href = "/Admin/Dashboard";
                    }, 2000);
                }
                else {
                    alert(data.Msg);
                }
            }
        });
    }

    function CalculateAmount() {        
        var TotalPaid = $("#TotalPaid").val().trim();
        if (TotalPaid == "" || parseFloat(TotalPaid) <= 0) {
            $("#TDS,#AdminCharge,#NetPayable").val("0");
        }
        else {           
            var TDS = (parseFloat(TotalPaid)*(@TDSPerc))/100;           
            $("#TDS").val(parseInt(TDS));
            var AdminCharge = (parseFloat(TotalPaid)*(@AdminChargePerc))/100;            
            $("#AdminCharge").val(parseInt(AdminCharge));
            var NetPayable =parseInt(TotalPaid)- parseInt(TDS)-parseInt(AdminCharge);            
            $("#NetPayable").val(parseInt(NetPayable));
        }
    }
</script>
