﻿@using TRSImplementation
@model List<UserMst>
@{
    ViewBag.Title = "Index";
}
<style>
    .usertypes{
        height:20px;
    }
</style>
<table class="striped" id="tblInactiveUserLists">
    <thead>
        <tr>
            <th>Refferal Code</th>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Registration Date</th>
            <th>MobileNo</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td data-title="Refferal Code">
                        @if (item.IsRegistrationActivated.HasValue && item.IsRegistrationActivated.Value)
                        {
                            <img src="/Content/images/misch/Active.png" alt="" class="usertypes">
                        }
                        else
                        {
                            <img src="/Content/images/misch/Inactive.png" alt="" class="usertypes">
                        }
                        @item.RefferalCode
                    </td>
                    <td data-title="Full Name">@item.FullName</td>
                    <td data-title="User Name">@item.UserName</td>
                    <td data-title="Password">@item.Password</td>
                    <td data-title="Reg. Date">@item.RegistrationDate.Value.ToString("dd/MM/yyyy")</td>
                    <td data-title="MobileNo"><a href="https://api.whatsapp.com/send?phone=91@(item.MobileNo)">@item.MobileNo</a></td>
                </tr>
            }
        }
    </tbody>
</table>