﻿@using TRSImplementation
@using TRS.Models
@model AdminDashboardEnt
@{
    ViewBag.Title = "Dashboard Of Maxener Wellness | Whey Protein Supplement Powder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .floatThead-container {
        z-index: 101 !important;
    }
</style>
<style>
    .f18 {
        font-size: 18px;
    }

    .padding-4 {
        padding: 2% !important;
    }

    .min-height-100 {
        min-height: 81px !important;
    }

    .collection .collection-item {
        line-height: 1rem !important;
    }

    .usertypes {
        height: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 s12 l8" id="dvDashboardCharts">
           
        </div>
        <div class="col s12 m12 l4" id="dvDashboardSalesExpenseProfite">
            
        </div>
    </div>
</div>
<script>
    function WindowLoadComplete() {
        //GetDateRangePointOrderDetails();

        $.ajax({
            type: "POST",
            url: "/Admin/Dashboard/GetDashboardSalesExpenseProfite",
            datatype: 'html',
            data: {},
            success: function (result) {
                $("#dvDashboardSalesExpenseProfite").html(result);
            },
            error: function () {
            }
        });

        $.ajax({
            type: "POST",
            url: "/Admin/Dashboard/GetDashboardCharts",
            datatype: 'html',
            data: {},
            success: function (result) {
                $("#dvDashboardCharts").html(result);
            },
            error: function () {
            }
        });

        GetInactiveUserDetails();
    }

    function ClosePayout() {
        IsValidModalDetails = true;
        $("#mdlPayoutDetails").modal('close');
    }

    function GetInactiveUserDetails() {
        if($("#UserType").val().toLowerCase()=="inactive"){
            $("#UserListTitle").text("InActive Users List");
        }
        else if($("#UserType").val().toLowerCase()=="active"){
            $("#UserListTitle").text("Active Users List");
        }
        else if($("#UserType").val().toLowerCase()=="all"){
            $("#UserListTitle").text("All Users List");
        }
        $.ajax({
            type: "POST",
            url: "/Admin/Dashboard/GetInactiveUserDetails",
            datatype: 'html',
            data:{Type:$("#UserType").val()},
            success: function (result) {
                $("#dvInActiveUserList").html(result);
            },
            error: function () {
            }
        });
    }
</script>

